/* **************** SPRITE ***************** */

.ratingx24 {
  display: inline-block;
  vertical-align: middle;
  background-image: url("icons/120905-ratingsx24-private-RYG.png");
  width: 24px;
  height: 24px;
}

.ratingx24-nr {
  background-position: -240px 0;
}

