/* **************** SPRITE ***************** */

.iconx24 {
  display: inline-block;
  background-image: asset_data_url('icons/130919-24x24_search.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.i-24-search-lens {
  cursor: pointer;
  background-position: -720px 0;
}

