/* =3 x16 (Stars)
-------------------------------------------------------------------------------------------*/

/* **************** SPRITE ***************** */

.iconx60 {
    display: inline-block;
    background-image: url("icons/131211-60x60_sprite.png");
    width: 60px;
    height: 60px;
}

/* **************** VIEWPORT ***************** */

.i-60-art {
    background-position: 0 0;
}

.i-60-language {
    background-position: -60px 0px;
}

.i-60-schedule {
  background-position: -120px 0px;
}

.i-60-clubs {
  background-position: -180px 0px;
}

.i-60-sports {
  background-position: -240px 0px;
}

.i-60-community {
  background-position: -300px 0px;
}