/* -------------------------------------------------------------------------------------------*/

/* **************** SPRITE ***************** */

.iconx72-ratings {
  display: inline-block;
  background-image: image-url("icons/140819-72x72_ratings.png");
  width: 72px;
  height: 72px;
}

/* **************** VIEWPORT ***************** */

.i-72-ratings-1 {
  background-position: 0 0;
}

.i-72-ratings-2 {
  background-position: -72px 0px;
}

.i-72-ratings-3 {
  background-position: -144px 0px;
}

.i-72-ratings-4 {
  background-position: -216px 0px;
}

.i-72-ratings-5 {
  background-position: -288px 0px;
}

.i-72-ratings-6 {
  background-position: -360px 0px;
}

.i-72-ratings-7 {
  background-position: -432px 0px;
}

.i-72-ratings-8 {
  background-position: -504px 0px;
}

.i-72-ratings-9 {
  background-position: -576px 0px;
}

.i-72-ratings-10 {
  background-position: -648px 0px;
}

.i-72-ratings-nr {
  background-position: -720px 0px;
}