/* **************** SPRITE ***************** */

.iconx16 {
  display: inline-block;
  background-image: asset_data_url("icons/142502-16x16_sprite.png");
  width: 16px;
  height: 16px;
}

/* **************** VIEWPORT ***************** */

.i-grey-unchecked-box {
  width: 16px;
  height: 16px;
  background: #e6e6e6;
}

.i-16-map-pin {
  background-position: 0 0;
}

.i-16-heart {
  background-position: -16px 0px;
}

.btn:hover .i-16-heart{
  background-position: -16px -16px;
}

.i-16-envelop {
  background-position: -32px 0px;
}

.i-16-pencil {
  background-position: -48px 0px;
}

.btn:hover .i-16-pencil {
  background-position: -48px -16px;
}

.i-16-phone {
  background-position: -64px 0px;
}

.i-16-fax {
  background-position: -80px 0px;
}

.i-16-computer-screen {
  background-position: -96px 0px;
}

.i-16-home {
  background-position: -112px 0px;
}

.i-16-adChoice {
  background-position: -128px 0px;
}
.i-16-thought-bubble {
  background-position: -144px 0px;
}

.btn:hover .i-16-thought-bubble {
  background-position: -144px -16px;
}

.i-16-did-you-know {
  background-position: -160px 0px;
}

.i-16-blue-check-box {
  background-position: -176px 0px;
}

.i-16-white-check-box {
  background-position: -176px -16px;
}

.i-16-blue-list-view {
  background-position: -192px 0px ;
}

.i-16-grey-list-view {
  background-position: -192px -16px ;
}

.i-16-white-list-view {
  background-position: -192px -32px ;
}

.i-16-blue-map-view {
  background-position: -208px 0px ;
}

.i-16-grey-map-view {
  background-position: -208px -16px ;
}

.i-16-white-map-view {
  background-position: -208px -32px ;
}

.i-16-plus{
  background-position: -224px 0px ;
}

.i-16-minus{
  background-position: -224px -16px ;
}

.i-16-info, .i-16-blue-info {
  background-position: -240px 0px;
}

.i-16-white-info {
  background-position: -240px -16px;
}

.i-16-green-check {
  background-position: -256px 0px;
}

.i-16-thumbs-up {
  background-position: -272px 0px;
}

.btn.active .i-16-thumbs-up {
  background-position: -272px -16px;
}

//.i-16-blue-thumbs-up {
//  background-position: -272px -16px;
//}
//
//.i-16-white-thumbs-up {
//  background-position: -272px -16px;
//}

.i-16-blue-students-enrolled {
  background-position: -288px 0px;
}

.i-16-blue-transportation {
  background-position: -304px 0px;
}

.i-16-blue-before-care {
  background-position: -320px 0px;
}

.i-16-blue-after-school {
  background-position: -336px 0px;
}

.i-16-blue-arts-and-music {
  background-position: -352px 0px;
}

.i-16-blue-clubs {
  background-position: -368px 0px;
}

.i-16-blue-sports-trophy {
  background-position: -384px 0px;
}

.i-16-blue-world-languages {
  background-position: -400px 0px;
}
.i-16-check-bigger-on {
  background-position: -416px -16px;
}

.i-16-check-bigger-off {
  background-position: -416px 0px;
}

.btn:hover .i-16-check-bigger-off {
  background-position: -416px -16px;
}

.i-16-blue-x-circle {
  background-position: -432px 0px;
}

.i-16-gray-x-circle {
  background-position: -432px -16px;
}

.i-16-active-x-circle {
  background-position: -432px -32px;
}

.i-16-back-to-top {
  background-position: -448px 0px;
}

.i-16-plain-x {
  background-position: -464px 0px;
}

.i-16-question-mark {
  background-position: -480px 0px;
}

.i-16-gear {
  background-position: -496px 0px;
}

.i-16-not-applicable {
  background-position: -512px 0px;
}

.i-16-blue-home {
  background-position: -528px 0px;
}

.btn:hover .i-16-blue-home {
  background-position: -528px -16px;
}