/* =3 x16 (Stars)
-------------------------------------------------------------------------------------------*/

/* **************** SPRITE ***************** */

.iconx60 {
    display: inline-block;
    background-image: image-url("icons/140625-60x60_sprite.png");
    width: 60px;
    height: 60px;
}

/* **************** VIEWPORT ***************** */

.i-60-art {
    background-position: 0 0;
}

.i-60-language {
    background-position: -60px 0px;
}

.i-60-schedule {
  background-position: -120px 0px;
}

.i-60-clubs {
  background-position: -180px 0px;
}

.i-60-sports {
  background-position: -240px 0px;
}

.i-60-community {
  background-position: -300px 0px;
}

.i-60-students {
  background-position: -360px 0px;
}

.i-60-community_blue {
  background-position: -420px 0px;
}

.i-60-application {
  background-position: -480px 0px;
}

.i-60-color-art {
  color: #5fcbc8;
}
.i-60-color-language {
  color: #c9614f;
}
.i-60-color-schedule {
  color: #f19150;
}
.i-60-color-clubs {
  color: #5f83a7;
}
.i-60-color-sports {
  color: #69bd8d;
}
.i-60-color-community {
  color: #b2718e;
}

/* **************** SPRITE ***************** */

.iconx60-grey {
  display: inline-block;
  background-image: image-url("icons/140507-60x60_sprite.png");
  width: 60px;
  height: 60px;
}

/* **************** VIEWPORT ***************** */

.i-60-school {
  background-position: 0 0;
}

.i-60-compare {
  background-position: -60px 0px;
}

.i-60-download {
  background-position: -120px 0px;
}

.i-60-map {
  background-position: -180px 0px;
}

.i-60-friends {
  background-position: -240px 0px;
}
