/* -------------------------------------------------------------------------------------------*/

/* **************** SPRITE ***************** */

.iconx24-icons {
  display: inline-block;
  background-image: image-url("icons/140819-24x24_icons.png");
  width: 24px;
  height: 24px;
}

/* **************** VIEWPORT ***************** */

.i-24-checkmark-on {
  background-position: 0 0;
}

.i-24-checkmark-off {
  background-position: 0px -24px;
}

.i-24-new-ratings-10{
  background-position: -24px 0;
}

.i-24-new-ratings-9{
  background-position: -48px 0;
}

.i-24-new-ratings-8{
  background-position: -72px 0;
}

.i-24-new-ratings-7{
  background-position: -96px 0;
}

.i-24-new-ratings-6{
  background-position: -120px 0;
}

.i-24-new-ratings-5{
  background-position: -144px 0;
}

.i-24-new-ratings-4{
  background-position: -168px 0;
}

.i-24-new-ratings-3{
  background-position: -192px 0;
}

.i-24-new-ratings-2{
  background-position: -216px 0;
}

.i-24-new-ratings-1{
  background-position: -240px 0;
}

.i-24-new-ratings-nr{
   background-position: -264px 0;
}

.i-24-happy-face {
  background-position: -288px 0;
}

.i-24-smiling-face {
  background-position: -312px 0;
}

.i-24-neutral-face {
  background-position: -336px 0;
}

.i-24-new-grey_map_pin {
  background-position: -360px 0;
}

.i-24-soccer-off {
  background-position: -384px 0;
}

.i-24-soccer-on {
  background-position: -384px -24px;
}

.i-24-track-off {
  background-position: -408px 0;
}

.i-24-track-on {
  background-position: -408px -24px;
}

.i-24-basketball-off {
  background-position: -434px 0px
}

.i-24-basketball-on {
  background-position: -434px 24px
}

.i-24-football-off {
  background-position: -458px 0px
}

.i-24-football-on {
  background-position: -458px 24px
}

.i-24-volleyball-off {
  background-position: -482px 0px
}

.i-24-volleyball-on {
  background-position: -482px 24px
}

.i-24-cheerleading-off {
  background-position: -506px 0px
}

.i-24-cheerleading-on {
  background-position: -506px 24px
}

.i-24-baseball-off {
  background-position: -530px 0px
}

.i-24-baseball-on {
  background-position: -530px 24px
}