/* **************** SPRITE ***************** */

.iconx32-sport-icons {
  display: inline-block;
  background-image: image-url("icons/140806-32x32_sport_icons.png");
  width: 32px;
  height: 32px;

  /* **************** VIEWPORT ***************** */
}

.i-32-sport-basketball-off {
  @extend .iconx32-sport-icons;
  background-position: 0 0;
}
.i-32-sport-basketball-on {
  @extend .iconx32-sport-icons;
  background-position: 0 -32px;
}

.i-32-sport-soccer-off {
  @extend .iconx32-sport-icons;
  background-position: -32px 0px;
}
.i-32-sport-soccer-on {
  @extend .iconx32-sport-icons;
  background-position: -32px 0px;
}

.i-32-sport-cheerleading-off {
  @extend .iconx32-sport-icons;
  background-position: -64px 0px;
}
.i-32-sport-cheerleading-on {
  @extend .iconx32-sport-icons;
  background-position: -64px 0px;
}

.i-32-sport-track-off  {
  @extend .iconx32-sport-icons;
  background-position: -96px 0px;
}
.i-32-sport-track-on  {
  @extend .iconx32-sport-icons;
  background-position: -96px 0px;
}

.i-32-sport-football-off {
  @extend .iconx32-sport-icons;
  background-position: -128px 0px;
}
.i-32-sport-football-on {
  @extend .iconx32-sport-icons;
  background-position: -128px 0px;
}
.i-32-sport-volleyball-off {
  @extend .iconx32-sport-icons;
  background-position: -160px 0px;
}
.i-32-sport-volleyball-on {
  @extend .iconx32-sport-icons;
  background-position: -160px 0px;
}
