/* **************** SPRITE ***************** */

.iconx32-college_ready {
  display: inline-block;
  background-image: asset_data_url("icons/140918-32x32_college_ready.png");
  width: 32px;
  height: 32px;
  background-repeat: repeat-x;
}

/* **************** VIEWPORT ***************** */


.i-32-baseball {
  @extend .iconx32-college_ready;
  background-position: 0 0;
}

.i-32-soccer {
  @extend .iconx32-college_ready;
  background-position: -32px 0;
}


.i-32-cheerleading {
  @extend .iconx32-college_ready;
  background-position: -64px 0;
}


.i-32-track {
  @extend .iconx32-college_ready;
  background-position: -96px 0;
}


.i-32-football {
  @extend .iconx32-college_ready;
  background-position: -128px 0;
}


.i-32-basketball {
  @extend .iconx32-college_ready;
  background-position: -160px 0;
}


.i-32-volleyball {
  @extend .iconx32-college_ready;
  background-position: -192px 0;
}


.i-32-school {
  @extend .iconx32-college_ready;
  background-position: -224px 7px;
}


.i-32-state {
  @extend .iconx32-college_ready;
  background-position: -256px 0;
}


