/* **************** SPRITE ***************** */

.iconx24-popular_icons {
  display: inline-block;
  background-image: asset_data_url("icons/140918-24x24_popular_icons.png");
  width: 24px;
  height: 24px;
  background-repeat: repeat-x;
}

/* **************** VIEWPORT ***************** */


.i-24-arrow {
  @extend .iconx24-popular_icons;
  background-position: -600px 0;
}

