/* **************** SPRITE ***************** */

.iconx48 {
  display: inline-block;
  background-image: asset_data_url("icons/140929-48x48_sprite.png");
  width: 48px;
  height: 48px;
}

/* **************** VIEWPORT ***************** */

.i-48-visual_art {
  background-position: 0 0;
}

.i-48-music {
  background-position: -48px 0px;
}

.i-48-ap_classes {
  background-position: -96px 0px;
}

.i-48-world_languages {
  background-position: -144px 0px;
}

.i-48-facilities {
  background-position: -192px 0px;
}

.i-48-girls_sports {
  background-position: -240px 0px;
}

.i-48-boys_sports {
  background-position: -288px 0px;
}

.i-48-clubs {
  background-position: -336px 0px;
}

.i-48-staff {
  background-position: -384px 0px;
}


/////  COLORS
.i-48-color-visual_arts {
  background-color: #EE955A;
}
.i-48-color-music {
  background-color: #C2D56B;
}
.i-48-color-ap_classes {
  background-color: #78BD90;
}
.i-48-color-world_languages {
  background-color: #C9DA7A;
}
.i-48-color-facilities {
  background-color: #6BBEB3;
}
.i-48-color-girls_sports {
  background-color: #FBC668;
}
.i-48-color-boys_sports {
  background-color: #F0A06B;
}
.i-48-color-clubs {
  background-color: #E97F6D;
}
.i-48-color-staff {
  background-color: #A192AD;
}