/* **************** SPRITE ***************** */

.iconx24_search {
  display: inline-block;
  background-image: image-url("icons/143007-24x24_icons.png");
  width: 24px;
  height: 24px;
}

/* **************** VIEWPORT ***************** */

.i-green-check {
  background-position: 0 0;
}

.i-grey-check {
  background-position: 0 24px;
}

//************************************************************************************

.i-soccer-off {
  background-position: -384px 0px
}

.i-soccer-on {
  background-position: -384px 24px
}

.i-track-off {
  background-position: -408px 0px
}

.i-track-on {
  background-position: -408px 24px
}

.i-basketball-off {
  background-position: -434px 0px
}

.i-basketball-on {
  background-position: -434px 24px
}

.i-football-off {
  background-position: -458px 0px
}

.i-football-on {
  background-position: -458px 24px
}

.i-volleyball-off {
  background-position: -482px 0px
}

.i-volleyball-on {
  background-position: -482px 24px
}

.i-cheerleading-off {
  background-position: -506px 0px
}

.i-cheerleading-on {
  background-position: -506x 24px
}

.i-baseball-off {
  background-position: -530px 0px
}

.i-baseball-on {
  background-position: -530px 24px
}

.i-boys-sports-off {
  background-position: -554px 0px
}

.i-boys-sports-on {
  background-position: -554px 24px
}


.i-girls-sports-off {
  background-position: -576px 0px
}

.i-girls-sports-on {
  background-position: -576px 24px
}