/* **************** SPRITE ***************** */

.badgesx48 {
  display: inline-block;
  background-image: asset_data_url("icons/150105-48x48_badges.png");
  width: 48px;
  height: 48px;
}

/* **************** VIEWPORT ***************** */

.i-48-global_competitiveness_badge {
  background-position: -624px 0;
}


