/* =3 x16 (Stars)
-------------------------------------------------------------------------------------------*/

/* **************** SPRITE ***************** */

.iconx52-stars {
  display: inline-block;
  background-image: asset_data_url("icons/150316-52x52_stars.png");
  width: 52px;
  height: 52px;
}

/* **************** VIEWPORT ***************** */

/* row 0 */

.i-52-orange-star {
  background-position: 0 0;
}
/* row 16 */

.i-52-grey-star {
  background-position: -208px -52px;
}

/* This is for the stars grey or orange */
.i-52-star-0{width:0px}
.i-52-star-1{width:52px}
.i-52-star-2{width:104px; background-repeat: repeat-x;}
.i-52-star-3{width:156px; background-repeat: repeat-x;}
.i-52-star-4{width:208px; background-repeat: repeat-x;}
.i-52-star-5{width:260px; background-repeat: repeat-x;}
//.i-52-star-6{width:144px; background-repeat: repeat-x;}
//.i-52-star-7{width:168px; background-repeat: repeat-x;}
//.i-52-star-8{width:192px; background-repeat: repeat-x;}
//.i-52-star-9{width:216px; background-repeat: repeat-x;}
//.i-52-star-10{width:240px; background-repeat: repeat-x;}