/* **************** SPRITE ***************** */

.iconx72-ESD-ratings {
  display: inline-block;
  background-image: asset_data_url("icons/ESD_ratings_72x58.png");
  width: 72px;
  height: 58px;
}

/* **************** VIEWPORT ***************** */

.i-72-ratings-A {
  background-position: 0 0;
}

.i-72-ratings-Aplus {
  background-position: -72px 0px;
}

.i-72-ratings-B {
  background-position: -144px 0px;
}

.i-72-ratings-Bplus  {
  background-position: -216px 0px;
}

.i-72-ratings-C {
  background-position: -288px 0px;
}

.i-72-ratings-Cplus  {
  background-position: -360px 0px;
}

.i-72-ratings-D {
  background-position: -432px 0px;
}

.i-72-ratings-Dplus  {
  background-position: -504px 0px;
}

.i-72-ratings-F {
  background-position: -576px 0px;
}

.i-72-ratings-NG {
  background-position: -648px 0px;
}

.i-72-ratings-Promising {
  background-position: -720px 0px;
}