/* -------------------------------------------------------------------------------------------*/

/* **************** SPRITE ***************** */

.iconx48-icons {
  display: inline-block;
  background-image: asset_data_url("icons/icons_48x48.png");
  width: 48px;
  height: 48px;
}

/* **************** VIEWPORT ***************** */

.i-48-green-quotes {
  background-position: 0 0;
}

.i-48-green-quotes-upsidedown {
  background-position: 48px 0;
}




