/* **************** SPRITE ***************** */

.iconx96 {
  display: inline-block;
  background-image: asset_data_url('icons/osp_96x96.png');
  background-repeat: no-repeat;
  width: 96px;
  height: 96px;
}

/* **************** VIEWPORT ***************** */

.i-96-question-mark {
  background-position: 0 0;
}

.active .i-96-question-mark {
  background-position: 0 -96px;
}

.i-96-book {
  background-position: -96px 0;
}

.active .i-96-book {
  background-position: -96px -96px;
}

.i-96-trophy {
  background-position: -192px 0;
}

.active .i-96-trophy {
  background-position: -192px -96px;
}

.i-96-person {
  background-position: -288px 0;
}
.active .i-96-person {
  background-position: -288px -96px;
}

.i-96-megaphone {
  background-position: -384px 0;
  background-color: transparent;
}
.active .i-96-megaphone {
  background-position: -384px 0;
  background-color: transparent;
}
