/* -------------------------------------------------------------------------------------------*/

/* **************** SPRITE ***************** */

.iconx72-ratings-es {
  display: inline-block;
  background-image: asset_data_url("icons/ratings_es_72x72.png");
  width: 72px;
  height: 72px;
}

/* **************** VIEWPORT ***************** */

.i-72-ratings-es-1 {
  background-position: 0 0;
}

.i-72-ratings-es-2 {
  background-position: -72px 0px;
}

.i-72-ratings-es-3 {
  background-position: -144px 0px;
}

.i-72-ratings-es-4 {
  background-position: -216px 0px;
}

.i-72-ratings-es-5 {
  background-position: -288px 0px;
}

.i-72-ratings-es-6 {
  background-position: -360px 0px;
}

.i-72-ratings-es-7 {
  background-position: -432px 0px;
}

.i-72-ratings-es-8 {
  background-position: -504px 0px;
}

.i-72-ratings-es-9 {
  background-position: -576px 0px;
}

.i-72-ratings-es-10 {
  background-position: -648px 0px;
}

.i-72-ratings-es-nr {
  background-position: -720px 0px;
}
