/* **************** SPRITE ***************** */

.search-hero-sprite {
  display: inline-block;
  background-image: url("icons/search-hero-sprites.png");
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

.search-hero-sprite.location-icon {
  background-position: 0 -14px;
}

.search-hero-sprite.location-icon:hover {
  background-position: -16px -14px;
}

.search-hero-sprite.home-icon {
  background-position: 0 0;
}

.search-hero-sprite.home-icon:hover {
  background-position: -16px 0;
}
