/* -------------------------------------------------------------------------------------------*/

/* **************** SPRITE ***************** */

.iconx24-stars_detroit {
  display: inline-block;
  background-image: asset_data_url("icons/stars_detroit_24x24.png");
  width: 24px;
  height: 24px;
}

/* **************** VIEWPORT ***************** */
.i-24-blue-star {
  background-position: 0 0;
}
/* row 16 */

.i-24-blue-outline-star {
  background-position: 0px -24px;
}
