/* =3 x16 (Stars)
-------------------------------------------------------------------------------------------*/

/* **************** SPRITE ***************** */

.iconx16-stars {
    display: inline-block;
    background-image: asset_data_url("icons/stars_16x16.png");
    width: 16px;
    height: 16px;
}

/* **************** VIEWPORT ***************** */

/* row 0 */

.i-16-orange-star {
    background-position: 0 0;
}
/* row 16 */

.i-16-grey-star {
    background-position: -144px -16px;
}

/* This is for the stars grey or orange */
.i-16-star-0{width:0px}
.i-16-star-1{width:16px}
.i-16-star-2{width:32px; background-repeat: repeat-x;}
.i-16-star-3{width:48px; background-repeat: repeat-x;}
.i-16-star-4{width:64px; background-repeat: repeat-x;}
.i-16-star-5{width:80px; background-repeat: repeat-x;}
.i-16-star-6{width:96px; background-repeat: repeat-x;}
.i-16-star-7{width:112px; background-repeat: repeat-x;}
.i-16-star-8{width:128px; background-repeat: repeat-x;}
.i-16-star-9{width:144px; background-repeat: repeat-x;}
.i-16-star-10{width:160px; background-repeat: repeat-x;}
