{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["cover 99.5% in US", "not ie < 10"]
        },
        "useBuiltIns": "entry"
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": ["lodash"]
}
