$rating-sizes: (
  small: $font-size-small,
  medium: 50px,
  large: 62px);

.circle-rating {
  @include circle-rating($font-size-h1);

  @each $size, $font-size in ($rating-sizes) {
    &--#{$size} {
      @include circle-rating($font-size)
    }
  }

  @each $rating, $color in ($rating-colors) {
    &--#{$rating} {
      background-color: $color;
    }
  }

  &--large-responsive {
    @include circle-rating(62px);
    @media only screen and (max-width: 767px) {
      @include circle-rating(38px);
    }
  }
}
