.gs-rating-with-label {
  text-transform: uppercase;
  font-size: $font-size-l3;
  @media only screen and (max-width: 767px) {
    font-size: $font-size-base;
  }
  &__rating {
    display: inline-block;
    vertical-align: top;
  }
  &__label {
    margin-left: 10px;
    text-align: left;
    display: inline-block;
    max-width: 90px;
    @include media-breakpoint-up(md) {
      max-width: 120px;
    }
  }
}

