#cta {
  &.fixed-top {
    position: fixed;
    top: 0;
    margin-top: 0px;
  }

  &.non-fixed-top {
    margin-top: 30px;
    position: relative;
  }

  &.align-bottom {
    position: absolute;
    bottom: 0px;
  }

  &.cta-container {
    width: 299px;
    height: 84px;
    box-shadow: 0px 2px 5px 3px #ccc;
  }

  .cta-button {
    width: 99px;
    height: 84px;
    float: left;
    text-align: center;
    padding-top: 19px;
  }

  .cta-button-border {
    border-right: 1px solid #dbe6eb;
  }

  @media only screen and (max-width: 767px) {
    .cta-button {
      width: 33%;
      height: 34px;
      float: left;
      text-align: center;
      padding-top: 10px;
    }
    &.cta-container {
      width: 100%;
      background-color: #FFFFFF;
      height: 44px;
      box-shadow: 0px 2px 5px 3px #ccc;
      position: fixed;
      bottom: 0px;
    }
  }
}