#hero {
  $rating-star-filled-color: #ffc800;
  $rating-star-empty-color: #65859f;

  background-color: #08497b;
  color: white;
  font-size: $font-size-base;

  a {
    color: white;
    font-size: $font-size-base;
  }

  h1 {
    padding-top: 30px;
    font-family: 'RobotoSlab-Bold';
    font-size: $font-size-l7;
    font-weight: 900;
    @media only screen and (max-width: 767px) {
      text-align: center;
      font-size: $font-size-l4;
    }
  }

  .school-contact, .school-info {
    @media only screen and (max-width: 767px) {
      justify-content: center;
    }

    &__item {
      flex-shrink: 1;
      flex-grow: 0;
      border-left: 1px solid rgba(255, 255, 255, .17);
      white-space: nowrap;
    }

    &__item:first-of-type {
      border-left: none;  
    }
  }

  .school-contact {
    &__item {
      padding: 0 10px;
    }
    &__address > .badge-and-content > .badge {
      @media only screen and (max-width: 767px) {
        display:none;
      }
    }
  }

  .school-info {
    &__item {
      padding: 0 30px;
      @media only screen and (max-width: 767px) {
        padding: 0 15px;
      }
      font-size: $font-size-l4;
      font-family: 'opensans-bold';
      text-align: center;
    }

    &__five-star-rating {
      @media only screen and (max-width: 767px) {
        font-size: $font-size-base;
      }
    }
  }

  .gs-rating-with-label {
    text-transform: uppercase;
    font-size: $font-size-l3;
    // display: block;
    flex-wrap: nowrap;
    @media only screen and (max-width: 767px) {
      font-size: $font-size-base;
    }
    &__rating {
      // float: left;
    }
    &__label {
      padding-left: 0px;
      // float: left;
      text-align: left;
    }
  }

  .label {
    opacity: 0.6;
    font-size: $font-size-l1;
    font-weight: 600;
    line-height: 1.8;
    text-align: center;
    text-transform: uppercase;
  }

  .five-star-rating {
    &__stars {
      vertical-align: middle;
      font-size: 11px;
      @media only screen and (max-width: 767px) {
        font-size: 9px;
      }
      .filled-star {
        color: $rating-star-filled-color;
      }
      .empty-star {
        color: $rating-star-empty-color;
      }
    }
  }

  .badge-and-content {
    .badge {
      @include icon-badge(24px, #002c47);
    }
    .content {
      margin-left: 5px;
    }
  }
}
