.rating-score-item {
  &__label {
    line-height: 24px;
    font-size: $font-size-l3;
    font-weight: 600;
  }
  &__right-column {
    text-align: right;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    @include media-breakpoint-up(lg) {
      justify-content: flex-start;
    }
  }
  &__score {
    flex-basis: 100%;
    line-height: 24px;
    font-size: $font-size-l5;
    font-family: opensans-bold;
    @include media-breakpoint-up(sm) {
      flex-basis: auto;
      order: 2;
    }
    @include media-breakpoint-up(md) {
      order: 1;
    }
  }
  &__state-average {
    flex-basis: 100%;
    line-height: 30px;
    font-size: $font-size-s1;
    color: #71787e;
    @include media-breakpoint-up(sm) {
      flex-basis: auto;
      order: 1;
      padding:0 10px 0 0;
    }
    @include media-breakpoint-up(md) {
      order: 2;
      padding:0 0 0 10px;
    }
  }
}
