.rating-score-item {
  &__label {
    padding-top: 5px; // push label down to align with score/state avg
    font-size: $font-size-l3;
    font-weight: 600;
  }
  &__score {
    text-align: right;
    font-size: $font-size-l5;
    font-family: opensans-bold;
    display: block;
    @include media-breakpoint-up(md) {
      float: right;
      padding-left: 7px;
    }
    @include media-breakpoint-up(lg) {
      float: none;
      padding-left: 0px;
      display: inline;
    }
  }
  &__state-average {
    text-align: right;
    display: block;
    font-size: $font-size-s1;
    color: #71787e;
    @include media-breakpoint-up(md) {
      padding: 15px 0 0 0;
    }
    @include media-breakpoint-up(lg) {
      padding: 0 0 0 7px;
      display: inline;
    }
  }
  &__bar {
    padding: 10px 0;
  }
}
