<h3>Getting Started</h3>
<div id="sites-canvas-main" class="sites-canvas-main">
  <div id="sites-canvas-main-content">
    <table xmlns="https://www.w3.org/1999/xhtml" cellspacing="0" class="sites-layout-name-one-column sites-layout-hbox">
      <tbody>
        <tr>
          <td class="sites-layout-tile sites-tile-name-content-1">
            <div dir="ltr">
              <h3>Feature GreatSchools data on your site.</h3>
              <p>GreatSchools has profiles of 200,000 public, public charter and private preK-12 schools. With more than one million school ratings and reviews by parents, teachers and students, we provide the most comprehensive information about schools in the United States.</p>
              <p>The GreatSchools API allows you to add valuable information to your application, including:</p>
              <ul>
                <li>Schools in a city</li>
                <li>Schools near an address</li>
                <li>Data about specific schools, including school directory information, grade levels, enrollment, test scores, ratings and reviews and more.</li>
              </ul>
              <hr>
              <p>
              <a href="httpss://sites.google.com/a/greatschools.org/api/technical-overview">Read our documentation</a>&nbsp;
              <span >to learn more about what you can do.&nbsp;</span>
              </p>
              <p>
              <span><a target="_blank">Request a key</a> for the GreatSchool API</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div> 
</div> 
