<div class="content">
  <div class="callfirst">
    <h3>Nearby Cities</h3> Returns a list of cities near another city. All calls for a Nearby Cities are in this format:
    <div class="sample_url">https://api.greatschools.org/cities/nearby/[components]?[parameters]</div>
  </div>
  <div class="call">
    <h3>Components</h3> Components of the url describe what type of data you would like. They are separated by forward slashes.
    <table class="call_params">
      <thead>
        <tr class="fields">
          <td class="fieldname">Name</td>
          <td class="fielddescription">Description</td>
          <td class="fieldsample">Sample Values</td>
        </tr>
      </thead>
      <tbody>
        <tr class="required">
          <td>state*</td>
          <td>Two letter state abbreviation</td>
          <td>ak
            <br>CA</td>
        </tr>
        <tr class="required">
          <td>city*</td>
          <td>Name of city, with spaces replaced with hyphens. If the city name has hyphens, replace those with underscores. Any other special characters should be URL-encoded</td>
          <td>San Francisco becomes "San-Francisco"
            <br>Cardiff-By-The-Sea becomes "Cardiff_By_The_Sea"
          </td>
        </tr>
      </tbody>
    </table>
    <div class="footnote">*required</div>
  </div>
  <div class="call">
    <h3>Parameters</h3> The "key" parameter is what you use to send us your API key.
    <table class="call_params">
      <thead>
        <tr class="fields">
          <td class="fieldname">Name</td>
          <td class="fielddescription">Description</td>
          <td class="fieldsample">Sample Values</td>
        </tr>
      </thead>
      <tbody>
        <tr class="required">
          <td>key*</td>
          <td>Your API key</td>
          <td>myAPIkey</td>
        </tr>
        <tr>
          <td>radius</td>
          <td>Radius in miles to confine search to. Defaults to 15 and can be in the range 1-100.</td>
          <td>10</td>
        </tr>
        <tr>
          <td>sort</td>
          <td>How to sort the results. Defaults to "distance". Other options are "name" to sort by city name in alphabetical order, and "rating" to sort by GS city rating, highest first.</td>
          <td>Valid values: "distance", "name", "rating"</td>
        </tr>
      </tbody>
    </table>
    <div class="footnote">*required</div>
    Examples of usage:
    <div class="example_url">https://api.greatschools.org/cities/nearby/CA/San-Francisco?key=[yourAPIKey]</div>
    Returns cities within 15 miles of San Francisco.
    <div class="example_url">https://api.greatschools.org/cities/nearby/CA/San-Francisco?key=[yourAPIKey]&amp;radius=5&amp;sort=rating</div>
    Returns cities within 5 miles of San Francisco, ordered by highest GS city rating first.
  </div>
  <div class="call">
    <h3>Sample Request</h3>
    <div class="sample_url">https://api.greatschools.org/cities/nearby/CA/Bakersfield?key=[yourAPIKey]&amp;radius=16</div>
    Returns cities within 16 miles of Bakersfield, CA.
  </div>
  <div class="call">
    <h3>Sample Response</h3>
    <textarea cols="" rows="" readonly="readonly" wrap="off" class="sampleTextArea">&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
&lt;cities&gt;
    &lt;city&gt;
        &lt;name&gt;Lamont&lt;/name&gt;
        &lt;rating&gt;3&lt;/rating&gt;
        &lt;totalSchools&gt;5&lt;/totalSchools&gt;
        &lt;elementarySchools&gt;3&lt;/elementarySchools&gt;
        &lt;middleSchools&gt;2&lt;/middleSchools&gt;
        &lt;highSchools&gt;1&lt;/highSchools&gt;
        &lt;publicSchools&gt;5&lt;/publicSchools&gt;
        &lt;charterSchools&gt;0&lt;/charterSchools&gt;
        &lt;privateSchools&gt;0&lt;/privateSchools&gt;
    &lt;/city&gt;
    &lt;city&gt;
        &lt;name&gt;Arvin&lt;/name&gt;
        &lt;rating&gt;3&lt;/rating&gt;
        &lt;totalSchools&gt;6&lt;/totalSchools&gt;
        &lt;elementarySchools&gt;4&lt;/elementarySchools&gt;
        &lt;middleSchools&gt;2&lt;/middleSchools&gt;
        &lt;highSchools&gt;1&lt;/highSchools&gt;
        &lt;publicSchools&gt;6&lt;/publicSchools&gt;
        &lt;charterSchools&gt;0&lt;/charterSchools&gt;
        &lt;privateSchools&gt;0&lt;/privateSchools&gt;
    &lt;/city&gt;
&lt;/cities&gt;</textarea>
  </div>
</div>
