<div class="content">
  <div class="callfirst">
    <h3>Nearby Schools</h3> Returns a list of schools closest to the center of a city. All calls for Nearby Schools are in this format:
    <div class="sample_url">https://api.greatschools.org/schools/nearby?[parameters]</div>
  </div>
  <div class="call">
    <h3>Parameters</h3> The "key" parameter is what is used to identify your specific API key to GreatSchools. The "state" parameter tells us what State you would like the results for and is required. You must provide at least one of the following, "city" or "lat" and "lon" describing the location in order to receive the list of schools near that coordinate. Other parameters are optional.
    <table class="call_params">
      <thead>
        <tr class="fields">
          <td class="fieldname">Name</td>
          <td class="fielddescription">Description</td>
          <td class="fieldsample">Sample Values</td>
        </tr>
      </thead>
      <tbody>
        <tr class="required">
          <td>key*</td>
          <td>Your API key</td>
          <td>myAPIkey</td>
        </tr>
        <tr>
          <td>state*</td>
          <td>2 letter state abbreviation
          </td>
          <td>CT</td>
        </tr>
        <tr>
          <td>city</td>
          <td>URL-encoded city name
          </td>
          <td>San+Francisco</td>
        </tr>
        <tr>
          <td>lat</td>
          <td>latitude
          </td>
          <td>37.758862</td>
        </tr>
        <tr>
          <td>lon</td>
          <td>longitude
          </td>
          <td>-122.411406</td>
        </tr>
        <tr>
          <td>schoolType</td>
          <td>Type of school you wish to appear in the list</td>
          <td>Valid values: "public", "charter", "private", or any combination separated by hyphens, like "public-charter"</td>
        </tr>
        <tr>
          <td>levelCode</td>
          <td>Level of school you wish to appear in the list</td>
          <td>Valid values: "elementary-schools", "middle-schools", "high-schools" </td>
        </tr>
        <tr>
          <td>radius</td>
          <td>Miles radius to confine search to.
            <br>default: 5
            <br>maximum: 50
          </td>
          <td></td>
        </tr>
        <tr>
          <td>limit</td>
          <td>Maximum number of schools to return. This defaults to 200.
          </td>
          <td>100</td>
        </tr>
      </tbody>
    </table>
    <div class="footnote">*required</div>
    Examples of usage:
    <div class="example_url">https://api.greatschools.org/schools/nearby?key=[yourAPIKey]&amp;state=CA&amp;lat=37.758862&amp;lon=-122.411406</div>
    Returns up to 200 schools within 5 miles of latitude 35.274494, longitude -119.005623 in California
    <div class="example_url">https://api.greatschools.org/schools/nearby?key=[yourAPIKey]&amp;city=San+Francisco&amp;state=CA</div>
    Returns up to 200 schools within 5 miles of San Francisco, CA
  </div>
  <div class="call">
    <h3>Sample Request</h3>
    <div class="sample_url">https://http://api.greatschools.org/schools/nearby?key=[yourAPIKey]&state=CA&city=oakland&limit=2</div>
    Returns 2 California schools in Oakland
  </div>
  <div class="call">
    <h3>Sample Response</h3>
    <textarea rows="" cols="" readonly="readonly" wrap="off" class="sampleTextArea">&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
      <schools>
<school>
<gsId>11910</gsId>
<name>ASCEND School</name>
<type>charter</type>
<gradeRange>K-8</gradeRange>
<enrollment>433</enrollment>
<gsRating>4</gsRating>
<parentRating>4</parentRating>
<city>Oakland</city>
<state>CA</state>
<districtId>14</districtId>
<district>Oakland Unified School District</district>
<districtNCESId>0628050</districtNCESId>
<address>3709 East 12th Street, Oakland, CA 94601</address>
<phone>(510) 879-3140</phone>
<fax>(510) 534-7222</fax>
<website>www.efcps.org</website>
<ncesId>062805008677</ncesId>
<lat>37.774033</lat>
<lon>-122.22166</lon>
<overviewLink>
https://www.greatschools.org/california/oakland/11910-ASCEND-School/?utm_source=GSAPI&utm_medium=referral
</overviewLink>
<ratingsLink>
https://www.greatschools.org/california/oakland/11910-ASCEND-School/?utm_source=GSAPI&utm_medium=referral
</ratingsLink>
<reviewsLink>
https://www.greatschools.org/california/oakland/11910-ASCEND-School/?utm_source=GSAPI&utm_medium=referral#Reviews
</reviewsLink>
<distance>0.37</distance>
<schoolStatsLink>
https://www.greatschools.org/california/oakland/11910-ASCEND-School/?utm_source=GSAPI&utm_medium=referral
</schoolStatsLink>
</school>
<school>
<gsId>17573</gsId>
<name>Arise High School</name>
<type>charter</type>
<gradeRange>9-12</gradeRange>
<enrollment>263</enrollment>
<gsRating>4</gsRating>
<parentRating>3</parentRating>
<city>Oakland</city>
<state>CA</state>
<districtId>14</districtId>
<district>Oakland Unified School District</district>
<districtNCESId>0628050</districtNCESId>
<address>
3301 East 12th Street, Suite 205, Oakland, CA 94601
</address>
<phone>(510) 436-5487</phone>
<fax>(510) 436-5493</fax>
<website>www.arisehighschool.org</website>
<ncesId>062805012040</ncesId>
<lat>37.77616</lat>
<lon>-122.22506</lon>
<overviewLink>
https://www.greatschools.org/california/oakland/17573-Arise-High-School/?utm_source=GSAPI&utm_medium=referral
</overviewLink>
<ratingsLink>
https://www.greatschools.org/california/oakland/17573-Arise-High-School/?utm_source=GSAPI&utm_medium=referral
</ratingsLink>
<reviewsLink>
https://www.greatschools.org/california/oakland/17573-Arise-High-School/?utm_source=GSAPI&utm_medium=referral#Reviews
</reviewsLink>
<distance>0.44</distance>
<schoolStatsLink>
https://www.greatschools.org/california/oakland/17573-Arise-High-School/?utm_source=GSAPI&utm_medium=referral
</schoolStatsLink>
</school>
</schools>
    </textarea>
  </div>
</div>
