<div class="content">
    <div class="callfirst">
        <h3>School Search</h3> Returns a list of schools based on a search string. All calls for School Search are in this format:
        <div class="sample_url">http://api.greatschools.org/search/schools/?[parameters]</div>
    </div>
    <div class="call">
        <h3>Parameters</h3> The "key" parameter is what you use to send us your API key.
        <table class="call_params">
            <thead>
                <tr class="fields">
                    <td class="fieldname">Name</td>
                    <td class="fielddescription">Description</td>
                    <td class="fieldsample">Sample Values</td>
                </tr>
            </thead>
            <tbody>
                <tr class="required">
                    <td>key*</td>
                    <td>Your API key</td>
                    <td>myAPIkey</td>
                </tr>
                <tr class="required">
                    <td>state*</td>
                    <td>State to search in</td>
                    <td>CA</td>
                </tr>
                <tr class="required">
                    <td>q*</td>
                    <td>Search query string. The query string must be properly URL-encoded.</td>
                    <td>Alameda High School</td>
                </tr>
                <tr>
                    <td>levelCode</td>
                    <td>Level of school you wish to appear in the list</td>
                    <td>Valid values: "elementary-schools", "middle-schools", "high-schools"</td>
                </tr>
                <tr>
                    <td>sort</td>
                    <td>This call by default sorts the results by relevance. If you'd prefer the results in alphabetical order, then use this parameter with a value of "alpha".
                    </td>
                    <td>Valid values: "alpha"</td>
                </tr>
                <tr>
                    <td>limit</td>
                    <td>Maximum number of schools to return. This defaults to 200 and must be at least 1.
                    </td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>
        <div class="footnote">*required</div>
        Examples of usage:
        <div class="example_url">http://api.greatschools.org/search/schools?key=[yourAPIKey]&amp;state=CA&amp;q=Alameda</div>
        Searches for schools using the query string "Alameda" in California
        <div class="example_url">http://api.greatschools.org/search/schools?key=[yourAPIKey]&amp;state=CA&amp;q=Alameda&amp;sort=alpha&amp;levelCode=elementary-schools&amp;limit=10</div>
        Searches for no more than 10 elementary schools using the query string "Alameda" in California, returned in alphabetical order
    </div>
    <div class="call">
        <h3>Sample Request</h3>
        <div class="sample_url">http://api.greatschools.org/search/schools?key=[yourAPIKey]&amp;state=CA&amp;q=Alameda+Christian&amp;limit=2</div>
        Returns 2 search results for "Alameda Christian" in California
    </div>
    <div class="call">
        <h3>Sample Response</h3>
        <textarea cols="" rows="" readonly="readonly" wrap="off" class="sampleTextArea">&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;schools&gt;
        &lt;school&gt;
            &lt;gsId&gt;8485&lt;/gsId&gt;
            &lt;name&gt;Alameda Christian School&lt;/name&gt;
            &lt;type&gt;private&lt;/type&gt;
            &lt;gradeRange&gt;K-8&lt;/gradeRange&gt;
            &lt;enrollment&gt;52&lt;/enrollment&gt;
            &lt;parentRating&gt;5&lt;/parentRating&gt;
            &lt;city&gt;Alameda&lt;/city&gt;
            &lt;state&gt;CA&lt;/state&gt;
            &lt;address&gt;2226 Pacific Ave,
                Alameda, CA 94501
            &lt;/address&gt;
            &lt;phone&gt;(510) 523-1000&lt;/phone&gt;
            &lt;ncesId&gt;00079445&lt;/ncesId&gt;
            &lt;lat&gt;37.768623&lt;/lat&gt;
            &lt;lon&gt;-122.243965&lt;/lon&gt;
            &lt;overviewLink&gt;http://www.greatschools.org/cgi-bin/ca/private/8485?s_cid=gsapi&lt;/overviewLink&gt;
            &lt;ratingsLink&gt;http://www.greatschools.org/school/rating.page?state=CA&amp;id=8485&amp;s_cid=gsapi&lt;/ratingsLink&gt;
            &lt;reviewsLink&gt;http://www.greatschools.org/school/parentReviews.page?state=CA&amp;id=8485&amp;s_cid=gsapi&lt;/reviewsLink&gt;
        &lt;/school&gt;
        &lt;school&gt;
            &lt;gsId&gt;24205&lt;/gsId&gt;
            &lt;name&gt;Chinese Christian Schools-Alameda&lt;/name&gt;
            &lt;type&gt;private&lt;/type&gt;
            &lt;gradeRange&gt;K-8&lt;/gradeRange&gt;
            &lt;enrollment&gt;225&lt;/enrollment&gt;
            &lt;city&gt;Alameda&lt;/city&gt;
            &lt;state&gt;CA&lt;/state&gt;
            &lt;address&gt;1801 N Loop Rd,
                Alameda, CA 94502
            &lt;/address&gt;
            &lt;phone&gt;(510) 522-0200&lt;/phone&gt;
            &lt;ncesId&gt;A0500218&lt;/ncesId&gt;
            &lt;lat&gt;37.72749&lt;/lat&gt;
            &lt;lon&gt;-122.2401&lt;/lon&gt;
            &lt;overviewLink&gt;http://www.greatschools.org/cgi-bin/ca/private/24205?s_cid=gsapi&lt;/overviewLink&gt;
            &lt;ratingsLink&gt;http://www.greatschools.org/school/rating.page?state=CA&amp;id=24205&amp;s_cid=gsapi&lt;/ratingsLink&gt;
            &lt;reviewsLink&gt;http://www.greatschools.org/school/parentReviews.page?state=CA&amp;id=24205&amp;s_cid=gsapi&lt;/reviewsLink&gt;
        &lt;/school&gt;
    &lt;/schools&gt;
                    </textarea>
    </div>
    <div class="call">
        <h3>Have Questions?</h3>
        <div class="questions">To ask questions or to report bugs please email api-support@greatschools.org. Please do not abuse our API. Review the
            <%= link_to("Terms of Use", api_docs_url(page: 'terms_of_use')) %>.
        </div>
    </div>
</div>
