<div class="content">
  <div class="callfirst">
    <h3>School Census Data</h3> Returns census and profile data for a school. All calls for School Census Data are in this format:
    <div class="sample_url">http://api.greatschools.org/school/census/[components]?[parameters]</div>
  </div>
  <div class="call">
    <h3>Components</h3> Components of the url describe what type of data you would like. They are separated by forward slashes.
    <table class="call_params">
      <thead>
        <tr class="fields">
          <td class="fieldname">Name</td>
          <td class="fielddescription">Description</td>
          <td class="fieldsample">Sample Values</td>
        </tr>
      </thead>
      <tbody>
        <tr class="required">
          <td>state*</td>
          <td>Two letter state abbreviation</td>
          <td>ak
            <br>CA</td>
        </tr>
        <tr>
          <td>gsID*</td>
          <td>Numeric id of school
            <br>This gsID is included in other listing requests like Browse Schools and Nearby Schools</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
    <div class="footnote">*required</div>
  </div>
  <div class="call">
    <h3>Parameters</h3> The "key" parameter is what you use to send us your API key.
    <table class="call_params">
      <thead>
        <tr class="fields">
          <td class="fieldname">Name</td>
          <td class="fielddescription">Description</td>
          <td class="fieldsample">Sample Values</td>
        </tr>
      </thead>
      <tbody>
        <tr class="required">
          <td>key*</td>
          <td>Your API key</td>
          <td>myAPIkey</td>
        </tr>
      </tbody>
    </table>
    <div class="footnote">*required</div>
  </div>
  <div class="call">
    <h3>Sample Request</h3>
    <div class="sample_url">http://api.greatschools.org/school/census/ND/20?key=[yourkey]</div>
    Returns census and profile data for school in North Dakota with GreatSchools ID of 20
  </div>
  <div class="call">
    <h3>Sample Response</h3>
    <textarea rows="" cols="" readonly="readonly" wrap="off" class="sampleTextArea">&lt;?xml version="1.0" encoding="UTF-8" standalone="yes"?&gt;
    &lt;census-data&gt;
    	&lt;schoolName&gt;Simle Middle School&lt;/schoolName&gt;
    	&lt;address&gt;1215 N 19th St,  Bismarck, ND  58501&lt;/address&gt;
    	&lt;latitude&gt;46.8179&lt;/latitude&gt;
    	&lt;longitude&gt;-100.7631&lt;/longitude&gt;
    	&lt;phone&gt;(701) 221-3570&lt;/phone&gt;
    	&lt;type&gt;public&lt;/type&gt;
    	&lt;district&gt;Bismarck 1&lt;/district&gt;
    	&lt;enrollment&gt;851&lt;/enrollment&gt;
    	&lt;freeAndReducedPriceLunch&gt;23.3843&lt;/freeAndReducedPriceLunch&gt;
    	&lt;studentTeacherRatio&gt;14.1&lt;/studentTeacherRatio&gt;
    	&lt;ethnicities&gt;
    		&lt;ethnicity&gt;
    			&lt;name&gt;White, non-Hispanic&lt;/name&gt;
    			&lt;value&gt;91.0693&lt;/value&gt;
    			&lt;year&gt;2007&lt;/year&gt;
    		&lt;/ethnicity&gt;
    		&lt;ethnicity&gt;
    			&lt;name&gt;Black, non-Hispanic&lt;/name&gt;
    			&lt;value&gt;0.587544&lt;/value&gt;
    			&lt;year&gt;2007&lt;/year&gt;
    		&lt;/ethnicity&gt;
    		&lt;ethnicity&gt;
    			&lt;name&gt;Hispanic&lt;/name&gt;
    			&lt;value&gt;0.822562&lt;/value&gt;
    			&lt;year&gt;2007&lt;/year&gt;
    		&lt;/ethnicity&gt;
    		&lt;ethnicity&gt;
    			&lt;name&gt;Asian/Pacific Islander&lt;/name&gt;
    			&lt;value&gt;0.705053&lt;/value&gt;
    			&lt;year&gt;2007&lt;/year&gt;
    		&lt;/ethnicity&gt;
    		&lt;ethnicity&gt;
    			&lt;name&gt;Native American or Native Alaskan&lt;/name&gt;
    			&lt;value&gt;6.81551&lt;/value&gt;
    			&lt;year&gt;2007&lt;/year&gt;
    		&lt;/ethnicity&gt;
    	&lt;/ethnicities&gt;
    &lt;/census-data&gt;
                    </textarea>
  </div>
  <div class="call">
    <h3>Have Questions?</h3>
    <div class="questions">To ask questions or to report bugs please email api-support@greatschools.org. Please do not abuse our API. Review the
      <%= link_to("Terms of Use", api_docs_url(page: 'terms_of_use')) %>.
    </div>
  </div>
</div>
