<% #ToDo Temporarily using Bootstrap, but will probably need to calculate by hand how many schools to show based on the screen width %>
<div class="limit-width-1200 hidden js-compareSchoolsCarouselNavigation">
  <a class="pull-left pll js-compareSchoolsPrev">Prev</a>
  <a class="pull-right prl js-compareSchoolsNext">Next</a>
</div>

<div class="full-width" style="clear: both;">
  <div class="limit-width-1200">
    <div class='mha oh js-comparedSchoolsListContainer'>
      <div class="js-comparedSchoolsList" style="width:1200px">
        <%lam = lambda do |configs| %>
          <% [*configs].each do |config| %>
            <%= render layout: "compare_schools/school_description_modules/#{config.display_type.to_s}", locals: {config: config} do %>
              <% lam.call(config.children) %>
            <% end %>
          <% end %>
        <% end %>
        <% @schools.each_with_index do | school, index| %>
          <% @school = school %>
          <% @index = index %>
          <% lam.call(@school_compare_config) %>
        <% end %>
      </div>
    </div>
  </div>
</div>