<div class="limit-width-1200 full-width row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-3 col-md-3 col-sm-3 pll">
      <div class="ptl">
        <%=render 'shared/add_all_to_my_school_list_form'%>
        <button class="btn btn-default tal js-save-all-schools-button">
          <span class="vam iconx16 i-16-envelop mrs"></span> Follow all schools
        </button>
      </div>
    </div>

    <div class="js-mapContainer col-lg-9 col-md-9 col-sm-9 prl">

      <div class="mtl hidden-xs"></div>
      <div id="js-map-canvas"></div>
      <div class="mtl"></div>
    </div>
  </div>
</div>