<div class="limit-width-1200 full-width row">
  <div class="col-lg-12">

    <div class="col-lg-3">
      <div class="col-lg-7">
        <%=render 'shared/add_all_to_my_school_list_form'%>
        <button class="btn btn-default tal js-save-all-schools-button" style="width:100%; padding-left: 8px; font-size: 14px;">
          <span class="vam iconx16 i-16-envelop mrm"></span> Follow all schools
        </button>
      </div>
    </div>

    <div class="js-mapContainer col-lg-9">

      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?client=gme-greatschoolsinc&amp;libraries=geometry&amp;sensor=false&amp;signature=qeUgzsyTsk0gcv93MnxnJ_0SGTw="></script>
      <div class="mtl hidden-xs"></div>
      <div id="js-map-canvas"></div>
      <div class="mtl"></div>
    </div>
  </div>
</div>