<div class="page-not-found-container">
  <div class="row">
    <div class="col-xs-12 col-md-6 image">
      <!--<div class="image">-->
        <img src="<%= image_path('404_md.jpg') %>"/>
      <!--</div>-->
    </div>
    <div class="col-xs-12 col-md-6 text">
      <h1>
        <span>Uh oh.</span>
        <span>We're very sorry.</span>
      </h1>
      <ul>
        <li><span>The Page you requested doesn't exist or has been removed</span></li>
        <li><span>Click here to return to our <%= link_to('homepage', home_path) %></span></li>
        <li><span>Need help? Feel free to <%= link_to 'contact us', contact_us_path %></span></li>
      </ul>
    </div>
  </div>
</div>