<div class="row">
  <div class="grey-bg dvp col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="limit-width-1200 tac">
      <h3 class="inverted-text mtn pbl">Browse by city</h3>

      <div class="invert-colors-home hidden-xs mlm">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 tal">
          <div>
            <a href="/new-york/albany">Albany,&nbsp;NY</a>
          </div>
          <div>
            <a href="/texas/austin">Austin,&nbsp;TX</a>
          </div>
          <div>
            <a href="/maryland/baltimore">Baltimore,&nbsp;MD</a>
          </div>
          <div>
            <a href="/massachusetts/boston">Boston,&nbsp;MA</a>
          </div>
          <div>
            <a href="/arizona/chandler">Chandler,&nbsp;AZ</a>
          </div>
          <div>
            <a href="/texas/dallas">Dallas,&nbsp;TX</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 tal">
          <div>
            <a href="/colorado/denver">Denver,&nbsp;CO</a>
          </div>
          <div>
            <a href="/illinois/elmhurst">Elmhurst,&nbsp;IL</a>
          </div>
          <div>
            <a href="/california/irvine">Irvine,&nbsp;CA</a>
          </div>
          <div>
            <a href="/florida/miami">Miami,&nbsp;FL</a>
          </div>
          <div>
            <a href="/tennessee/nashville">Nashville,&nbsp;TN</a>
          </div>
          <div>
            <a href="/new-jersey/newark">Newark,&nbsp;NJ</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 tal">
          <div>
            <a href="/california/oakland">Oakland,&nbsp;CA</a>
          </div>
          <div>
            <a href="/pennsylvania/philadelphia">Philadelphia,&nbsp;PA</a>
          </div>
          <div>
            <a href="/arizona/phoenix">Phoenix,&nbsp;AZ</a>
          </div>
          <div>
            <a href="/texas/richardson">Richardson,&nbsp;TX</a>
          </div>
          <div>
            <a href="/california/sacramento">Sacramento,&nbsp;CA</a>
          </div>
          <div>
            <a href="/texas/san-antonio">San Antonia,&nbsp;TX</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 tal">
          <div>
            <a href="/california/san-diego">San Diego,&nbsp;CA</a>
          </div>
          <div>
            <a href="/california/san-francisco">San Francisco,&nbsp;CA</a>
          </div>
          <div>
            <a href="/washington/seattle">Seattle,&nbsp;WA</a>
          </div>
          <div>
            <a href="/missouri/st.-louis">St. Louis,&nbsp;MO</a>
          </div>
          <div>
            <a href="/florida/tampa">Tampa,&nbsp;FL</a>
          </div>
          <div>
            <a href="/washington-dc/washington">Washington,&nbsp;D.C.</a>
          </div>
        </div>
      </div>
      <div class="invert-colors-home visible-xs mll">
        <div class="col-xs-12 col-sm-12 tal">
          <div>
            <a href="/georgia/atlanta">Atlanta,&nbsp;GA</a>
          </div>
          <div>
            <a href="/illinois/chicago">Chicago,&nbsp;IL</a>
          </div>
          <div>
            <a href="/texas/houston">Houston,&nbsp;TX</a>
          </div>
          <div>
            <a href="/california/los-angeles">Los&nbsp;Angeles,&nbsp;CA</a>
          </div>
          <div>
            <a href="/new-york/new-york-city">New&nbsp;York&nbsp;City,&nbsp;NY</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>