<div class="limit-width-1200">
  <div class="hidden-xs col-xs-12 col-sm-12 col-md-12 col-lg-12 mtl">
    <div class="well tac">
      <form class="" role="form" onsubmit="return false;">
        <fieldset>
            <span class="prl phm fc-fff">Get our best articles, worksheets, and more delivered weekly to your inbox</span>
            <button class="btn btn-primary js-send-me-updates-button-footer">Sign up</button>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="visible-xs col-xs-12 col-sm-12 col-md-12 col-lg-12 mtl">
    <div class="well clearfix tac mhm">
      <div class="phm mbl">Sign up for email updates </div>
      <div>
        <button class="btn btn-primary">Sign Up</button>
      </div>
    </div>
  </div>
</div>