<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="shaded-bg dvp clearfix">
      <div class="limit-width-1200">

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pal">
            <div class="tac">
              <a href="/how-to-assess-a-school.topic?content=5068">
                <%= image_tag (image_path('home/icon_families.png'))%>
                <h3>For families</h3>
              </a>
              <span>Expert advice and tools to help you pick the right school.</span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pal">
            <div class="tac">
              <a href="/official-school-profile/register.page">
                <%= image_tag (image_path('home/icon_schools.png'))%>
                <h3>For schools</h3>
              </a>
              <span>Highlight your school’s strengths to your community with a free official school profile. </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pal">
            <div class="tac">
              <a href="/school/parentReview.page">
                <%= image_tag (image_path('home/icon_review.png'))%>
                <h3>Write a review</h3>
              </a>
              <span>School profiles are better when parents, teachers and students share their experiences.
                    Tell the story of your school. </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pal">
            <div class="tac">
              <a href="/school-district-boundaries-map/">
                <%= image_tag (image_path('home/icon_search.png'))%>
                <h3>Search by address</h3>
              </a>
              <span>Try our school and district boundary map</span>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>