<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pal bg-dark-teal dvp">
    <div class="limit-width-1200 tac phm">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
        <div class="inverted-text subtitle-lg open-sans_i">“The GreatSchools website is a very quick and convenient snapshot of
          the area
          schools that my son may attend. Being in the military, we frequently move from one side of the country to
          the other, and GreatSchools has helped identify the areas we will move to.”
        </div>
        <div class="inverted-text open-sans_i mtl">
          - GreatSchools parent
        </div>
      </div>
    </div>
  </div>
</div>