<div class="row">
    <div class="proto-image-bg-scale grey-bg dvp oh">
        <div class="img-container is-scaled-hide"><!--not empty--></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="clearfix">
                <div class="limit-width-1200 tac">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-2 col-lg-7 col-lg-offset-2 tac phm">
                        <span class="plm">
                            <h2 class="inverted-text mtn" >Who we are</h2>
                        </span>
                        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inverted-text ptl">
                                <p>GreatSchools is a non-profit organization with profiles of more than 200,000 preK-12
                                  schools – public, public charter and private – and over one million reviews from
                                  parents, teachers and students sharing information about the schools they know best.
                                  We also have thousands of articles, worksheets, and videos to help parents encourage
                                  and support learning at home. Our new personalized education guide, GreatKids, helps
                                  parents see how their children are doing, support their learning, and find great
                                  education resources.
                                </p>
                            <br />
                            <span>
                                <a href="/about/aboutUs.page" class="inverted-text ptl">Learn More &raquo;</a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>¡
        </div>
    </div>
</div>
