<div class="tac pal">
    <div class="ma" style="margin-bottom:7px; margin-top: 7px; min-width: 72px; height: 58px; background-color: #CCCCCC">
        <div style="padding-top: 20px; color:#000000"><%= rating %></div>
    </div>
    <div class="ptm"><%= supporting_text %></div>
</div>
