<% if page == 'overview' %>
    <div class="tac pal">
        <div class="ma" style="width: 72px; height: 72px; border: #CCCCCC solid thin; border-radius: 36px;">
            <div style="padding-top: 10px; color:#000000; font-size: 32px"><%= rating %></div>
        </div>
        <div class="ptl"><%= supporting_text %></div>
    </div>
<% else %>
    <div class="tac" style="width: 72px; height: 72px; border: #CCCCCC solid thin; border-radius: 36px;">
        <div style="padding-top: 10px; color:#000000; font-size: 32px"><%= rating %></div>
    </div>
<% end %>
