<div class="tac pal">
    <% color_hash = {"Green" => "#009900", "Lime" => "#99FF66", "Yellow" => "#FFFF00", "Orange" => "#FF9900", "Red" => "#FF3300"} %>
    <div class="ma" style="margin-bottom:7px;margin-top: 7px; width: 72px; height: 58px; background-color: <%= color_hash[rating] %>">
        <div style="padding-top: 20px; color:#000000"><%= rating %></div>
    </div>

    <div class="ptm"><%= supporting_text %></div>
</div>
