<div class="tac pal">
    <div class="pbm"><span class="iconx72-ratings i-72-ratings-<%= rating %>"></span></div>
    <%if local_assigns[:supporting_text] %>
        <div class='link-darkgray'><%= supporting_text %></div>
    <% end %>
</div>
