<!--Need the school object for linking-->
<%= link_to school_quality_url(school, anchor:"Ratings") do %>
    <div class="fl prl open-sans pt2 rating-header-h24">
        <span class="mrs link-darkgray"><%= rating_label %>:</span>
        <span class="open-sans_sb"><%= rating_value %></span>
    </div>
<% end %>