<div class="tac pal">
    <% rating.gsub!("+", "plus") %>
    <div style="margin-bottom:7px;margin-top: 7px; "><span class="<%= icon_to_use %> <%= icon_to_choose+rating %>"></span><br /></div>
    <% if local_assigns[:supporting_text] %>
      <div class="ptm link-darkgray"><%= supporting_text %></div>
    <% end %>
</div>
