<div class="ma notranslate" style="width:250px;">
    <% reviews_chart_array = @school_reviews.to_bar_chart_array %>
    <% reviews_bar_chart_div_id = "js_reviews_bar_chart_div" %>

    <div id="<%= reviews_bar_chart_div_id %>"><!--Div for bar chart--></div>
    <% content_for :head do %>
        <script type="text/javascript">
            $(function() {
                GS.visualchart.drawBarChartReviews(<%= raw (reviews_chart_array).to_s %>,<%= raw '"'+reviews_bar_chart_div_id+'"' %>);
            });
        </script>
    <% end %>
</div>