<div class="js-gs-topical-reviews-checkboxes">
  <form class="form-inline">
    <div class="row mtxl mbl tac">
      <% review_options.each do |option| %>
          <div class="dib tac mhl">
            <div>
              <label class="tac js-gs-checkbox-search js-gs-checkbox-topical font-size-small"
                     data-gs-checkbox-value="<%= option %>"
                     data-gs-checkbox-name="<%= option %>[]"
                     style="width:100%;">
                <div class="vam iconx16 js-icon i-grey-unchecked-box"></div>
              </label>
              <input type="hidden" class="js-gs-checkbox-value js-gs-checkbox-topical ">
            </div>
            <div>
              <%= option %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="shim-25 visible-lg visible-md visible-sm hidden-xs"></div>
    <div class="tac full-width dn js-review-question-submit">
      <button type="submit" id="jwrobes" class="btn btn-primary js-gs-checkbox-submit">
        Submit
      </button>
    </div>
  </form>
</div>
<div class="js-gs-topical-reviews-checkbox-selections dn paxl tac">
 <div class="ptl font-size-large open-sans">You selected:
   <span class="open-sans_cb js-gs-checkbox-selections">
     <!--text for selected checkboxes-->test
   </span>
 </div>
  <div class="mtl">
    <a href="#" class="js-back-to-checkboxes">Go back to voting</a>
  </div>
</div>

