<div class=" tac">
    <p class="open-sans_sb">
        <% if @sweepstakes_enabled %>
            Help this school win $5,000<br />by posting a review
        <% else %>
            Let others know what you<br />think about this school
        <% end %>
    </p>
    <button type="button" data-link-value="<%= school_reviews_path(@school, anchor: 'topic1') %>" class="btn btn-primary mtm js-button-link" onclick="GS.omniture.track_reviews('<%= driver %>');">
        Write a review
    </button>
</div>