<article class="open-sans font-size-large mhl mvxl pbxl tac">
  3 Parents were <span class="open-sans_cb">happy </span>with the school policy,<br/>
  while 2 Parents were <span class="open-sans_cb">angry.</span>
</article>
<div class="shim-20"></div>
<footer class="tac ptl">
  <%= link_to ('Go to all 12 Comments') %>
</footer>