<div class="tac">
    <%= draw_stars_24 average_score %><br />
    <span class="mbn mtm font-size-block ptm"><%= "#{ pluralize average_score, 'star' }" %></span><br />
    <span>Based on <%= pluralize ratings_count, 'rating' %></span>
</div>