<hr/>
<div class="row ptl mtl">
  <div class="col-xs-12 pbl">
    <%= render 'shared/reviews/topical_review_display',
            title: 'How do you feel about string cheese?',
            review_question_type_partial: 'checkbox_answers',
             review_options: %w(happy constipated lauging jumpy agitated),
             review_summary_partial: 'review_results_snapshot'
             %>
  </div>

</div>