<div class="limit-width-1200 clearfix">
  <div class="row bg-light-gray">
    <div class="col-lg-6 col-md-6 col-xs-12 gray-box-border" style="min-height: 360px">
      <header class="bg-yellow full-width tac open-sans_cb pvl tac">
        How do you feel about the bullying policy?
      </header>
      <article>
        <%= render "shared/checkbox_answers" %>
      </article>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 bg-light-gray gray-box-border pvxl" style="min-height: 360px">
      <article class="open-sans font-size-large mhl mvxl pbxl tac">
        3 Parents were <span class="open-sans_cb">happy </span>with the school policy,<br/>
        while 2 Parents were <span class="open-sans_cb">angry.</span>
      </article>
      <div class="shim-20"></div>
      <footer class="tac ptxl">
        <%= link_to ('Go to all 12 Comments') %>
      </footer>
    </div>
  </div>


</div>