<hr/>
<div class="js-topicalReviewQuestionsContainer">
<div class="plm mbl">
  <h2>Review topics</h2>
    <p class="">This is a safe place to share your honest opinions of a school, whether good or bad.&nbsp;
      <%= link_to 'Learn more.', review_guidelines_url %></p>
</div>
  <div class="js-reviewQuestionCarousel">
  <%= render partial: "shared/reviews/modules/topical_review_question_module",
             collection: @school.topical_review_question_hash.values.inject([]) { |array, questions| array += questions }, as: :question
  %>
  </div>
  <%= render 'shared/reviews/modules/question_navigation' %>
</div>
