<div class="limit-width-1200 clearfix">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12 bg-light-gray gray-box-border" style="min-height: 280px">
      <header class="bg-yellow full-width tac open-sans_cb pvl">
        <%= title.html_safe %>
      </header>
      <article>
        <%=  render "shared/reviews/#{review_question_type_partial}", review_options: review_options %>
      </article>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 bg-light-gray gray-box-border pal" style="min-height: 280px">
      <%= render "shared/reviews/#{review_summary_partial}", review_options: review_options %>
    </div>
  </div>
</div>