<hr/>
<div class="row ptl mtl">
  <div class="col-xs-12 pbl">
    <% @school.topical_review_question_hash.each do |topic_name, questions| %>
        <% questions.each do |review_question| %>
            <%= render "shared/reviews/modules/topical_review_#{review_question[:layout]}_container",
                       title: review_question[:question],
                       question_responses: review_question[:responses]
            %>
        <% end %>
    <% end %>
  </div>

</div>