<% average_score = @school_reviews.average_5_star_rating %>
<% ratings_count = @school_reviews.number_of_5_star_ratings %>

<% if average_score > 0 %>
    <div class="row ptl">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pbl">
            <%= render "shared/reviews/star_module", average_score: average_score, ratings_count: ratings_count %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pbl">
            <%= render "shared/reviews/bar_graph" %>
        </div>
    </div>
<% else %>
    <%= render "shared/review_no_ratings" %>
<% end %>