<div class="osp-header-module">
  <div class="container">
    <h1>Claim your school profile</h1>
    <h4>Create a school account to claim your school profile, then add information.</h4>
    <div class="padding-lg">
      <%= link_to 'Find out more about school accounts and school profiles.', osp_landing_path %>
    </div>
  </div>
</div>
