<div class="osp-pages">
  <%= render 'osp/registration/header' %>
  <%= render partial: 'osp/registration/confirmation_body',
             locals: {
                      body_text:"Please create a school profile on the state's <a href='https://login.doe.k12.de.us/' class='medium-link'>Department of Education</a> website!",
                      body_middle_text: "You'll be able to maintain your GreatSchools information on our website once you have a profile!",
                      bottom_text: "Not located in Delaware? <a href='/official-school-profile'>Select your school</a>"} %>
</div>
<%= render 'nav/short_footer' %>

