<div class="osp-pages">
  <%= render 'osp/registration/header' %>
  <%= render partial: 'osp/registration/confirmation_body',
             locals: {
               body_text:"Your school account has been created via the <a href='https://login.doe.k12.de.us/' class='medium-link'>State Department of Education IMS portal.</a>",
               body_middle_text: "To claim your school profile, please <a href='https://login.doe.k12.de.us/'>sign in to the</a> portal, then click on the GreatSchools Delaware application.",
               bottom_text: "Not located in Delaware? <a href='/official-school-profile'>Select your school</a>"
             }
  %>
</div>
<%= render 'nav/short_footer' %>

