<div class="osp-pages">
  <%= render 'osp/registration/header' %>
  <%= render partial: 'osp/osp_confirmation_body',
             locals: {body_text:"To register for a school account you have to <a href='/official-school-profile' class='medium-link'>select a school</a> first"} %>
</div>
<%= render 'nav/short_footer' %>


