<div class="tac pal">
    <% rating_type = '' %>
    <% rating_star = rating %>
    <% if rating_star == 0 %>
        <% rating_type = '-outline' %>
        <% rating_star = '1' %>
    <% end %>
    <div><%= supporting_text %></div>
    <div style="height: 48px; margin-top: 24px">
            <span class="iconx24-stars_detroit i-24-blue<%= rating_type %>-star i-24-star-<%= rating_star %>"></span>
    </div>
</div>
