*.log
*.log.*[0-9]

# Mac OSX hidden files created by Finder
.DS_Store

# IntelliJ IDEA files
*.ipr
*.iws
*.iml
.#*.*[0-9]
atlassian-ide-plugin.xml
.idea
.generators

# Vim
*.swp
.*un~

profiling-results/
profiling-results-*
tmp

# simplecov code coverage
coverage/

# custom database-local.yml for developers
config/database_local.yml

# custom env_global for developers
config/env_global_local.yml

.rakeTasks
.zeus.sock
.gemtags
