<% f %>
<%
   principal = options[:principal]
   parsley_error_id = "topical-parsley-errors-#{question.id}"
   submit_text = principal ? 'Submit statement' : 'Submit'
   placeholder_text = principal ? '' : question.placeholder_text
%>
<div class="ptl phl js-topicalReviewComment <%= principal ? '' : 'dn' %>">
  <% text_area_options =  {class: "form-control mbs",
                             onkeyup: "GS.topicalReview.characterCount.init(this)",
                             rows: "8",
                             placeholder: placeholder_text,
                             'data-parsley-minwords'=>'15',
                             'data-parsley-required'=>"#{options[:comment_required] ? 'true' : 'false'}",
                             'data-parsley-errors-container' => "##{parsley_error_id}",
                             'data-parsley-minwords-message'=> 'Please be sure your story is 15 words or more in length.',
                             'data-parsley-required-message'=> 'Thanks for your opinion! Please share some thoughts on this school in order to save your rating.',
                             'data-parsley-maxlength'=>"2500",
                             'data-parsley-maxlength-message' => 'Sorry, we have a 2,500 character limit for reviews. Please shorten your review to save it.'
  }  %>
  <%
 if submitted_review && submitted_review.has_comment?
     text_area_options = text_area_options.merge({value: submitted_review.comment})
   end
  %>
  <%= f.text_area :comment, text_area_options %>
  <div class="row tal">
    <div class="col-xs-8">
      <div class="help-block js-reviewCharacterDisplay mtn mbn dn">You have <span class="js-reviewCharacterCount"></span> left
        in your review</div>
      <% #parsley error id places error message for the specific question_id %>

      <div class= "js-topicalReviewErrorMessage parsley-type" id="<%= parsley_error_id %>"></div>
    </div>
    <div class="col-xs-2 col-xs-offset-2 js-topicalReviewSubmitContainer">
      <button type="submit" class="btn btn-primary fr mtl mbl" data-disable-with="Submitting"><%= submit_text %></button>
    </div>
  </div>
</div>
