<!-- Compare and Homes for Sale -->
<%= render 'compare_schools_compare_button', school: school if @allow_compare %>
<%= link_to zillow_url(school), class: 'btn btn-default hidden-xs zillow-button clearfix mts db', rel: 'nofollow', target: '_blank' do %>
  <div class="iconx16 i-16-blue-home fl mrs"></div>
  <div class="fl"><%= t('.homes_for_sale') %></div>
<% end %>
