<%= link_to school_quality_page_url do %>
  <%= render 'performance/gs_rating', value: school.overall_gs_rating, size: 'sm', css_class: 'ma' %>
  <div class="pts"></div>
  <span class="tac font-size-xs db link-darkgray" style="line-height: 1.3em;"><%= t('.greatschools_rating_html') %></span>
<% end %>

