<% style_guide_directory = 'admin/style_guide/shared' %>
<div class="chapter-content">
  <%= render "#{style_guide_directory}/table_of_contents" %>
  <div class="article-list">
    <%= yield %>
  </div>
</div>
