<% if title %>
  <% @sections << title %>
  <div id="<%= slugify(title) %>" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
    <h2 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }" data-qp-ui-data-id="qp:l">
      <%= title %>
    </h2>
    <%= yield %>
  </div>
<% end %>
