<nav class="chapter-toc">
  <h1>Contents</h1>
  <ul>
    <li>
      <a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }"
                                                href="#introduction-buttons" data-qp-ui-data-id="qp:h">Buttons
      </a>
    </li>
    <li>
      <a class="gweb-smoothscroll-control qp-ui"
         data-qp-ui="{ 'SmoothScroll': {} }"
         href="#introduction-headers"
         data-qp-ui-data-id="qp:g"
         >
        Headers
      </a>
    </li>
  </ul>
</nav>
