<div class="alert alert-success"><p>ANNOUNCEMENT Explore your education options in Detroit. GreatSchools and Excellent Schools Detroit explain the landscape.
    <% if hub_params.present? %>
        <%= link_to 'Learn more', city_url(hub_params) %>
    <% end %>
</p></div>
