<% if @school.collection.present? && @school.collection.profile_banner.present? %>
    <% content = @school.collection.profile_banner %>
    <div class="alert alert-success mtl"><p><span class="open-sans_sb prm"><%= t(content["title"].gsub('.','')) %></span><%= t(content["content"].gsub('.','')) %>
        <% if hub_params.present? %>
            <%= link_to t(content["link_name"]).html_safe, content["link_to"] %>
        <% end %>
    </p></div>
<% end %>

