<% if @school.cache_results.OECD_data.present? %>
    <%= render "shared/section_header", category_placement:category_placement %>
    <div class="col-md-12 tac mbm">
      <div class="row"><span class="badgesx48 i-48-global_competitiveness_badge"></span><br /></div>
      <div><a href="javascript:void(0)" class="js_toggle_parent_sib font-size-small">Learn More &raquo;</a></div>
      <div class="dn tal well ma pal" style="max-width: 600px;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id justo efficitur diam vulputate ultrices. Donec id turpis id elit auctor vulputate. Vivamus rhoncus mauris tellus, ut ullamcorper dui rutrum eget. Morbi lorem velit, condimentum nec rutrum at, pretium at turpis. Vestibulum lobortis turpis sapien, nec eleifend velit accumsan ut. Fusce imperdiet dignissim turpis vitae tempor. Nulla facilisi. </p>
      </div>
    </div>
<% end %>