<% category_placement %>

<%= render layout:'col', locals: { css_class:'', category_placement: category_placement } do %>
    <% if data && data["best_known_for"] %>
        <div class="row ptl phm">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tac"><h3>"<%= data["best_known_for"].first %>"</h3></div>
        </div>
    <% end %>
<% end %>