<h4><%= category.name %></h4>
<table class="table table-striped">

    <tr>
        <% config.columns_to_print(data).each do |column| %>
            <% if column['display_type'] == :data_and_header %>
                <th><%= column['label'] %></th>
            <% else %>
                <th>&nbsp;</th>
            <% end %>
        <% end %>
    </tr>

    <% data.rows.each do |hash| %>
        <tr>

            <% config.columns_to_print(data).each do |column| %>
                <% if hash[column['key'].to_sym] %>
                    <td>
                        <% value = hash[column['key'].to_sym] %>
                        <% if value.class == 'Array' %>
                            <% value.each do |val| %>
                                <%= val %><br/>
                            <% end %>
                        <% else %>
                            <%= value %>
                        <% end %>
                    </td>
                <% end %>
            <% end %>

        </tr>
    <% end %>
</table>
