<div class="col-xs-12 col-sm-12 col-md-12">
    <hr />
    <h2 class="pll">Contact Information</h2>
    google_formatted_street_address
    <%= image_tag sign_url("http://maps.googleapis.com/maps/api/staticmap?size=300x300&center="+google_formatted_street_address+"&sensor=false")%>
</div>