<h4><%= category.name %></h4>
<table class="table table-striped">
    <% last_key = nil %>
    <% data.rows.each do |row| %>

        <% label = row[:label] %>
        <% value = row[:value] %>

        <tr>
            <td>
                <% if last_key && last_key == label %>
                &nbsp;
                <% else %>
                    <strong>
                        <%= label.capitalize unless label.nil? %>
                    </strong>
                <% end %>
            </td>
            <td>
                <% value.each do |pretty| %>
                    <%= pretty.capitalize unless pretty.nil? %> <br/>
                <% end %>
            </td>
        </tr>
        <% last_key = label %>
    <% end %>
</table>

