<div class="row">
<div class="col-xs-12 col-sm-<%= size %> col-md-<%= size %>">
    <div class="contents">
        <div class="main">
            <%= data.inspect %>
        </div>
    </div>
</div>
</div>