<% showAds = @school.show_ads %>
<% layout_grid = (showAds ?  "col-xs-12 col-sm-6 col-md-6 col-lg-6" : "col-xs-12 col-sm-12 col-md-12 col-lg-12")%>
<div class="row">
    <div class="fb-like-box tac <%= layout_grid %>" data-href="<%=@header_metadata.facebook_url%>" data-width="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
    <% if showAds %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <%= render 'layouts/ad_layer', page: @page_config.name.to_sym, slot: :Facebook, view: :desktop  %>
        </div>
    <% end %>
</div>
<% if showAds %>
    <div class="ptl">
        <%= render 'layouts/ad_layer', page: @page_config.name.to_sym, slot: :Facebook, view: :mobile  %>
    </div>
<% end %>

<div id="fb-root"></div>