<% category_placement # The +CategoryPlacement+ that is configured to use this group layout %>

<% begin %>
<% children = category_placement.children.sort_by(&:position).select{ |category_placement| category_placement.has_data?(@school)} %>
    <% if children.any? && category_placement.title.present? %>
        <div class="row phs">
           <%= render "shared/section_header", category_placement:category_placement %>
           <%= render partial: 'category_placement', collection: children, as: :category_placement %>
        </div>
    <% end %>

<% rescue => e %>
    <%= log_view_error "Something went wrong while trying to display #{category_placement.title}", e %>
    <% raise e if params[:debug] %>
<% end %>


