<% rating = data.first %>
<div class="overall-gs-rating">
  <div class="rating-circle">
    <%= render 'performance/gs_rating',
      value: rating.value,
      performance_level: rating.performance_level,
      size: 'lg',
      subtext: true
    %>
  </div>
  <h2>
    <%= rating.label.sub(' ', ' <br class="visible-xs visible-sm"/>').html_safe %>
    <%= render 'school_profile/data_viz/tooltip_activator',
      text: rating.description,
      trigger: 'focus' ,
      ga_category: 'Profile data - quality snapshot',
      ga_action: 'Open Tooltip',
      ga_label: 'GS rating'
    %>
  </h2>
</div>
