<% rating = data.first %>
<div class="overall-gs-rating">
  <div class="rating-circle">
    <%= render 'performance/gs_rating',
      value: rating.value,
      performance_level: rating.performance_level,
      size: 'lg',
      subtext: true
    %>
  </div>
  <h2>
    <%= rating.label %>
    <%= render 'school_profile/data_viz/tooltip_activator', text: rating.label %>
  </h2>
</div>
