<% category_placement # The +CategoryPlacement+ that is configured to use this group layout %>

<%
  collections_to_show = [*category_placement.layout_config_json['show_module_for_collections']]
  should_show_partial = (@school.collection_ids & collections_to_show).present?
%>

<% if should_show_partial %>
  <% begin %>
    <% children = @page_config.category_placement_children_with_data(category_placement) %>
    <% if children.any? %>
      <div class="gs-bootstrap container-fluid container-fix">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <% children.each do |cp|  %>
              <%= render partial: 'category_placement', locals: {category_placement: cp} %>
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-4 ptl">
            <%= render 'layouts/ad_layer', page: @ad_page_name, slot: :Snapshot, view: :desktop, visible_for: ''  %>
          </div>
        </div>
      </div>
    <% end %>
  <% rescue => e %>
    <%= log_view_error "Something went wrong while trying to display #{category_placement.title}", e %>
    <% raise e if params[:debug] %>
  <% end %>
<% end %>
