<% category_placement # The +CategoryPlacement+ that is configured to show this layout %>

<%= render layout:'col', locals: { css_class:'', category_placement: category_placement } do  %>

    <% if action_name == 'overview' %>
        <%= render "shared/section_header", category_placement:category_placement %>
    <% else %>
        <p class="ptl"></p>
    <% end %>

    <%= render 'shared/pie_chart', data: data, category_placement: category_placement %>

<% end %>
