<% data_config = category_placement.table_config %>
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12">
    <hr />
    <h3 class="pll">Student Ethnicity</h3>

    <div id="piechart" style="margin: auto">

    </div>

    <% ethnicity_array = data.to_piechart :ethnicity, :school_value %>
    <% piechart_options = {

            fontSize: '13',
            title: category.name
        }.stringify_keys;
    %>

    <% content_for :head do %>
        <script type="text/javascript">
            GS.visualchart.drawPieChart(
                <%= raw ethnicity_array.to_json %>,
                'piechart',
                null,
                <%= raw data_config.config.merge(piechart_options).to_json %>
            );
        </script>
    <% end %>

</div>
</div>