<%= render layout:'col', locals: { css_class:'', category_placement: category_placement } do  %>

    <% if action_name == 'overview' %>
        <hr />
        <h3 class="pll">Student Ethnicity</h3>
    <% else %>
        <p class="ptl"></p>
    <% end %>

    <%= render 'shared/pie_chart', data: data, category_placement: category_placement %>

<% end %>
