<% category_placement # The +CategoryPlacement+ that is configured to show this layout %>

<%= render layout:'col', locals: { css_class:'', category_placement: category_placement } do %>
    <% ratings_array = [] %>

    <% if @school.gs_rating  %>
        <%  ratings_array << (render "shared/rating/gs_rating", rating:@school.gs_rating, supporting_text:'GreatSchools rating') %>
    <% end %>
    <!-- Begin detroit hub layout -->
        <% if @school.local_rating  %>
            <%  ratings_array << (render "shared/rating/variable_icon_rating", icon_to_use:'iconx72-ESD-ratings', icon_to_choose:'i-72-ratings-',rating:@school.local_rating, supporting_text:'ESD rating') %>
        <% end %>
        <% if @school.state_rating  %>
            <%  ratings_array << (render state_partial(@school.state), page:'overview', rating:@school.state_rating, supporting_text:'State rating') %>
        <% end %>
        <% if @school.preK_star_rating  %>
            <%  ratings_array << (render "shared/rating/detroit_blue_star", rating:@school.preK_star_rating, supporting_text:'Preschool rating') %>
        <% end %>
    <!-- End detroit hub layout -->

    <% if !ratings_array.empty? %>
        <%= render "shared/section_header", category_placement:category_placement, link_text:'See all Quality', link_to:'quality', subtitle:'These ratings help make it easier to find and compare schools.' %>
        <!--<div class="pal">-->
            <div class="row">
                <%= raw render_array_horizontally ratings_array, {"xs"=> 12,"sm"=> 6,"md"=> 4,"lg"=> 3} %>
            </div>
        <!--</div>-->
    <% end %>
<% end %>