<div class="raw-performance-results">
  <div class="box-group box-group-inline">
    <div class="box">
      <h2>EVEN</h2>
    </div>
    <div class="box">
      <h2>EVEN</h2>
    </div>
    <div class="box">
      <h2>EVEN</h2>
    </div>
    <div class="box">
      <h2>EVEN</h2>
    </div>
  </div>
  <br>
  <br>
  <div class="box-group">
    <div class="box">
      <h2>ODD</h2>
    </div>
    <div class="box">
      <h2>ODD</h2>
    </div>
    <div class="box">
      <h2>ODD</h2>
    </div>
  </div>
</div>
