<% if @school_reviews_global.review_filter_totals.all == 0 || @school_reviews_global.review_filter_totals.all.nil? %>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mvl">
            <div class="well tac">
                <button type="button" data-link-value="<%= school_review_form_path(@school) %>" class="btn btn-primary js-button-link">
                    BE THE FIRST TO REVIEW
                </button>
            </div>
        </div>
    </div>
<% else %>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12"  style="z-index: 1;">
            <% review_total_count = ((@school_reviews_global.rating_averages.overall.counter == 1)? 'See ' + @school_reviews_global.rating_averages.overall.counter.to_s + ' Review': 'See all ' + @school_reviews_global.rating_averages.overall.counter.to_s + ' Reviews') %>
            <%= render "shared/section_header", category_placement:category_placement, link_text: review_total_count, link_to:'reviews' %>
            <%= render "shared/review_top_sections" %>
            <div class="js_reviewsList">
                <%= render '/shared/review_module_overview', school_reviews_pagination: @school_reviews_all %>
            </div>
        </div>
    </div>
<% end %>