<% category_placement # The +CategoryPlacement+ that is configured to show this layout %>

<% if @school_reviews.count > 0 %>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12"  style="z-index: 1;">
      <% review_count = @school_reviews.count %>
      <% review_count_string = 'See' %>
      <% review_count_string << ' all' if review_count > 1 %>
      <% review_count_string << pluralize(review_count, 'Review', 'Reviews') %>
      <%= render "shared/section_header", category_placement:category_placement, link_text: review_count_string, link_to:'reviews' %>

      <div class="js_reviewsList">
        <%= render '/shared/review_module_overview', school_reviews_pagination: @school_reviews_all %>
      </div>
    </div>
  </div>
<% end %>