<% category_placement # The +CategoryPlacement+ that is configured to show this layout %>
<div class="row">
  <%= render '/shared/review_module_overview_three_column',
    reviews: @school_reviews
  %>
<% # render '/shared/review_module_overview_two_column_container', 
  #category_placement: category_placement %>
</div>
