<% category_placement # The +CategoryPlacement+ that is configured to show this section %>

<% GSLogger.swallow_and_log_errors_unless_development(:school_profile, category_placement.attributes, 'Something went wrong when trying to render category placement') do %>
  <% children = @page_config.category_placement_children_with_data category_placement %>
  <% if children.any? && category_placement.title.present? %>
    <% partial_collection_markup = render partial: 'category_placement', collection: children, as: :category_placement %>
    <% if partial_collection_markup.present? %>
      <div class="row">
        <%= render "shared/section_header", category_placement: category_placement %>
        <%= partial_collection_markup %>
      </div>
    <% end %>
  <% end %>
<% end %>