<% category_placement # The +CategoryPlacement+ that is configured to show this layout %>

<% gs_rating = @school.gs_rating || 'nr' %>
<div class="row pr" style="height: 300px;">
  <div class="col-xs-12 tac">
    <div class="link-darkgray pbs">GreatSchools rating<br /></div>
    <span class="iconx72-ratings i-72-ratings-<%= gs_rating %>"></span>
  </div>

<% ratings_array = [] %>

<% state_rating = @school.state_rating %>
<% if state_rating %>
    <% ratings_array << (render "shared/rating/snapshot_ratings_state", state_rating: state_rating) %>
<% end %>

<% local_rating = @school.local_rating %>
<% if local_rating %>
        <% ratings_array << (render "shared/rating/variable_icon_rating",
                                    icon_to_use:'iconx72-ESD-ratings',
                                    icon_to_choose:'i-72-ratings-',
                                    rating:@school.local_rating,
                                    padding: '',
                                    title:'ESD rating') %>
<% end %>

<% if @school.preK_star_rating %>
    <% if @school.state == 'MI' %>
        <% ratings_array << ( render "shared/rating/detroit_blue_star",
                                     rating:@school.preK_star_rating,
                                     padding: '',
                                     title:'Preschool rating') %>
    <% else %>
      <% ratings_array << (render "shared/rating/snapshot_ratings_state", state_rating: @school.preK_star_rating) %>
    <% end %>
<% end %>

<% if ratings_array.present?%>
    <div class="col-xs-12 tac ptl mts">
      <%= raw render_array_horizontally ratings_array, {"xs"=> 6,"sm"=> 4,"md"=> 4,"lg"=> 3} %>
    </div>
<% end %>


<div class="tac pa full-width"  style="bottom: 20px;" >
    <%= link_to 'Test scores', school_quality_url(@school, anchor:"Test_scores") %>&nbsp;|&nbsp;
    <%= link_to 'Ratings', school_quality_url(@school, anchor:"Ratings") %>
</div>

</div>