<% data # A +Hash+ that contains a state rating +Hash+ if available %>

<% if !data["state_rating"].nil? && !data["state_rating"]["overall_rating"].nil? %>

    <div class="row mbm pam">
        <% color_hash = {"Green" => "#009900", "Lime" => "#99FF66", "Yellow" => "#FFFF00", "Orange" => "#FF9900", "Red" => "#FF3300"} %>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <div class="tac" style="width: 72px; height: 58px; background-color: <%= color_hash[data["state_rating"]["overall_rating"]] %>">
                <div class="ptl black"><%= data["state_rating"]["overall_rating"] %></div>
            </div>
       </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10"><h4>State Rating</h4>
            <p><%= data["state_rating"]["description"] %></p>
            <p><a  href="javascript:void(0)" class="js_toggle_parent_sib">Learn More &raquo;</a></p>
            <div class="dn well bg-white">
                <h5>Methodology</h5>
                <a href="http://www.michigan.gov/mde/0,4615,7-140--310978--,00.html" target="_blank">View more details on state site</a>
            </div>
        </div>
    </div>
<% end %>
