<div class="sticky-nearby-schools gs-bootstrap">
  <div class="sticky-container">
    <div class="current-school fl hidden-xs">
      current school
    </div>
    <div class="nearby-schools fl">
      nearby schools
    </div>
  </div>
</div>
