<div class="sticky-nearby-schools gs-bootstrap">
  <div class="sticky-container">
    <div class="current-school hidden-xs">
      current school
    </div>
    <div class="nearby-schools">
      <div class="close-nearby-schools">
        close
      </div>
      <div class="carousel">
        <div class="js-nearbySchoolsCarousel">
          <div>nearby school</div>
          <div>nearby schoo</div>
          <div>nearby scho</div>
          <div>nearby sch</div>
        </div>
      </div>
      <div class="js-next pointer next">
        <div>
          <span class="iconx16 i-16-right-arrow mls vam"></span>
          <br/>
          Next
        </div>
      </div>
    </div>
  </div>
</div>
