<% if data.present? %>
  <div class='mvs'>SCORES ARE FROM 1 TO 10</div>
  <div class='mvs'>
    <div class='row'>
      <% [*data].each do |d| %>
        <div class="col-xs-12 col-sm-4">
          <div class="gs-rating-white-sm pull-left mrm <%= d.performance_level %>">
              <div><%= d.value %></div>
          </div>
          <div class="pull-left"><%= d.label %></div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
