<div class="tac pal"><span>What does this school offer? Arts? Sports?</span>
    <%= link_to "Share what you know &raquo;".html_safe, osp_form_url(school_id: @school.id.to_s,state: @school.state) %>
</div>