<div class="ptl tac">
  <% config.opt[:datapoints].each do |datapoints| %>
      <div class="pbm phl">
        <%= link_to @school.send(datapoints[:method]), class: datapoints[:class], target: datapoints[:target], style: 'width:80%' do %>
            <span class="vat <%= datapoints[:icon] %> mrs"></span>
            <%= datapoints[:label] %>
        <% end %>
      </div>
  <% end %>
</div>
