<div class="ptl tac">
  <% config.opt[:datapoints].each do |datapoints| %>
      <div class="pbm">
        <%= link_to @school.send(datapoints[:method]), class: datapoints[:class], target: datapoints[:target] do %>
            <div class="<%= datapoints[:icon] %> fl mrs"></div>
            <div class="fl"><%= datapoints[:label] %></div>
        <% end %>
      </div>
  <% end %>
</div>
