<div class="phm">
  <table class="full-width <%= config.opt[:table_name] %>">
  <% config.opt[:datapoints].each do |datapoint_config| %>
        <tr>
          <% if datapoint_config[:icon] %>
              <td style="width: 30px"><i class="<%= datapoint_config[:icon] %>"></i></td>
          <% end %>
          <td><%= truncate_with_popup(datapoint_config[:label], length: 26) %></td>

          <% method_caller = @school.respond_to?(datapoint_config[:method]) ? @school : @school.school_cache %>
          <% value = if datapoint_config[:argument]
                       method_caller.send(datapoint_config[:method], datapoint_config[:argument])
                     else
                       method_caller.send(datapoint_config[:method])
                     end %>
          <% value = value == CachedCharacteristicsMethods::NO_DATA_SYMBOL ? render('shared/no_data_symbol_and_popup') : value %>

          <td class="tac open-sans_sb" style="width: 40px"><%= value %></td>
        </tr>
  <% end %>
  </table>
</div>