<% school_reviews_page_path = school_path(@school) + 'reviews/' %>
<% star_rating = @school.star_rating %>

<div class="ptm tac js-reviewSnapshot">
  <% if @school.num_reviews > 0 %>
      <div class="js-reviewStars">
        <div class="pts"><%= draw_stars_24 star_rating%></div>
        <div class="font-size-large"><%= star_rating %> stars</div>
      </div>
      <div>Based on <%= @school.num_ratings %> ratings</div>
      <div class="ptm pbl"><%= link_to pluralize(@school.num_reviews, 'review', 'reviews'), school_reviews_page_path %></div>
  <% else %>
      <div class="js-reviewStars"></div>
      <div class="">No community reviews</div>
  <% end %>
</div>
