<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 js-comparedSchool <%= "js-comparedSchool#{@index.to_s}" %>'>
  <div class='mal' style="border-radius: 4px; border: 1.5px solid #d3d3d3; width: 260px; background-color: white;">
    <%= yield %>
  </div>
</div>