<div class='pull-left di mal js-comparedSchool js-comparedSchool<%= @index %>' data-school-id="<%= @school.id %>">
  <a class="fr pointer js-removeComparedSchool">remove<i class="mls vam iconx16 i-16-blue-x-circle"></i></a>
  <div class="clearfix"></div>
  <div style="border-radius: 4px; border: 1.5px solid #d3d3d3; width: 260px; background-color: white;">
    <%= yield %>
  </div>
</div>