<div class='pull-left di mal js-comparedSchool' data-school-id="<%= @school.id %>">
  <a class="fr pointer js-removeComparedSchool">remove</a>
  <div class="clearfix"></div>
  <div style="border-radius: 4px; border: 1.5px solid #d3d3d3; width: 260px; background-color: white;">
    <%= yield %>
  </div>
</div>