<div class='pull-left di js-comparedSchool <%= "js-comparedSchool#{@index.to_s}" %>'>
  <div class='mal' style="border-radius: 4px; border: 1.5px solid #d3d3d3; width: 260px; background-color: white;">
    <%= yield %>
  </div>
</div>