<% college_readiness %>
<% title = t('.title') %>
<% rating = college_readiness.rating %>
<% info_text = college_readiness.info_text  %>
<% data_values = college_readiness.data_values || [] %>
<% initial_size = 3 %>

<div class="rating-container rs-college-readiness">
  <a name="College_Readiness"></a>
  <div class="rating-container__rating">
    <%= render "module_header",
      circle_color_modifier: rating,
      circle_content: rating,
      title: title,
      info_text: info_text
    %>
  </div>

  <%= render partial: 'rating_score_item', collection: data_values.take(initial_size), as: :score_data %>

  <% if data_values.size > initial_size %>
    <div class="rating-container__more-items">
      <%= render layout:'drawer' do %>
        <% render partial: 'rating_score_item', collection: data_values[initial_size..-1], as: :score_data %>
      <% end %>
    </div>
  <% end %>
</div>
