<% csa_badge = college_success.school_cache_data_reader.csa_badge? %>
<% title = t("school_profiles.toc.college_success") %>

<% if csa_badge %>
  <div id="csa-badge">
    <div class="csa-container">
      <%= image_tag image_path('school_profiles/csa-badge-toc.png') %>
      <div>
        <a href="#College_success"
          class="js-gaClick"
          data-ga-click-category='Profile'
          data-ga-click-action='CSA Link Clicked'
          data-ga-click-label='<%= title %>'>
          College Success Award
        </a>
        <p>2018, 2019</p>
      </div>
    </div>
  </div>
<% end %>