<div id="cta" class="btn-group" role="group" aria-label="CTA" style="margin-top: 30px;">
  <button type="button" class="btn btn-secondary"><span class="icon-pencil" style="color: #2ba3dc"></span><br/>Review
  </button>
  <button type="button" class="btn btn-secondary"><span class="icon-heart" style="color: #2ba3dc"></span><br/>Save
  </button>
  <button type="button" class="btn btn-secondary"><span class="icon-copy" style="color: #2ba3dc"></span><br/>Compare
  </button>
</div>