<div id="cta" class="non-fixed-top cta-container">
  <div class="cta-button cta-button-border">
    <span class="icon-pencil" style="color: #2ba3dc"></span><br/>Review
  </div>
  <div class="cta-button cta-button-border">
    <span class="icon-heart" style="color: #2ba3dc"></span><br/>Save
  </div>
  <div class="cta-button">
    <span class="icon-copy" style="color: #2ba3dc"></span><br/>Compare
  </div>
</div>