<% items %>

<div class="js-drawer show-more show-more--closed">
  <div class="show-more__items js-toggle-target" style="display:none;">
    <%= render partial: 'rating_score_item', collection: items, as: :score_data %>
  </div>
  <div class="show-more__button js-toggle-button">
    Show more
  </div>
</div>
