<style>
  .tabs-panel {
    display: none;
    margin-top: 1em;
  }

  .tabs-panel_selected {
    display: block;
  }

  .tab + .tab {
    margin-left: .5em;
  }

  .tab_selected {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
</style>

<% equity_config = [
    [
        {
            tab_name: 'Test Scores', content: [
                {
                    tab_name: 'Math', content:{component: 'EquityBarGraph',
                     data: { test_scores: equity.test_scores_by_ethnicity, enrollment: equity.enrollment}}
                },
                {
                    tab_name: 'English', content:{component: 'hello1B', data: '1b'}
                }
            ]
        },
        {
            tab_name: 'Graduation Rates', content: [
                {
                    tab_name: 'Math', content:{component: 'hello2A', data: '2a'}
                },
                {
                    tab_name: 'English', content:{component: 'hello2b', data: '2b'}
                }
            ]
        },
    ],
      [
          {
              tab_name: 'Test Scores', content: [
                  {
                      tab_name: 'Math', content:{component: 'EquityBarGraph',
                       data: { test_scores: equity.test_scores_by_ethnicity, enrollment: equity.enrollment}}
                  },
                  {
                      tab_name: 'English', content:{component: 'hello3B', data: '3b'}
                  }
              ]
          },
          {
              tab_name: 'Graduation Rates', content: [
                  {
                      tab_name: 'Math', content:{component: 'hello4A', data: '4a'}
                  },
                  {
                      tab_name: 'English', content:{component: 'hello4B', data: '4b'}
                  }
              ]
          },
      ]
  ] %>


<div style="font-size: large; padding:50px">EQUITY</div>
<%= react_component('Equity', equity: equity_config, test_scores:  equity.test_scores_by_ethnicity,  enrollment:
    equity.enrollment) %>
<div>
  <% if equity.test_scores_by_ethnicity.present? %>
    <div class="rs-equity">
    <!--react_component('EquityBarGraph', test_scores: equity.test_scores_by_ethnicity, enrollment: equity.enrollment) %>-->
      <%= react_component('EquityTestScores',
                          test_scores: equity.test_scores_by_ethnicity,
                          graduation_rate_data: equity.graduation_rate_data,
                          enrollment: equity.enrollment,
                          subject: 'English Language Arts') %>
    </div>
  <% end %>
</div>
