<% title = t('.title') %>
<style>
  .tabs-panel {
    display: none;
    margin-top: 1em;
  }

  .tabs-panel_selected {
    display: block;
  }

  .tab + .tab {
    margin-left: .5em;
  }

  .tab_selected {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .equity_section{
    background-color: #f6f9fa;
    padding: 10px;
    margin-bottom: 30px;
  }
  .title-bar{

  }
</style>
<a name="Equity"></a>
<div class="student-diversity-container">
  <div class="row">
    <div class="col-xs-12 col-lg-3">
      <div class="rating-container__title">
        <%= title %>
      </div>
    </div>
    <div class="col-xs-12 col-lg-9">
      <%= react_component('Equity', test_scores:  equity.test_scores_by_ethnicity,  enrollment:
          equity.enrollment) %>
    </div>
  </div>
</div>