<% filled # number that are filled %>
<% content = capture do %>
  <span class="five-stars">
    <% filled.times do %>
      <span class="icon-star filled-star"></span>
    <% end %>
    <% (5-filled).times do %>
      <span class="icon-star empty-star"></span>
    <% end %>
  </span>
<% end %>

<% # make sure no whitespace between closing/start span tags %>
<%= content.gsub(/\>\s+\</, '><').html_safe %>
