<% number_of_reviews %>
<% number_of_ratings %>
<% rating %>

<div class="five-star-rating">
  <span class="five-star-rating__number">
    <%= number_of_reviews > 0 ? number_of_reviews : 'n/a' %>
  </span>
  <% if number_of_reviews > 0 %>
    <span class="rs-five-star-rating five-star-rating__stars">
      <%= render 'five_stars', filled: rating %>
    </span>
  <% end %>
</div>
