<% last_updated = @school_profile.summary_rating.last_updated %>

<p><%= t('.Content') %></p>

<p><a href="<%= ratings_link %>"><%= t('.Learn more') %></a></p>

<% if last_updated %>
  <div class="last-updated gray pad-row"><%= t('.Last updated') + ':  ' + last_updated %></div>
<% end %>