<% content %>
<% element_type %>

<a data-remodal-target="modal_info_box"
   data-content-type="info_box"
   data-ga-click-element-type="<%= element_type %>"
   data-content-html="<%= content %>"
   class="gs-tipso info-circle"
   href="javascript:void(0)"><span class="icon-question"></span>
</a>
