<% cta %>
<% content %>

<div class="info-text-and-circle">
  <a data-remodal-target="modal_info_box" data-content-type="info_box"
     data-content-html="<%= content %>" class="speech-bubble gs-tipso" href="javascript:void(0)">
    <%= cta %>
    <span class="info-circle icon-question"></span>
  </a>
</div>
