<% content %>
<% truncation_count %>
<% if content.length > truncation_count %>
  <span data-remodal-target="modal_info_box"
        data-content-type="info_box"
        data-content-html="<%= content %>"
        class="gs-tipso"
        href="javascript:void(0)">
        <%= truncate(content, length: truncation_count) %>
  </span>
<% else %>
  <span><%= content %></span>
<% end %>
