<div class="rr-xq-school-board">
  <div class="content">
    <div class="icon">
      <%= image_tag (asset_path('icons/nearby schools_30x30.png')) %>
    </div>
    <div class="text">
      <a href="#NearbySchools"
         class="js-gaClick"
         data-ga-click-category='Profile'
         data-ga-click-action='Compare CTA Clicked'
         data-ga-click-label='Desktop mini module' ><%= t("school_profiles.We found 3 nearest high-performing schools_html") %></a>
    </div>
  </div>
  <hr/>
  <%= render 'nearby_homes_right_rails' %>
</div>