<% message = t('.message') %>
<% call_to_action = t('.call_to_action') %>
<div class="ptm">
  <span class="no-data"><%= message %> </span><a href="javascript:void(0)" class="js-send-me-updates-button-footer"><%= call_to_action %></a>
</div>