<% title %>
<div class="ptm">
  <%# no_data_summary is customized for each module (see no_data_html in the module's yml file) %>
  <span class="no-data"><%= no_data_summary %> </span><span class="no-data"><%=t('.message')%></span><a href="javascript:void(0)" class="js-followThisSchool js-gaClick"
                                                 data-ga-click-category='Profile'
                                                 data-ga-click-action='Notify from empty data module'
                                                 data-ga-click-label='<%= title %>'><%= t('.call_to_action') %></a>
</div>

