<% osp_link %>
<% osp_school_info %>
<% mailto_start = '' %>
<% mailto_end = '' %>
<% if osp_school_info.mailto %>
  <% mailto_start = "<a href='#{osp_school_info.mailto}'>" %>
  <% mailto_end = '</a>' %>
<% end %>

<div>
  <%= react_component('OspSchoolInfo', props: {
    config: osp_school_info.tab_config,
    osp_link: osp_link,
    sources: osp_school_info.sources,
    qualaroo_module_link: osp_school_info.qualaroo_module_link,
    is_claimed: osp_school_info.claimed?,
    mailto_start: mailto_start.html_safe,
    mailto_end: mailto_end.html_safe,
    has_osp_classes: osp_school_info.has_osp_classes?
  }) %>
</div>
