<% score %>
<% state_score %>
<% score_rating %>

<%# <div class="arrow-down" style="left:<%= state_score %1>%"></div> %>

<div class="person-bar">
  <div class="filled rating_<%= score_rating %>" style="width:<%= score %>%">
    <div class="background"></div>
  </div>
</div>
