<% score %>
<% score_rating %>
<% max_value = 100 %>
<% score_percentage = 100.0 * (score.to_f / max_value) %> 

<% if (1..100).cover?(score_percentage) && (1..10).cover?(score_rating) %>
  <div class="person-bar">
    <div class="filled rating_<%= score_rating %>"
      style="width:<%= score_percentage %>%">
      <div class="background"></div>
    </div>
  </div>
<% end %>
