<% score %>
<% state_score %>
<% score_rating %>

<%# <div class="arrow-down" style="left:<%= state_score %1>%"></div> %>

<div class="person-bar">
  <div class="filled rating_<%= score_rating %>" style="width:<%= score %>%">
    <div class="background"></div>
  </div>
</div>

<style type="text/css">
  .person-bar {
    width: 250px;
    height: 38px;
    background-color: #dbe6eb;
  }
  .person-bar .filled {
    height: 100%;
  }
  .person-bar .background {
    width: 250px;
    height: 38px;
    background-repeat: repeat-x;
    background-image: url(/assets/transparent_person.png);
  }
</style>
