<% score_data %>

<div class="rating-container__score-item">
  <div class="rating-score-item">
    <div class="row">
      <div class="col-xs-6 rating-score-item__label">
        <%= score_data.label %>
      </div>
      <div class="col-xs-6">
        <div class="rating-score-item__score">
          <%= score_data.formatted_score %>
        </div>
        <div class="rating-score-item__state-average">
          State Avg: <%= score_data.formatted_state_average %>
        </div>
      </div>
    </div>
    <div class="rating-score-item__bar">
      <div class="row">
        <div class="col-xs-12 col-lg-6 offset-lg-6">
          <%= render 'test_score_graph', score: score_data.score, state_score: score_data.state_average, score_rating: (score_data.score / 10).round %>
        </div>
      </div>
    </div>
  </div>
</div>
