<% score_data %>

<div class="rating-container__score-item">
  <div class="rating-score-item">
    <div class="row">
      <div class="col-xs-6 rating-score-item__label">
        <%= score_data.label %>
      </div>
      <div class="col-xs-6 rating-score-item__right-column">
        <span class="rating-score-item__score">
          <%= score_data.formatted_score %>
        </span>
        <span class="rating-score-item__state-average">
          State Avg: <%= score_data.formatted_state_average %>
        </span>
      </div>
    </div>
  </div>
</div>
