<%= render 'tour_modal' %>

<div id="profile-sticky-container" class="js-profile-sticky-mobile blue-background desktop_dn">
  <div class="cta non-fixed-top cta-container ">
    <%= render 'cta_buttons' %>
  </div>
</div>