<div id="profile-sticky-container" class="js-profile-sticky">
  <div id="cta" class="non-fixed-top cta-container">
    <div class="cta-button">
      <div class="icon-pencil"></div>
      <div>Review</div>
    </div>
    <div class="cta-button">
      <div class="icon-heart"></div>
      <div>Save</div>
    </div>
    <div class="cta-button">
      <div class="icon-copy"></div>
      <div>Compare</div>
    </div>
  </div>
  <div class="clearfloat mbl"></div>
  <%= render 'shared/ad', slot: 'Profiles_First', size_mapping: 'box_or_tall',
             width: 300, height: 250, css_class: 'hidden-xs hidden-sm' %>
</div>