<div class="sharing-modal">
  <div class="sharing-row">
    <div class="sharing-icon-box">
      <span class="icon-mail"></span>
    </div>
    <span class="sharing-row-text">Email</span>
  </div>
  <div class="sharing-row">
    <div class="sharing-icon-box">
      <span class="icon-facebook"></span>
    </div>
    <span class="sharing-row-text">Facebook</span>
  </div>
  <div class="sharing-row">
    <div class="sharing-icon-box">
      <span class="icon-twitter"></span>
    </div>
    <span class="sharing-row-text">Twitter</span>
  </div>
  <div class="sharing-row">
    <div class="sharing-icon-box">
      <span class="icon-link"></span>
    </div>
    <span class="sharing-row-text">Permalink</span>
    <div>
      <input class="permalink" type="text" value="link goes here" />
    </div>
  </div>
  <div class="sharing-row">
    <div class="sharing-icon-box">
      <span class="icon-share"></span>
    </div>
    <span class="sharing-row-text">SMS</span>
  </div>
</div>