<% content %>
<div class="sources-link">
  <a data-remodal-target="modal_info_box"
     data-content-type="info_box"
     data-content-html="<%= content %>"
     href="javascript:void(0)">
    <span class="source-link"><%= t('lib.test_scores.sources') %></span>
  </a>
</div>
