<div id="profile-sticky-container" class="js-sticky-right-rail">
  <%= render 'shared/ad', slot: 'Profiles_First', size_mapping: 'box_or_tall',
             width: 300, height: 250, css_class: 'hidden-xs hidden-sm' %>
</div>