<% private_school_flag %>

<div id="profile-sticky-container" class="js-sticky-right-rail">
  <% if private_school_flag %>
    <%= render 'nearest_three_high_performing_link' %>
  <% else %>
    <%= render 'xq_school_board_finder', address: address %>
  <% end %>

  <div class="rr-add-spacer-between-ads">
    <%= render 'shared/new_ad', slotId: 'greatschools_Profiles_First', css_class: 'hidden-xs hidden-sm' %>
  </div>
  <%= render 'shared/new_ad', slotId: 'greatschools_Profiles_SecondSticky', css_class: 'hidden-xs hidden-sm' %>
</div>