<div id="profile-sticky-container" class="js-sticky-right-rail">
  <%= render 'xq_school_board_finder' %>

  <div class="rr-add-spacer-between-ads">
    <%= render 'shared/ad', slot: 'Profiles_First', size_mapping: 'box_or_tall',
             width: 300, height: 250, css_class: 'hidden-xs hidden-sm' %>
  </div>
  <%= render 'shared/ad', slot: 'Profiles_SecondSticky', size_mapping: 'box_desktop_not_tall',
             width: 300, height: 250, css_class: 'hidden-xs hidden-sm' %>
</div>