<% teachers_staff %>
<% data_values = teachers_staff.data_values %>
<% initial_size = 3 %>
<% title = t('.title') %>

<% content_for(:header, flush: true) do %>
  <%= render "module_header",
    icon: 'user',
    title: title,
    subtitle: t('.subtitle_html'),
    has_data: data_values.present?
  %>
<% end %>

<%= render layout: 'basic_data_module_layout', locals: {
  has_data: data_values.present?,
  name: 'Teachers staff',
  css_class: 'teachers-staff',
  ga_click_label: 'Teachers and staff',
  sources_link: teachers_staff.sources,
  qualaroo_link: teachers_staff.qualaroo_module_link
} do %>
  <%= render partial: 'rating_score_item', collection: data_values.take(initial_size), as: :score_data %>
  <% if data_values.size > initial_size %>
    <div class="rating-container__more-items">
      <%= render layout:'drawer', locals: { :ga_category => 'Profile', :ga_label => 'Teachers Staff', suffix: title }  do %>
        <% render partial: 'rating_score_item', collection: data_values[initial_size..-1], as: :score_data %>
      <% end %>
    </div>
  <% end %>
<% end %>
