<div class="test-score-column-header">
  <div class="row bar-graph-display">
    <div class="test-score-container clearfix" style="padding-top: 0px;">
      <div class="col-sm-5 header-text"><%= t('lib.test_scores.Subject') %></div>
      <div class="col-sm-1"></div>
      <div class="col-sm-6 header-text"><%= t('lib.test_scores.percent_proficient') %></div>
    </div>
  </div>
</div>