<% score %>
<% state_score %>
<% score_rating %>
<% grey_score = 100 - score.to_i %>

<% #height maybe future  %>

<div class="bar-graph ">
  <div class="color-row rating_<%= score_rating %>" style="width:<%= score %>%"></div>
  <div class="grey-row" style="width:<%= grey_score %>%"></div>
  <div class="arrow-down" style="left:<%= state_score %>%"></div>
</div>
