<!-- need to pass in a rating and title -->
<% rating %>
<% title %>
<% anchor %>

<!-- this is to support the no NR currently -->
<% if rating == 'NR' || rating == 'nr' %>
  <% rating = '' %>
<% end %>

<div class="clearfix toc-entry">
  <a href="#<%= anchor %>"
     class="js-gaClick"
     data-ga-click-category='Profile'
     data-ga-click-action='TOC Clicked'
     data-ga-click-label='<%= title %>'>
    <span><%= title %></span>
    <span class="icon-chevron-right"></span>
    <span class="gs-rating circle-rating--10 circle-rating--xtra-small">
      <%= rating %><span class="denominator">/10</span>
    </span>
  </a>
</div>