<% icon %>
<% title %>
<% anchor %>
<% flagged %>

<div class="clearfix toc-entry">
  <a href="#<%= anchor %>"
     class="js-gaClick"
     data-ga-click-category='Profile'
     data-ga-click-action='TOC Clicked'
     data-ga-click-label='<%= title %>'>
    <span><%= title %></span>
    <span class="icon-chevron-right"></span>
  </a>
  <% if flagged %>
    <a data-remodal-target="modal_info_box"
       data-content-type="info_box"
       data-content-html="<%= t('school_profiles.toc.info_texts.discipline_flag') %>"
       class="gs-tipso discipline_flag"
       data-ga-click-label="TOC - discipline/attendance flag"
       href="javascript:void(0)">
      <span class="icon-flag"></span>
    </a>
  <% end %>
</div>
