<!-- need to pass in a rating and title -->
<% rating %>
<% title %>

<!-- this is to support the no NR currently -->
<% if rating == 'NR' || rating == 'nr' %>
  <% rating = '' %>
<% end %>

<!-- this needs to be done as a helper function -->
<% title_link = title.gsub(" ", "_") %>

<div class="clearfix toc-entry">
  <a href="#<%= title_link %>">
    <span class="dib"><%= title %></span> <!--was gs-link-text-->
    <span class="gs-rating dib rating_<%= rating %>"><%= rating %></span>
  </a>
</div>
