<!-- need to pass in a rating and title -->
<% icon %>
<% title %>



<!-- this needs to be done as a helper function -->
<% title_link = title.gsub(" ", "_") %>

<div class="clearfix toc-entry">
  <span class="gs-link">
    <a href="#<%= title_link %>">
      <span class="gs-badge"><span class="icon-<%= icon %>"></span></span><%= title %>
    </a>
  </span>
</div>
