<!--
there is a partial for ratings called toc-entry-rating - need to figure out NR color.
going to build a partial for badges.  it will use the name passed in to generate font accessor
-->
<% content = @school_profile.toc.content %>

<div id="toc">
  <div class="toc-container-box">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <% content.each do |section| %>
            <% section.each do |column,data| %>
              <div class="col-xs-12 col-sm-4"> <!-- last one (for environment) was also hidden-sm-down -->
                <div class="toc-section-title">
                  <%= column.upcase %>
                </div>
                <% data.each do |hash| %>
                  <% unless hash[:rating].nil? %>
                    <%= render 'toc_entry_rating', rating: hash[:rating], title: hash[:label], anchor: hash[:anchor] %>
                  <% else %>
                    <%= render 'toc_entry_badge', icon: nil, title: hash[:label], anchor: hash[:anchor] %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>