<!-- need to pass in a rating and title -->
<% icon %>
<% title %>



<!-- this needs to be done as a helper function -->
<% title_link = title.gsub(" ", "_") %>

<div class="clearfix toc-entry">
  <div class="gs-badge"><span class="icon-<%= icon %>"></span></div>
  <div class="gs-link"><a href="#<%= title_link %>"><%= title %></a></div>
</div>