<% icon %>
<% title %>
<% anchor %>

<!-- this needs to be done as a helper function -->
<% title_link = title.gsub(" ", "_") %>

<div class="clearfix toc-entry">
  <a href="#<%= anchor %>"
     data-ga-click-category='Profile'
     data-ga-click-action='ToC Clicked'
     data-ga-click-label='<%= title %>'>
    <span><%= title %></span>
  </a>
</div>
