<% tooltips_info = {} %>
<% tooltips_info['ACADEMICS'] = '.info_texts.academics_html'  %>
<% tooltips_info['EQUITY'] = '.info_texts.equity_html'  %>
<% tooltips_info['ENVIRONMENT'] = '.info_texts.environment_html'  %>

<div id="toc_private">
  <div class="toc-private-header">
    This is a private school. The info seen on this page is provided by the school (user generated content).
  </div>
  <div class="toc-private-container-box">
    <div class="row">
      <% I18n.t('toc', scope:'school_profiles.show_profile').each do |column_data| %>
        <div class="col-xs-12 col-sm-4">
          <div class="toc-private-section">
            <div class="toc-private-section-title">
              <a><%= column_data[:title].upcase %></a>
            </div>
            <div>
              <%= column_data[:description] %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
