<% unless has_declined_school_profile_tour? %>
    <%= render 'tour_modal' %>
<% end %>
<div
class='<%= has_declined_school_profile_tour? ? 'tour-teaser gs-tipso' : 'tour-teaser'%>'
data-remodal-target="modal_info_box"
data-content-type="info_box"
data-content-html='<div><div><h3>Welcome!</h3>You&apos;re seeing our new, improved GreatSchools School Profile.</div><br/><button class="start-tour js-start-tour active">Start tour</button></div>' >
  <%= image_tag('school_profiles/owl.png') %>
  <button class="active">?</button>
</div>

