<div class="school-profile-tour-modal">
  <div>
    <div>
      <h3>Welcome!</h3>
      You&apos;re seeing our new, improved GreatSchools School Profile.
    </div>
    <br/>
    <button class="start-tour js-start-tour active">
      Start tour
    </button>
    <div>
      <a id="close-school-tour">
        Not right now
      </a>
    </div>
  </div>
  <div class="tour-modal-arrow"></div>
</div>