<% sources = t("school_profiles.xq.sources") %>

<div class="module-header xq_school_board_module_mobile">
  <div class="row">
    <div class="col-xs-12">
      <div class="circle-rating--equity-blue">
        <span class="icon-high-performing-schools"></span>
      </div>
      <div class="title-container">
        <div>
          <h3 class="title">
            <%= t("school_profiles.xq.school_board_finder") %>
          </h3>
        </div>
        <span><%= t("school_profiles.xq.learn_more_school_board_html") %></span>
      </div>
    </div>
  </div>
</div>

<div class="module-footer">
  <%= render 'sources_link_to_modal', content: sources %>
</div>
