<div class="js-featured un dn" style="">
  <div class="tc" style="text-align:left; width:1200px">
    <ul class="featured menu hidden-xs" style="">
      <li class="title"><span>FEATURED</span></li>
      <li><a href="/gk/category/character/">Building character</a></li>
      <li><a href="/gk/road-to-college/">Road to college</a></li>
      <li><a href="/gk/cue-cards/">Parenting Cue Cards</a></li>
      <li class="hidden-sm"><a href="/gk/emotional-smarts/">Emotional smarts</a></li>
      <li class="hidden-sm"><a href="/gk/worksheets/">Worksheets</a></li>
    </ul>
  </div>
</div>