<form name="schoolResultsSearchForm" class="js-nav-school-search-from js-schoolResultsSearchForm search_bar_tc" style="width: 100%; margin-bottom:0;" action="/search/search.page" method="get">
  <div style="width: 100%; display: table">
    <div class="search_bar_size js-nav-search-bar">
                  <span class="js-nav-school-search-input">
                    <input type="text"
                           name="q"
                           value=""
                           data-prev-search=""
                           class='js-nav-school-search-input typeahead-nav full-width pam search_form_field'
                           style="width:100%; border-top-right-radius: 0px; border-bottom-right-radius: 0px;"
                           placeholder="City, zip, address or school">
                  </span>
    </div>
    <div class="search_bar_button">
      <button type='submit' class="search_form_button">
        <span class="search_icon_image_white"></span></button>
    </div>
  </div>
</form>