<form name="contentResultsSearchForm" class="js-nav-content-search-form dn" style="width: 100%; margin-bottom:0;" action="/gk/" method="get">
  <div style="width: 100%; display: table">
    <div class="search_bar_size js-nav-search-bar">
                  <span>
                    <input type="text"
                           name="s"
                           value=""
                           data-prev-search=""
                           class='js-nav-content-search-input full-width pam search_form_field'
                           style="width:100%; border-top-right-radius: 0px; border-bottom-right-radius: 0px;"
                           placeholder="Articles, worksheets and more">
                  </span>
    </div>
    <div class="search_bar_button">
      <button type='submit' class="search_form_button pull-right btn btn-lg btn-primary" style="height: 46px; border-top-left-radius: 0px; border-bottom-left-radius: 0px;">
        <span class="search_icon_image_white"></span></button>
    </div>
  </div>
</form>