<div id="js-assigned-school-no-result" class="pam dn">
    <div class="row search-result-border prm bg-white" style="border-color: red;">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-12 clearfix">
                    <div class="fl hidden-xs hidden-sm" style="width:130px;">
                        <div class="ptm plm font-size-small">ASSIGNED SCHOOL</div>
                    </div>
                    <div class="mll fl" style="border-bottom: 1px solid gray;">
                        <div class="ptm">
                            <div class="font-size-small">We think this might be your assigned school</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 clearfix">
                    <div class="tac font-size-large pam">
                        We could not locate an assigned school for your address, contact your local school district for more details.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>