<div id="js-assigned-school-not-valid" class="pam dn">
    <div class="visible-xs visible-sm pvs plm font-size-small inverted-text bg-emphasis uc brs"
         style="width: 140px; border-bottom-right-radius: 0;">Assigned school</div>
    <div class="row search-result-border emphasis-border prm bg-white">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-12 clearfix">
                    <div class="fl hidden-xs hidden-sm" style="width:140px;">
                        <div class="pvs plm font-size-small inverted-text bg-emphasis uc">Assigned school</div>
                    </div>
                </div>
                <div class="col-12 clearfix">
                    <div class="tac pam font-size-large emphasis-color">
                        To see which school is your neighborhood or assigned school, search using your home address
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>