<div id="js-assigned-school-no-result" class="pam dn">
    <div class="visible-xs visible-sm pvs plm font-size-small inverted-text bg-neutral uc brs"
         style="width: 140px; border-bottom-right-radius: 0;">Assigned school</div>
    <div class="row search-result-border emphasis-border prm bg-white">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-12 clearfix">
                    <div class="fl hidden-xs hidden-sm" style="width:140px;">
                        <div class="pvs plm font-size-small inverted-text bg-neutral uc">Assigned school</div>
                    </div>
                    <div class="mll fl pvm">
                        <div class="font-size-large neutral-color">
                            We could not locate an assigned school for your address, contact your local school district for more details.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>