<div id="js-assigned-school-no-result" class="pam dn">
    <div class="row search-result-border emphasis-border prm bg-white">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-12 clearfix">
                    <div class="fl hidden-xs hidden-sm" style="width:140px;">
                        <div class="pvs plm font-size-small inverted-text bg-emphasis uc">Assigned school</div>
                    </div>
                    <div class="mll fl ptm">
                        <div class="font-size-small gray-darker hbs">It looks like this is your assigned school,
                            but we recommend double-checking with the district or school<span class="brand-primary">*</span></div>
                    </div>
                </div>
                <div class="col-12 clearfix">
                    <div class="tac pam font-size-large emphasis-color">
                        We could not locate an assigned school for your address, contact your local school district for more details.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>