<div id="js-assigned-school-no-result" class="dn">
  <div class="visible-xs visible-sm pvs plm font-size-small inverted-text bg-neutral uc brs"
       style="width: 140px; border-bottom-right-radius: 0;"><%= t('.label') %></div>
  <div class="search-result-border emphasis-border prm bg-white">
    <div class="clearfix">
      <div class="fl hidden-xs hidden-sm" style="width:140px;">
        <div class="pvs plm font-size-small inverted-text bg-neutral uc"><%= t('.label') %></div>
      </div>
      <div class="mll fl pvm">
        <div class="font-size-large neutral-color">
          <%= t('.could_not_locate_assigned_school') %>
        </div>
      </div>
    </div>
  </div>
</div>
