<% state_labels = States.labels_hash.to_a %>
<% state_labels = [['', t('.nationwide')]] + state_labels if @by_name && !@state %>
<% selected_name = States.labels_hash[choose_state] || t('.nationwide') %>
<% selected_abbreviation = choose_state.to_s %>
<div class="hidden-xs hidden-sm">
  <%=
    select_tag 'change-location-desktop',
      options_for_select(
        state_labels.map do | abbreviation, name |
          [
            name,
            class: 'js-changeSearchState',
            data: {
              abbreviation: abbreviation.upcase,
            }
          ]
        end,
        selected_name
    ),
    class: 'selectpicker',
    data: { width: '100%' }
  %>
</div>
<div class="visible-xs visible-sm">
  <%=
    select_tag 'change-location-mobile',
      options_for_select(
        state_labels.map do | abbreviation, name |
          title = abbreviation.present? ? abbreviation.upcase : t('.us')
          selected_abbreviation = title if selected_abbreviation.downcase == abbreviation.downcase
          [
            title,
            class: 'js-changeSearchState',
            data: {
              abbreviation: abbreviation.upcase,
            }
          ]
        end,
        selected_abbreviation
    ),
    class: 'selectpicker',
    data: { width: '100%' }
  %>
</div>
