<span class="open-sans_sb js-currentLocationText"><%= choose_state %></span>
<br>
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  Change location
  <span class="caret"></span>
</a>
<%= render 'shared/all_states_dropdown', extra_ul_classes: 'search-state-picker', extra_li_classes: 'js-changeSearchState' %>
