<% max_num_of_compare_schools  = 4 %>
<div class="panel pa dn mtm js-compareSchoolsPopup compare-schools-popup" data-max-num-of-compare-schools="<%= max_num_of_compare_schools %>">

  <% #School Partials %>
  <div class="row mam">
    <% max_num_of_compare_schools.times do  %>
      <%= render 'compare_schools_popup_school' %>
    <% end %>
  </div>

  <% #Submit button %>
  <div class="full-width">
    <div class="btn btn-primary db mha mbl mtm js-compareSchoolsSubmit" style="width: 150px">
      Compare Schools
    </div>
  </div>

</div>