<% if @schools.present? && @allow_compare %>
  <div class="compare-schools-popup hidden-xs js-compareSchoolsPopupContainer">
    <% #Compare Button For Desktop %>
    <a class="popup-link pointer js-compareSchoolsPopupButton" >
      <%= t('.compare_button') %>
      <span class="notranslate">
        (<span class="js-compareSchoolsCount">0</span>/4)
      </span>
    </a>

    <% max_num_of_compare_schools  = 4 %>
    <div class="panel panel-default dn js-compareSchoolsPopup" data-max-num-of-compare-schools="<%= max_num_of_compare_schools %>">

      <% #School Partials %>
      <% if max_num_of_compare_schools > 1 %>
          <div class="container-fluid">
        <% (max_num_of_compare_schools / 2.0).ceil.times do %>
          <div class="row ptm">
            <% 2.times do  %>
              <%= render 'compare_schools_popup_school' %>
            <% end %>
          </div>
        <% end %>
          </div>
      <% end %>

      <% #Submit button %>
      <div class="btn btn-primary db mha mbl mtm js-compareSchoolsSubmit" style="width: 150px">
        <%= t('.compare_schools') %>
      </div>

    </div>
  </div>
<% end %>
