  <div class="alert-dismissable alert alert-danger oh dn js-compareSchoolsErrorMessage" style="margin-bottom: 5px;">
    <div class="pull-left mts" style="width: 90%;">
      <div class="js-compareSchoolErrorText"></div>
    </div>
    <button class="close mtm" type="button" data-dismiss="alert" aria-hidden="true">×</button>
  </div>
