<div class="full-width dn js-compareSchoolsErrorMessage">
  <div class="alert-dismissable alert alert-danger oh" style="margin-bottom: 5px;">
    <div class="pull-left" style="width: 90%;">
      <strong>You may only compare 4 schools at a time</strong>
      <div><strong>Continue to compare</strong> the schools you have already selected or <strong>Edit schools</strong> to change your selection <a class="pointer js-compareSchoolsSubmit">Compare schools now</a>
      </div>
    </div>
    <button class="close mtm" type="button" data-dismiss="alert" aria-hidden="true">×</button>
  </div>
</div>