<div class="col-xs-6 js-compareSchoolsPopupSchool dn js-unselected" data-schoolId>
  <div class="mam" style="width: 140px; border-radius: 4px; border: 1.5px solid #d3d3d3;">

    <% #Remove School Button %>
    <div class="js-compareSchoolsPopupRemoveSchool iconx16 i-16-blue-x-circle pa" style="right: 10px; top: 3px"></div>

    <% #Header with Rating %>
    <div class='header-bg-color full-width pvm' style=" height: 45px;">
      <div class="iconx24-icons i-24-new-ratings-10 db mha js-compareSchoolsPopupSchoolRating" data-schoolRating></div>
    </div>

    <% #School Name %>
    <div class="pam js-compareSchoolsPopupSchoolName tac"></div>

  </div>
</div>