<% max_num_of_compare_schools  = 4 %>
<div class="panel pa dn mtm js-compareSchoolsPopup compare-schools-popup" data-max-num-of-compare-schools="<%= max_num_of_compare_schools %>">

  <% #School Partials %>
  <% if max_num_of_compare_schools > 1 %>
    <% (max_num_of_compare_schools / 2.0).ceil.times do %>
      <div class="row mam">
        <% 2.times do  %>
          <%= render 'compare_schools_popup_school' %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% #Submit button %>
  <div class="full-width">
    <div class="btn btn-primary db mha mbl mtm js-compareSchoolsSubmit" style="width: 150px">
      Compare Schools
    </div>
  </div>

</div>