<div class="hidden-xs desktop-list-map-toggle">
  <span class="js-search-list-view pointer">
    <span  class="iconx16 i-16-blue-list-view vam"></span>
    <%= t('.list_link') %>
  </span>
  |
  <span class="js-search-map-view pointer">
    <span  class="iconx16 i-16-grey-map-view vam"></span>
    <%= t('.map_link') %>
  </span>
</div>
