<div class="limit-width-1200 full-width row ptm plm prm">


  <div class="col-xs-3 ptm">
    <div class="dropdown drowpdown-large">
      <div data-toggle='dropdown' class="dropdown-toggle">Refine Search<span class="caret"></span></div>
      <ul class="dropdown-menu row-fluid" style="width:1000px;">
        <li class="pal">
          <div class="ptm">
            <span>School Types</span><br>
          </div>
          <div class="divider" style="height: 2px; background-color: darkgrey"></div>
          <div>
            <span><input type="checkbox"> Public district</span><br>
            <span><input type="checkbox"> Public charter</span><br>
            <span><input type="checkbox"> Private</span><br>
            <span><input type="checkbox"> Private (accepts vouchers)</span><br>
          </div>
          <div class="ptl">
            <span>Quality</span><br>
          </div>
          <div class="divider" style="height: 2px; background-color: darkgrey"></div>
          <div>
           <span>GS Rating</span><br>
           <span>Local Rating</span><br>
           <span>Growth Rating</span><br>
           <span>Test Score Rating</span><br>
           <span>College Readiness Rating</span><br>
          </div>
        </li>
      </ul>
    </div><br>
  </div>





  <div class="col-xs-2 ptm">??Guide Me??</div>
  <div class="col-xs-7">
    <div class="fr">
      <%=image_tag 'nav/hamburger.png'%> list | <span class="iconx16 i-16-map-pin"></span>Map
    </div>
  </div>
</div>