<div class="limit-width-1200 pr ptm plm prm">
  <div class="pa pam" style="left:-5px">
    <div class="js-searchFiltersDropdown">Refine Search<span class="caret"></span>
    </div>
    <div class="dn zir-1 pam js-searchFiltersMenu">
      <div class="ptm panel panel-primary">
        <div class="clearfix">
          <form name="searchFiltersForm" id="js-searchFiltersForm" action method="get">

            <%lam = lambda do |filters| %>
                <% [*filters].each do |filter| %>
                    <%= render layout: "search/filters/#{filter.display_type.to_s}", locals: {filter: filter} do %>
                        <% lam.call(filter.filters) %>
                    <% end %>
                <% end %>
            <% end %>
            <% lam.call(@filters) %>

            <% if @params_hash['state'].present?%><input type="hidden" name="state" value=<%=@params_hash['state']%>><%end%>
            <% if @params_hash['city'].present?%><input type="hidden" name="city" value=<%=@params_hash['city']%>><%end%>
          </form>
        </div>

        <div class="clearfix pal" style="">
          <label class="fl">
            <a class="js-advancedFilters">Advanced Filters</a>
          </label>
          <button class="btn btn-default fr" id="js-submitSearchFiltersForm" type='submit'>Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="limit-width-1200 full-width row pam">
  <div class="col-xs-3"></div>
  <div class="col-xs-2 vam">??Guide Me??</div>
  <div class="col-xs-7 clearfix">
    <div class="fr">
      <span class="js-search-list-view">
      <span  class="iconx16 i-16-grey-list-view vam"></span>
      List
      </span>
      |
      <span class="js-search-map-view">
      <span  class="iconx16 i-16-blue-map-view val"></span>
        Map
      </span>
    </div>
  </div>
</div>


