<form autocomplete="off" name="searchFiltersForm" class="js-searchFiltersForm" action method="get">

  <% cache(@filter_cache_key) do %>
    <% Rails.logger.debug("Generating filter partials for #{@filter_cache_key}") %>
    <%lam = lambda do |filters| %>
        <% [*filters].each do |filter| %>
            <%= render layout: "search/filters/#{filter.display_type.to_s}", locals: {filter: filter} do %>
                <% lam.call(filter.filters) %>
            <% end %>
        <% end %>
    <% end %>
    <% lam.call(@filters) %>
  <% end %>

  <% if @params_hash['state'].present?%><input type="hidden" name="state" value=<%=@params_hash['state']%>><%end%>
  <% if @params_hash['city'].present?%><input type="hidden" name="city" value=<%=@params_hash['city']%>><%end%>

</form>