<div class="pa js-searchFiltersMenuMobile search-filters-menu-mobile visible-xs">
  <div class="ptm panel panel-primary" style="width: 248px;">
    <div>
      <a class="prl pull-right js-searchFiltersCloseWindow">close</a>
    </div>
    <div class="clearfix js-searchFiltersFormParentMobile">
      <%= render 'search/filter_form' %>
    </div>
    <div class="clearfix pal">
      <label class="fl">
        <a class="js-advancedFilters">More Filters</a>
      </label>
      <button class="btn btn-default fr js-submitSearchFiltersFormMobile" type='submit'>Submit</button>
    </div>
  </div>
</div>
