<div class="limit-width-1200 full-width row ptm plm prm">
  <div class="col-xs-3 ptm">
    <div class="dropdown drowpdown-large">
      <div data-toggle='dropdown' class="dropdown-toggle">Refine Search<span class="caret"></span></div>


      <ul class="dropdown-menu row" id="searchResultsFilterMenu" style="width:256px;">
        <form name="searchResultsFilterForm" class="js-searchResultsFilterForm" action method="get">

          <%lam = lambda do |filters| %>
              <% [*filters].each do |filter| %>
                  <%= render layout: "search/filters/#{filter.display_type.to_s}", locals: {filter: filter} do %>
                      <% lam.call(filter.filters) %>
                  <% end %>
              <% end %>
          <% end %>
          <% lam.call(@filters) %>

          <% if @params_hash['state'].present?%><input type="hidden" name="state" value=<%=@params_hash['state']%>><%end%>
          <% if @params_hash['city'].present?%><input type="hidden" name="city" value=<%=@params_hash['city']%>><%end%>

          <div class="col-xs-12 ptl">
            <label>
              <a type="checkbox" id="advancedFilters" class="accordion-toggle pll ">Advanced Filters</a>
            </label>
            <button class="btn btn-default pull-right mrm mbm" type='submit'>Submit</button>
          </div>
        </form>
      </ul>
    </div><br>
  </div>
  <div class="col-xs-2 ptm">??Guide Me??</div>
  <div class="col-xs-7 clearfix">
    <div class="fr">
       <span class="js-search-list-view">
      <span  class="iconx16 i-16-grey-list-view vam"></span>
      List
      </span>
      |
      <span class="js-search-map-view">
      <span  class="iconx16 i-16-blue-map-view val"></span>
        Map
      </span>
    </div>
  </div>
</div>


