<div class="tac js-searchResultDropdown">
  <div>
    <% if decorated_school.has_fit? %>
        <span class="pointer vam js-icon <%= decorated_school.fit_score_icon %>"></span>
        <span class="pointer caret pa" style="top: 12px;"></span>
    <% else %>
        <div class="mtl"></div>
    <% end %>
  </div>
  <span class="pointer font-size-xs ptl"><%= decorated_school.fit_score_text %></span>
  <% unless decorated_school.has_fit? %><span class="pointer caret"></span><% end %>
</div>
<div class="panel pa dn js-fitScorePopup" style="z-index: 1; width: 200px;">
  <div class="pal">
    <% school.fit_score_breakdown.each do |fit_score_breakdown| %>
      <div class="font-size-xs">
        <div class="<%= fit_score_breakdown[:match] ? '' : 'gray-dark'%>">
          <% if fit_score_breakdown[:match] %>
            <span class="vam iconx16 mrs js-icon i-16-green-check"></span>
          <% else %>
            <span class="prm">X</span>
          <%end%>
          <%=@filter_display_map[fit_score_breakdown[:category].to_sym][fit_score_breakdown[:filter].to_sym]%>
        </div>
      </div>
    <% end %>
  </div>
</div>