<div class="limit-width-1200 full-width js-mapContainer">

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?client=gme-greatschoolsinc&amp;libraries=geometry&amp;sensor=false&amp;signature=qeUgzsyTsk0gcv93MnxnJ_0SGTw="></script>

  <div class="mtm mbm" id="js-map-canvas"></div>
</div>
