<div class="limit-width-1200 full-width">
  <% content_for :javascript_includes do %>
      <%= javascript_include_tag "google_maps/google_maps" %>
  <% end %>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?client=gme-greatschoolsinc&amp;libraries=geometry&amp;sensor=false&amp;signature=qeUgzsyTsk0gcv93MnxnJ_0SGTw="></script>

  <div id="js-map-canvas" style="height:400px;"></div>
</div>
