<div class="limit-width-1200 full-width js-mapContainer">
  <div class="hidden">
    <div class="js-mapPinRatingText">Rating</div>
    <div class="js-mapPinReviewText">review</div>
    <div class="js-mapPinReviewsText">reviews</div>
    <div class="js-mapPinRateThisSchoolText">Rate this school now!</div>
    <div class="js-mapPinHomesForSaleText">Homes for sale</div>
    <div class="js-mapPinSchoolTypePrivateText">Private</div> <!--May required to be dynamic based on school object-->
    <div class="js-mapPinSchoolTypePublicText">Public district</div>
    <div class="js-mapPinSchoolTypeCharterText">Public charter</div>
    <div class="js-mapPinElementarySchoolText">We think that this is your assigned elementary school</div>
    <div class="js-mapPinMiddleSchoolText">We think that this is your assigned middle school</div>
    <div class="js-mapPinHighSchoolText">We think that this is your assigned high school</div>
  </div>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?client=gme-greatschoolsinc&amp;libraries=geometry&amp;sensor=false&amp;signature=qeUgzsyTsk0gcv93MnxnJ_0SGTw="></script>
  <div class="mtl hidden-xs"></div>
  <div id="js-map-canvas"></div>
  <div class="mtl"></div>
</div>
