<div class="limit-width-1200 full-width">
  <div align='right' class="prl">
    <% unless @total_results < 1 || @results_offset > @total_results%>
      <span class="prm">Schools <%=@results_offset+1%> to <%= [@results_offset+@page_size,@total_results].min %> of <%= @total_results %></span><br>
    <% end %>
    <div>
      <%= paginate @pagination, theme: 'great_schools', window: @window_size, params: @params_hash %>
      <% #view file located in /views/kaminari/great_schools %>
    </div>
  </div>
</div>
