<div class="panel pa dn mtm save-search-popup js-savedSearchPopup">

  <% #Input Box %>
  <div class="full-width">
    <div class="pal mha form-group js-savedSearchFormGroup" style="width: 400px;">
      <p class="js-savedSearchErrorMessage help-block dn">Please name your search</p>
      <input class="form-control js-savedSearchText" type="text" maxlength='50' placeholder="Name Your Search">
    </div>

    <% #Submit button %>
    <div class="mha mbl db" style="width: 160px;">
      <div class="btn btn-primary js-savedSearchSubmitButton" style="width: 100px">
        Save
      </div>
      <label><a class="dib plm js-savedSearchClosePopup">close</a></label>
    </div>
  </div>

</div>