<a href="#" class="js-savedSearchPopupLink hidden-xs save-search">
  <span class="js-savedSearchPopupButtonText">
    <%= t('.save_search') %>
  </span>
</a>
<%= render 'search/saved_search_popup' %>
