<div class="panel pa dn mtm save-search-popup js-savedSearchPopup">

  <% #Input Box %>
  <div class="full-width">
    <div class="pal mha" style="width: 400px;">
      <input class="form-control js-savedSearchText" type="text" maxlength='50' placeholder="Name Your Search">
    </div>

    <% #Submit button %>
    <div class="btn btn-primary db mha mbl js-savedSearchSubmitButton" style="width: 100px">
      Save
    </div>
  </div>

</div>