<% if @relevant_sort_types.size > 1 %>
  <div class="sorting-toolbar js-sortingToolbar">
    <strong><%= t('.sort_by_label') %></strong>
    <%=
      select_tag 'search-page-sort',
        options_for_select(
          @relevant_sort_types.map do | sort_type |
            [
              t(".#{sort_type}"),
              class: 'js-searchChangeSort',
              data: {
                :'sort-type' => sort_type,
              }
          ]
          end,
          t(".#{@active_sort}")
      ),
      class: 'selectpicker'
    %>
  </div>
<% end %>
