<div class="limit-width-1200 full-width row ptl plm prm">

  <div class="col-xs-6">
    <div class="dropdown">
      <div data-toggle='dropdown' class="dropdown-toggle"><%= @total_results %> schools meet your criteria<span class="caret"></span></div>
      <ul class="dropdown-menu">
        <li class="pal">
          <div>Something</div>
          <div>Something Else</div>
          <div>Some Other Thing</div>
          <div>etc...</div>
        </li>
      </ul>
    </div><br>
    <div>
      <span>Sort by:</span>
      <span>
        <% if @query_string.present? %>
          <a href="javascript:void(0)" class="plm" onclick="GS.search.results.sortBy('rating', '<%=@query_string%>')">Quality</a>
          <% if search_by_location? %><a href="javascript:void(0)" class="plm" onclick="GS.search.results.sortBy('distance', '<%=@query_string%>')">Distance</a><%end%>
          <a href="javascript:void(0)" class="plm" onclick="GS.search.results.sortBy('fit', '<%=@query_string%>')">Fit</a>
        <% else %>
          <a>Quality</a><a>Distance</a><a>Fit</a>
        <% end %>
      </span>
    </div>
  </div>

  <div class="col-xs-6 hidden-xs">
    <div class="pull-right prl">
      <div class="row">
        <div class="col-sm-5"><button class="btn btn-default">Compare (2/4)</button></div>
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg ptm"></div>
        <div class="col-sm-2 hidden-xs"></div>
        <div class="col-sm-5"><button class="btn btn-primary">Save Search</button></div>
      </div>
    </div>
  </div>

</div>
