<div class="tab-pane" id="<%= @guided_search_tab[4]%>">
  <h3 class="tac mbl">Are any of the following classes or activities important to you?</h3>
  <div class="row mtl ma mbl">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 phl pbl">
      <button class="btn btn-default tal js-gs-checkbox font-size-medium"
              data-gs-checkbox="ap"
              type="button"
              style="width:100%;">
        <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>AP courses
      </button>
      <input type="hidden" name="class_offerings[]" value="" class="js-gs-checkbox-value">

    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 phl pbl">
      <button class="btn btn-default tal js-gs-checkbox font-size-medium"
              data-gs-checkbox="montessori&school_focus[]=waldorf"
              type="button"
              style="width:100%;">
        <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Sports
      </button>
      <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">

    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 phl pbl">
        <div class="js-gs-checkbox js-pull-down"
           data-pull-down-content=".js-arts" >
        <button class="btn btn-default tal mbm font-size-medium"
                type="button"
                style="width:100%;">
          <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Arts
        </button>
        </div>
      <div class="dn js-arts pal" style="border: thin solid #cccccc">
        <div class="">
          <button class="btn btn-default tal js-gs-checkbox mbm font-size-medium"
                  data-gs-checkbox="visual_media_arts"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>
            Visual/Media
          </button>
          <input type="hidden" name="class_offerings[]" value="" class="js-gs-checkbox-value">
        </div>
        <div class="">
          <button class="btn btn-default tal js-gs-checkbox mbm font-size-medium"
                  data-gs-checkbox="music"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>
            Music
          </button>
          <input type="hidden" name="class_offerings[]" value="" class="js-gs-checkbox-value">
        </div>
        <div class="">
          <button class="btn btn-default tal js-gs-checkbox mbm font-size-medium"
                  data-gs-checkbox="performance_arts"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>
            Performance
          </button>
          <input type="hidden" name="class_offerings[]" value="" class="js-gs-checkbox-value">
        </div>
        <div class="clearfix">
          <div class="fr ">
            <button class="btn btn-primary btn-sm js-pull-down" type="button"
                    data-pull-down-content=".js-arts">
              Done
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 phl pbl">
      <div class="js-gs-checkbox js-pull-down"
           data-pull-down-content=".js-world-language-study"
      >
        <button class="btn btn-default tal mbm font-size-medium"
                type="button"
                style="width:100%;">
          <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span> World language study
        </button>
      </div>
      <div class="dn js-world-language-study pal" style="border: thin solid #cccccc">
        <div class="">
          <button class="btn btn-default tal js-gs-checkbox mbm font-size-medium"
                  data-gs-checkbox="mandarin"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>
            Mandarin
          </button>
          <input type="hidden" name="class_offerings[]" value="" class="js-gs-checkbox-value">
        </div>
        <div class="">
          <button class="btn btn-default tal js-gs-checkbox mbm font-size-medium"
                  data-gs-checkbox="spanish"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>
            Spanish
          </button>
          <input type="hidden" name="class_offerings[]" value="" class="js-gs-checkbox-value">
        </div>
        <div class="">
          <button class="btn btn-default tal js-gs-checkbox mbm font-size-medium"
                  data-gs-checkbox="german"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>
            German
          </button>
          <input type="hidden" name="class_offerings[]" value="" class="js-gs-checkbox-value">
        </div>
        <div class="">
          <button class="btn btn-default tal js-gs-checkbox mbm font-size-medium"
                  data-gs-checkbox="french"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>
            French
          </button>
          <input type="hidden" name="class_offerings[]" value="" class="js-gs-checkbox-value">
        </div>
        <div class="clearfix">
          <div class="fr ">
            <button class="btn btn-primary btn-sm js-pull-down" type="button"
                    data-pull-down-content=".js-world-language-study">
            Done
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>





  <%=render 'shared/guided_search/button_navigation', previous_tab_name: @guided_search_tab[3],current_tab_name:@guided_search_tab[4]%>

</div>
