<div class="tab-pane" id="<%= @guided_search_tab[4]%>">
  <h4 class="tac brand-primary mbl">Step 5</h4>
  <%=render 'shared/guided_search/button_navigation', previous_tab_name: @guided_search_tab[3],current_tab_name:@guided_search_tab[4]%>

</div>
