<div class="tab-pane" id="<%= @guided_search_tab[3]%>">
  <h4 class="tac mbl">Are any of the following programs important for you?</h4>
  <div class="row mtl ma mbl">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">

      <button class="btn btn-default tal js-gs-checkbox"
              data-gs-checkbox="montessori&school_focus[]=waldorf"
              type="button"
              style="width:100%;">
        <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Montessori/Waldorf
      </button>
      <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">
      <button class="btn btn-default tal js-gs-checkbox"
              data-gs-checkbox="science_tech"
              type="button"
              style="width:100%;">
        <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Science/Technology STEM
      </button>
      <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">
      <button class="btn btn-default tal js-gs-checkbox"
              data-gs-checkbox="college_focus"
              type="button"
              style="width:100%;">
        <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>College focus
      </button>
      <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">
      <button class="btn btn-default tal js-gs-checkbox"
              data-gs-checkbox="is"
              type="button"
              style="width:100%;">
        <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Independent study
      </button>
      <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">
      <button class="btn btn-default tal js-gs-checkbox"
              data-gs-checkbox="online"
              type="button"
              style="width:100%;">
        <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Online learning
      </button>
      <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">
      <button class="btn btn-default tal js-gs-checkbox"
              data-gs-checkbox="career_tech"
              type="button"
              style="width:100%;">
        <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Carreer and tech
      </button>
      <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">

      <div class="js-gs-checkbox js-pull-down"
           data-pull-down-content=".js-world-language"
      >
        <button class="btn btn-default tal js-gs-popover-button mbm"
                type="button"
                style="width:100%;">
          <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span> World language immersion
        </button>
      </div>
      <div class="dn js-world-language pal" style="border: thin solid #cccccc">

          <button class="btn btn-default tal js-gs-checkbox mbm"
                  data-gs-checkbox="mandarin"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>
            Mandarin
          </button>
          <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">


          <button class="btn btn-default tal js-gs-checkbox mbm"
                  data-gs-checkbox="spanish"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>
            Spanish
          </button>
          <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">


          <button class="btn btn-default tal js-gs-checkbox mbm"
                  data-gs-checkbox="german"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>
            German
          </button>
          <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">


          <button class="btn btn-default tal js-gs-checkbox mbm"
                  data-gs-checkbox="french"
                  type="button"
                  style="width:100%;">
            <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>
            French
          </button>
          <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">

        <div class="clearfix">

          <div class="fr">
            <button class="btn btn-primary btn-sm js-gs-popover-button-close"
                    type="button"
                    data-pull-down-content=".js-world-language"
            >
              Done</button>
          </div>
          <!--<div class="fr">-->
            <!--<button class="btn btn-primary btn-sm " type="button">Done</button>-->
          <!--</div>-->
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">
      <button class="btn btn-default tal js-gs-checkbox"
              data-gs-checkbox="project"
              type="button"
              style="width:100%;">
        <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Project-based learning
      </button>
      <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 phl pbl">
      <button class="btn btn-default tal js-gs-checkbox"
              data-gs-checkbox="arts"
              type="button"
              style="width:100%;">
        <span class="vam iconx24-icons i-24-checkmark-off mrm js-icon"></span>Arts
      </button>
      <input type="hidden" name="school_focus[]" value="" class="js-gs-checkbox-value">

    </div>
  </div>
  <%=render 'shared/guided_search/button_navigation', next_tab_name: @guided_search_tab[4], previous_tab_name: @guided_search_tab[2]%>

</div>
