<%
principal_question = question.try(:principal_question)
question = question.question
%>

<div class="bg-yellow open-sans_sb pvl phl">
  <%= @school_member.try(:principal?) ? principal_question || question : question %>
</div>