<% #The container tag%>
<% #available local variables%>
<% #  current_page:  a page object for the currently displayed page%>
<% #  total_pages:   total number of pages%>
<% #  per_page:      number of items to fetch per page%>
<% #  remote:        data-remote %>
<% #  paginator:     the paginator that renders the pagination tags inside %>
<%= paginator.render do %>
  <nav>
    <%= prev_page_tag %>
    <div class="col-xs-1 pvl"></div>
    <div class="col-xs-2 pvl tac">
      <div class="btn font-size-large"><%= current_page.number %></div>
    </div>
    <div class="col-xs-1 pvl"></div>
    <%= next_page_tag  %>
  </nav>
  <br class="clearfloat"/>
<% end %>
