@mixin button-group(
  $height: $form-field-medium-height,
  $active-background-color: $midnight-blue,
  $active-color: #fff
) {
  display: inline-table; // inline-block also works but requires no space characters between adjacent buttons
  width: inherit;
  white-space: nowrap;

  > a {
    text-decoration: none;
    display: inline-block;
    line-height: $height;
  }

  > a:hover:not(.disabled) {
    @media (hover: hover) {
      background-color: $active-background-color;
      border-top: 1px solid $active-background-color;
      border-bottom: 1px solid $active-background-color;
      color: $active-color;
      background-image: none;
    }
  }

  > a:first-child,
  button:first-child {
    border-top-left-radius: $form-field-border-radius;
    border-bottom-left-radius: $form-field-border-radius;
    border-left: 1px solid $form-field-border-color;
  }
  > a:last-child,
  button:last-child {
    border-top-right-radius: $form-field-border-radius;
    border-bottom-right-radius: $form-field-border-radius;
    border-right: 1px solid $form-field-border-color;
  }
  > button,
  a {
    background-image: linear-gradient(to bottom, #ffffff, #f4f5f7);
    border-top: 1px solid $form-field-border-color;
    border-bottom: 1px solid $form-field-border-color;
    border-right: none;
    cursor: pointer;
    padding: 0px 15px;
    height: $height;
    border-radius: 0px;
    outline: none;
    text-align: center;
    white-space: nowrap;
    &.active {
      background-color: $active-background-color;
      border-top: 1px solid $active-background-color;
      border-bottom: 1px solid $active-background-color;
      color: $active-color;
      background-image: none;
    }
  }
  > button.disabled,
  a.disabled {
    cursor: default;
  }
  button ~ button {
    border-left: 1px solid $form-field-border-color;
  }
  > a ~ a {
    border-left: 1px solid $form-field-border-color;
  }
}