@mixin circle-rating($size, $font-size: $size*.50, $color: #FFFFFF) {
  font-family: 'opensans-bold';
  border-radius: 50%;
  height: $size;
  width: $size;
  text-align: center;
  font-size: $font-size;
  line-height: $size;
  color: $color;
  display: inline-block;
  span {
    font-size: $font-size * .4;
  }
}
