@mixin circle-rating($size, $font-size: $size*.50, $color: #FFFFFF) {
  font-family: 'robotoslab-bold';
  border-radius: 50%;
  height: $size;
  width: $size;
  text-align: center;
  font-size: $font-size;
  line-height: $size;
  color: $color;
  display: inline-block;
  vertical-align: middle;
  a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
  }
  span {
    font-size: .4em;
    opacity: 0.7;
  }
}
