<%
  # ::BEGIN:: code for one section.
  # Please only edit where there is HTML or HTML comments.
  # HTML comments look like this: <!-- Put your description here -->.
%>
<%= begin_section_with_title('Interactive Button elements') do %>
  <%= begin_section_description do %>
    <!--
      Put this Section's Description here.
      You can use any HTML to write it, but it looks nice with <p> tags.
    -->
    <p>This is what buttons behave like.</p>

  <% end # of description %>
  <%= begin_section_content do %>
    <!--
      Put this Section's Content here.
      You can use any HTML to write it.
    -->
<style>
.text-changes {
font-size:14px; font-weight:bold; font-family:'Open Sans';
}
.default-box {
background-color: #f5fbfd; border:1px solid #009edc; color:#009edc; border-bottom-width: 3px;
}
.default-box:hover {
background-color: #ebf7fb; border:1px solid #2880b9; color:#2880b9; border-bottom-width: 3px;
}
.toggle-box {
border:1px solid #93b1d5; color:#4788be; border-bottom-width: 3px; font-weight:bold; font-family:'Open Sans'; padding-left: 12px; padding-right: 12px;
}

.btn-inactive {
background-color:#b4b4b4; color:#fff; border:0; border-radius:4px; font-weight:bold; font-family:'Open Sans'; cursor: default;
}

.sm-buttons { width: 24px; height:24px; border:1px solid #93b1d5; border-radius:2px;
background-color:#fff;}
.icon-space {width:14px; height:14px; margin: 0 auto; position: relative;
top: 50%;
transform: translateY(-50%); background-color:#4788be;}
</style>

<div class="btn btn-primary text-changes">This is our primary button</div>
<p>changes: from 12px semibold to 14px bold</p>
<br/>
<div class="btn btn-default default-box text-changes">This is our default button</div>
<p>changes: from 12px semibold to 14px bold. Also changed color of box and text.</p>
<br/>
<div class="btn btn-toggle toggle-box">This is our toggle button</div>
<p>changes: font weight to bold. border color to #93b1d5. reduced left-right padding</p>
<br/>
<div class="btn btn-inactive">This is an inactive button</div>
<p>changes: new style. color is #b4b4b4 and does not respond to cursor</p>
<br/>
<h4>small icon buttons</h4>
<div class="sm-buttons"><div class="icon-space"></div></div>
<p>changes: same behavior as toggle. changed size to a smaller square.</p>

  <% end # of content. %>
<% end # of section. %>
