<% category_placement # The +CategoryPlacement+ that is configured to use this group layout %>

<%
  collections_to_show = [*category_placement.layout_config_json['show_module_for_collections']]
  should_show_partial = (@school.collection_ids & collections_to_show).present?
%>

<% if should_show_partial %>
  <% begin %>
    <% children = @page_config.category_placement_children_with_data(category_placement) %>
    <% if children.any? %>
      <%
        # onClick="void(0)" fixes iOS click-dismiss for tooltips.
        # See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
      %>

      <% # try to render children first so errors are thrown before any html is written to the page %>
      <% children_html = children.map do |cp|  %>
        <% render partial: 'category_placement', locals: {category_placement: cp} %>
      <% end %>

      <div class="gs-bootstrap container-fluid" onClick="void(0)">
        <div class="row">
          <div class="col-xs-12 col-md-8">
            <% children_html.each do |child_html| %>
              <%= child_html %>
            <% end %>
          </div>
          <div class="col-xs-12 col-md-4 ptl">
            <%= render 'layouts/ad_layer', page: @ad_page_name, slot: :Overall_Performance, view: :desktop, visible_for: ''  %>
          </div>
        </div>
      </div>
    <% end %>
  <% rescue => e %>
    <%= log_view_error "Something went wrong while trying to display #{category_placement.title}", e %>
    <% raise e if params[:debug] %>
  <% end %>
<% end %>
