<% category_placement #  %>

<%= render "shared/section_header", category_placement: category_placement %>
<div id="js-zillow gs-bootstrap">
  <div class="container-fluid">
    <%= render 'zillow/module' %>
  </div>
</div>

<% if @show_ads %>
    <div class="row">
        <div class="zillow col-xs-12 col-sm-12 col-md-12 col-lg-12 ptl mtl plm">
            <hr />
            <%= render 'layouts/ad_layer', page: @ad_page_name, slot: 'Text'.to_sym, view: :desktop  %>
            <%= render 'layouts/ad_layer', page: @ad_page_name, slot: 'Text'.to_sym, view: :mobile  %>
        </div>
    </div>
<% end %>
