
$active-color: #f6f9fa;
$hover-color: #f6f9fa;
$border-color: #dbe6eb;
$school-color: #2bade3;
$links-color: #1dace5;
$blue-link: #2ba3dc;
$border: #dbe6eb;

.top-school-module{
  width: 100%;
  border: solid 1px $border-color;
  .top-school-info{
    display: flex;
    justify-content: space-around;
    // align-items: center;
    // flex-direction: column;
    > div{
      margin-top: 20px;
      width: 75%;
      @include media-breakpoint-down(sm) {
        width: 100vw;
      }
      h3 {
        font-size: 19px;
        font-weight: bold;
        line-height: 20px;
      }
      > p, > h3, > a {
        // margin-left: 15px;
        // margin-right: 15px;
        padding: 0 20px 0 20px;
      }
    }
  }
  .grade-filter {
    display: flex;
    justify-content: center;
  }
  @include media-breakpoint-down(sm) {
    width: 100vw;
  }
  .button-group {
    @include button-group;
    margin: auto;
  }
  .sort-filter{
    button.active{
      background-color: #dbe6eb;
      color: black;
      border: none;
      font-size: 13px;
      font-weight: 800;
      line-height: 20px;
    }
  }
  .grade-filter{
    .button-group{
      button.active{
        background-color: #2ba3dc;
        border: 1px solid #c1d2d9;
      }
    }
  }
  .tooltip-container{
    .scale{
      display: flex;
      justify-content: center;
    }
  }
  .more-school-btn{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    a {
      width: 90%;
      button{
        text-transform: uppercase;
        width: 100%;
        margin: auto;
        height: 50px;
        color: #2bade3;
        font-weight: 600;
        background-image: linear-gradient(to bottom, white, #f4f5f7);
        border: solid 1px #dbe6eb;
        border-radius: 3px;
      }
    }
  }
  .sort-filter{
    margin-left: 15px;
    margin-bottom: 10px;
  }
  .no-schools{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    > div{
      height: 150px;
      width: 90%;
      border: 1px solid #c1d2d9;
      display: flex;
      justify-content: center;
      align-items: center;
      h3{
        color: #2bade3;
      }
    }
  }
  .school-col{
    width: 90%;
    margin: auto;
    .blue-line{
      border-bottom: 1px solid #dbe6eb;
      width: 100%;
      margin: 10px 5px 10px 5px;
    }
    .content-container{
      display: flex;
      .school-info{
        margin-left: 15px;
        p {
          margin: 3px 0 0 0;
        }
        .students{
          margin-bottom: 5px;
        }
        a {
          margin: 3px 0 0 0;
        }
        > a {
          font-family: OpenSans;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $school-color;
        }
        > div {
          margin-top: 5px;
          .icon-house, a {
            color: $links-color;
          }
        }
      }
    }
  }
  .school-table {
    overflow-x: scroll;
    width: 100%;
    background-color: white;
    position: relative;
    margin-bottom: 15px;
    z-index: -1;
    table {
      table-layout: fixed;
      // width: 991px;
      width: 75%;
      margin: auto;
      @include media-breakpoint-down(sm) {
        width: 90%;
      }
      td {
        position: relative;
        height: 97px;
      }

      td:nth-child(2) > p, td:nth-child(3) > p{
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        font-family: OpenSans;
        letter-spacing: normal;
      }

      td:last-child{
        font-family: OpenSans;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #647981;
      }

      td,
      th {
        border: 1px solid $form-field-border-color;
        padding: 10px 15px;
      }
      th:nth-child(2){
        width: 15%;
      }
      th:nth-child(3){
        width: 130px;
      }
      th {
        color: $gray-darker;
        font-weight: normal;
        text-align: left;
        background-color: #f1fafd;
        height: 70px;
      }
      th.school {
        width: 40%;
      }

      td.school {
        @include clearfix;
        .content-container{
          display: flex;
          .school-info{
            margin-left: 15px;
            > a {
              font-family: OpenSans;
              font-size: 16px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: $school-color;
            }
            > div {
              margin-top: 10px;
              .icon-house, a {
                color: $links-color;
              }
            }
          }
        }
        span {
          display: inline-block;
        }
        a {
          font-size: $font-size-l2;
          font-family: 'opensans-semibold', sans-serif;
        }
        a.name {
          font-size: $font-size-l3;
        }
        &:hover {
          background-color: $hover-color;
        }
        &.active {
          background-color: $active-color;
        }
        > span:first-of-type {
          text-align: center;
          width: 55px;
        }
        > span:last-of-type {
          width: calc(100% - 70px);
        }
        > span {
          vertical-align: top;
        }
        > span + span {
          margin-left: 15px;
        }
      }
    }
  }
}


.featured {
  display: none; // TODO: dont put this here
}

#city-page {
  position: relative;
  padding-top: 38px;
  .breadcrumbs-container {
    position: fixed;
    width: 100%;
    top: 80px;
    .breadcrumbs {
      padding-left: 15px;
      .divider {
        font-size: 9px;
        color: #bbc0ca;
        padding: 0 5px;
      }
    }
  }

  .hero {
    padding: 20px 0 25px 0;
    height: 200px;
    background-image: image_url('school_profiles/hero_bg.jpg');
    text-align: center;
    color: white;
    font-family: OpenSans;
    .icon-city {
      font-size: 24px;
    }
    .city-hero-title {
      margin-top: 5px;
      font-size: 36px;
      font-family: 'RobotoSlab-Bold';
    }
    .city-hero-narrative {
      font-size: 16px;
      font-weight: normal;
    }
  }

  .below-hero {
    width: 100%;
    height: 1200px;
    .sticky {
      position: fixed;
      top: 320px;
    }
    .ad-bar {
      width: 300px;
      height: 600px;
      right: 20px;
    }
    .toc {
      width: 280px;
      display: inline-block;
      left: 20px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          color: $blue-link;
          font-size: 14px;
          &:hover {
            cursor: pointer;
          }
          div {
            height: 50px;
            padding: 16px 0px;
            margin: 0 20px;
          }
        }
        li + li {
          div {
            border-top: 1px solid $border;
          }
        }
        li.selected {
          color: black;
          background-color: #f6f9fa;
          border-left: 5px solid $blue-link;
        }
      }
    }
    .city-modules {
      width: calc(100vw - 750px);
      display: inline-block;
      height: 500px;
      margin-top: 22px;
      margin-left: 390px;
      .modules-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        font-family: 'opensans-bold';
      }
      @include media-breakpoint-down(md) {
        width: calc(100vw - 350px);
        margin-left: 20px;
      }
      @include media-breakpoint-only(xs) {
        width: 100%;
        margin: auto;
      }
    }

    .community-toc {
      width: 280px;
    }
  }
}