$active-color: #f6f9fa;
$hover-color: $active-color;
$border-color: #dbe6eb;
$school-color: #2bade3;
$gradient-off-white: #f4f5f7;
$border-radius: 3px;
$breadcrumbs-bg: #002c47;
$font-size: 16px;
$subtle-gray: #647981;

// Hides the navbar links
.featured {
  display: none; // TODO: dont put this here
}

// Set up the community breadcrumbs
.community-page {
  position: relative;
  .breadcrumbs-container {
    @include flexbox-center;
    position: fixed;
    position: -webkit-sticky;
    position:sticky;
    width: 100%;
    top: 80px;
    z-index:1;
    background-color: $breadcrumbs-bg;
    .breadcrumbs {
      width: 1200px;
      padding-left: 15px;
      @include media-breakpoint-down(md) {
        max-width: 992px;
      }
      .divider {
        font-size: 9px;
        color: #bbc0ca;
        padding: 0 5px;
      }
    }
  }
}

// Community shared css for the hero header
#hero {
  @include flexbox-center;
  padding: 30px 0px;
  height: 220px;
  background-image: image_url('school_profiles/hero_bg.jpg');
  text-align: center;
  color: white;
  font-family: 'opensans-regular';
  padding: 0 25px;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    margin-top: 20px;
  }
}

.below-hero {
    width: 100%;
    @include flex-justify-center;
    @media screen and (max-width: 1200px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      -ms-flex-pack: start;
    }
    .community-modules {
      max-width: 600px;
      display: inline-block;
      margin-top: 20px;
      > div {
        margin-bottom: 20px;
      }
      .modules-title {
        font-family: 'opensans-bold';
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      @include media-breakpoint-down(md) {
        width: calc(100vw - 350px);
        margin: 0;
        padding: 20px;
      }
      @include media-breakpoint-down(sm) {
        > div {
          margin: auto;
          .top-school-module {
            width: 100%;
          }
        }
      }
      @include media-breakpoint-only(xs) {
        width: 100%;
      }
    }
    .sticky {
      margin-top: 15px;
      margin-right: 20px;
      position: -webkit-sticky;
      position: sticky;
      @media screen and (min-width: 992px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        margin-top: 20px;
      }
      //target ie10
      @media screen and (min-width:0\0) {
        position: static;
        vertical-align: top;
      }
    }
    //Targets ie11 only
    @media all and (-ms-high-contrast: none){
     *::-ms-backdrop, .sticky{ position: fixed; }
    }
    .ad-bar {
      width: 300px;
      height: 600px;
      display: inline-block;
    }
    //CSS for shared portion between City and District pages.
    .toc {
      height: 100%;
      display: inline-block;
      width: 230px;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        margin-left: -250px;
        height: auto;
      }
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;
        li {
          color: $school-color;
          font-size: 14px;
          height: 100%;
          &:hover {
            cursor: pointer;
          }
          div {
            height: 100%;
            padding: 16px 0px;
            margin: 0 20px;
          }
        }
        li + li {
          div {
            border-top: 1px solid $border-color;
          }
        }
        li.selected {
          color: black;
          background-color: $gray-light-blue;
          border-left: 5px solid $school-color;
          div {
            margin-left: 15px;
          }
        }
      }
    }
  }

// Class to help draw blueish-gray lines
.blue-line{
  border-bottom: 1px solid $border-color;
  width: 100%;
  margin: 10px 5px 10px 5px;
}

// Class to help render districts in a few places with styling
.school-district{
  font-family: "opensans-regular";
  color: $subtle-gray;
  text-align: left;
}

.top-school-module{
  width: 95%;
  margin-bottom: 15px;
  border: solid 1px $border-color;
  .top-school-info{
    padding: 2px 0 0 2px;
    > div{
      margin-top: 20px;
      width: 95%;
      h3 {
        font-size: $font-size;
        font-family: 'opensans-semibold';
      }
      > p, > h3, > a {
        padding: 0 20px;
        }
      }
    }
  .grade-filter {
    @include flex-justify-center;
    .button-group {
      @include button-group;
      button.active{
        background-color: $school-color;
        border: 1px solid $form-field-border-color;
      }
    }
  }
  .top-school-list{
    .school-list-item{
      width: 90%;
      margin: auto;
      // Class to help render five star ratings
      .five-star-review{
        a { color: $school-color; }
        span { display: inline-block; }
        .five-star-rating{ margin-left: 15px; }
      }
      .content-container{
        @include flexbox;
        a, p { font-size: 16px; }
        .scale{
          @include flexbox-center;
          height: 30px;
        }
        .school-info{
          margin-left: 15px;
          .students{
            margin-bottom: 5px;
          }
          a, p { margin: 3px 0 0; }
          > a {
            font-family: "opensans-semibold";
            color: $school-color;
          }
        }
      }
    }
  }

  .more-school-btn{
    margin-bottom: 20px;
    @include flexbox-center;
    a {
      width: 90%;
      button{
        text-transform: uppercase;
        width: 100%;
        margin: auto;
        height: 50px;
        color: $school-color;
        font-family: 'opensans-semibold';
        font-size: 14px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(white), to($gradient-off-white));
        background-image: -o-linear-gradient(top, white, $gradient-off-white);
        background-image: linear-gradient(to bottom, white, $gradient-off-white);
        border: solid 1px $border-color;
        border-radius: $border-radius;
      }
    }
  }
  .no-schools{
    @include flexbox-center;
    margin-bottom: 10px;
    width: 100%;
    > div{
      height: 150px;
      width: 90%;
      border: 1px solid $form-field-border-color;
      @include flexbox-center;
      h3 {
        width: 85%;
        color: #333;
        font-size: $font-size;
        text-align: center;
      }
    }
  }
}

.school-browse-module{
  width: 95%;
  margin-bottom: 15px;
  border: solid 1px $border-color;
  padding: 5px;
  @include media-breakpoint-down(sm) {
    margin: auto;
    margin-bottom: 15px;
    width: 100%;
  }
  h3{
    padding: 10px 0 10px 15px;
    color: #333;
    font-size: 16px;
    font-family: 'opensans-semibold';
  }
  ul{
    @include flex-column-wrap;
    // Set height of UL in District or City specific page
    width: 100%;
    li{
      //Set width of li in District or City specific page
      margin-left: -10px;
      font-size: 25px;
      color: $color-button-border;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 36px;
      }
      // modify the blueline to have no padding for browse links
      .blue-line{
        padding: 0;
        margin: 0;
        width: 100%;
        margin-left: -8px;
      }
      a, p {
        font-size: $font-size;
        font-family: 'opensans-semibold';
        letter-spacing: -0.70px;
        margin-left: -8px;
      }
      a { 
        color: $school-color; 
        margin-top: -3px;
      }
      p { 
        color: #999;
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 0; 
      }
      .school-count{
        @include clearfix;
        font-size: 15px;
        color: #333;
        margin-right: 15px;
        margin-top: 10px;
        float: right;
      }
    }
  }
}