
#hero {
  height: 100%;
  div {
    max-width: 1170px;
    .district-hero-narrative {
      padding-top: 20px;
      padding-bottom: 10px;
      font-size: $font-size;
      font-weight: normal;
    }
    .icon-nearby_2 {
      font-size: 24px;
      margin-top: 22px;
    }
    .district-hero-contact-info {
      display: inline-block;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      .phone, .link {
        margin-left: 20px;
      }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .badge-and-content{
          margin-left: 10px;
          .content{
            margin-left: 15px;
          }
        }
      }
    }
    .content {
      font-size: 16px;
    }
  }

  .district-hero-stats {
    padding: 25px 0;
    font-family: 'opensans-regular';
    font-weight: lighter;
    > div {
      display: inline-block;
      padding: 5px 50px;
      div:first-child {
        margin-bottom: 10px;
        color: rgba(255, 255, 255, 0.8);
      }
      div:last-child {
        font-size: 22px;
        font-family: 'opensans-semibold';
      }
    }
    > div + div {
      border-left: 1px solid rgba(255, 255, 255, 0.3);
    }
  }

  @include media-breakpoint-down(sm) {
    .content {
      font-size: 14px;
    }
    div {
      .district-hero-title {
        font-size: $font-size-h1;
        margin: 15px auto;
        max-width: 300px;
      }
    }
    div.district-hero-contact-info {
      padding-bottom: 20px;
      > .content {
        display: block;
        margin-bottom: 10px;
      }
      span.phone {
        margin-left: 0;
        margin-right: 10px;
      }
      span.link {
        margin-left: 10px;
        margin-right: 0;
      }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .badge-and-content{
          margin-left: 10px;
          .content{
            margin-left: 15px;
          }
        }

      }
    }
    .district-hero-stats {
      padding: 15px 0;
      > div + div {
        border-left: none;
      }
      > div {
        width: 55%;
      }
      div {
        margin: auto;
        padding: 0;
        display: block;
        height: 30px;
        div {
          display: inline-block;
        }
        div:first-child {
          font-size: 14px;
          margin-bottom: 0;
          float: left;
        }
        div:last-child {
          font-size: 16px;
          float: right;
        }
      }
    }
  }
}

.below-hero{
  @media screen and (max-width: 992px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .sticky{ margin-top: 60px; }
  }
}

#schools {
  .modules-title {
    margin-bottom: 12px;
  }
  .xq-partnership {
    margin-bottom: 12px;
  }
}

.links-module{
  ul {
    height: auto;
    margin-bottom: 5px;
    li {
      width: 90%;
    }
  }
}

#calendar {
  margin-bottom: 20px;
}