<% unique_id # Will be used as a suffix for DOM ID %>
<% descriptions # The descriptions to display %>
  
<% if descriptions.present? %>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pls clearfix">
    <div class="prm">About this data: <a href="#about-this-data-<%= unique_id %>" data-toggle="collapse">Learn more</a></div>
    <ul id="about-this-data-<%= unique_id %>" class="list-unstyled collapse mtm">
      <% descriptions.each do |description| %>
        <li class="pts"><%= description %></li>
      <% end %>
    </ul>
  </div>
<% end %>