<% t_scope = collection.t_scope %>
<h3><%= t(".#{t_scope}.title") %></h3>
<%= link_to t(".#{t_scope}.link_text"), community_spotlight_path(collection_id: collection.id, collection_name: collection.url_name) %>
<span><%= t(".#{t_scope}.text") %></span>
