<% reviews %>

<div id="js_reviewsListHeader" class="link-down-compensate rs-review-list-header">
  <hr/>
  <div class="plm mbl">
    <h2>Review comments</h2>
  </div>


  <% topics = reviews.map(&:topic).uniq %>
  <div class="clearfix bg-medium-gray pam">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="dropdown reviews-topic-filter margin-bottom-mobile">
          <button type="button"
                  class="btn btn-default pointer js_reviewTopicFilterDropDownText js_bootstrapExtDropdownText"
                  data-toggle="dropdown"
                  >All topics <b class="caret"></b></button>
          <ul class="dropdown-menu mll js_reviewTopicFilterDropDown" data-topic-selected="allTopics">
            <li><a class="pointer" data-topic-filter="allTopics">All topics</a></li>
            <% topics.each do |topic| %>
                <li><a class="pointer" data-topic-filter="<%= topic.name %>"><%= topic.name %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9">
        <% if reviews.parent_reviews.having_comments.any? || reviews.student_reviews.having_comments.any? %>
            <div class="fr pl60">
              <div class="btn-group js_reviewFilterButton js_bootstrapExtButtonSelect" data-group-selected="all">
                <button type="button" class="btn btn-default active" data-group-name="all">All</button>
                <% if reviews.parent_reviews.having_comments.any? %>
                    <button type="button" class="btn btn-default" data-group-name="parent">Parents</button>
                <% end %>
                <% if reviews.student_reviews.having_comments.any? %>
                    <button type="button" class="btn btn-default" data-group-name="student">Students</button>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>