<% reviews %>

<div class="row">
  <hr />

  <div class="col-xs-12 col-md-6 pam">
    <h3 class="mvn"><%= pluralize(reviews.number_of_reviews_with_comments, 'review', 'reviews') %> of this school</h3>
  </div>

  <div class="col-xs-12 col-md-6 clearfix pam">
    <div class="dropdown fr pll margin-bottom-mobile">
      <button type="button"
              class="btn btn-default js_reviewFilterDropDownText js_bootstrapExtDropdownText"
              data-toggle="dropdown"
              href="#">Date newest to oldest <b class="caret"></b></button>
      <ul class="dropdown-menu mll js_reviewFilterDropDown" data-order-selected="newToOld">
        <li><a data-order-review="newToOld">Date newest to oldest</a></li>
        <li><a data-order-review="oldToNew">Date oldest to newest</a></li>
        <li><a data-order-review="ratingsHighToLow">Ratings high to low</a></li>
        <li><a data-order-review="ratingsLowToHigh">Ratings low to high</a></li>
      </ul>
    </div>

    <% if reviews.parent_reviews.having_comments.any? || reviews.student_reviews.having_comments.any? %>
      <div class="fr">
        <div class="btn-group js_reviewFilterButton js_bootstrapExtButtonSelect" data-group-selected="all">
          <button type="button" class="btn btn-default active" data-group-name="all">All</button>
          <% if reviews.parent_reviews.having_comments.any? %>
            <button type="button" class="btn btn-default" data-group-name="parent">Parents</button>
          <% end %>
          <% if reviews.student_reviews.having_comments.any? %>
            <button type="button" class="btn btn-default" data-group-name="student">Students</button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div>
  <hr/>
  <p class="phm">This is a safe place to share your honest opinions of a school, whether good or bad.&nbsp;
    <%= link_to 'Learn more.', review_guidelines_url %></p>
</div>