
<div id="signInHover" class="mod modal_1 width_12">
    <div class="outer">
        <div class="fr"><span class="iconx24 i-24-close  js_closeHover"></span></div>
        <div class="inner">
            <div class="hoverTitle hd"><h1 class="js-smallSpacingTitle">Sign in to GreatSchools</h1>

                <p class="tal mbn pbm">Sign in with an existing GreatSchools account or using Facebook:</p></div>
            <div class="messages pbm dn"></div>
            <form method="post" action="/community/loginOrRegister.page" id="signin">
                <div class="body pal">
                    <div class="js-facebookSignInModule">
                        <div class="tac">
                            <div style="" class="but but-rg but-3 pan mbn js-facebook-login js-facebook-login-signin" id="">
                                <span style="border-right: 1px solid #5F7EBD;" class="fl iconx32g i-32-facebook-t"></span><span class="fl phl pt1">Sign in with Facebook</span>
                            </div>
                        </div>
                        <h5 class="orText"><span>OR</span></h5></div>
                    <div class="line"><label class="small-bold bottom" for="semail">Email
                        address</label><br><input onblur="if(this.value==''){this.value='[Enter email address]';}" onfocus="if(this.value=='[Enter email address]'){this.value='';}" name="email" tabindex="1" class="fl small bottom input_5 setemail" id="semail" type="text">

                        <div style="margin-top: 5px; margin-left: 5px;" class="fl errors">
                            <p class="error" style="display: none;"></p></div>
                    </div>
                    <div class="line clearfix ptl">
                        <div style="width:320px;">
                            <label class="fl small-bold bottom" for="spword">Password</label><span class="fr"><a class="no_interrupt smaller make-787878" tabindex="5" onclick="" id="signInHover_launchForgotPassword" href="javascript:void(0);">Forgot
                            your password?</a></span></div>
                        <br><input name="password" tabindex="2" class="fl small bottom input_5" id="spword" type="password">

                        <div style="margin-top: 5px; margin-left: 5px;" class="fl errors"><p class="error2"></p></div>
                    </div>
                    <div class="clearfix ptl">
                        <button id="signinBtn" tabindex="3" name="signinBtn" type="submit" class="fl but but-rg but-1 signinBtn">Sign
                            in
                        </button>
                        <div class="pll pts fl smaller bottom">
                            Not a member?
                            <strong><a tabindex="4" id="signInHover_launchJoin" href="#">Join GreatSchools</a></strong>.
                        </div>
                    </div>
                    <input value="true" name="rememberMe" type="hidden"><input value="http://staging.greatschools.org/search/search.page?search_type=0&amp;q=alameda+high+school&amp;state=CA" class="redirect_field" name="redirect" type="hidden">
                </div>
            </form>
        </div>
    </div>
</div>
