<div class='col-xs-12 pvm'>
  {{> community_scorecards/school_info school_info}}
  {{#if data_for_mobile.value}}
    <div class="percent-value">
      <span class="school-value-mobile {{data_for_mobile.performance_level}}">{{data_for_mobile.value}}<sup>%</sup></span>

      {{#if data_for_mobile.state_average}}
        <span class="sub-text state-average">
          <%= t('.state_average') %> {{data_for_mobile.state_average}}%
        </span>
      {{/if}}
    </div>
  {{/if}}
</div>
