<div class='col-xs-12 pvm div-row percent-value'>
  {{> community_scorecards/school_info school_info}}
  <span class="sub-text state-average">
    {{#if data_for_mobile.show_no_data_symbol}}
      <span style="font-size: 20px"> <%= t('.no_data') %></span>
    {{else}}
      <span class="school-value-mobile {{data_for_mobile.performance_level}}">{{data_for_mobile.value}}<sup>%</sup></span>
    {{/if}}

    {{#if data_for_mobile.state_average}}
      <%= t('.state_average') %> {{data_for_mobile.state_average}}%
    {{else}}
      <%= t('.state_average_not_available') %>
    {{/if}}
  </span>
</div>
