<div class='col-xs-12 pvm div-row mobile'>
  {{> community_scorecards/school_info school_info}}
  {{> community_scorecards/percent_value data_for_mobile mobileText="<%= t('.no_data') %>" }}

  <span class="sub-text state-average">
    {{#if data_for_mobile.state_average}}
      <%= t('.state_average') %> {{data_for_mobile.state_average}}%
    {{else}}
      <%= t('.state_average_not_available') %>
    {{/if}}
  </span>
</div>
