<table class="table data-table table-striped ">
  <thead>
    <tr>
      {{#each header_data}}
        <th>
          {{data_type}}
          {{#if state_average}}
            <div class="sub-text">
              ({{state_average}})
            </div>
          {{/if}}
        </th>
      {{/each}}
    </tr>
  </thead>

  <tbody>
    {{#each school_data}}
      {{> community_scorecards/table_row}}
    {{/each}}
  </tbody>
</table>
{{> community_scorecards/show_more_results}}
