<h1>Alpha peeps</h1>
{{#list people}} {{first}} {{last}} {{/list}}

<h2>The coolest alpha peeps</h2>
<table id="da-table" class="table table-striped no-more-tables">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>

  <tbody>
    {{#each people}}
      {{#if (isntKeith this)}}
        {{> community_scorecards/table_row}}
      {{/if}}
    {{/each}}
  </tbody>
</table>
