<table class="table data-table js-CommunityScorecardTable table-striped ">
  <thead>
    <tr>
      {{#each header_data}}
      <th class='js-drawTable pointer' data-highlight-index='{{@index}}' data-sort-by='{{param}}'>
          {{data_type}}
          {{#if state_average}}
            <div class='sub-text js-drawTable' data-highlight-index='{{@index}}' data-sort-by='{{param}}'>
              ({{state_average}})
            </div>
          {{/if}}
        </th>
      {{/each}}
    </tr>
  </thead>

  <tbody>
    {{#each school_data}}
      {{> community_scorecards/table_row}}
    {{/each}}
  </tbody>
</table>
{{> community_scorecards/show_more_results}}
