<table id="da-table" class="table table-striped no-more-tables">
  <thead>
    <tr>
      <% @table_fields.each do |f| %>
        <th><%= t(".#{f[:data_type]}") %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    {{#each this}}
      {{> community_scorecards/table_row}}
    {{/each}}
  </tbody>
</table>
