<% # added inline styling for line-height and column width to add styling required only for this design  %>
<div class="table-condensed">
  <table class="table table-overflow-hidden table-striped gray-box-border mtm mbm">
    <tbody>
      <% Hash[data.take(5)].each do |k,v| %>
        <tr class="font-size-xs">
          <td style="line-height:.5; width: 70%;"><%= k %></td>
          <td style="line-height:.5"><%= v.round(0) %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to t('.more'), school_details_url(@school, anchor:"Students") %>
