<div class="row ptl limit-width-1200">
  <div class="col-xs-12 col-sm-9">
    <%= form_tag users_admin_reviews_path, method: 'get', role: 'form', class: 'form-inline' do %>
      <legend>Find a user by email or IP</legend>
      <div class="form-group">
        <div class="controls">
          <input type="text" id="review_moderation_search_string" name="review_moderation_search_string" placeholder="Email or IP">
        </div>
      </div>
      <button type="submit" class="btn btn-primary" id="submit" style="margin-left: 40px">Search</button>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-3 tar ptxl">
    <button type="button" class="btn btn-primary js-button-link" data-link-value="/admin/schoolReview/bannedIp/list.page" style="margin-left:
        40px">See Banned IPs</button>
  </div>
</div>