<div class="row ptl">
  <div class="col-xs-12 col-sm-9">
    <%= form_tag schools_admin_reviews_path, method: 'get', role: 'form', class: 'rs-school-search-form form-inline' do %>
      <legend>Find a school by state & ID</legend>
      <div class="form-group">
        <%= select_tag 'state', options_from_collection_for_select(States.abbreviations, :to_s, :upcase), class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= number_field_tag 'school_id', nil, class: 'form-control', placeholder: 'School ID' %>
      </div>
      <button type="submit" class="btn btn-primary" id="submit" style="margin-left: 40px">Search</button>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-3 tar ptxl">
    <button type="button" class="btn btn-primary js-button-link" data-link-value="/admin/schoolReview/holdList.page" style="margin-left:
        40px">See Held Schools</button>
  </div>
</div>