<div class="grey-bg pr">
    <div class="proto-image-bg-scale proto_hero_size oh">
        <div class="img-container is-scaled"><!--not empty--></div>
    </div>
    <div class="limit-width-1200">
        <div class="absolute-center">
            <div class="row" >
                <div class="ma tac">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">

                        <div class="oa mbl content-centered ma">
                            <h1 class="inverted-text jumbo-header" style="text-shadow: 1px 1px #999999;">You know your school best!</h1>
                            <div class='open-sans_i subtitle-lg' style="color:#ffCE7A;text-shadow: 0 0 20px rgba(0,0,0,.6)">Help others find their great school – rate and review yours now</div>
                        </div>
                        <div class="search-bar-home ma ptl">
                            <%= render partial: 'nav/select_form' %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
