<p>Category <%= category.name %></p>
<table>
    <% last_key = nil %>
    <% school_category_rows.each do |label, value| %>
        <tr>
            <td>
                <% if last_key && last_key == label %>
                &nbsp;
                <% else %>
                    <%= label.gsub('_',' ').capitalize %>
                <% end %>
            </td>
            <td>
                <%= value.gsub('_',' ').capitalize %>
            </td>
        </tr>
        <% last_key = label %>
    <% end %>
</table>

