<div class="ptl prl pll pbxl js-topicalQuestionNavigation">
  <div class="fl ">
    <a class="js-previous-topic pointer"><span class="iconx16 i-16-left-arrow mrs vam"></span><%= t('.previous_topic') %></a>
  </div>
  <div class="fr">
    <a class="js-next-topic pointer"><%= t('.next_topic') %><span class="iconx16 i-16-right-arrow mls vam"></span></a>
  </div>
</div>
