<div>
  <label class="tal js-gs-checkbox-search-dropdown font-size-small">
    <span class="vam iconx16 mrl js-icon js-gs-checkbox-value accordion-toggle i-grey-unchecked-box">
    </span>
        <%=filter.label%>
  </label>
  <input type="hidden" class="js-gs-checkbox-value">

  <div class="pll accordion-body collapse js-gs-checkbox-search-collapsible-box">
    <%= yield %>
  </div>
</div>
