<option value="<%=filter.value.to_s%>"
    <% key = filter.name.to_s %>
    <%if @params_hash.include?(key) && @params_hash[key] == filter.value.to_s%> selected<%end%>>
    <%=filter.label%>
</option>
