<li class="pal col-xs-3">
  <div class="ptm">
    <span><%=filter.name%></span><br>
  </div>
  <div class="divider" style="height: 2px; background-color: darkgrey"></div>
  <div>
    <%= yield %>
  </div>
</li>