<% unless filter.category == :distance && !search_by_location? %>
<div class="">
  <div class="ptm">
    <span class="font-size-small"><%=filter.name%></span><br>
  </div>
  <div class="divider mtm mbm" style="height: 2px; background-color: darkgrey"></div>
  <div>
    <%= yield %>
  </div>
</div>
<%end%>
