<% content_for(:page_stylesheets) do %>
    <%= stylesheet_link_tag("post_load", async: true) %>
    <%= stylesheet_link_tag("add_remove_schools", async: false) %>
<% end %>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 add_remove_school_success">
    <%= image_tag(image_path('school_profiles/brown-owl.svg', alt: '')) %>
    <h4><%= t('.message') %></h4>
  </div>
</div>