<% unless content_modules.nil? %>
  <div class='js-content-modules header-bg-color clearfix pvl'>
    <% content_modules.each_with_index do |content_module, i| %>
    <div class="limit-width-1200 phm">
      <div class="col-xs-12 fn">
        <h2 class='mtl mbm'><%= content_module[:heading] %></h2>
        <p><%= content_module[:description].html_safe %></p>
        <% unless content_module[:view_more].nil? %>
          <div class='js-module-expand oh'><%= content_module[:view_more].html_safe %></div>
          <span class="view-more">View More »</span>
        <% end %>

        <% unless i == content_modules.length - 1 %>
          <hr class='inverted-bar mvl'>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
