<% unless content_modules.nil? %>
  <div class='js-content-modules'>
    <% content_modules.each do |content_module| %>
    <div class="phxl limit_width_1200">
      <div class="mha col-xs-12" style='float: none;'>
        <h3 style='margin-bottom: 13px; margin-top: 40px;'><%= content_module[:heading] %></h3>
        <div class='js-module-expand'><p><%= content_module[:description].html_safe %></p></div>
        <p class="view-more">View More »</p>
        <hr style='background: #fff; border: none; height: 1px; width: 100%; margin-top: 20px'>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
