<% unless articles.nil? %>
  <h3 class='plm'>Related articles</h3>
    <% articles.each do |article| %>
      <div class="col-xs-12 col-sm-6 col-lg-6 prm">
        <%= image_tag(article[:articleImagePath], alt: "City of #{@city}", width: '100px', height: '70px', class: 'mrl mln', style: 'float: left;') %>
        <div style='margin-left: 120px;'>
          <div class="medium-bold mrl">
            <h4 class="js-hubsFeaturedArticles mtn mbn">
              <% if article[:newwindow] %>
                <%= link_to article[:heading], article[:articlepath], target: '_blank' %>
              <% else %>
                  <%= link_to article[:heading], article[:articlepath] %>
              <% end %>
            </h4>
            <p><%= article[:content] %></p>
          </div>
        </div>
      </div>
    <% end %>
  <div class="clearfix"></div>
<% end %>


