<% unless partners.nil? %>
  <div class="row">
    <h2 class="tac mtn">Our Partners</h2>
      <div class="js-partners tac">
      <% partners[:partnerLogos].each do |partner| %>
        <%= link_to image_tag(partner[:logoPath], class: 'partner-carousel-image mvm mhl'), partner[:anchoredLink], target: '_blank' %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="clearfix" style='margin-bottom: 40px;'></div>
<% end %>
