<div class="tac js-checkboxContainer font-size-small"
     data-fields="<%= fields.gsub("\n", "") %>">
  <div class="vam iconx16 js-icon i-grey-unchecked-box"></div>
  <div><%= response_value %></div>
</div>
