<div class="row mvl limit-width-1200">
  <div class="pvs col-xs-12 col-sm-8 col-sm-offset-4 bg-yellow">
    <div class="mlxl open-sans_sb font-size-large dib">Have something to say about the academics at this school?</div>
    <div class="dib">
      <%= link_to school_reviews_path(@school,topicID: '1') do %>

          <button type="submit" class="mll btn btn-primary js-reviewQuestionEdit">Tell us about it</button>
      <% end %>
    </div>
  </div>
</div>