<div class="row text-left">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h5>About greatschools</h5>

    <p class="prl">
      Our mission is to inspire and support families to champion their children's education - at
      school, at home and in their community. We are a national non-profit with offices and programs
      in Oakland, Milwaukee, Washington D.C. and Indianapolis.
    </p>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
      <h5>Company</h5>
      <ul>
        <li><a href="/about/aboutUs.page">Our mission</a></li>
        <li><a href="/about/senior-management.page">Our people</a></li>
        <li><a href="/jobs/">Jobs</a></li>
        <li><a href="/about/feedback.page">Contact us</a></li>
      </ul>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
      <h5>Media</h5>
      <ul>
        <li><a href="/about/advertiserOpportunities.page">Advertise with us</a></li>
        <li><a href="/about/partnerOpportunities.page">Partners</a></li>
        <li><a rel="nofollow" href="/about/pressRoom.page">Media room</a></li>
        <li><a href="/about/linkToUs.page">Widgets &amp; tools</a></li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <h5>Policies</h5>
      <ul>
        <li><a href="/find-a-school/defining-your-ideal/2423-ratings.gs">How we rate schools</a></li>
        <li><a href="/about/guidelines.page">School review guidelines</a></li>
        <li><a rel="nofollow" href="/terms/?state=AK">Terms of use</a></li>
        <li><a href="/privacy/?state=AK">Privacy policy</a></li>
      </ul>
    </div>
  </div>
</div>
