<% unless defined? visible_for %>
    <!--set defaults-->
    <% visible_for = "" %>
<% end %>
<div class="<%= visible_for %>" width="100%">
    <div class="advertisement_text ma">
        ADVERTISEMENT
    </div>
</div>