<% unless defined? visible_for %>
    <!--set defaults-->
    <% visible_for = "" %>
<% end %>
<% if @advertising_enabled %>
    <div class="<%= visible_for %>" width="100%">
        <div class="advertisement-text ma dn">
            ADVERTISEMENT
        </div>
    </div>
<% end %>