<% unless defined? visible_for %>
    <!--set defaults-->
    <% visible_for = "" %>
<% end %>
<div class="<%= visible_for %>" width="100%">
    <div class="ma" style="width: 100px; color: #999999; font-size: 12px">
        ADVERTISEMENT
    </div>
</div>