<div class="pam">
  <a href="<%= data[:link] %>">
    <div>
      <%= image_tag(image_path(data[:image]), class:"mobile_img")%>

    </div>

    <h4 class=""><%= data[:title] %></h4>
  </a>

  <p><%=raw data[:content] %>
  </p>
</div>
