<!--home / state / city / district (if appropriate)-->

<div class="row mts" style="z-index:1; position:relative">
    <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12 font-size-small">
        <%= link_to home_url do %>
            Home
        <% end %>
         /
        <%= link_to "#{hub_params[:state].gs_capitalize_first}",
                    state_url(hub_params)
        %>
         /
        <%= link_to "#{hub_params[:city].gs_capitalize_first}",
                    city_url(hub_params)
        %>
    </div>
</div>