<% unless defined?(mobile) %>
    <% mobile = false %>
<% end %>
<% if mobile %>
   <% browse_list_classes =  "school-breakdown zir-1 pln visible-sm visible-xs col-12-sm" %>
<% else %>
   <% browse_list_classes= "school-breakdown pln col-md-4 hidden-sm hidden-xs" %>
<% end %>
<div class="<%= browse_list_classes %>">
  <h4 class='pbs mvn brand-secondary'>Browse schools</h4>
  <ul class='pln'>
    <% browse_links.each do |link| %>
        <li class='mvm'>
          <%= link_to link[:label], link[:link], class: 'sm-black-lg-white-text pvm js-browseSchools' %>
        </li>
    <% end %>
  </ul>
</div>