<div class="limit-width-1200 row ">
  <div class="pam clearfix mbm">
    <hr>
    <a name="Facebook-Comments">
      <p class="link-down-compensate"></p>
    </a>
    <div class="fl">
      <h2 class="mvn">Ask a question</h2>
      <span class="">Find out information and contribute your experiences, so parents can learn more about this
        school.</span>
    </div>
  </div>
  <div class="col-sm-offset-3 col-xs-offset-1 col-xs-10 col-sm-6">
    <div class="alert-warning mhn pam mbm">
      We're sorry, but this feature is no longer supported.
      If you'd like to share your experiences at this school,
      please <%= link_to('write a review', school_reviews_path(@school)) %>.
    </div>
  </div>
</div>