<div>
  <p>GreatSchools.org 1999 Harrison Street, Suite 1100, Oakland, CA 94612</p>
  <p>©1998-<%= Time.now.year %> GreatSchools.org All Rights Reserved. GreatSchools is a 501(c)(3) not-for-profit organization
       | <%= link_to advertiser_notice_url do %>Ad Choices <span
            class="iconx16 i-16-adChoice vam smaller bottom"></span><% end %>
</div>