<div>
  <p>GreatSchools, Inc. 160 Spear Street, Suite 1020, San Francisco, CA 94105</p>
  <p>©1998-<%= Time.now.year %> GreatSchools Inc. All Rights Reserved. GreatSchools is a 501(c)(3) not-for-profit organization</p>
</div>