<div class="tac pal">
   <div ><span class="iconx60 i-60-<%= data_local[:sprite] %>"></span><br /></div>
   <div><h4 class="mbn pbn" style="color: <%= data_local[:color] %>"><%= data_local[:count] %></h4></div>
   <div><%= data_local[:content] %></div>
</div>
