<div class="tac pal">
   <div ><span class="iconx60 i-60-<%= sprite %>"></span><br /></div>
   <div><h4 class="mbn pbn i-60-color-<%= sprite %>"><%= data_local[:count] %></h4></div>
   <div><%= data_local[:content] %></div>
</div>
