<div class="tac pal">
   <div ><span class="iconx60 i-60-<%= sprite %>"></span><br /></div>
   <div><span class="stat_block_number mbn pbn i-60-color-<%= sprite %>"><%= data_local[:count] %></span></div>
   <div><%= data_local[:content] %></div>
</div>
