<!-- need icon sprite size and name.  subtitle w color.  content -->
<!--commu: {count: 'Community center', sprite: 'community', color: '#E67E22', content: 'Care setting'},-->
<div class="tac pal" style="">
   <div ><span class="iconx60 i-60-<%= data_local[:sprite] %>"></span><br /></div>
   <div><h4 style="color: <%= data_local[:color] %>"><%= data_local[:count] %></h4></div>
   <div><%= data_local[:content] %></div>
</div>
