<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="orange-bg clearfix tac">
            <div class="plm pbl">
                <h2>Join our community</h2>
                <br>
            </div>
            <!--<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">&lt;!&ndash;not empty&ndash;&gt;</div>-->
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 mbl">
                <div class="pbl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit porta nisl, non vehicula
                    leo condimentum at. Vivamus eget pulvinar purus. Vivamus tincidunt vel ante non fermentum.
                    Mauris vitae tincidunt tellus. Donec vel mollis mauris, sit amet porta mi.
                </div>
                <br>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">
                        <span>Join</span>
                    </button>
                </div>
            </div>
            <!--<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">&lt;!&ndash;not empty&ndash;&gt;</div>-->
        </div>
    </div>
</div>