<div class="header-bg-color">
    <div class="full-width limit-width-1200 font-size-small phl">
      <div class="hbs"></div>
      <div class="mbs ptm">
        School Boundaries © Maponics 2014. <%= t('.duplication_prohibited') %>
      </div>
      <div>
        <span class="open-sans_sb"><span class="brand-primary">*</span><%= t('.disclaimer_label') %></span>: <%= t('.disclaimer_text') %>
      </div>
      <div class="pbm">
        <%= t('.more_information_html', href: faq_path(:anchor => 'faq-boundarymap', :trailing_slash => false)) %>
      </div>
    </div>
</div>