<!-- multi select display config example

display_question_answers_map ie) {"answers":{"before care":"before","after care":"after"}}
display_question_label       ie) 'Do you have before and/or after care on site?'
response_key                 ie) before_after_care

-->
<div class="clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3>
      <%= display_question_label %>
    </h3>
  </div>
  <% display_question_answers_map.each_pair do |key, value| %>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mam">
        <button data-toggle="button" class="btn btn-toggle js-gs-checkbox"
                data-gs-checkbox="<%= value %>"
                type="button">
          <span class="vat iconx16 i-16-check-bigger-off mrs"></span>
          <%= key %>
        </button>
        <input type="hidden" name="<%= response_key %>[]" value="" class="js-gs-checkbox-value">
      </div>
  <% end %>
</div>