<% if AdsSwitch.ads_enabled_for_current_request? %>
  <% css_class ||= '' # CSS class to apply to container %>
  <% id_counter ||= 1 # For multiple ads with the same slotId/placementName %>

  <% unless defined?(show_ad_text) %>
    <% show_ad_text = true %>
  <% end %>
  <% unless defined?(close_button) %>
    <% close_button = false %>
  <% end %>
  <% unless defined?(defer) %>
    <% defer = false %>
  <% end %>

  <% if close_button %>
    <% css_class << ' js-closable-ad' %>
  <% end %>

  <% divId = "#{slotId}_#{id_counter}" %>

  <div class="js-<%= divId %>-wrapper hidden-print <%= css_class %>">
    <% if close_button %>
      <span class="close">×</span>
    <% end %>
    <%
      custom_data_attrs = {
        'dfp' => slotId
      }
      custom_data_attrs['ad-defer-render'] = true if defer
    %>
    <%= content_tag('div', '', class: "gs_ad_slot ad-slot", id: divId, data: custom_data_attrs) %>
    <% if show_ad_text %>
      <%= render partial: '/shared/advertising_word' %>
    <% end %>
  </div>
<% end %>