<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
        <div class="shaded-bg clearfix">
            <div class="limit-width-1200">
                <div class="plm pbl tac">
                    <h2>What we offer</h2>
                    <br />
                    <hr class="keyline-3d3d3d" style="width:50px;">
                </div>
                <div class="row pvl">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pal">
                        <div class="tac">
                            <span class="iconx60-grey i-60-school"></span>
                            <h4>Find A school</h4>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus mauris, consequat.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pal">
                        <div class="tac">
                            <span class="iconx60-grey i-60-compare"></span>
                            <h4>Evaluate and compare</h4>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus mauris, consequat.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pal">
                        <div class="tac">
                            <span class="iconx60-grey i-60-download"></span>
                            <h4>Download resources</h4>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus mauris, consequat.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pal">
                        <div class="tac">
                            <span class="iconx60-grey i-60-map"></span>
                            <h4>Get local information</h4>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus mauris, consequat.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pal">
                        <div class="tac">
                            <span class="iconx60-grey i-60-magnify"></span>
                            <h4>Browse by district</h4>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus mauris, consequat.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pal">
                        <div class="tac">
                            <span class="iconx60-grey i-60-friends"></span>
                            <h4>Informative content</h4>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus mauris, consequat.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>