<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
        <div class="shaded-bg clearfix">
            <div class="limit_width_1200">
                <div class="plm pbl tal">
                    <h2>What we offer</h2>
                </div>
                <div class="row pvl">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pam">
                        <div class="tac">
                            <span class="iconx60 i-60-art"></span>
                            <br>
                            <span>Find A school</span>
                            <br>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus mauris, consequat.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pam">
                        <div class="tac">
                            <span class="iconx60 i-60-art"></span>
                            <br>
                            <span>Find A school</span>
                            <br>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus mauris, consequat.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pam">
                        <div class="tac">
                            <span class="iconx60 i-60-art"></span>
                            <br>
                            <span>Find A school</span>
                            <br>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus mauris, consequat.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pam">
                        <div class="tac">
                            <span class="iconx60 i-60-art"></span>
                            <br>
                            <span>Find A school</span>
                            <br>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus mauris, consequat.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pam">
                        <div class="tac">
                            <span class="iconx60 i-60-art"></span>
                            <br>
                            <span>Find A school</span>
                            <br>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus mauris, consequat.</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pam">
                        <div class="tac">
                            <span class="iconx60 i-60-art"></span>
                            <br>
                            <span>Find A school</span>
                            <br>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus mauris, consequat.</span>
                        </div>
                    </div>
                </div>
                <div class="row ptl">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tac clearfix">
                        <span>
                          <a href="" class="prl hvs">Share what you know</a>
                          <!--<p class="hvs hidden-xs"></p>-->
                          <a href="" class="phl hvs">I'm a school official</a>
                          <!--<p class="hvs hidden-xs"></p>-->
                          <a href="" class="phl">Write a review about your school</a>
                        <span>

                        <!--<div>-->
                            <!--<a href="" class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-lg-offset-2">Share what you know</a>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<a href="" class="col-xs-12 col-sm-4 col-md-4 col-lg-2">I'm a school official</a>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<a href="" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">Write a review about your school</a>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>