<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-2 col-lg-7 col-lg-offset-2 tac pbl">
            <h2>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nunc magna, tempor et ullamcorper id, molestie in urna. Praesent ullamcorper urna."</h2>
            <span><img class="pvl" src="<%= parent_img %>"></span>
            <br>
            <span>Name, location parent</span>
        </div>
    </div>
</div>