<div class="limit_width_1200">
    <div class="row mbl">
        <div class="plm-mobile">
            <h2>Resources for choosing schools</h2>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mvl">
                <div class="pam pal-tablet mal-tablet">
                    <div>
                        <img class="mobile_img" src="<%= article_1 %>">
                    </div>
                    <h5 class="mbn"> INSIGHTS</h5>
                    <a href="">
                    <h4 class="mtn">Choosing a school from a distance</h4>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit porta nisl, non vehicula
                        leo condimentum at.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mvl">
                <div class="pam pal-tablet mal-tablet">
                    <div>
                        <img class="mobile_img" src="<%= article_1 %>">
                    </div>
                    <h5 class="mbn"> INSIGHTS</h5>
                    <a href="">
                    <h4 class="mtn">Choosing a school from a distance</h4>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit porta nisl, non vehicula
                        leo condimentum at.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mvl">
                <div class="pam tac">
                    <div class="gs_ad_slot visible-xs visible-sm visible-md visible-lg ma" id="home-page-pos1-ad" data-ad-size="[300,250]" style="width: 300px" data-dfp="Homepage_300x250_Pos1"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mtl ma">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="well">
                <h4 class="mtn">Hot&nbsp;topics</h4>
                <div class="row">
                    <span class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a href="/summer-learning.topic?content=7082">Summer&nbsp;learning</a>
                    </span>
                    <span class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a href="/elementary-school/">Elementary&nbsp;School</a>
                    </span>
                    <span class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a href="/high-school/">High&nbsp;School</a>
                    </span>
                    <span class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a href="/understanding-common-core-state-standards.topic?content=7802">Common&nbsp;Core</a>
                    </span>
                    <span class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a href="/middle-school/">Middle&nbsp;School</a>
                    </span>
                    <span class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a href="/parenting.topic?content=1539">Social&nbsp;and&nbsp;emotional&nbsp;health</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row pbl">
        <div class="pbl plm-mobile">
            <h2>Academic insights</h2>
        </div>

        <div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mvl">
                <div class="pam pal-tablet mal-tablet">
                    <a href="">
                    <div>
                        <img class="mobile_img" src="<%= article_1 %>">
                    </div>
                    <h5 class="mbn"> INSIGHTS</h5>
                    <a href="">
                    <h4 class="mtn">title 1 title 1 title 1 title 1</h4>
                    </a>
                    <p class="mtl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit porta nisl, non vehicula
                        leo condimentum at
                    </p>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mvl">
                <div class="pam pal-tablet mal-tablet">
                    <a href="">
                    <div>
                        <img class="mobile_img" src="<%= article_1 %>">
                    </div>
                    <h5 class="mbn"> INSIGHTS</h5>
                    <a href="">
                    <h4 class="mtn">title 2 title 2 title 2</h4>
                    </a>
                    <p class="mtl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit porta nisl, non vehicula
                        leo condimentum at
                    </p>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mvl">
                <div class="pam tac">
                    <div class="gs_ad_slot visible-xs visible-sm visible-md visible-lg ma" id="home-page-pos2-ad" data-ad-size="[300,250]" style="width: 300px" data-dfp="Homepage_300x250_Pos2"></div>
                </div>
            </div>


        </div>

    </div>
</div>
