<div class="bg-yellow brs pal tac">
  <div class="mbl open-sans_cb font-size-medium">
    <%= t('.question') %>
  </div>
  <button class="btn btn-primary"><%= t('.callout_button') %></button> 
</div>
