<div class="well tac mal">
    <button type="button" data-link-value="<%= school_review_form_path(@school) %>" class="btn btn-primary js-button-link" >
        Be the first to rate this school!
    </button>
    <p class="ptl">Help others find their great school - rate and review this school now</p>
</div>