<% school_reviews_pagination.each do |review| %>
    <hr />
    <div class="row mam">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <div>
                <%= draw_stars_16 review[:quality].to_i %>
            </div>
            <br />
            Posted <%= review[:posted].strftime "%B %d, %Y" %><br />
            - a <span class="cuc_posted-by"><%= review[:who] == "other" ? "community member":review[:who] %></span>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <%= raw (review[:comments].strip == '') ? '<div class="well mbn">This review submitted without content.</div>': review[:comments] %>
         </div>
    </div>
<% end %>