<% if @school_reviews.number_of_reviews_with_comments > 0 %>
  <div class="row">
      <div class="colxs12 colsm12 colmd12  collg12"  style="zindex: 1;">
          <%= render "shared/section_header",
                     category_placement:category_placement,
                     link_text: @school_reviews.see_all_reviews_phrase,
                     link_to:'reviews' %>
  
        <div class="js_reviewsList">
            <%= render '/shared/review_module_overview', reviews: @school_reviews.having_comments %>
        </div>
    </div>
  </div>
<% end %>
