<div class="proto-image-bg-scale" style="height: 1000px; background: #3d3d3d;">
  <div class="img-container is-scaled"><!--not empty--></div>
  <div class="limit-width-1200">
    <div class="content-centered">
      <div class="row tal clearfix">
        <div class="plm">
          <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <% location_placeholder = 'Zip code, city or address' %>-->
            <div class="oa">
              <h1 class='mbn mbl text_fff'>Great Schools Autocomplete Prototype</h1>
            </div>
            <div class="location-search">
              <form name="prototypeSearchForm" class="js-prototypeSearchForm mbl" action="/search/search.page" method="get">
                <!-- Todo: make a class -->
                <div class="col-xs-12 col-sm-6 pam">
                  <input  type="text"
                          name="locationSearchString"
                          value="Enter School, City, or District"
                          id="js-prototypeSearch"
                          class='typeahead search-text full-width pam'
                          onfocus="GS.textSwitch(this, '', 'Enter School, City, or District');"
                          onblur="GS.textSwitch(this, 'Enter School, City, or District', '');"
                          placeholder="ex. Dover High School">
                <button class="btn btn-primary btn-lg" style="vertical-align: top;">Search</button>
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
