<div class="proto-image-bg-scale" style="height: 1000px; background: #3d3d3d;">
  <div class="img-container is-scaled"><!--not empty--></div>
  <div class="limit-width-1200">
    <div class="content-centered">
      <div class="row tal clearfix">
        <div class="plm">
          <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <% location_placeholder = 'Zip code, city or address' %>-->
            <div class="oa">
              <h1 class='mbn mbl text_fff'>Great Schools Autocomplete Prototype</h1>
            </div>
            <div class="location-search">
              <form name="prototypeSearchForm" class="js-prototypeSearchForm mbl" action="/search/search.page" method="get">
                <input type="text" name="locationSearchString"
                       id="js-prototypeSearch" class='typeahead search-text lg-search-bar pull-left mrm'
                       onfocus="GS.textSwitch(this, '', '<%= location_placeholder %>');"
                       onblur="GS.textSwitch(this, '<%= location_placeholder %>', '');"
                       placeholder="<%= location_placeholder %>"
                       value="<%= location_placeholder %>"/>
                <button class="btn btn-primary btn-lg" style="vertical-align: top;">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
