<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tac clearfix">
        <div class="shaded-bg tac clearfix">
            <div class="limit_width_1200">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pal">
                    <h4 class="mbn"><a href="" >Share what you know</a></h4>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus mauris, consequat.
                    </span>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pal">
                    <h4 class="mbn"><a href="/official-school-profile/register.page">I'm a school official</a></h4>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus mauris, consequat.
                    </span>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pal">
                    <h4 class="mbn"><a href="/school/parentReview.page">Write a review about your school</a></h4>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus mauris, consequat.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>