<div id="js-top-notification-bar" class="absolute-center limit-width-1200" style="display:none;">
  <%= render "shared/notification_bar" %>
</div>
<script type="text/javascript">
  $(function(){
     $("#js-top-notification-bar").fadeIn("slow");
  });
</script>
