<span class="iconx16-stars i-16-orange-star  i-16-star-<%= locals[:rating] %> pull-left"></span>
<span class="iconx16-stars i-16-grey-star  i-16-star-<%= 5 - locals[:rating].to_i %> pull-left"></span>
