<h4 class="mtn ptn">Write a review to help this school win $5,000! When this school has a new review this month, it's entered to win.</h4>

<p>No Purchase Necessary. Void where prohibited. Sweepstakes begins at 12:00:00 AM Pacific Time (PT) on April 1, 2014
and ends at 11:59:59 on April 30, 2014 (the “Promotion Period”). Open to legal residents of the U.S. and D.C.,
13 years and older. Each school that receives a new, published review will get one (1) entry into the sweepstakes,
up to ten (10) entries throughout the Promotion Period. See the <%= link_to 'Official Rules', sweepstakes_rules_url %> for details. Sponsor: GreatSchools,
1999 Harrison St., Suite 1000, Oakland, CA 94612.</p>
