<% if @pagename != "signin/new" %>
    <div id="js-top-notification-bar" class="limit-width-1200" style="display:none; margin-top: 8px;">
      <%= render "shared/notification_bar" %>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#js-top-notification-bar").slideDown("slow");
        });
    </script>
<% end %>