<div class='pr js-popupWrapper'>
  <div class='pointer js-popupActivator'><%= truncate(text, options) %></div>
  <div class='panel pa dn tal pal font-size-xs open-sans js-popupBody'>
    <%= text %>
  </div>
</div>