<div class="row">
    <div class="image-bg-scale" style="background: #3d3d3d;">
        <div class="img-container is-scaled-hide"><!--not empty--></div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="clearfix">
                <div class="limit_width_1200 tac">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-2 col-lg-7 col-lg-offset-2 tac">
                        <span class="plm pbl">
                            <h2 class="text_fff" >Who we are</h2>
                        </span>
                        <hr class="keyline-ffb725" style="width:50px;">
                        <br />
                        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text_fff pbl ptm">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit porta nisl, non vehicula
                                    leo condimentum at. Vivamus eget pulvinar purus. Vivamus tincidunt vel ante non fermentum.
                                    Mauris vitae tincidunt tellus. Donec vel mollis mauris, sit amet porta mi. Duis tincidunt
                                    tortor ornare justo rhoncus, sed dapibus magna vulputate. Pellentesque habitant morbi tristique
                                    senectus et netus et malesuada fames ac turpis egestas.
                                </p>
                                <p>
                                    Morbi vitae eros id elit adipiscing laoreet.
                                    Pellentesque eleifend, felis eu suscipit blandit, erat arcu dapibus justo, ac luctus odio urna quis tortor.
                                </p>
                            <br />
                            <span>
                                <a href="/about/aboutUs.page" class="text_fff ptl">Learn More >></a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>