<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="shaded-bg clearfix">
            <div class="limit_width_1200">
                <div class="plm pbl tal">
                    <h2>Who we are</h2>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8 tal pbl">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit porta nisl, non vehicula
                            leo condimentum at. Vivamus eget pulvinar purus. Vivamus tincidunt vel ante non fermentum.
                            Mauris vitae tincidunt tellus. Donec vel mollis mauris, sit amet porta mi. Duis tincidunt
                            tortor ornare justo rhoncus, sed dapibus magna vulputate. Pellentesque habitant morbi tristique
                            senectus et netus et malesuada fames ac turpis egestas.
                        </p>
                        <p>
                            Morbi vitae eros id elit adipiscing laoreet.
                            Pellentesque eleifend, felis eu suscipit blandit, erat arcu dapibus justo, ac luctus odio urna quis tortor.
                        </p>
                    <br>
                    <div>
                        <a href="" class="ptl">Learn More >></a>
                    </div>
                </div>
                <!--<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6">-->
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 tac pll pbl img_tal_480">
                    <span><img class="article-img-480" src="<%= kitten_1 %>"></span>
                </div>
            </div>
        </div>
    </div>
</div>