<div class="below-hero">
  <section class="million-parents">
    <div>
      <h2><%= t('home.show.millions-of-parents') %></h2>
      <%= t('home.show.millions_of_parents_description_html') %>
      <br/>
      <div>
        <a class="secondary-button" href='/gk/about/'>Learn more</a>
      </div>
    </div>
    <div style="overflow:hidden;">
      <div style="display:flex;">
        <div class="image-container">
          <%= image_tag image_url('home/Small_flute.jpg'), class: '' %>
        </div>
        <div class="shape-container">
          <div class="quarter-circle"></div>
          <div class="circle-stack">
            <div class="stacked-quarter-circle"></div>
          </div>
        </div>
      </div>
      <div class="solid-bar-container">
        <div class="blue-bar"></div>
      </div>
    </div>
  </section>
  <%= render 'homepage_recent_reports' %>
</div>
