<div class='cue-cards-bg'>
  <section class='section gs-bootstrap container-fluid'>
    <div class='row'>
      <div class='col-sm-5 hidden-xs'>
        <%= image_tag(image_path('home/cue_cards_home_cards.png'), class:'fr') %>
      </div>
      <div class='col-xs-12 col-sm-7'>
        <div class='col-xs-12'>
          <div class='tough-parenting'>Tough parenting situation?</div>
          <h1 class="gk-brand-primary">Parenting Cue Cards</h1>
        </div>
        <div class='col-xs-12'>
          <%=
              link = gk_cue_cards_path
              link_to 'Get Help', link, class: 'mbm btn btn-gk-primary'
          %>
        </div>
      </div>
    </div>
  </section>
</div>
