<div class="row">
  <div class="dark-gray-bg pr">
    <div class="image-bg-scale image-scaling-height oh">
        <div class="img-container is-scaled"><!--not empty--></div>
    </div>
    <div class="absolute-center">
      <%= yield %>
    </div>
  </div>
</div>
