<div class="row">
  <div class="dark-gray-bg pr">
    <div class="image-bg-scale image-scaling-height oh">
        <div class="img-container is-scaled"><!--not empty--></div>
    </div>
    <div class="">
        <div class="absolute-center">
            <div class="">
                <div class=>
                      <%= yield %>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
