<div class="blue-section-container">
  <section class="hero-section">
    <div class="module-container">
      <div class="search-module">
        <h1><%= t('home.hero.heading-new') %></h1>
<!--        <h2 class="subtitle uc mtl"><%#= t('home.hero.subheading') %></h2>-->
        <div class="search-container">
          <%= render partial: 'home/search_form' %>
        </div>
          <img class="section-photo" src="<%= asset_path('home/graduation.jpg') %>">
      </div>
      <div class="parent-module">
        <%= render partial: 'home/hero_parent_content' %>
      </div>
    </div>
  </div>
</div>
