<div class='highschool-milestones-bg'>
  <section class='section gs-bootstrap container-fluid'>
    <div class='row'>
      <div class='col-xs-12 col-md-7 milestones-main-container'>
        <div class='col-xs-12 col-md-10'>
          <div class='high-school'><%= t('.high_school') %></div>
          <h1 class="amatic-sc_b milestone gk-brand-primary">MILESTONES</h1>
          <div class='sub-header roboto-s_r'><%= t('.real_world_skills') %></div>
        </div>
        <div class='col-xs-12 col-md-2 tac'>
          <div class='shim-170 hidden-xs hidden-sm'></div>
          <div class='shim-10 visible-xs visible-sm'></div>
          <div class='btn btn-lg btn-gk-primary'><%= t('.watch_now') %></div>
        </div>
      </div>
      <div class='pull-right hidden-xs hidden-sm'>
        <%= image_tag(image_path('home/GK_Milestones_Highschool_Girl_Banner.png')) %>
      </div>
    </div>
  </section>
</div>
 
