<div class="row rs-quote-section">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pal bg-dark-teal dvp">
    <div class="limit-width-1200 tac phm">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
        <div class="inverted-text subtitle-lg open-sans_i"><%= t('.body') %></div>
        <div class="inverted-text open-sans_i mtl"><%= t('.attribution') %></div>
      </div>
    </div>
  </div>
</div>