<% unless defined?(searchClass) %>
    <% searchClass = '' %>
<% end %>

<div class="ptm clearfix">
  <form name="schoolResultsSearchForm" class="js-schoolResultsSearchForm" action="/search/search.page" method="get">
    <div style="width: calc(100% - 60px);display: inline-block;">
      <input  type="text"
              name="locationSearchString"
              value="<%= @search_term %>"
              data-prev-search="<%= @search_term || '' %>"
              id=""
              class='typeahead search-text full-width pam <%= searchClass %>'
              placeholder="<%= t('search.placeholder') %>">
    </div>
    <div class="input-group-btn un">
      <button type="submit" class="search_form_button">
        <span class="search_icon_image_white"></span></button>
    </div>
  </form>
</div>
