<div id="home_state_select_wrapper">
    <p><%= t('home.hero.find-schools-by-state').upcase %></p>
    <%= select_tag :state_dropdown, options_for_select(
        States.state_hash.keys.map do |state|
            [States.capitalize_any_state_names(state), state_path(States.state_path(state))]
        end
    ), prompt: t('shared.school_picker.select_state'), id: "state-dropdown" %>
</div>