<div class="row">
    <div class="image-bg-scale dark-gray-bg oh">
        <div class="img-container is-scaled-hide"><!--not empty--></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="clearfix">
                <div class="limit-width-1200 tac">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-2 col-lg-7 col-lg-offset-2 tac phm">
                        <h2 class="inverted-text mvl" ><%= t('.heading') %></h2>
                        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 inverted-text">
                                <p><%= t('.body') %></p>
                            <br />
                            <span>
                                <a href="/about/aboutUs.page" class="inverted-text ptl"><%= t('.learn_more_html') %></a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>ยก
        </div>
    </div>
</div>
