<div class="js-gs-topical-reviews-checkboxes">
  <form class="form-inline">
    <!--<div class="row mtxl mbl tac">-->
        <%= render 'shared/reviews/modules/input/options_grid', review_options: review_options, option_type: option_type %>
    <!--</div>-->
    <div class="shim-25 visible-lg visible-md visible-sm hidden-xs"></div>

  </form>
</div>
