<div>
  <div class="tac js-gs-checkbox-topic js-gs-checkbox-topical font-size-small"
       style="width:100%;"
       data-fields="<%= fields.gsub("\n", "") %>">
    <div class="vam iconx16 js-icon i-grey-unchecked-box"></div>
  </div>
  <div>
    <%= response_value %>
  </div>
</div>
