      <% num_options = review_options.count.to_s
         class_key ={
             "2" =>{
                     class0: "",
                     class1: "col-xs-6 col-lg-6"

             },
             "3" =>{
                     class0: "",
                     class1: "col-xs-4 col-lg-4"

             },
             "4" =>{
                     class0: "",
                     class1: "col-xs-6 col-sm-3 col-md-3 col-lg-3",
             },
             "5" =>{
                     lastrowstart: 5,
                     class0: " col-sm-offset-1 col-md-offset-1 col-lg-offset-1",
                     class1: "col-xs-4 col-sm-2 col-md-2 col-lg-2",
                     class2: "col-xs-6 col-sm-2 col-md-2 col-lg-2"

            },
            "6" =>{
                    class0: "",
                    class1: "col-xs-6 col-sm-4 col-md-4 col-lg-2"

            },
            "7" =>{
                     lastrowstart: 4,
                     class0: "",
                     class1: "col-xs-4 col-sm-3 col-lg-3",
                     class2: "col-xs-4 col-sm-4 col-md-4 col-lg-4"

            },
            "8" =>{
                     lastrowstart: 4,
                     class0: "",
                     class1: "col-xs-6 col-sm-3 col-md-3 col-lg-3",
                     class2: "col-xs-6 col-sm-3 col-md-3 col-lg-3"

            },
            "9" =>{
                     lastrowstart: 6,
                     class0: "",
                     class1: "col-xs-4 col-sm-4 col-md-4 col-lg-4",
                     class2: "col-xs-4 col-sm-4 col-md-4 col-lg-4"

            }
        }

      %>
      <div class="row mtl mbl tac">
      <% review_options.each_with_index do |option, index| %>
          <% if class_key[num_options][:lastrowstart]
               if index == 0
                 klasses = class_key[num_options][:class1] + class_key[num_options][:class0]
               elsif index >= class_key[num_options][:lastrowstart]
                 klasses = class_key[num_options][:class2]
               else
                 klasses = class_key[num_options][:class1]
               end
            else
               klasses = class_key[num_options][:class1]
             end
          %>
          <% #require 'pry'; binding.pry;
             if class_key[num_options][:lastrowstart] && index == class_key[num_options][:lastrowstart] && num_options != '9' %>
              </div>
              <div class="row">
          <% end %>
          <% if num_options == '9' && index%3 == 0 %>
              </div>
              <div class="row ">
          <% end  %>
          <div class="dib tac mbs <%= klasses %> ">
            <%= render "shared/reviews/modules/input/#{option_type}", option: option %>
          </div>
      <% end %>
</div>
