<%
   f
   submitted_review
   principal = @school_member ? @school_member.principal? : false
%>

<div class="topical-review-question-container left">
  <%= render 'shared/reviews/lib/question_title', question: question %>
  <% unless principal %>
      <%= render 'shared/reviews/lib/stars_input', f: f,
                                                   question: question,
                                                   submitted_answer: submitted_review.try(:answer)
      %>
  <% end %>
</div>
<div class="topical-review-question-container right">
  <% options = {
          placeholder: principal ? '' : 'Please share why you feel this way.',
          comment_required: true,
          principal: principal,
          submit_text: principal ? 'Submit Statement' : 'Submit'
  } %>
  <%= render 'shared/reviews/modules/input/review_comment', f: f,
                                                            options: options,
                                                            question: question,
                                                            submitted_review: submitted_review
  %>
</div>