<div class="js-gs-topical-reviews-radio">
  <form class="form-inline">
    <!--<div class="row mtl mbs tac">-->
        <%= render 'shared/reviews/modules/input/options_grid', review_options: review_options, option_type: option_type %>
    <!--</div>-->
 </form>
</div>
