<% f %>
<%
   placeholder = options[:placeholder]
   display = options[:display] ||= ""
%>
<div class="review-comment js-topicalReviewComment <%= display %>">
  <%= f.text_area :comment, {class: "form-control",
                             onkeyup: "GS.topicalReview.characterCount.init(this)",
                             rows: "8",
                             placeholder: placeholder} %>
  <div>
    <div class="fl">
      <p class="help-block js-reviewCharacterDisplay dn">You have <span class="js-reviewCharacterCount"></span> left
        in your review</p>
    </div>
    <div class="fr">
      <button type="submit" class="btn question-submit btn-primary">Submit</button>
    </div>
  </div>
</div>
