<div class="dn js-gs-review-comment">
  <form class="form-group" xmlns="http://www.w3.org/1999/html">
    <textarea id="textInput" class="form-control js-review-comment-input" onkeyup="GS.topicalReview.reviewQuestion.GS_countCharacters(this)" rows="8" placeholder="Optional: Explain your choice"/></textarea>
  </form>
  <footer>
    <div class="js-gs-next-topic">
      <div class="dib fl pts open-sans">Nothing you want to say?</div>
      <div class="fl plxl">
        <button class="btn btn-default">Next topic</button>
      </div>
    </div>
    <div class="js-gs-submit-comment dn">
      <div class="fr">
        <button class="btn btn-primary">Submit Comment</button>
      </div>
    </div>
  </footer>
</div>
