<div class="dn js-gs-review-comment">
  <form class="form-group" xmlns="http://www.w3.org/1999/html">
    <textarea id="textInput" class="form-control js-review-comment-input" onkeyup="GS.topicalReview.reviewQuestion.GS_countCharacters(this)" rows="8" placeholder="Optional: Explain your choice"/></textarea>
  </form>
  <footer>

    <div class="fl">
      <p class="help-block js-review-character-display dn">You have <span class="js-review-character-count"></span> left in your review</p>
      <div class="js-review-submit-errors has-error dn">
        <p class="help-block ">
          You can't submit question without selecting at least one checkbox.
        </p>
      </div>
    </div>
    <div class="js-gs-submit-comment">
      <div class="fr mbm">
        <button class="btn btn-primary js-review-question-submit">Submit</button>
      </div>
    </div>
  </footer>
</div>
