<% f %>

<% offset = options[:offset] || ''  %>
<% new_object = f.object.send(:answers).klass.new %>
<% id = Time.now.to_f.to_s.sub('.', '') %>
<% fields = f.fields_for(:answers, new_object, child_index: id) do |builder| %>
    <fieldset class="js-topicalHiddenField js-topicalOverallRating">
      <%= builder.hidden_field(:answer_value, {value: response_value}) %>
    </fieldset>
<% end %>
<div class="<%= offset %> overall-star-container js-topicalReviewStarContainer"  data-fields="<%= fields.gsub("\n", "") %>">
  <div class="iconx48-stars i-48-blue-star i-48-star-1 js-topicalReviewStar"></div>
  <div class="js-topicalReviewLabel gray-dark"><%= options[:label_value] %></div>
</div>