#district-boundaries-page {
  $list-and-map-height: 400px;
  $list-width: 100%;
  @include media-breakpoint-up(sm) {
    $list-and-map-height: 580px;
  }
  @include media-breakpoint-up(md) {
    $list-width: 320px;
  }
  @include media-breakpoint-up(lg) {
    $list-width: 380px;
  }

  .school-list { 
    float: left;
    height: $list-and-map-height;
    width: 100%;
    background-color: $gray-light-blue;

    h3 {
      margin: 0;
      padding: 10px;
      font-size: $font-size-l3;
    }
    ol {
      height: $list-and-map-height - 36;
    }
    @include media-breakpoint-up(md) {
      width: $list-width;
    }
    @include media-breakpoint-up(lg) {
      width: $list-width;
    }

    .district-boundary-school-links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .view-school-in-map-link {
        padding-right: 12px;
      }
    }
  }


  .map, .school-list {
    .spinny-wheel-container {
      overflow: hidden;
    }
    @include clearfix;
    height: $list-and-map-height;
    .spinny-wheel {
      background-color: rgba(200,200,200,.5) !important;
    }
  }

  .school-list, .map {
    // List and map can be hidden completely by tab on mobile. Other selectors have unwanted global styles
    &.closed {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}
