
#district-boundaries-page {
  .toggle-bar {
    @include clearfix;
    margin-top: 10px;
    @include media-breakpoint-up(md) {
      display: none;
    }

    .list-map-toggle {
      float: right;
      > a {
        text-decoration: none;
        color: black;
      }
      > a:last-child {
        @include vertical-seperator(left);
      }
    }

  }
}
