<div class="api_request_success">
  <%=	 image_tag 'school_profiles/owl.png' %>
  <h3>Success! Your request has been submitted. We will respond to you within the next 3-5 business days.</h3>

  <%= link_to 'Review API docs', 'https://www.greatschools.org/api/docs/main.page' %>
</div>