<script type="text/javascript">
    var _qevents = _qevents || [];
    _qacct = "p-93S1TiA81rkd-";
    (function () {
        var elem = document.createElement('script');
        elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
        elem.async = true;
        elem.type = "text/javascript";
        var scpt = document.getElementsByTagName('script')[0];
        scpt.parentNode.insertBefore(elem, scpt);
    })();
</script>
<noscript>
    <a href="http://www.quantcast.com/p-93S1TiA81rkd-" target="_blank"><img src="http://pixel.quantserve.com/pixel/p-93S1TiA81rkd-.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/></a>
</noscript>

<script type="text/javascript">
    var GS_notifyQuantcastComscore = function () {
        if (_qevents && _qacct) {
            _qevents.push({qacct:_qacct, event:"refresh"});
        }

        try {
            COMSCORE.beacon({
                c1:2,
                c2:6035246,
                c3:"",
                c4:"",
                c5:"",
                c6:"",
                c15:""
            });
        }
        catch (error) {

        }
    }
</script>