<% if params[:noSchoolAlert] %>
  <div class="alert alert-warning tac man">
      <br/>
      <p>
      <%= image_tag('exclaim.gif', alt: 'Exclamation mark', style: 'position: relative; bottom: 1px;') %>
      <%= t('.alert_text') %>
      </p>
    </div>
<% end %>
