<% content_for :page_javascripts do %>
  <%= webpack_javascript_include_tag 'user-email-preferences', defer: true %>
<% end %>

<% content_for :page_stylesheets do %>
  <%= stylesheet_link_tag "post_load", async: true %>
  <%= stylesheet_link_tag "user_email_preferences", async: true %>
<% end %>

<div class="user-email-preferences">
  <%= render 'email_preferences' %>
</div>
