<div class="ptxl tac">
  <span class="iconx96 i-96-megaphone"></span>
  <div class="gray-dark font-size-large"><%= t('.have_your_say') %></div>
  <div class="gray-dark"><%= t('.let_others_know') %></div>
</div>
