<div class="ptxl tac">
  <span class="iconx96 i-96-megaphone"></span>
  <div class="gray-dark font-size-large">Have your say!</div>
  <div class="gray-dark">Let others know more about this school.</div>
</div>