# a.k.a. cdn_prefix, the cdn hostname for assets
media_server: ""

# The hostname and port that Rails will use when generating absolute URLs
app_host: "localhost"
app_port: "3000"

# Whether to force rails to use https for absolute URLs. True on qa/prod
force_ssl: false

# Google API keys
GOOGLE_MAPS_STATIC_API_KEY: "AIzaSyBv3LfIisMottwdQh3LIZ52KNLKXgoDFas"
GOOGLE_MAPS_WIDGET_API_KEY: "AIzaSyBjTd2dueHtfNdsOhXvo_3HQJfyYlkEv98"
GOOGLE_MAPS_STATIC_SIGNING_KEY: "HNQL8P_a2tbC9mcxe6vpxgtkWUg="
GOOGLE_OAUTH2_CLIENT_ID: "727848296119-ojoa1npjdgv42ro6ni1fmqb7uslf2r8b.apps.googleusercontent.com"
GOOGLE_OAUTH2_CLIENT_SECRET: "w_2KvoYsoYM3Gpoy1PIaTwMD"

# Facebook API keys
facebook_app_id: "178930405559082"
facebook_app_secret: "db1795c48c3b404b7c480e48df3985c2"

# The URLs of the Solr server to use
solr.ro.server.url: "http://dev.greatschools.org:8580/main/"
solr.rw.server.url: "http://dev.greatschools.org:8580/main/"

# The URLs of the new Solr 7 host
solr7.ro.server.url: "http://dev-solr1.greatschools.org:8983/solr/main/"
solr7.rw.server.url: "http://dev-solr1.greatschools.org:8983/solr/main/"

# Solr timeouts in seconds
solr.ro.timeout.open: 10
solr.ro.timeout.read: 10

# Google Tag Manager "container" to use
gtm_container_id: 'GTM-N9TK8P'

# Enable/disable advertising
advertising_enabled: true
# Set the "env" prop that gets sent to ad server (dev/prod)
advertising_env: "dev"

# Path to use for the home page
home_path: "/"

# Enable/disable Rails ActionMailer. (We don't use ActionMailer though)
mail_enabled: true

# ExactTarget sftp
exacttarget_host: ftp1.exacttarget.com
exacttarget_username: 86987
exacttarget_password: 42aPefus

# ExactTarget api keys
exacttarget_api_key: API_86987
exacttarget_api_secret: welcome@1
exacttarget_wsdl: https://webservice.exacttarget.com/etframework.wsdl

exacttarget_api_client_id_SMS: afievwrm4tz2tidnbg0458x0
exacttarget_api_client_secret_SMS: zC8g7eGqud0oyTdbMl0IqwtH
exacttarget_api_app_id_SMS: c1d444f8-087d-4921-927e-790a7bad1119

#exacttarget_v2_api_key: 12f1dx5e916tjkij5sajei5e
#exacttarget_v2_api_secret: Qrrgd4ITVtssAgiSZNqCwVyn
#exacttarget_v2_api_app_id: 33a5f73d-b3d3-4724-a50c-a21c1277a041

exacttarget_v2_api_key: afievwrm4tz2tidnbg0458x0
exacttarget_v2_api_secret: zC8g7eGqud0oyTdbMl0IqwtH
exacttarget_v2_api_mss_app_id: mss_subs
exacttarget_v2_api_auth_uri: https://mcr9k09nfkqn191-y87ldgv7zqt4.auth.marketingcloudapis.com/
exacttarget_v2_api_rest_uri: https://mcr9k09nfkqn191-y87ldgv7zqt4.rest.marketingcloudapis.com/
exacttarget_v2_api_soap_uri: https://mcr9k09nfkqn191-y87ldgv7zqt4.soap.marketingcloudapis.com/

# The URL to route Ajax calls that use the "Homes and rentals" service (Zillow)
homes_and_rentals_service_url: //office-gsxapi.greatschools.org/homes-and-rentals-service

# The URL to route Ajax calls for the "Mobility" service (TransitScreen)
mobility_url: //office-gsxapi.greatschools.org/mobility-score-service

# The URL to route Ajax calls for the "Calendar" service (Tandem)
calendar_service_url: //office-gsxapi.greatschools.org/calendar-service

# ActiveRecord connection pooling
connection_pooling_enabled: false

# Set http expires headers
# in seconds ie. Cache-Control: 'max-age=300'
search_suggest_cache_time: 0
district_city_list_cache_time: 86400 # in seconds (24 hrs)

# Recaptcha site key. Looks like this variable is not actually used. Value is hardcoded elsewhere
recaptcha: '6LeAEEQUAAAAAHuerLWHAGjCbq8nY2tQg90DuMZD'

# Configs for scripts
queue_daemon_sleep_time: 1 # in seconds or fractions thereof
queue_daemon_updates_limit: 5
# End configs for scripts
# Start Config for Feeds
is_feed_builder: false
# The location of feed logs - Absolute Path if no property set the log will be generated at the location where the script is being run from
feed_log_location : feeds_log.txt
# The level of feed logs -If no Level set default is DEBUG  .  debug - 0 ,  info -1  , warn -2 ,error -3 , fatal-4 , unknown -5
feed_log_level : 0

# The host and credentials to the primary mysql server that Rails reads from when serving web pages
# Override these in your personal env_global_local.yml file.
db_host: dev.greatschools.org
db_username: developer
db_password: override_in_env_global_local

# The host and credentials to the "gsdata" (data warehouse) mysql server
# Override these in your personal env_global_local.yml file.
gsdata_db_host: datadev-gsdata.greatschools.org
gsdata_db_username: developer
gsdata_db_password: override_in_env_global_local

# Timeouts in seconds for ActiveRecord mysql connections
db_read_timeout: 20
db_write_timeout: 20
db_connect_timeout: 5

# Settings to enable/disable Rails profiling and output directory
profiling_key: we<3performance
profiling_output_path: /tmp

# This is overwritten on the server via puppet.  Static values are in secret.yml for test and development
# generate key by running "bundle exec rake secret"
# We should have different keys on each server so logging in only will work for single environment
secret_key_base:
