.teachers-staff, .finance, .academic_progress, .student_progress, .summary_rating {
  margin-bottom: 10px;
  .module-header {
    .title-container {
      .title {
        margin: 0;
        font-family: 'opensans-bold';
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  .module-footer span.source-link {
    padding-top: 8px;
  }

  .module-footer .module_feedback a.anchor-button:first-child {
    margin-left: 5px;
  }
}

.teachers-staff {
  .show-more {
    .ts-row.ts-row-no-border:first-child {
      padding-bottom: 0;
    }
  }
}