<% breadcrumbs # An +Array+ of +Hash+es, each +Hash+ containing a breadcrumb text and url %>
<% mobile_cutoff = 2 %>
<% unless breadcrumbs.nil? || breadcrumbs.empty? %>
  <div class="breadcrumbs">
    <div class="container">
      <% breadcrumbs.each_with_index do |breadcrumb, index| %>
        <% if index > mobile_cutoff %>
          <span class="hidden-xs-inline">
        <% end %>
        <% if index > 0 %>
          <span><%= ' > ' %></span>
        <% end %>
        <% if breadcrumb[:url].nil? %>
          <span><%= breadcrumb[:text] %></span>
        <% else %>
          <span><%= link_to breadcrumb[:text], breadcrumb[:url] %></span>
        <% end %>
        <% if index > mobile_cutoff %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
