<div class="data-viz phl mbm community-samples">
  <div class="data-display-point pal">
    <div class="header">
      <div class="row-text"><%= t(".#{@t_scope}.african_american") %></div>
      <div class="row-text value below_average">20%</div>
    </div>
    <div class="bar-row gs-tooltip" data-toggle="tooltip" data-html="true" data-placement="bottom" data-title="
              <div class=&quot;tal&quot;>
              <span class=&quot;i-data-viz-state-avg&quot;></span><span class=&quot;vat&quot;> = State Average</span>
              <div>State Avg. 72% met or exceeded standards</div>
              </div>
              " data-original-title="" title="">
      <div class="pr clearfix">
        <div class="color-row below_average" style="width:20%"></div>
        <div class="grey-row" style="width:79.5%"></div>
        <div class="i-data-viz-state-avg state-avg-marker" style="left:22%"></div>
      </div>
    </div>
  </div>
  <div class="data-display-point pal">
    <div class="header">
      <div class="row-text"><%= t(".#{@t_scope}.hispanic") %></div>
      <div class="row-text value average">36%</div>
    </div>
    <div class="bar-row gs-tooltip" data-toggle="tooltip" data-html="true" data-placement="bottom" data-title="
              <div class=&quot;tal&quot;>
              <span class=&quot;i-data-viz-state-avg&quot;></span><span class=&quot;vat&quot;> = State Average</span>
              <div>State Avg. 62% met or exceeded standards</div>
              </div>
              " data-original-title="" title="">
      <div class="pr clearfix">
        <div class="color-row average" style="width:36%"></div>
        <div class="grey-row" style="width:63.5%"></div>
        <div class="i-data-viz-state-avg state-avg-marker" style="left:37%"></div>
      </div>
    </div>
  </div>
</div>