<div class="data-viz phl mbm community-samples">
  <div class="data-display-point pal">
    <div class="header">
      <div class="row-text">African-American</div>
      <div class="row-text value above_average">70%</div>
    </div>
    <div class="bar-row gs-tooltip" data-toggle="tooltip" data-html="true" data-placement="bottom" data-title="
              <div class=&quot;tal&quot;>
              <span class=&quot;i-data-viz-state-avg&quot;></span><span class=&quot;vat&quot;> = State Average</span>
              <div>State Avg. 72% met or exceeded standards</div>
              </div>
              " data-original-title="" title="">
      <div class="pr clearfix">
        <div class="color-row above_average" style="width:70%"></div>
        <div class="grey-row" style="width:29.5%"></div>
        <div class="i-data-viz-state-avg state-avg-marker" style="left:72%"></div>
      </div>
    </div>
  </div>
  <div class="data-display-point pal">
    <div class="header">
      <div class="row-text">Latino</div>
      <div class="row-text value average">60%</div>
    </div>
    <div class="bar-row gs-tooltip" data-toggle="tooltip" data-html="true" data-placement="bottom" data-title="
              <div class=&quot;tal&quot;>
              <span class=&quot;i-data-viz-state-avg&quot;></span><span class=&quot;vat&quot;> = State Average</span>
              <div>State Avg. 62% met or exceeded standards</div>
              </div>
              " data-original-title="" title="">
      <div class="pr clearfix">
        <div class="color-row average" style="width:60%"></div>
        <div class="grey-row" style="width:39.5%"></div>
        <div class="i-data-viz-state-avg state-avg-marker" style="left:62%"></div>
      </div>
    </div>
  </div>
</div>