<% school_count %>

<div id="hero">
  <div>
    <h1 class="state-hero-title"><%= I18n.t('hero_title', scope: 'community.state', name_long: @state[:long].titleize) %></h1>
    <div class="state-hero-narrative"><%= I18n.t('hero_narrative', scope: 'community.state', name_long: @state[:long].titleize, school_count: school_count) %></div>
  </div>
</div>

  