<div class="row community-samples school-rating">
  <div class="col-md-12 ptl mlm rating-score">

   <div class="row mvs">
     <div class="col-md-6 rating">
       <div class="row">
          <div class="col-xs-3">
            <div class="gs-rating-lg above_average fl">
              <div class="dib">
                <div class="">8</div><div class="subtext"><%= t(".#{@t_scope}.out_of_10") %></div>
              </div>
            </div>
          </div>
         <div class="col-xs-9"><h2 class="mvn"><%= t(".#{@t_scope}.great_schools_rating") %></h2></div>
         </div>
       </div>
     <div class="col-md-6 score">
       <div class="row">
         <div class="col-xs-3">
           <div class="gs-rating-white-lg sub-rating-icon average">6</div>
         </div>
         <div class="col-xs-9"><h4><%= t(".#{@t_scope}.test_scores") %></h4></div>
       </div>
     </div>
   </div>


  </div>
</div>
