<div class="row phl mbm pts community-samples">
    <div class="col-xs-3 col-md-2">
      <div class="gs-rating-lg above_average fl">
        <div class="dib">
          <div class="">8</div><div class="subtext">out of 10</div>
        </div>
      </div>
    </div>
    <h2 class="col-xs-9 col-md-5 mts">GreatSchools ratings</h2>


    <div class="col-xs-3 col-md-2">
      <div class="gs-rating-white-lg sub-rating-icon average">5</div>
    </div>
    <h4 class="col-xs-9 col-md-3">Low-Income Student Rating</h4>
</div>
