<div class="ad-bar sticky display-desktop">
  <%#= render 'shared/new_ad', slotId: ad_slot_name, css_class: 'js-ad-hook' %>

  <%= react_component("AdWrapper", props: {
      slot: ad_slot_name
  }) %>
</div>