
.footer {
  padding-top: 40px;
  background-color: #15314E;
  color: $white;
  a, p {
    font-size: $font-size-small;
  }
  a > span.iconx16-footer-icons {
    vertical-align: middle;
    margin-bottom: 3px;
  }
  .heading {
    font-size: $font-size-large;
    margin-bottom: 5px;
  }
  ul {
    margin: 0px;
    padding: 0px;
    letter-spacing: normal;
    line-height: 1.5;
    @media only screen and (max-width: $screen-sm-max) {
      margin-bottom: 10px;
      @include clearfix();
    }
  }
  li {
    list-style: none;
    padding-bottom: 0;
    @media only screen and (max-width: $screen-sm-max) {
      float: left;
      padding-right: 15px;
    }
  }
}
