#home-page {
  h1.text_fff {
    margin-bottom: 10.5px;
    line-height: 1.2;
  }
  padding-right: 0;
  padding-left: 0;
  .search-btn {
    height: 46px;
    vertical-align: middle;
    color: white;
    background-color: #26abe2;
    border-color: #26abe2;
    border-bottom-width: 3px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'opensans-bold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 8px 20px;
    font-size: 12px;
    line-height: 1.5;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-user-select: none;
  }

  .search-btn:hover {
    background-color: #009edc;
    border-color: #2880b9;
  }

  .parent-content {
    line-height: 1.5;
    > a {
      color: #26abe2;
    }
  }

  #home_state_select_wrapper {
    margin: 60px 0 20px;

    .dropdown-container{
      position: relative;
      display: inline-block;
      
      .state-btn{
        border: 1px solid #c1d2d9;
        padding: 5px 10px;
        color: #666666;
        background: #fff;
        min-width: 140px;
        height: 36px;
        display: flex;
        justify-content: space-between;
      }
  
      ul{
        position: absolute;
        background-color: #ffffff;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        min-width: 160px;
        list-style-type: none;
        z-index: 2;
        height: auto;
        max-height: 250px;
        overflow-x: hidden;
        padding: 0;
  
        li{
          padding: 10px 30px;

          &:hover{
            background-color: #eee;
          }
        }
        
        a{
          color: #585859;
          text-decoration: none;
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      .hide-state-list{
        display: none;
      }
    }
  }

  .below-hero {
    font-size: 34px;
    text-align: center;
    @media (max-width: $screen-md-max) {
      font-size: 34px;
    }
    @media (max-width: $screen-sm-max) {
      font-size: 32px;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 30px;
    }
    .mission-text {
      font-family: 'RobotoSlab-Bold', sans-serif;
      font-weight: 900;
      font-size: 36px;
      color: $gray-darkest;
      padding: 30px 15px 0 15px;
      @media (max-width: $screen-sm-min) {
        font-size: 0.75em;
      }
    }
    .mission-text.subtext {
      font-family: 'RobotoSlab-Light', sans-serif;
      font-size: 36px;
      padding: 15px 0;
      @media (max-width: $screen-sm-min) {
        font-size: 0.65em;
      }
    }
    .our-work-module {
      margin: 20px 0 30px 0;
      padding: 0 8%;
      .our-work-block {
        padding: 0 2%;
        p:nth-child(2) {
          font-family: 'RobotoSlab-Light', sans-serif;
          font-size: 0.65em;
          color: $gray-darker;
        }
        p:nth-child(3) {
          line-height: 1.8em;
          font-size: 0.42em;
          @media (max-width: $screen-sm-min) {
            font-size: 0.47em;
          }
        }
      }
      @media (max-width: $screen-sm-min) {
        margin-top: 10px;
      }
      .row {
        text-align: center;
      }
      .row:nth-child(3) {
        text-align: left;
      }
    }
  }

  .highlights-module {
    background-color: #f8f8f8;
    padding-bottom: 25px;
    .row {
      text-align: left;
      padding: 60px 0 0 9%;
      @media (max-width: 990px) {
        padding: 0 5% 0 8%;
      }
      div {
        p:first-child {
          text-transform: uppercase;
          font-size: 14px;
          color: #8a90a0;
          font-family: opensans-regular;
        }
        p:nth-child(2) {
          font-family: 'RobotoSlab-Light';
          font-size: 26px;
          line-height: 1.2em;
          margin: 12px 0 15px 0;
        }
        p:nth-child(3) {
          font-size: 18px;
          line-height: 1.8em;
          margin-bottom: 25px;
          font-family: opensans-regular;
        }
        img {
          display: inline-block;
          width: 550px;
          @media (max-width: 990px) {
            display: none;
          }
          @media (max-width: 1206px) {
            width: 450px;
          }
        }
      }
      div.highlights-module-text {
        padding-top: 30px;
        @media (max-width: 990px) {
          padding-top: 0;
        }
      }
      @media (min-width: 990px) {
        .pad-right {
          padding-right: 6%;
        }
      }
      .pull-right {
        text-align: right;
        padding: 0;
      }
    }
  }

  .learn-more {
    font-family: 'opensans-semibold', sans-serif;
    width: 180px;
    height: 50px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 60px;
    @media (max-width: 420px) {
      margin-bottom: 30px;
    }
  }

  .blue-background {
    background-color: #0aa8e4;
    color: white;
  }

  .white-background {
    border-color: #0aa8e4;
    color: #0aa8e4;
    background-color: white;
  }

  .darken {
    overflow: visible;
    background: rgba(0, 0, 0, 0.80);
  }
  .parent-content {
    width: 340px;
    @media (max-width: $screen-sm-min) {
      width: 300px;
      a {
        font-size: $font-size-small;
      }
    }
  }
}

// TODO: refactor

.gs-bootstrap .row {
  margin-right: 0 !important;
}

.absolute-center {
  .col-xs-12 {
    padding-right: 0 !important;
  }
}

section {
  width: 100%;
  background-color: #E5E5E5;
  padding: 2em;
  min-height: 543px;
  @include media-breakpoint-down(sm){
    padding: 1em;
  }


  h2, p {
    text-align: center;
  }

  h2 {
    font-size: 28px;
    font-family: 'opensans-semibold';
  }

  h3 {
    font-size: 28px;
    font-family: 'opensans-regular';
  }

  p {
    font-size: 18px;
  }

  .module-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 1em;
    font-size: 40px;
    @include media-breakpoint-down(sm){
      flex-direction: column-reverse;
      padding: 0.5em;
    }

    > div:first-child{
      flex-grow: 1;
      padding: 20px;

      p {
        text-align: left
      }
    }

    // ::carousel
    .carousel-container{
      flex-grow: 3;
    }

  }
  .carousel-buttons{
    text-align: center;
    > svg:first-child{
      margin-right: 5px;
    }
    @media (max-width:422px){
      width: 100vw;
    }
  }
}
