.highschool-milestones-bg {
  height: 290px;
  background: image_url('home/GK_Milestones_Highschool_Desktop_Banner.jpg');
  background-size: 100%;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media only screen and (max-width: $screen-sm) {
    height: 340px;
  }

  h1 {
    text-shadow: 1px 1px #333;
  }

  .section {
    max-width: 1200px;
  }

  .milestones-main-container {
   margin-top: 20px;
  }

  .milestone {
    font-size: 80px;
  }

  .high-school {
    font-size: 20px;
    color: #FFFFFF;
  }

  .sub-header {
    font-size: 34px;
    @media only screen and (max-width: $screen-xs-min) {
      font-size: 30px;
    }
    color: #FFFFFF;
  }
}

.cue-cards-bg {
  background: image_url('home/cue_cards_home_bg-sm.jpg');
  background-size: 100%;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @media only screen and (max-width: $screen-xs-max) {
    text-align: center;
  }

  img {
    width: 85%;
    @media only screen and (max-width: $screen-md-max) {
      width: 100%;
    }
  }

  h1 {
    margin-top: $spacing-small;
    font-family: "RobotoSlab-Light", sans-serif;
    font-size: 50px;
    @media only screen and (max-width: $screen-sm-max) {
      margin-top: 0px;
      font-size: 40px;
  }
    @media only screen and (max-width: $screen-xs-max) {
      margin-top: $spacing-small;
      font-size: 55px;
      text-align: center;
    }
  }

  .tough-parenting {
    margin-top: 20px;
    font-family: "RobotoDraft", "Roboto", sans-serif;
    font-size: 30px;
    @media only screen and (max-width: $screen-sm-max) {
      font-size: 24px;
      margin-top: 10px;
    }
    @media only screen and (max-width: $screen-xs-min) {
      text-align: center;
    }
  }

  .btn {
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);

    @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
  }

}



  .section {
    max-width: 1200px;
  }
}
