.gs-modal-dialog {
  max-width: 660px;
  @include media-breakpoint-up(sm) {
    &.modal-dialog {
      width: 660px;
    }
  }

  font-family: 'opensans-regular';

  p,a {
    font-family: 'opensans-regular';
    font-size: $font-size-l2;
    @include media-breakpoint-up(sm) {
      font-size: $font-size-l2;
    }
  }

  .heading {
    // line-height: 30px;
    font-family: 'opensans-semibold';
    font-size: $font-size-l3;
    @include media-breakpoint-up(sm) {
      font-size: $font-size-l4;
    }
  }

  .subheading {
    margin: 10px 0 0 0;
    @include media-breakpoint-up(sm) {
      font-size: $font-size-l2;
    }
  }

  .body {
    margin-top: 30px;
  }

  .modal-body {
    position: initial;
    padding: 30px 15px 15px 15px;
    background-color: #fff;
    @include media-breakpoint-up(sm) {
      padding: 30px;
    }
    @include media-breakpoint-up(md) {
      padding: 40px;
    }
  }

  .close {
    color: #000;
    width: 20px;
    height: 20px;
    float: right;
    font-size: 30px;
    margin: 5px 10px 0 0;
    padding-bottom:30px;
  }

  // Adds an inverse class for the modal close symbol for the dark background
  .close-inverse {
    font-weight: bold;
    color: white;
    text-shadow: 0 1px 0 rgba(255,255,255,1);
    @include opacity(20);
    &:hover,
    &:focus {
      color: $gray;
      text-decoration: none;
      cursor: pointer;
      @include opacity(40);
    }
  }

  // Additional properties for button version
  // iOS requires the button element instead of an anchor tag.
  // If you want the anchor version, it requires `href="#"`.
  button.close-inverse {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
  }

}
