@mixin osp_landing_page_module($backgroundcolor,$titlecolor,$h4color,$h1textAligh) {
  background-color: $backgroundcolor;

  h1 {
    color: $titlecolor;
    font-size: 30px;
    font-family: 'RobotoSlab-Light';
    text-align: $h1textAligh;
  }
  h4 {
    color: $h4color;
  }
  @media only screen and (min-width: $screen-sm-min) {
    h1 {
      font-size: 50px;
    }
  }
}
@mixin osp_search_link_color($color){
  color:$color;
}

.osp-landing-page {
  .school-story {
    @include osp_landing_page_module($dirt-green,$lighter-green,white,left);
  }
  .connect-parents {
    @include osp_landing_page_module($blue-green, $dirt-green,white,left);
  }

  .social-media {
    @include osp_landing_page_module($pale-yellow,$blue-green,black,left);
  }
  .ensure-accuracy {
    @include osp_landing_page_module($dark-green,$lighter-green,white,left);
  }

  .padding {
    padding-left: 10px;
    padding-right: 10px;
  }

  .padding-lg{
    padding-top: 20px;
    padding-bottom: 30px;
  }


  .info-module{
    background-color: $dark-green;
    text-align: center;
    h3 {
      color: white;
      font-family: 'opensans-regular';
      font-size: 18px;
    }
  }
  .claim-profile{
    background-color:$dirt-green ;
    h1{
      color:white;
      text-align: center;

    }
    h4{
      color:white;
    }

    h3 {
      color: white;
      font-family: 'opensans-italic';
      font-size: 14px;
      text-align: 'center';
    }

  }


  .osp-school-picker-module{
    background-color: $wallpaper-green;
    background-image: image-url('signin/wallpaper.png');
    border-bottom: 10px solid $dirt-green;
    h1{
      text-align: center;
      padding-top: 20px;
    }




  }
  .bright-yellow-color{
    color :  $bright-yellow;
  }

  .search-link-white {
    @include  osp_search_link_color(white)
  }
  .search-link-grey {
    @include  osp_search_link_color($lighter-black)
  }
  .picker-border{
    border-top: 10px solid $dirt-green;
    border-left: 10px solid $dirt-green;
    border-right: 10px solid $dirt-green;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

    .picker-background{
      background-color: $dirt-green;
    }


  .search-bar-osp {
    max-width: 600px;
  }
}