@mixin osp_landing_page_module($backgroundcolor,$titlecolor,$h3color) {
  background-color: $backgroundcolor;

  h1 {
    color: $titlecolor;
    font-size: 30px;
    font-family: 'RobotoSlab-Light';
  }
  h3 {
    color: $h3color;
  }
  @media only screen and (min-width: $screen-sm-min) {
    h1 {
      font-size: 60px;
    }
  }
}

.osp-landing-page {
  .school-story {
    @include osp_landing_page_module($dirt-green,$lighter-green,white);
  }
  .connect-parents {
    @include osp_landing_page_module($blue-green, $dirt-green,white);
  }

  .social-media {
    @include osp_landing_page_module($pale-yellow,$blue-green,black);
  }
  .ensure-accuracy {
    @include osp_landing_page_module($dark-green,$lighter-green,white);
  }

  .padding {
    padding-left: 10px;
    padding-right: 10px;
  }

  .info-module{
    background-color: $dark-green;
    text-align: center;
    h3 {
      color: white;
      font-family: 'opensans-regular';
      font-size: 18px;
    }

  }

}