.send-to-partner {
  border: 2px solid $module-gray-stroke;
  text-align: center;
  .cta { //call to action
    @extend .col-xs-12;
    @extend .col-sm-9;
    .cta-body {
      background-color: $module-gray;
      padding: 10px 10px 15px;
      .cta-text {
        font-family: $font-family-base-bold;
        padding-bottom: 10px;
      }
    }
  }
  .logo {
    @extend .col-xs-12;
    @extend .col-sm-3;
    img {
      max-height: 100px;
      max-width: 220px;
      padding: 10px;
      width: 85%;
    }
  }
}

.send-to-partner-vertical {
  .send-to-partner{
    .cta { //call to action
      @extend .col-xs-12;
      .cta-body{
        padding-bottom: 20px;
        padding-top: 20px;
      }
    }
    .logo {
      @extend .col-xs-12;
    }
  }
}

.partner-logo {
  padding: 10px 0;
  text-align: center;
  div {
    display: inline-block;
  }
  .text {
    @include ghost-text();
    margin: auto 0;
    padding-right: 20px;
  }
  img {
    max-height: 60px;
  }
  @media (min-width: $screen-md-min) {
    text-align: left;
  }
}
