.gs-rating-sm {
  @include gs-rating($size: $gs-rating-size-small);
}

.gs-rating-md {
  @include gs-rating($size: $gs-rating-size-medium);
}

.gs-rating-lg {
  @include gs-rating($size: $gs-rating-size-large, $with-subtext: true);
}

.performance-box {
  padding: $spacing-small;
  text-align: center;
  h3 {
    font-size: $font-size-h1;
  }
}

.state-average {
  color: $gray-darker;
  font-family: 'opensans-regular';
  font-size: 12px;
}

.percent-value {
  @include performance-color();
  h3 {
    margin-bottom: 0;
    margin-top: 0;
  }
  sup {
    font-size: 70%;
    top: -0.35em;
  }
  .no-data {
    border-bottom: $gray-dark 2px solid;
    width: 12px;
    margin-right: auto;
    margin-left: auto;
  }
}
