  .promos {
    min-width: 280px;
    li:before {
      left: 20px;
      @extend .iconx24-icons;
      position: absolute;
      content: " ";
    }

    li:nth-child(1):before {
      @extend .i-24-weekly-newsletter;
      top: 20px;
    }

    li:nth-child(2):before {
      @extend .i-24-follow-schools;
      top: 114px;
    }

    li:nth-child(3):before {
      @extend .i-24-write-reviews;
      top: 226px;
    }
  }

