.sticky-nearby-schools {
  // Module placement
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .sticky-container {
    @include clearfix;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .25);
    height: 60px;

    .school {
      .school-rating {
        display: inline-block;
        width: $gs-rating-size-small + 5px;
      }
      .school-name {
        display: inline;
        font: $font-size-small $font-family-base-bold;
      }
    }

    .current-school {
      background-color: $dirt-green;
      color: white;
      float: left;
      height: 100%;
      padding: 20px 10px 10px 10px;
      width: 50%;
      .school {
        @include text-overflow-ellipses;
        width: 60%;
        padding-top: $spacing-small;
      }
    }

    .nearby-schools {
      @include clearfix;
      position: relative;
      background-color: $module-gray-stroke;
      float: left;
      height: 100%;
      padding: 6px 10px 10px 10px;
      width: 100%;
      > div:not(.title) {
        float: left;
      }
      .title {
        color: #555;
        font-family: $font-family-base-bold;
        font-size: 9px;
        padding-bottom: 5px;
        text-align: center;
      }
      .next {
        text-align: right;
      }
      .prev {
        text-align: left;
      }
      .next, .prev {
        color: $link-color;
        cursor: pointer;
        font-size: 9px;
        padding-top: 22px;
        width: 10%;
      }
      .nearby-school {
        @include clearfix;
        @include text-color-links;
        @include text-overflow-ellipses;
        text-align: center;
        .school-name {
          width: calc(100% - (#{$gs-rating-size-small} + 10px));
        }
      }
      .carousel {
        width: 80%;
      }
      .more-quality-schools {
        margin-top: 15px;
        text-align: center;
      }

      .close-nearby-schools {
        &.shadow {
          box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .25);
          -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .25);
          -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .25);
          z-index: -1;
        }
        height: 21px;
        width: 37px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: absolute;
        background-color: $module-gray-stroke;
        bottom: 60px;
        right: 0px;
        padding-right: 4px;
        padding-top: 4px;
        color: $gray-darker;
        cursor: pointer;
      }

    }

    @include for-sm-and-up {
      height: 70px;

      .nearby-schools {
        width: 50%;
        .carousel {
          width: 70%;
        }
        .next, .prev {
          padding-top: 22px;
          width: 15%;
        }
        .more-quality-schools {
          margin-top: 20px;
        }
        .close-nearby-schools {
          bottom: 70px;
        }
      }
    }

    $gs-rating-size-nearby-schools: 36px;
    @include for-md-and-up {
      height: 80px;

      .current-school {
        padding: $spacing-large;
        .btn-sm {
          @include button-size(
            $padding-large-vertical,
            $padding-large-button-horizontal,
            $font-size-large,
            $line-height-large,
            $border-radius-base
          );
        }
      }
      .school {
        .school-rating {
          width: $gs-rating-size-nearby-schools + 10px;
          .gs-rating-sm {
            @include gs-rating($size: $gs-rating-size-nearby-schools);
          }
        }
        .school-name {
          font: $font-size-h5 $font-family-base-bold;
          line-height: $gs-rating-size-nearby-schools;
          width: calc(100% - (#{$gs-rating-size-nearby-schools} + 15px));
        }
      }
      .nearby-schools {
        padding: $spacing-small $spacing-medium;
        .carousel {
          width: 80%;
        }
        .title {
          font-size: 10px;
        }
        .next, .prev {
          font-size: 10px;
          padding-top: 30px;
          width: 10%;
        }
        .more-quality-schools {
          margin-top: 25px;
        }
        .close-nearby-schools {
          bottom: 80px;
        }
      }
    }

    @include for-lg-and-up {
      border-top-left-radius: 5px;
      border-top-right-radius: 8px;
      max-width: $screen-lg;
    }
  }
}
