.sticky-nearby-schools {
  // Module placement
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .sticky-container {
    @include clearfix;
    height: 60px;

    .current-school {
      background-color: $dirt-green;
      color: white;
      float: left;
      height: 100%;
      width: 50%;
    }
    .nearby-schools {
      @include clearfix;
      background-color: $gray;
      float: left;
      height: 100%;
      width: 100%;
      > div {
        float: left;
      }
      .close-nearby-schools {
        width: 10%;
      }
      .carousel {
        width: 80%;
        .school {
          @include clearfix;
          @include text-color-links;
          margin: $spacing-large;
          .school-rating {
            float: left;
            width: $gs-rating-size-small + 5px;
          }
          .school-name {
            @include text-overflow-ellipses;
            float: left;
            font: $font-size-h5 $font-family-base-bold;
            line-height: $gs-rating-size-small;
            width: calc(100% - (#{$gs-rating-size-small} + 10px));
          }
        }
      }
      .next {
        width: 10%;
      }
    }

    @include for-sm-and-up {
      height: 70px;
      .nearby-schools {
        width: 50%;
      }
    }
    @include for-md-and-up {
      height: 80px;
      .nearby-schools {
        .carousel {
          .school {
            .school-rating {
              width: $gs-rating-size-medium + 5px;
              .gs-rating-sm {
                @include gs-rating($size: $gs-rating-size-medium);
              }
            }
            .school-name {
              font: $font-size-h3 $font-family-base-bold;
              line-height: $gs-rating-size-medium;
              width: calc(100% - (#{$gs-rating-size-medium} + 10px));
            }
          }
        }
      }
    }
    @include for-lg-and-up {
      max-width: $screen-lg;
      .current-school {
        border-top-left-radius: 5px;
      }
      .nearby-schools {
        border-top-right-radius: 5px;
      }
    }
  }
}
