@import "variables/spacing";
@import "variables/performance";

// Grays
// -------------------------
$gray-base-color:        #000;
$gray-darkest:           #333; // This was not calculating to #333
$gray-darker:            #777; // We want this to be #777
$gray-dark:              lighten($gray-base-color, 60%); // #999
$gray:                   lighten($gray-base-color, 80%); // #ccc
$gray-light:             lighten($gray-base-color, 90%); // #ebebeb
$gray-lighter:           #f4f4f4;

$text-color:            $gray-darkest;

// Brand colors
// -------------------------
$brand-primary:                #26ABE2;
$brand-primary-darker:         #4788be;
$brand-primary-dark:           #2880b9;
$brand-primary-darkest:        #195074;
$brand-primary-light:          lighten($brand-primary, 40%); // #66B5D1
$brand-primary-lighter:        lighten($brand-primary, 47%); // #F5FAFC

$brand-secondary:                 #ffb725;
$brand-secondary-dark:            #926100;
$gk-brand-primary:                #f45c20;

// Other Colors
// -------------------------
$blue-dark:               #0D6A99;
$blue-darker:             #002c47;
$ocean-blue:              #F5FBFD;
$green-light:             #69b684;
$medium-green:            #8cbe3b;
$neutral-color:           #444444;
$dirt-green:              #07251e;
$clay-green:              #3f4e4b;
$wallpaper-green:         #93c83e;
$absence-gray:            #2b2b2b;
$emphasis-color:          #E6705C;
$lighter-green:           #add36e;
$indigo:                  #195074;
$blue-green:              #25b798;
$pale-yellow:             #f7ffe3;
$bright-yellow:           #fad700;
$dark-green:              #135c4c;
$lighter-black:           #222;
$module-gray:             $gray-lighter;
$module-gray-stroke:      #dedede;
$dark-steel-gray:         #1d1d1d;
$light-ash-gray:          #777777;
$light-blue-background:   #e6ebf5;
$gray-link-color:         $light-ash-gray;
$gray-link-hover-color:   darken($light-ash-gray, 15%);
$white:                   #FFFFFF;

// Has to be after colors
@import "variables/typography";

// Tables
// -------------------------
$table-bg-accent:    $module-gray;
$table-border-color: $module-gray-stroke;


// Forms
// -------------------------
$input-color-placeholder:         $gray-dark;

// Buttons
// -------------------------
$btn-font-weight:                normal !default;

$btn-default-color:              #4788be !default;
$btn-default-bg:                 #FFFFFF !default;
$btn-default-hover:              #1e608b !default;
$btn-default-border:             #6797c7 !default;
$btn-default-active-border:      #195074 !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $brand-primary-dark !default;

$btn-gk-primary-color:           $white !default;
$btn-gk-primary-bg:              #343434 !default;
$btn-gk-primary-shadow:          #131f28;
$btn-gk-primary-selected-bg:     #131f28;
$btn-gk-primary-hover-color:     $white;
$btn-gk-primary-hover-bg:        #495056;
$btn-gk-primary-hover-shadow:    #383838;

$btn-hover:                      #195074 !default;

$btn-toggle-color:               #4788be !default;
$btn-toggle-bg:                  #fff !default;
$btn-toggle-border:              #4788be !default;
$btn-toggle-hover:               #195074 !default;
$btn-toggle-color-active:        #fff !default;
$btn-toggle-bg-active:           #35485d !default;

$btn-link-disabled-color:        $gray-light !default;
$padding-base-vertical:                 8px;
$padding-base-button-horizontal:        20px;
$padding-large-button-horizontal:       30px;
$padding-small-button-horizontal:       15px;

// Components
// -------------------------
$table-cell-padding:                 10px;
$border-light-grey:               1px #cccccc solid;
$navbar-height:                    58px;
$navbar-margin-bottom:             0px;
$navbar-default-color:             #777777;
$navbar-default-bg:                #FFFFFF;
$navbar-default-link-color:                #777777;
$navbar-default-link-hover-color:          #000000;
$navbar-default-border: transparent;
$navbar-default-toggle-border-color: transparent;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: $brand-primary;

$grid-float-breakpoint:     950px;

$cursor-pointer: pointer;

// Typography
// -------------------------
$font-size-base: 12px;
$font-size-l7: ceil(($font-size-base * 3));
$font-size-l6: ceil(($font-size-base * 2.6));
$font-size-l5: ceil(($font-size-base * 2.15));
$font-size-l4: ceil(($font-size-base * 1.7));
$font-size-l3: ceil(($font-size-base * 1.32));
$font-size-l2: ceil(($font-size-base * 1.13));
$font-size-l1: ceil(($font-size-base * 1.05));
$font-size-s1: ceil(($font-size-base * .95));
$font-size-s2: ceil(($font-size-base * .87));
$font-size-s3: ceil(($font-size-base * .75));
