.image-bg-scale {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.img-container, .img-container-mobile {
  position: absolute;
  left: -50%;
  width: 200%;
}

.breakdown-result-count {
  top: 1px;
  right: 0px;
  width: 36px;
  font-size: 13px;
  border-radius: 10px;
  background-color: $blue-dark;
  padding: 2px 10px;
}

.partner-carousel-image {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.expandable {
  display: none;
}

.view-more {
  cursor: pointer;
  margin-top: 41px;
  margin-bottom: 34px;
}

hr.brand-bar {
  height: 2px;
  background: $brand-secondary;
}

@media only screen and (max-width: 990px) {
  .scale-image div {
    width: 100%;
    float: none;
  }
  .image-bg-scale {
    height: auto;
  }
}

@media only screen and (max-width: 650px) {
  .upcoming-event {
    clear: left;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  .community-partner-row {
    div {
      clear: left;
    }
  }

  .img-container {
    display: none;
  }

  .img-container-mobile {
    display: block;
  }
}

@media only screen and (min-width: 650px) {
  .img-container-mobile {
    display: none;
  }

  .img-container {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .scale-image {
    display: none;
  }

  .sponsor-bar {
    padding-top: 0;
    img {
      width: 25%;
    }
  }
}
