.sponsor-bar {
  top: 58px;
  right: 0;
  left: 0;
  z-index: 1;
}

// Hub Search Hero //
.image-bg-scale {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.img-container, .img-container-mobile {
  position: absolute;
  left: -50%;
  width: 200%;
}

.content-centered {
  position: relative;
  top: 58px;
  width: 100%;
}

.hub-hero-bg {
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.62);
  border-radius: 3px;
  width: 940px;
  margin: auto;
  padding: 35px;
  overflow: hidden;
}

.search-hero-heading {
  float: left;
  h4 {
    color: #ffb725;
  }

  h1 {
    color: #fff;
    font-size: 62px;
  }
}

.lg-search-bar {
  width: 350px;
}

.clear-cookies-link {
  color: #ddd;
  clear: left;
}

.clear-cookies-link:hover {
  color: #fff;
}

.school-breakdown {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.search-type-toggle {
  div:hover {
    cursor: pointer;

    span {
      color: white;
    }
  }

  div:first-child:hover, div:first-child.selected {
    div.location-icon {
      background-position: -16px -16px;
    }
  }

  div:last-child:hover, div:last-child.selected {
    div.home-icon {
      background-position: -16px 0;
    }
  }

  div.selected {
    span {
      color: white;
    }
  }

  span {
    color: #DDD;
    cursor: pointer;
  }
}

.state-hub-search-button {
  height: 47px;
  background: #0D6A99;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 0px 20px;
}

.browse-school-link {
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: white;
  padding-left: 0;
}

.breakdown-result-count {
  color: white;
  top: 1px;
  right: 0px;
  width: 36px;
  font-size: 13px;
  border-radius: 10px;
  background-color: #0D6A99;
  padding: 2px 10px;
}

.partner-carousel-image {
  margin-right: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.success-block {
  background: #DFF0D8;
  font: normal 14px Arial, Helvetica, sans-serif;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  border-color: #D6E9C5;
  color: #468846;
  a { font-size: 14px; }
}

.lg-pr-sm-pl {
  float: right;
}

.js-content-modules > div {
  padding-left: 10px;
  padding-right: 10px;
}

// Centered Nav Bar Search
.search-bar {
  position: relative;
  float: left;

  div {
    right: 108px;
    top: 8px;
  }

  input {
    padding: 0 5px;
    width: 325px;
  }
}

// Education Community Page //
.education-community-tabs {
  list-style-type: none;
  padding-left: 0;

  li {
    display: inline-block;
    width: auto;
    overflow: visible;
    text-align: center;
    position: relative;
    outline: 0;
    white-space: nowrap;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 40px;
    padding: 0 24px;
    font: bold 1em/2.75em Arial,Helvetica,sans-serif;
    background: #fff;
    color: #0083b2;
    border: 0;
    box-shadow: none;
    margin: 0 5px;
  }

  li:hover {
    background-color: #e6e6e6;
  }

  li.active {
    background: #0083b2;
    a { color: #fff; }
  }

  a:hover {
    text-decoration: none;
  }
}

.community-partner-row {
  @extend .col-xs-12;
  @extend .col-sm-10;
  @extend .col-lg-offset-1;
  @extend .col-md-offset-1;
  @extend .col-sm-offset-1;

  img {
    margin-right: 30px;
    float: left;
  }

  div {
    overflow: auto;
  }
}

.expandable {
  display: none;
}

.choosing-schools-step {
  img {
    @extend .col-xs-12;
    @extend .col-sm-4;
    @extend .col-md-4;
    @extend .col-lg-6;
    max-width: 460px;
  }

  div {
    @extend .col-xs-12;
    @extend .col-sm-8;
    @extend .col-md-8;
    @extend .col-lg-6;
    @extend .phm;
  }
}

.js-content-modules {
  background-color: #f4f4f4;
  @extend .clearfix;
}

.js-module-expand {
  overflow: hidden;
}

span.view-more {
  cursor: pointer;
  margin-top: 41px;
  margin-bottom: 34px;
}

// Enrollment Page //
.js-enrollment-tabs {
  list-style-type: none;
  text-align: center;
  margin-top: 20px;
  padding-left: 0;

  li {
    display: inline;
    @extend .mhm;
    margin-top: 15px;
    margin-bottom: 20px;

    a {
      color: #666;
      border-radius: 5px;
      padding: 10px 20px;
      text-align: center;
    }

    a:hover {
      text-decoration: none;
      background: #eee;
    }

    &.active a {
      background: #666;
      color: white;
    }
  }
}

hr.brand-bar {
  height: 2px;
  background: $brand-secondary;
}

.upcoming-events {
  background-color: #f5f5f5;
}


// Media Queries //
@media only screen and (max-width: 990px) {
  .scale-image div {
    width: 100%;
    float: none;
  }
  .image-bg-scale {
    height: auto;
  }
  .content-centered {
    top: 0;
  }
  .hub-hero-bg {
    width: 100%;
    height: auto;
    border-radius: none;
  }
  .search-hero-heading {
    h4 {
      margin-top: 20px;
      margin-bottom: 0;
    }

    h1 {
      font-size: 40px;
    }
  }

  .search-type-toggle {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .school-breakdown {
    background: white;
    padding: 20px 20px 0 20px;
    margin-left: -35px;
    margin-bottom: -35px;
    overflow: hidden;
    width: 150%;
    h4 {
      color: black;
    }

    button {
      color: #0D6A99;
    }
  }

  .lg-search-bar {
    width: 70%;
    height: 40px;
  }

  .state-hub-search-button {
    width: 22%;
    height: 41px;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .lar {
    text-align: right;
  }
}

@media only screen and (max-width: 768px) {
  .lg-search-bar {
    height: 38px;
  }
  .state-hub-search-button {
    height: 39px;
  }
  .lg-pr-sm-pl {
    float: left;
    clear: left;
  }
  .js-enrollment-tabs {
    li, li a {
      display: block;
    }
  }
}

@media only screen and (max-width: 650px) {
  #js-zillow {
    & {
      clear: left;
    }
  }
  .upcoming-event {
    clear: left;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  .search-bar {
    width: 51%;
    input {
      width: 100%;
    }

    a {
      display: none;
    }
    div {
      right: 0;
    }
  }

  .community-partner-row {
    div {
      clear: left;
    }
  }

  .education-community-tabs {
    list-style-type: none;
    li {
      display: list-item;
    }
  }
  .img-container {
    display: none;
  }

  .img-container-mobile {
    display: block;
  }
}

@media only screen and (min-width: 650px) {
  .img-container-mobile {
    display: none;
  }

  .img-container {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .scale-image {
    display: none;
  }

  .sponsor-bar {
    padding-top: 0;
    img {
      width: 25%;
    }
  }

  .search-bar {
    left: -10px;
    width: 100%;
  }

  .upcoming-events {
    display: none;
  }
}
