.row-970 {
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.grey-row {
  @extend .col-xs-12;
  @extend .clearfix;
  padding-bottom: 20px;
  border: 1px solid #e6e6e6;
  background-color: #eee;
}

.image-container {
  height: 500px;
  width: 100%;
  overflow: hidden;
}

.city-hub-hero {
  text-align: left;
}

.moduleHeight-500 {
  height: 500px;
}

.imageBgScale {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.img-container {
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
}

.content-centered {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: auto;
}

.moduleTop-50 {
  top: 50px;
}

.city-hubs-bg {
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  width: 875px;
  margin: auto;
  padding: 30px;
}

.tal {
  text-align: left;
}

#city-hub-search-bar-container {
  background-color: #FFB843;
  position: relative;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 4px;

  // Search Icon
  div#search-icon {
    top: 5px;
    right: 201px;
    position: absolute;

    span {
      display: inline-block;
      background-image: url('icons/search_icon.png');
      width: 48px;
      height: 48px;
      background-position: -672px 0;
      cursor: pointer;
    }
  }

  // Not in collection link
  a {
    vertical-align: middle;
    padding: 10px 10px 0 10px;
    color: #926100;
    font: normal 12px/20px Arial,Helvetica,sans-serif;
    margin-bottom: 20px;
  }

}

.school-breakdown {
  h4 {
    padding-bottom: 10px;
    margin-bottom: 0;
    color: #fff;
  }
}

.but {
  width: auto;
  overflow: visible;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  position: relative;
  cursor: pointer;
  outline: 0;
  white-space: nowrap;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/*****************button-4 Cityhubs***********************/
.but-4 {
    width: 180px; // originally => width: 172px;
    overflow: visible; /* for button width bug in IE */
    text-decoration: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: 0; /* Background Gradients */
    white-space: nowrap;
    /* Border Radius */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #FAFAFA; /* for non-css3 browsers */
    color: #666666;
    border: 1px solid #CCCCCC;
    padding: 3px 5px;
    margin:0 10px 20px 0;
    font: normal .9em/2.25em 'SourceSansPro-Regular', Arial, Helvetica, sans-serif;
}
.but-4:hover{
    background-color: #EEEEEE;
}

.but-1 {
  background: #0083b2;
  color: #fff;
  border: 0;
  box-shadow: none;
}

.but-rg {
  padding: 0 20px;
  font: bold .875em/2.285em SourceSansPro-Semibold,Arial,Helvetica,sans-serif;
}

.but-lg {
  font: bold 1em/2.75em SourceSansPro-Semibold,Arial,Helvetica,sans-serif;
  padding: 0 24px;
}

.keyline1 {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0;
  border: 0;
}

.bd {
  zoom: 1;
  min-height: 0;
}

.white-well {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  .bd {
    padding: 20px 15px;
    height: 125px;
    border-radius: 4px;
  }
}


// Stars
.iconx16-stars {
  display: inline-block;
  background-image: url('icons/131120-16x16_stars.png');
  width: 16px;
  height: 16px;
}
.i-16-orange-star {
    background-position: 0 0;
}
.i-16-grey-star {
    background-position: -144px -16px;
}
/* This is for the stars grey or orange */
.i-16-star-0{width:0px}
.i-16-star-1{width:16px}
.i-16-star-2{width:32px; background-repeat: repeat-x;}
.i-16-star-3{width:48px; background-repeat: repeat-x;}
.i-16-star-4{width:64px; background-repeat: repeat-x;}
.i-16-star-5{width:80px; background-repeat: repeat-x;}
.i-16-star-6{width:96px; background-repeat: repeat-x;}
.i-16-star-7{width:112px; background-repeat: repeat-x;}
.i-16-star-8{width:128px; background-repeat: repeat-x;}
.i-16-star-9{width:144px; background-repeat: repeat-x;}
.i-16-star-10{width:160px; background-repeat: repeat-x;}


.but-rg {
  font: bold .875em/2.285em SourceSansPro-Semibold,Arial,Helvetica,sans-serif;
  padding: 0 20px;
}

.recent-review {
  margin-left: 0;
  margin-right: 0;
  float: left;
  width: 470px;
}

.recent-review:nth-of-type(odd) {
  margin-right: 18px;
}

.iconx32g {
  display: inline-block;
  background-image: url('icons/arrows-32x32.png');
  width: 32px;
  height: 32px;
}

.partner-carousel-image {
  margin-right: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.featured-articles {
  @extend .col-xs-7;
}


@media only screen and (max-width: 970px) {
  .recent-review {
    clear: left;
    margin-bottom: 5px;
  }

  .row-970 {
    width: 100%;
  }

}

@media only screen and (max-width: 650px) {
  #choose-a-school div:first-child img {
    display: none;
  }
  .recent-review, .featured-articles {
    width: 100%;
  }

  #js-zillow {
    & {
      clear: left;
    }
  }
}


