.data-viz {

  .data-display-point {
    padding: 10px 0;

    &.rating {
      @include display-flex;
      .text {
        padding-left: $spacing-large;
      }
    }

    .header {
      font-family: $font-family-base-bold;
      font-size: 16px;
      width: 100%;
      @include clearfix();

      .row-text {
        &.value {
          @include performance-color();
        }
        padding-right: 10px;
        float: left;
      }
    }


    .bar-row {
      width: 100%;
      @include clearfix();
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .subtext {
      width: 100%;
      @include clearfix();
    }

    .color-row {
      @include performance-background();
      background-color: $no_quality_attribution;
      border-radius: 2px 0px 0px 2px;
      float: left;
      height:10px;
    }

    .grey-row {
      height:10px;
      border-radius: 0px 2px 2px 0px;
      background-color: #dedede;
      float: right;
    }

    .state-avg-marker {
      position: absolute;
      top: -5px;
      line-height: 18px;
    }

  }
}

.horizontal-bar-chart {
  border-left: solid 1px $gray-light;

  div.bar-row:last-child {
    margin-bottom: 0;
  }

  .bar-row {
    margin-bottom: $spacing-medium;
    display: inline-block;
    position: relative;
    width: 92%;
  }

  .bar-container {
    margin-top: $spacing-small;
    width: 100%;
    position: relative;
  }

  .bar {
    width: 100%;
    height: 10px;
    background-color: $bright-yellow;
}

  .bar-label {
    padding-left: $spacing-small;
    color: $light-ash-gray;
  }

  .bar-data-point {
    margin-left: $spacing-small;
    position: absolute;
    left: 100%;
    color: $light-ash-gray;
    top: -4px;
  }

}

