.equity-container {

  .top-tab-panel {
    margin-top:-1px;
    border: 1px solid #F0f0f0;
    background-color: #FFFFFF;
    padding: 10px;
  }
  .tabs-panel {
    display: none;
  }

  .tabs-panel_selected {
    display: block;
  }

  .tab-selected {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  .equity-section {
    background-color: #f6f9fa;
    padding: 10px;
    margin-bottom: 50px;
  }
  .title-bar {
    padding-bottom: 20px;

    .title-container {
      overflow: hidden;
    }
    .title {
      font-size: 18px;
      font-family: opensans-semibold;
      @include media-breakpoint-up(sm) {
        font-size: 20px;
      }
      a {
        margin-left: $spacing-small;
      }
    }

    .rating-layout {
      margin-right: 10px;
      vertical-align: middle;
      font-size: 24px;
      float: left;
    }
  }
  .sub-section-navigation{
    padding: 20px;
    text-align: center;

    .sub-nav-item {
      padding: 5px 10px;
      border: 1px solid #c1d2d9;
      font-size: 12px;
      font-weight: normal;
      text-decoration: none;
      background-color: #F0FAFB;
      color: #28292a;
      white-space: nowrap;
      overflow: hidden;

      &:not(:first-child) {
        margin-left: -1px;
      }

      &:last-child{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &:first-child{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }

    .sub-tab-selected {
      text-decoration: none;
      color: #fff;
      background-color: #2ba3dc;
    }
  }

  .tab-buttons {
    .tab-container {
      display: inline-block;
      margin: 0px 0px 10px;
      .tab-title {
        font-family: opensans-semibold;
        font-size: 12px;
        padding: 4px 9px;
        line-height: 1.83;
        color: #2ba3dc;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        border-radius: 2px;

        &.tab-selected {
          background: #fff;
          color: #2e3438;
          background-color: #d2e6ee;
        }
      }
      .divider {
        margin: 5px 10px;
        font-size: 20px;
        color: #c1d2d9;
      }

    }
    .space-below {
      padding-bottom: 10px;
    }
  }

  .test-title {
    padding: 10px 0px;
    font-family: opensans-semibold;
    font-size: 14px;
  }

  .top-content {
    $narrative_gray_text: #71787e;
    $narrative_negative: #ff9900;
    $narrative_positive: #6aa84f;
    $narrative_bold: opensans-semibold;
    $narrative_title_font_size: 18px;
    $narrative_content_font_size: 14px;
    $narrative_link_color: #2ba3dc;
    $narrative_hr_margin: 14px;

    .title {
      font-family: $narrative_bold;
      font-size: $narrative_title_font_size;
      margin-bottom: 5px;
    }
    .parent-tip{
      font-size: $narrative_content_font_size;
      font-family: $narrative_bold;
      margin-bottom: 5px;
      color: $narrative_gray_text;

    }
    .negative {
      color: $narrative_negative;
    }
    .positive{
      color: $narrative_positive;
    }
    hr {
      color: $narrative_gray_text;
      margin-top: $narrative_hr_margin;
      margin-bottom: $narrative_hr_margin;
    }
    .narrative-content {
      font-size: $narrative_content_font_size;
      line-height: 21px;
    }
    .footnote {
      font-size: $narrative_content_font_size;
      color: $narrative_gray_text;
      line-height: 1.36;
      a {
        font-size: $narrative_content_font_size;
        color: $narrative_link_color;
      }
    }
    .emphasis {
      font-family: $narrative_bold;
    }
  }

  img.innovate-logo {
    &.mobile {
      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
    &.desktop {
      @include media-breakpoint-only(xs) {
        display: none;
      }
    }
    @include media-breakpoint-up(xs) {
      width: 99px;
      position: absolute;
      right: 0px;
    }
    @include media-breakpoint-up(sm) {
      width: 160px;
      float: right;
      position: static;
    }
    @include media-breakpoint-up(lg) {
      width: 205px;
      display: block;
    }
  }

  .rating-container__title a {
    @include media-breakpoint-up(lg) {
      display: block;
      height: 120px;
    }
  }
}
