p, a, div, span, h1, h2, h3, h4, h5, h6, li {
  line-height: 1.5em;
}

// Home Page Search Hero //
.proto-image-bg-scale {
  width: 100%;
  position: relative;
  overflow: hidden;

  .img-container {
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;

    img.scaling {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      min-width: 50%;
    }
  }
}

.proto_hero_size {height: 500px}

//Home page prototype
.shaded-bg {
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.10);
  border-radius: 3px;
  margin: auto;
  overflow: hidden;
}

.whitesmoke-bg {
  background-color: whitesmoke;
}

.grey-bg {
  background: #3d3d3d;
}

.bg-006589 {
  background: #006589;
}

@media (max-width:1200px){
  .pal-1200-35 {padding: 35px}
  .plm-mobile {padding-left: 10px}
  .mobile_img {width: 300px; height: 178px;}
  .proto_hero_size {height: 385px}
}

@media (max-width:990px) and (min-width:768px){
}

@media (max-width:767px){
//  .mobile_img {width: 300px; height: 178px;}
}

@media (max-width:480px){
}
