// Guided Search CSS for page navigation

.guided-search {
  .nav-tabs {
    border-bottom: none;
  }

  .nav-tabs > li > p {
    border-right: $border-light-grey;
    border-bottom: $border-light-grey;
  }

  .nav-tabs > li.active > p {
    border-bottom: 7px $brand-primary solid;
    color: $brand-primary;
  }

  .nav-tabs > li {
    width: 20%;
    margin-right: 0px;
    border: none;
  }

  .nav-tabs > li > p.tab_last {
    border-right: none;
  }

  .nav-button {
    //Mobile Filters
    border-radius: 0px;
    margin-left: 0px !important;
  }

  .nav-button-font {
    font-size: 11px;
  }

  .nav-button-left-border {
    border-left: thin solid white;
  }

  .primary-bg-color {
    background-color: $brand-primary;
  }

  .bg-white {
    background-color: $body-bg;
  }

  .border-all-light-grey {
    border: $border-light-grey;
  }
}
