#osp-school-info {
  .response {
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #e0e4e8;
    font-size: 14px;

    &:last-child {
      padding-bottom: 0px;
      border-bottom: none;
    }
    div:last-child {
      font-family: opensans-regular;
    }
    li {
      color: #000000;
      @include media-breakpoint-up(sm) {
        list-style: none;
      }
    }
  }

  .response:first-child {
    //p {
    //  //font-family: opensans-semibold;
    //}
    p:before, p:after {
      content: '"';
    }
  }

  .sources-text {
    font-family: opensans-semibold;
    font-size: 14px;
  }

  //.private-school-info-container {
  //  background-color: #f6f9fa;
  //  display: inline-block;
  //}

  .info-pane {
    background-color: #FFFFFF;
    margin: 10px;
    padding: 10px;
  }

  .source-bar {
    font-size: 14px;
    font-family: 'opensans-regular';
  }

  .title-bar {
    margin-top: 10px;
    font-family: opensans-semibold;
    font-size: 18px;
    background-color: #f6f9fa;
    padding: 20px 10px;

    .icon-users{
      font-size: 26px;
      margin: 10px;
    }
  }

  .module-header, .title-bar {
    .anchor-button {
      float: right;
      height: 28px;
      font-size: $font-size-s1;
    }
  }
}
