//Search Menu

.search-filters-menu-mobile {
  left: -300px;
  z-index: 10;
}


//Compare Schools Page

.carousel-navigation-arrows {
  font-size: 14px;
}

.search-state-picker {
  height: 200px;
  overflow-y: scroll;
}
