.hub-hero-image {
  background-position: center;
  background-repeat: no-repeat;
  width: 200%;
  background-size: 50% 100%;
  position: absolute;
  left: -50%;
}

.hub-hero-bg {
  background: rgba(0, 0, 0, 0.62);
  border-radius: 3px;
  width: 940px;
  margin: auto;
  padding: 35px;
}

.hub_hero_size {height: 550px}

.absolute-center-hub {
  margin: auto;position: absolute;top: 90px; left: 0; bottom: 0; right: 0;
}

@media (max-width:990px) {
  .absolute-center-hub {margin: auto;position: relative;top: 0; left: 0; bottom: 0; right: 0; }
  //  .hub_hero_size {height: 350px}
}

.sponsor-bar {
  top: 58px;
  right: 0;
  left: 0;
  z-index: 1;
}

.lg-search-bar {
  width: 350px;
}

.search-bar-home {
  width: 600px;
}

.clear-cookies-link {
  color: #ddd;
  clear: left;
}

.clear-cookies-link:hover {
  color: #fff;
}

.school-breakdown {
  ul {
    list-style-type: none;
  }
}

.search-type-toggle {
  div:hover {
    cursor: pointer;

    span {
      color: white;
    }
  }

  div:first-child:hover, div:first-child.selected {
    div.location-icon {
      background-position: -16px -16px;
    }
  }

  div:last-child:hover, div:last-child.selected {
    div.home-icon {
      background-position: -16px 0;
    }
  }

  div.selected {
    span {
      color: white;
    }
  }

  span {
    color: #DDD;
    cursor: pointer;
  }
}

.state-hub-search-button {
  height: 47px;
  background: $brand-primary;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 0px 20px;
}


@media only screen and (max-width: 990px) {
  .hub-hero-bg {
    width: 100%;
    height: auto;
    margin-top: 0;
    border-radius: none;
  }
  .search-hero-heading {
    h4 {
      margin-top: 20px;
      margin-bottom: 0;
    }

    h1 {
      font-size: 40px;
    }
  }

  .search-type-toggle {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .school-breakdown {
    background: white;
    padding: 20px 20px 0 20px;
    margin-left: -35px;
    margin-bottom: -35px;
    overflow: hidden;
    width: 150%;
    h4 {
      color: black;
    }

    button {
      color: $blue-dark;
    }
  }

  .lg-search-bar {
    width: 70%;
    height: 40px;
  }
  .search-bar-home {
    width: 90%;
    height: 40px;
  }

  .state-hub-search-button {
    width: 22%;
    height: 41px;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .lg-search-bar {
    height: 38px;
  }
  .search-bar-home {
    height: 38px;
  }
  .state-hub-search-button {
    height: 39px;
  }
}


@media only screen and (max-width: 480px) {
  .sponsor-bar {
    padding-top: 0;
    img {
      width: 25%;
    }
  }
}

//Search Menu

.search-filters-menu-mobile {
  left: -300px;
  z-index: 10;
}

//Compare Schools Popup
.compare-schools-popup {
  z-index: 1;
  width: 320px;
  left:-188px; //left is to prevent panel from going off screen.
  border: #cccccc solid 1px;
}

.save-search-popup {
  z-index: 1;
  width: 450px;
  left: -284px; //left is to prevent panel from going off screen.
  border: #cccccc solid 1px;
}

.compare-schools-popup-school {
  width: 140px;
  border-radius: 4px;
  border: 1.5px solid #d3d3d3;
}

.compare-schools-popup-school-header {
  height: 45px;
}

//Compare Schools Page

.carousel-navigation-arrows {
  font-size: 14px;
}

//Autocomplete
.tt-dropdown-menu {
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
  padding-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 4px 20px;
  font-size: 18px;
  text-align: left;
//  line-height: 24px;

  .tt-suggestion-link {
    text-decoration:none;
    color: #000000;

    .tt-suggestion-text {
      font-size: 14px;
      margin: 0px;
      padding: 0px;
      line-height: 13pt;

      .tt-schools-in {
        font-style: italic;
        color: grey;
      }

      .tt-state-name {
        color: grey;
        font-size: 12px;
      }
    }
  }

}

.tt-dataset-cities {
  font-size: 18px;
  line-height: 24px;
}

.tt-dataset-schools {
  font-size: 18px;
  line-height: 24px;
}

.tt-dataset-districts {
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  text-decoration: none;
  background: #eee;
}

.typeahead {
  background-color: #fff;
}

.twitter-typeahead {
  width: 100%;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-suggestion p {
  margin: 0;
}