//Compare Schools Page

.carousel-navigation-arrows {
  font-size: 14px;
}

.search-state-picker {
  height: 200px;
  overflow-y: scroll;
}

.js-compareSchoolButton .iconx16 {
  @media screen and (max-width: $screen-sm-min) {
    margin-left: 35%;
  }
}
