#sign-up-for-updates {
  @extend .ptm;
  background: url("icons/140117-6x6_background_footer.gif") #1A1A1A repeat;
  @include box-shadow(inset 0 1px #000);

  h5 {
    color: #FFF;
  }

  h5, p {
    @extend .pull-left;
    @extend .prm;
    @extend .open-sans;
  }

  input {
    border:1px solid #CCC;
    outline: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
  }

  button {
    @include box-shadow(none);
    border: 0px;
  }
}