///////////////MS
//////////// used for h4 h5 h6
h4, .h4 { font-family: $headings-font-family-bold; font-weight: $headings-font-weight-bold; }
h5, .h5 { font-family: $headings-font-family-bold; font-weight: $headings-font-weight-bold; }
h6, .h6 { font-family: $headings-font-family-bold; font-weight: $headings-font-weight-bold; text-transform: uppercase; }

.gold-bar { width:30px; margin-left: 0px; margin-bottom: 10px;  height: 3px; background-color: $brand-secondary }
.black {color: $gray-base-color}

