<table class="full-width">
  <tr>
    <td class="open-sans_sb" style="padding-bottom:15px;">GreatSchools Rating</td>
  </tr>
</table>
<div class="gs-rating-with-label__rating">
  <div class="label-owl">
    <span><%= image_tag('school_profiles/owl_in_light_blue_circle.png') %></span>
  </div>
</div>
<div class="gs-rating-with-label__label speech-bubble-dark left private-school" style="color:white;">
  <div>CURRENTLY UNRATED</div>
</div>
<div style="padding-top: 15px;">
  For some schools, we do not have enough data from state or national education agencies to provide a rating.
</div>