<% config.opt ||= {} %>
<% if config.opt[:ratings_type] == 'GreatSchools Rating'
     datapoints = @school.school_cache.formatted_greatschools_ratings
     ratings_types = @great_schools_ratings
   elsif config.opt[:ratings_type] == 'Local Ratings'
     datapoints = @school.school_cache.formatted_non_greatschools_ratings
     ratings_types = @non_great_schools_ratings
   end
%>

<% config.opt[:label] = config.opt[:ratings_type] %>
<% if config.opt[:ratings_type] == 'GreatSchools Rating' %>
  <div class="phm">
    <% if @school.school_cache.great_schools_rating != 'NR' && @school.school_cache.great_schools_rating.present? %>
      <%= render 'compare_schools/school_description_modules/quality/quality', ratings_types: ratings_types, datapoints: datapoints %>
    <% else %>
      <%= render 'compare_schools/school_description_modules/quality/private_school_quality' %>
    <% end %>
  </div>
<% end %>