<% config.opt ||= {} %>
<% if config.opt[:ratings_type] == 'GreatSchools Rating'
     datapoints = @school.school_cache.formatted_greatschools_ratings
     ratings_types = @great_schools_ratings
   elsif config.opt[:ratings_type] == 'Local Ratings'
     datapoints = @school.school_cache.formatted_non_greatschools_ratings
     ratings_types = @non_great_schools_ratings
   end
%>

<% config.opt[:label] = config.opt[:ratings_type] %>

<% if ratings_types.present? %>
    <%= render 'compare_schools/school_description_modules/section_dividing_bar' unless config.opt[:ratings_type] == 'GreatSchools Rating' %>
<% end %>

<div class="phm">
  <%=  render('compare_schools/school_description_modules/quality/quality', ratings_types: ratings_types, datapoints: datapoints) if config.opt[:ratings_type] == 'GreatSchools Rating'%>
</div>
