<%
  # A bar_chart_collection is the first-order grouping described in the
  # group comparison data reader.
%>

<div class="col-xs-12 data-viz-bar-chart js-foo">
  <div class='row'>
    <% bar_chart_collection.bar_charts.each do | bar_chart | %>
      <%= render partial: 'school_profile/data_viz/bar_chart',
                  locals: { bar_chart: bar_chart } %>
    <% end %>
  </div>
</div>
