<%
  # A bar_chart is the second-order grouping described in the group
  # comparison data reader.
%>

<%
  bar_chart_array = bar_chart.bar_chart_bars
  split_bar_chart_array = if bar_chart_array.present?
                            bar_chart_array.each_slice( (bar_chart_array.size/2.0).round ).to_a
                          else
                            []
                          end
%>

<div class="js-barChart js-<%=bar_chart.title %> <%= show_hide_chart %>">

  <% split_bar_chart_array.each do |bar_charts| %>
      <div class="col-xs-12 col-md-6">
        <% bar_charts.each do |bar_chart_bar| %>

            <%= render partial: 'school_profile/data_viz/bar_chart_bar',
                       locals: {chart: bar_chart_bar} %>
        <% end %>
      </div>
  <% end %>


</div>
