<% tool_tip_type = chart.comparison_value ? '.percent_graduated' : '.eligible_for_4yr'%>

<div class="tal">
  <span class="i-data-viz-state-avg"></span><span class="vat"> = <%= t('.state_average') %></span>
  <div><%=t('.state_avg')%> <%= t(tool_tip_type, percent: chart.comparison_value) %></div>
</div>
