<%
  # A bar_chart is the second-order grouping described in the group
  # comparison data reader.
%>

<%
  # The .bar-chart class is just to prove that it was rendering correctly.
  # You may delete it when you make the real module.
%>
<div class="bar-chart">
  <% bar_chart.bar_chart_bars.each do | bar_chart_bar | %>
    <%= render partial: 'school_profile/data_viz/bar_chart_bar',
      locals: { chart: bar_chart_bar } %>
  <% end %>
</div>
