<% bar_chart_collection %>
<% breakdowns = bar_chart_collection.breakdowns %>

<% if breakdowns.count > 1 %>
  <div class='row'>
    <div class='ptm clearfix col-xs-12 col-md-4'>
      <%=
          select_tag "breakdown#{bar_chart_collection_index}",
            options_for_select(
              breakdowns.map do | title |
                [t(".#{title}"), class:'js-gaClick',
                                 data: {title: title,
                                        :'ga-click-category'=> 'profile data - subgroup display',
                                        :'ga-click-action'=> 'subgroup selection',
                                        :'ga-click-label' => title }]
              end
            ),
                     class: 'selectpicker',
                     data: { width: '100%'}
      %>

    </div>

  </div>

<% else %>
  <div class="ptm font-size-large"> <%= t('.grouped_by', breakdown: t(".#{breakdowns.first}")).html_safe %> </div>
<% end %>
