<%
  # A data_display is the second-order grouping described in the group
  # comparison data reader.
%>

<div class="js-dataDisplay js-<%=data_display.title %> <%= show_hide_chart %>">
  <% data_display.data_points.each do |data_point| %>
    <%= render partial: "school_profile/data_viz/#{@data_display_collection.partial}/display",
               locals: {data_point: data_point} %>
  <% end %>
</div>
