<% data_display_collection %>
<% breakdowns = data_display_collection.breakdowns %>

<% if breakdowns.count > 1 %>
  <div class='col-xs-12 col-md-4'>
    <%=
        select_tag "breakdown#{collection_index}",
          options_for_select(
            breakdowns.map do | title |
              [
                t(".#{title}"),
                class: 'js-dataDisplayToggle',
                data: {
                  title: title,
                  collection: data_display_collection.original_data_type,
                  :'event-category'=> 'profile data - subgroup display',
                  :'event-action'=> 'subgroup selection',
                  :'event-label' => title
                }
            ]
            end
          ),
          class: 'selectpicker',
          data: { width: '100%' }
    %>
  </div>
<% else %>
  <div class="pts font-size-large"> <%= t('.grouped_by', breakdown: t(".#{breakdowns.first}")).html_safe %> </div>
<% end %>
