<% if text %>
  <div class="tooltip-activator gs-tooltip"
        data-toggle="tooltip"
        data-html="true"
        data-placement="bottom"
        data-title='<%= text %>'
    >
    ?
  </div>
<% end %>
