// Performance band colors
$no_quality_attribution: #777777;
$above_average:          #40a753;
$average:                #ec843e;
$below_average:          #bf3c29;

// Ratings sizes
$gs-rating-size-small:    24px;
$gs-rating-size-smallish: 32px;
$gs-rating-size-medium:   48px;
$gs-rating-size-large:    72px;
$gs-rating-font-size:     32px !default;
