$line-height-base: 1.5;
$font-family-sans-serif:  "opensans-regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-family-base:        $font-family-sans-serif;
$font-family-base-bold:   "opensans-bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-family-italic:      "opensans-italic", Arial, "Helvetica Neue", Helvetica, sans-serif;
//
// // $font-size-base:          1rem;
// // $font-size-medium:        ceil($font-size-base * 1.142) !default; // ~16px
// // $font-size-large:         ceil($font-size-base * 1.285) !default; // ~18px
// // $font-size-xs:            ceil($font-size-base * 0.714) !default; // ~10px
// // $font-size-small:         ceil($font-size-base * 0.857) !default; // ~12px
// // $font-size-block:         ceil($font-size-base * 1.5) !default; // ~21px
// // $font-size-xl:            ceil($font-size-base * 1.714) !default; // ~21px
//
// // $font-size-h1:            32px;
// // $font-size-h2:            32px;
// // $font-size-h3:            22px;
// // $font-size-h4:            18px;
// // $font-size-h5:            16px;
// // $font-size-h6:            15px;
// // $font-size-p-small:       12px;
//
$headings-font-family:                    $font-family-base-bold;
$headings-font-weight:                    400;
$headings-line-height:                    1.2;
$headings-color:                          $text-color;
$headings-font-family-bold:               "opensans-bold", Helvetica, Arial, sans-serif;
$headings-font-family-italic:             "opensans-italic", Helvetica, Arial, sans-serif;
$headings-font-family-robotoslab-light:   RobotoSlab-Light,"opensans-bold", Helvetica, Arial;
$headings-font-weight-bold:               400;
//
// // Data font sizes
// // $font-data-high-level: 36px $font-family-base-bold;
// $font-data-second-level: $font-size-h3 $font-family-base-bold;
// $font-data-third-level: $font-size-h5 $font-family-base-bold;
// $font-data-fourth-level: $font-size-h6 $font-family-base-bold;
