<a onclick="document.cookie='_ga_linked_from=autocomplete; path=/';" href="{{addParamsToUrl url}}" class="tt-suggestion-link">
  <p class="tt-suggestion-text">
    <span class="tt-schools-in">Schools in</span>
    <strong>{{district_name}}, {{state}}</strong>
  </p>
</a>