@mixin gs-rating($size, $with-subtext: false) {
  @include performance-background();
  border-radius: 50%;
  color: white !important;
  font: ($size / 2) $font-family-base-bold;
  height: $size;
  text-align: center;
  width: $size;
  @if ($with-subtext) {
    .subtext {
      font-size: ($size / 6);
      margin-top: ($size / -10);
    }
  } @else {
    line-height: $size;
  }
}

@mixin performance-color {
  color: $no_quality_attribution;
  .above_average  { color: $above_average; }
  .average        { color: $average;       }
  .below_average  { color: $below_average; }
  &.above_average { color: $above_average; }
  &.average       { color: $average;       }
  &.below_average { color: $below_average; }
}

@mixin performance-background {
  background-color: $no_quality_attribution;
  .above_average  { background-color: $above_average; }
  .average        { background-color: $average;       }
  .below_average  { background-color: $below_average; }
  &.above_average { background-color: $above_average; }
  &.average       { background-color: $average;       }
  &.below_average { background-color: $below_average; }
}
