<div class="tabBody dn" id="helpTabBody">
  <h3>More information
    <a title="Close help" class="close close_button" onclick="GS.widget.closeHelpTab(); return false;"
       href="#">CLOSE
      <span>X</span></a></h3>
  <p>GreatSchools is an independent, nonprofit organization that improves education by inspiring parents to get involved.</p>
  <p>GreatSchools empowers parents nationwide to find the right public or private schools,
    PreK through 12<span class="super">th</span> grade, for their children.
    Parents gain quick insight into
    schools through the GreatSchools Ratings and Parent
    Ratings and Reviews.<br />
    <a target="_blank" href="/gk/ratings/">Learn about GreatSchools Ratings.</a></p>
  <p>GreatSchools includes a vast array of information,
  including academic performance, the school culture and
  environment, extracurricular programs and more.
  GreatSchools members can also track their children's
  school performance grade-by-grade.</p>
  <p>For more information, visit us at
    <a target="_blank" href="http://www.greatschools.org/">www.greatschools.org</a>.
  </p>
</div>