<%= render 'nav/topnav' %>


<% content_for :head do %>
    <% app_id = '178930405559082' # TODO: will not work in production: set correct id from var %>

    <div id="fb-root"><!--Do not collapse--></div>
    <script type="text/javascript">
        // Additional JS functions here
        window.fbAsyncInit = function() {
            FB.init({
                        appId      : <%= app_id %>,
                        channelUrl : 'http://omega.greatschools.org/res/channel.html', // Channel File
                        status     : true, // check login status
                        cookie     : true, // enable cookies to allow the server to access the session
                        xfbml      : true  // parse XFBML
                    });

            // Additional init code here
            GS.facebook.init();

        };

        // Load the SDK Asynchronously
        (function(d){
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>

    <script type="text/javascript">
        $(function() {
            $('.js-facebook-login').on('click', function() {
                GS.facebook.login();
            });
        });
    </script>
<% end %>



<div class="outer">
    <div class="fr">
        <span class="iconx24 i-24-close  js_closeHover"></span>
    </div>
    <div class="inner">
        <form method="post" action="javascript:alert('no action defined for form post');" id="signin">
            <div class="body pal">
                <div class="js-facebookSignInModule">
                        <div class="button js-facebook-login js-facebook-login-signin">
                            <a href="#">
                                SIGN IN WITH FACEBOOK
                            </a>
                        </div>
                    <h5 class="orText"><span>OR</span></h5>
                </div>
                <div class="line">
                    <label class="small_bold bottom" for="semail">Email address</label><br>
                    <input onblur="if(this.value==''){this.value='[Enter email address]';}" onfocus="if(this.value=='[Enter email address]'){this.value='';}" name="email" tabindex="1" class="fl small bottom input_5 setemail" id="semail" type="text">

                    <div style="margin-top: 5px; margin-left: 5px;" class="fl errors">
                        <p class="error" style="display: none;"></p>
                    </div>
                </div>
                <div class="line ptl" style="clear:both">
                    <div style="width:320px;">
                        <label class="small_bold bottom" for="spword">Password</label>
                    </div>
                    <input name="password" tabindex="2" style="float:left" class="small bottom input_5" id="spword" type="password">

                    <div style="margin-top: 5px; margin-left: 5px;" class="fl errors">
                        <p class="error2"></p>
                    </div>
                </div>
                <div class="clearfix ptl" style="clear:both">
                    <button id="signinBtn" tabindex="3" name="signinBtn" type="submit" class="fl but but-rg but-1 signinBtn">Sign
                        in
                    </button>
                </div>
                <input value="true" name="rememberMe" type="hidden"><input value="http://www.greatschools.org/" class="redirect_field" name="redirect" type="hidden">
            </div>
        </form>
    </div>
</div>