<div>
  <ul class="nav nav-list nav-stacked hide-for-mobile ptl mrl">
    <% @page_config.root_placements_with_data.each do |placement| %>
      <li>
        <a href="#<%= category_placement_anchor placement %>">
          <%= category_placement_title placement %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
