
<div class="row pal">
    <div class="col-xs-0 col-sm-2 col-md-3 tar ptl prl">image</div>
    <div class="col-xs-12 col-sm-10 col-md-9 tal">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 tal pbl"><h1><%= school.name %></h1></div>
            <div class="col-xs-12 col-sm-12 col-md-12 clearfix">
                <div class="fl">GreatSchools rating <%= @headerMetadata.overallRating %></div>
                <div class="fl pll"><%= draw_stars_16 @rating_averages.overall.avg_score %><div class="fl pls"><%= write_review_count %></div></div>
            </div>
        </div>
    </div>

</div>