<div id="navigation3">
    <nav class="nav" style="background-color: #000000; color: #FFFFFF; padding-top: 10px; padding-bottom: 10px; text-align: center">
        <ul style="margin: 0px; padding: 0px ">
            <li>
                <%= link_to 'Overview', school_path(school_params(school)) %>
            </li>
            <li>
                <%= link_to 'Quality', school_quality_path(school_params(school)) %>
            </li>
            <li>
                <%= link_to 'Details', school_details_path(school_params(school)) %>
            </li>
            <li>
                <%= link_to 'Reviews', school_reviews_path(school_params(school)) %>
            </li>
        </ul>
    </nav>
</div>