<div id="navigation3">
    <nav class="nav">
        <ul>
            <li>
                <%= link_to 'Overview', school_path(school_params(school)) %>
            </li>
            <li>
                <%= link_to 'Quality', school_quality_path(school_params(school)) %>
            </li>
            <li>
                <%= link_to 'Details', school_details_path(school_params(school)) %>
            </li>
            <li>
                <%= link_to 'Reviews', school_reviews_path(school_params(school)) %>
            </li>
        </ul>
    </nav>
</div>