<div id="navigation2" class="affix">
    <nav class="nav">
        <ul style="margin-bottom: 0px">
            <li>
                <%= link_to 'Programs & resources',
                            :anchor => 'programs_resources'
                             %>
            </li>
            <li>
                <%= link_to 'Extracurriculars',

                            :anchor => 'extracurriculars'%>
            </li>
        </ul>
    </nav>
</div>