This is a test omniture page.
<br /><br />
<button class="btn btn-default" style="width:15%" id="omniture_events_test">
    Trigger omniture events
</button>

<br /><br />

<a href='#' id="omniture_custom_link_test">Test omniture 'O' custom link</a>