<% text %>
<fieldset>
  <button type="button" class="btn-facebook js-facebook-signin">
    <span class="icon-facebook"></span><%= text %>
  </button>

  <p class="js-facebook-signin-errors help-block"></p>
</fieldset>
