<fieldset>
  <legend><%= t('choose_grade', scope: 'forms') %></legend>
  <input type="hidden" name="grades" />
  <span class="multi-select-button-group">
    <button data-value="PK" type="button">preK</button><!-- spaces are rendered between
    --><button data-value="KG" type="button">K</button><!-- inline elements. Comments allow
    --><button data-value="1" type="button">1st</button><!-- nice source code formatting
    --><button data-value="2" type="button">2nd</button><!-- w/o spaces between these buttons
    --><button data-value="3" type="button">3rd</button>
  </span><span class="multi-select-button-group">
    <button data-value="4" type="button">4th</button><!--
    --><button data-value="5" type="button">5th</button><!--
    --><button data-value="6" type="button">6th</button><!--
    --><button data-value="7" type="button">7th</button><!--
    --><button data-value="8" type="button">8th</button>
  </span><span class="multi-select-button-group">
    <button data-value="9" type="button">9th</button><!--
    --><button data-value="10" type="button">10th</button><!--
    --><button data-value="11" type="button">11th</button><!--
    --><button data-value="12" type="button">12th</button>
  </span>
</fieldset>
