<fieldset>
  <legend>Choose your child's grade:</legend>
  <input type="hidden" name="grades" />
  <span class="multi-select-button-group">
    <label data-value="PK">preK</label>
    <label data-value="KG">K</label>
    <label data-value="1">1st</label>
    <label data-value="2">2nd</label>
    <label data-value="3">3rd</label>
  </span><span class="multi-select-button-group">
    <label data-value="4">4th</label>
    <label data-value="5">5th</label>
    <label data-value="6">6th</label>
    <label data-value="7">7th</label>
    <label data-value="8">8th</label>
  </span><span class="multi-select-button-group">
    <label data-value="9">9th</label>
    <label data-value="10">10th</label>
    <label data-value="11">11th</label>
    <label data-value="12">12th</label>
  </span>
</fieldset>
