<fieldset>
  <%= email_field_tag(
    :email,
    nil,
    {
      id: "join-email",
      placeholder: "#{t('email address', scope: 'forms')}",
      class: 'js-join-email',
      required: true
    }
  ) %>
<div class="js-join-email-errors"></div>
</fieldset>
