<fieldset>
  <%= email_field_tag(
    :email,
    nil,
    {
      id: "join-email",
      placeholder: "#{t('email address', scope: 'forms')}",
      class: 'js-join-email',
      'data-parsley-required' => "true",
      'data-parsley-type' => "email",
      'data-parsley-trigger' => "change",
      'data-parsley-required-message' => t('parsley_required_message', scope: 'forms'),
      'data-parsley-error-container' => ".js-join-email-errors",
      'data-parsley-remote' => '/gsr/validations/need_to_signin',
      'data-parsley-remote-options' => '{ "type": "GET"}',
      'data-parsley-remote-message' => t("parsley_remote_message_html", scope: 'forms')
    }
  ) %>
<div class="js-join-email-errors"></div>
</fieldset>
