<fieldset>
  <legend>Language</legend>
  <input type="hidden" name="language" />
  <span class="multi-select-button-group">
    <button data-value="en" type="button">English</button><!-- spaces are rendered between
    --><button data-value="es" type="button">Spanish</button>
  </span>
</fieldset>
