<fieldset>
  <legend>Other newsletters we recommend</legend>
  <div class="checkbox-and-label">
    <%= check_box_tag('sponsors_list', 'true', true, class:'checkbox') %>
    <label><%= t('sponsors_signup', scope: 'forms') %></label>
  </div>
</fieldset>
