<div class="logo-bar">
  <div class="clearfix">
    <div class="text">
      <%= t(".#{@t_scope}.text") %>
    </div>
    <div>
      <img src="<%= catalog_path(t(".#{@t_scope}.image")) %>"
           class="img-responsive center-block" />
    </div>
  </div>
</div>
