<span class='sort-text'><%= t('.sort') %>:</span>
<span class='js-drawTable js-tableSort prs' data-sort-asc-or-desc='desc'><%= t('.highest_to_lowest') %></span>
|
<span class='js-drawTable js-tableSort sort-link pls' data-sort-asc-or-desc='asc'><%= t('.lowest_to_highest') %></span>
