<span class=''><%= t('.sort') %>:</span>
<span class='js-drawTable js-tableSort sort-text prs' data-sort-asc-or-desc='desc'><%= t('.highest_to_lowest') %></span>
|
<span class='js-drawTable js-tableSort sort-text sort-link pls' data-sort-asc-or-desc='asc'><%= t('.lowest_to_highest') %></span>
