<div class="summary">
  <div class="row">
    <div class="col-xs-12 col-sm-4 pbl">
      This page highlights opportunity for all.
      This page highlights opportunity for all.
      This page highlights opportunity for all.
      <span class="hidden-xs js-readMoreText">
      This page highlights opportunity for all.
      This page highlights opportunity for all.
      This page highlights opportunity for all.
      This page highlights opportunity for all.
      This page highlights opportunity for all.
      </span>
      <a class="visible-xs pointer js-readMoreLink">
        Read more
      </a>
    </div>
    <div class="col-xs-12 col-sm-4 pbl">
      <h4 class="mvn uc">
        Graduation rates in the bay area
      </h4>
      <div class="datapoint">
        <h4>
          Latino students
        </h4>
        <div class="percent-value">
          <h3 class="above_average">
            74<sup>%</sup>
            <span class="state-average">(State Average: 78%)</span>
          </h3>
        </div>
      </div>
      <div class="datapoint">
        <h4>
          Asian Students
        </h4>
        <div class="percent-value">
          <h3 class="above_average">
            74<sup>%</sup>
            <span class="state-average">(State Average: 78%)</span>
          </h3>
        </div>
      </div>
      <div class="datapoint">
        <h4>
          African American Students
        </h4>
        <div class="percent-value">
          <h3 class="above_average">
            74<sup>%</sup>
            <span class="state-average">(State Average: 78%)</span>
          </h3>
        </div>
      </div>
      <div class="datapoint">
        <h4>
          White Students
        </h4>
        <div class="percent-value">
          <h3 class="above_average">
            74<sup>%</sup>
            <span class="state-average">(State Average: 78%)</span>
          </h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 pbl">
      <h4 class="mvn uc">
        Eligibility for a 4-year college in the bay area
      </h4>
      <div class="datapoint">
        <h4>
          Latino students
        </h4>
        <div class="percent-value">
          <h3 class="above_average">
            74<sup>%</sup>
            <span class="state-average">(State Average: 78%)</span>
          </h3>
        </div>
      </div>
      <div class="datapoint">
        <h4>
          Asian Students
        </h4>
        <div class="percent-value">
          <h3 class="above_average">
            74<sup>%</sup>
            <span class="state-average">(State Average: 78%)</span>
          </h3>
        </div>
      </div>
      <div class="datapoint">
        <h4>
          African American Students
        </h4>
        <div class="percent-value">
          <h3 class="above_average">
            74<sup>%</sup>
            <span class="state-average">(State Average: 78%)</span>
          </h3>
        </div>
      </div>
      <div class="datapoint">
        <h4>
          White Students
        </h4>
        <div class="percent-value">
          <h3 class="above_average">
            74<sup>%</sup>
            <span class="state-average">(State Average: 78%)</span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
