<%= include_handlebars_templates('community_scorecards/') %>

<div class="<%= @gs_bootstrap %>">
  <div class="container-fluid">
    <h1><%= @collection.name %> Community Scorecard</h1>
    <div class="clearfix">
    <%= render partial: "shared/partners/promo_delegator",
                locals: {
                  collections: [@collection],
                  partial: current_partial,
                  force_show: true,
                  options: {
                    is_vertical_promo: true
                  }
                }
    %>
    </div>
    <h2>Community Scorecard</h2>
    <a  class="drawTable" data-data-set="a_through_g" href="#">Click me to draw ag</a>
    <a  class="drawTable" data-data-set="graduation_rate" href="#">Click me to draw grad</a>
    <div id="community-scorecard-table"></div>
  </div>
</div>

