<div class="gs-bootstrap">
  <div class="container-fluid">
foof
foof
foof

<%= render partial: "shared/partners/promo_delegator",
           locals: {
                   collections: [@collection],
                   partial: current_partial,
                   force_show: true
           }
%>
</div>
</div>
