<%= include_handlebars_templates('community_scorecards/') %>

<div class="<%= @gs_bootstrap %> community-scorecard js-communityScorecard">
  <div class="container-fluid">
    <h1><%= @collection.name %> Community Scorecard</h1>
    <div class="clearfix">
    <%= render partial: "shared/partners/promo_delegator",
                locals: {
                  collections: [@collection],
                  partial: current_partial,
                  force_show: true,
                  options: {
                    is_vertical_promo: true
                  }
                }
    %>
    </div>
    <h2>Community Scorecard</h2>
    <div id="community-scorecard-table"></div>
  </div>
</div>

