<%= include_handlebars_templates('community_scorecards/') %>

<div class="<%= @gs_bootstrap %>">
  <div class="container-fluid">
    <%= render partial: "shared/partners/promo_delegator",
                locals: {
                  collections: [@collection],
                  partial: current_partial,
                  force_show: true,
                  options: {
                    is_vertical_promo: true
                  }
                }
    %>
  </div>
</div>

<div id="community-scorecard-table"></div>
