<div class="ptl prl pll pbxl js-topicalQuestionNavigation">
  <div class="fl ">
    <a href="#" class="js-previous-topic"><span class="iconx16 i-16-left-arrow mrs vam"></span>Previous Topic</a>
  </div>
  <div class="fr ">
    <a href="#" class="js-next-topic">Next Topic<span class="iconx16 i-16-right-arrow mls vam"></span></a>
  </div>
</div>