<div class="ptl prl pll pbxl js-topicalQuestionNavigation">
  <div class="fl ">
    <%= link_to("< Previous topic", "#", class: "js-previous-topic") %>
  </div>
  <div class="fr ">
    <%= link_to("Next topic >", "#", class: "js-next-topic") %>
  </div>
</div>