
.bar-graph-display {
  $score_width: 75px;

  border-bottom: 1px solid #efefef;

  .test-score-container{
    padding: 10px;
    .compare-link {
      float: right;
      @media (max-width: 376px){
        float: left;
        margin-top: 15px;
      }
      .anchor-button {
        height: 30px;
        padding: 3px 12px
      }
    }
  }
  .bar-graph-container{
    display: table;
    table-layout: fixed;
    width:100%;

    > div {
      display: table-cell;
    }
  }

  .details {
    line-height: 1em;
    float: right;
    color: $midnight-blue;
    cursor: pointer
  }
  .state-average {
    display: inline-block;
    font-size: $font-size-s1;
    color: $gray-mute;
    font-family: 'opensans-regular';
    line-height: 18px;
    padding-top: 10px;
  }
  .person-bar-viz > .state-average{
    display: block;
  }
  .circle-viz .state-average {
    display: block;
    padding: 0;
  }
  .score {
    font-size: 18px;
    font-family: opensans-semibold;
    width: $score_width;
    display: table-cell;
    text-align: right;
    vertical-align: top;
    line-height: 18px;
    padding-right: 10px;
  }
  .item-bar {
    padding: 0 0 10px;
    width:auto;
  }
  .subject {
    font-size: 16px;
    >span {
      padding-left:20px
    }
  }

  .header-text {
    font-size: 12px;
    //Fixes a layout issue (only in Test Scores module) caused by the lower <hr> in auto-narration
    margin-top: -10px;
  }
  .col-sm-6.header-text, .ts-row-one-half-sm {
    padding-left: 10px;
  }

  .move-icon{
    vertical-align: middle;
  }
  .subject-subtext{
    color: $gray-mute;
    font-size: $font-size-s2;
  }

  .grades>.bar-graph-display:last-of-type {
    border:none;

  }
  .grades{
    background-color: #F6FAFA;
  }
  @include media-breakpoint-only(xs) {
    .grades{
      .bar-graph-display {
        padding: 0 20px;
      }
    }

    .br_except_for_mobile {
      display: none;
    }

    .subject {
      padding-bottom: 8px;
      span {
        padding-left:0px;
      }
    }
  }
}

@include media-breakpoint-only(xs) {
  .header-text:nth-child(1) {
    display: none;
  }
  .bar-graph-display .col-sm-6.header-text {
    padding-left: 0px;
  }
}

