.primary-button {
  border: 1px solid $gray-text-color;
  color: $gray-text-color;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 8px;
  font-size: 16px;

  &:hover {
    background-color: $gray-mute;
    text-decoration: none;
    color: white;
    transition: 0.3s;
  }
}

.secondary-button {
  color: white;
  display: inline-block;
  background-color: $primary-brand-blue;
  padding: 3px 10px;
  border-radius: 8px;
  font-size: 18px;

  &:hover {
    background-color: $midnight_blue;
    text-decoration: none;
    color: white;
    transition: 0.3s;
  }
}

.tertiary-button {
  border: 1px solid $light-gray;
  border-radius: 8px;
  color: $light-gray;
  display: inline-block;
  font-size: 16px;
  padding: 3px 10px;

  &.brand-blue-bg {
    background-color: $primary-brand-blue;
  }

  &.midnight-blue-bg {
    border: 1px solid $midnight_blue;
    background-color: $midnight_blue;
  }

  &:hover {
    background-color: white;
    border-color: white;
    color: $midnight_blue;
    text-decoration: none;
    transition: 0.3s;
  }

}