.carousel-container{
  display: flex;

  .arrow {
    cursor: pointer;

    @include media-breakpoint-up(sm){
      &:hover{
        transition: 0.2s;
        transform: scale(1.3);
      }
    }
  }

  .carousel-display-large {
    position: relative;
    height: 364px;
    width: 281px; 
    margin-right: 20px;
    overflow: hidden;
  }

  .carousel-display-small-left, .carousel-display-small-right{
    position: relative;
    height: 255px;
    width: 195px;
    overflow: hidden;
  }

  .carousel-display-small-left {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 20px;
    @include media-breakpoint-down(xs){
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .carousel-display-small-right {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
}