$border-radius: 50px;
// $large-carousel-height-xl: 469px;
// $large-carousel-width-xl: 363px;
// $small-carousel-height-xl: 341px;
// $small-carousel-width-xl: 263px;
$large-carousel-height-xl: 480px;
$large-carousel-width-xl: 350px;
$small-carousel-height-xl: $large-carousel-height-xl * .73;
$small-carousel-width-xl: $large-carousel-width-xl * .73;

$large-carousel-height-other: 360px;
$large-carousel-width-other: 280px;
$small-carousel-height-other: $large-carousel-height-other * .73;
$small-carousel-width-other: $large-carousel-width-other * .73;

.carousel-row{
  @include media-breakpoint-down(sm){
    margin: 0 auto;
  }
}

.carousel-container{
  display: flex;
  margin-bottom: 25px;

  .arrow {
    cursor: pointer;

    @include media-breakpoint-up(sm){
      &:hover{
        transition: 0.2s;
        transform: scale(1.3);
      }
    }
  }

  .carousel-display-large {
    position: relative;
    height: $large-carousel-height-xl;
    min-width: $large-carousel-width-xl;
    margin-right: 20px;
    overflow: hidden;
    @include media-breakpoint-down(lg){
      height: $large-carousel-height-other;
      min-width: $large-carousel-width-other;
    }
  }

  .carousel-display-small-left, .carousel-display-small-right{
    position: relative;
    height: $small-carousel-height-xl;
    min-width: $small-carousel-width-xl;
    overflow: hidden;
    @include media-breakpoint-down(lg){
      height: $small-carousel-height-other;
      min-width: $small-carousel-width-other;
    }
  }

  .carousel-display-small-left {
    border-top-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    margin-right: 20px;
  }

  .carousel-display-small-right {
    border-top-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
}