.circle-rating-with-label__circle {
  display: inline-block;
}
// $ratings: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10);

.circle-rating-with-label__label {
  display: inline-block;
  font-family: "opensans-bold";
  font-size: 20px;
  margin-left: 10px;
  text-transform: uppercase;
}

.circle-rating-with-label__label--1 {
  color: $rating1;
}

.circle-rating-with-label__label--2 {
  color: $rating2;
}

.circle-rating-with-label__label--3 {
  color: $rating3;
}

.circle-rating-with-label__label--4 {
  color: $rating4;
}

.circle-rating-with-label__label--5 {
  color: $rating5;
}

.circle-rating-with-label__label--6 {
  color: $rating6;
}

.circle-rating-with-label__label--7 {
  color: $rating7;
}

.circle-rating-with-label__label--8 {
  color: $rating8;
}

.circle-rating-with-label__label--9 {
  color: $rating9;
}

.circle-rating-with-label__label--10 {
  color: $rating10;
}
