.compare {

  .border {
    border-top: 1px solid #f4f4f4;
  }

  .rating-width-padding {
    width: 40px;
    padding: 5px 0;
  }

  .na-padding-font {
    padding: 6px 0 8px 0; font-family: 'opensans-regular';
  }

  .pad-btm {
    padding-bottom:15px;
  }

  .flag {
    padding: 5px 0;
    color: red;
  }
}