.five-star-rating__stars {
  vertical-align: middle;
  font-size: 11px;
  @include media-breakpoint-only(xs) {
    font-size: 9px;
  }
}

.five-star-rating.cta {
  .subtext {
    display: block;
    font-size: 11px;
    font-family: "opensans-regular", sans-serif;
    opacity: 0.6;
    &:hover {
      text-decoration: underline;
    }
  }

  .em {
    color: #88D5FF;
  }
}

.five-star-rating__stars--med {
  @extend .five-star-rating__stars;
  font-size: 18px;
}

