.gs-rating-with-label {
  text-transform: uppercase;
  font-size: $font-size-l3;
  @include media-breakpoint-only(xs) {
    font-size: $font-size-base;
  }
}

.gs-rating-with-label__rating {
  display: inline-block;
  vertical-align: top;
}
.gs-rating-with-label__label {
  margin-left: 10px;
  text-align: left;
  display: inline-block;
  max-width: 110px;
  &.private-school{
    font-size: 12px;
    clear:both;
    div:nth-child(1) {
      width: 85%; float:left;
    }
    div:nth-child(2) {
      width: 15%; float:right;
    }
  }
  a.gs-tipso:hover {
    text-decoration: none;
  }
  .coming-soon {
    font-size: 12px;
    text-transform: none;
    font-family: openssans-regular, sans-serif;
    color: #2ba3dc;
  }
  @media (min-width: 750px) {
    max-width: 120px;
    &.private-school{
      font-size: 10px;
    }
  }

}

