.info-window {
  font-family: 'opensans-regular', Helvetica, Arial, sans-serif;
  font-size: 14px;

  .assigned-text{
    font-family: "opensans-bold", Helvetica, Arial;
    background-color: #176997;
    font-size: 12px;
    line-height: 16px;
    color: white;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .rating-container {
    float: left;
    text-align: center;

    .rating-scale {
      margin-top: 5px;
      color: #647981;
    }
  }
  .school-info {
    float: left;
    width: 250px;
    margin-left: 10px;

    > a {
      font-family: "opensans-bold", Helvetica, Arial, sans-serif;
      font-size: 16px;
    }
    .address {
      color: #647981;
      margin-top: 5px;
    }

    .school-subinfo {
      font-family: "opensans-bold", Helvetica, Arial, sans-serif;
      margin-top: 10px;
    }
  }
  hr {
    margin: 10px 0;
  }
  .other-links {
    margin-top: 10px;

    .icon-house {
      color: #2ba3dc;
    }
  }
}
