.info-circle {
  $info-gray: #b9ccd4;
  $white: #fff;

  @include circle-rating(16px);
  color: $white;
  background-color: $info-gray;
  vertical-align: middle;
  .icon-question {
    font-size: $font-size-s2;
  }
}
a:hover.info-circle {
  text-decoration: none;
  color: $white;
}
a:focus.info-circle {
  text-decoration: none;
  color: $white;
}
