.module-header {
  min-height: 50px;

  .circle-rating--medium {
    float: left;
  }
  .title-container {
    padding: 0 $spacing-medium;
    overflow: hidden;
  }

  > .icon {
    float:left;
    vertical-align: middle;
  }

  .title {
    font-family: opensans-semibold;
    font-size: 18px;
    @include media-breakpoint-up(sm) {
      font-size: 20px;
    }
  }
  .info-circle {
    vertical-align: text-top;
  }
  .show-history-button {
    text-align: right;
    > div {
      padding-right:10px;
      color: #2ba3dc;
    }
    button {
      color: #2ba3dc;
      cursor: pointer;
      border-radius: 2px;
      padding: 3px 5px;
      margin-top: 10px;
      font-size: 12px;
      font-family: opensans-regular;
      background-color: #FFFFFF;
      text-align: left;
      border-color: #2ba3dc;
      > span {
        font-size: 12px;
      }
      @include media-breakpoint-down(sm) {
        margin-left: 60px;
      }
    }
    @include media-breakpoint-down(sm) {
      text-align: left;
    }
  }
}
