
.multi-item-dropdown {
  * {font-family: Helvetica;}
  color: black;
  border: 1px solid #cccccc;
  margin-top: 3px;
  border-radius: 10px;
  overflow: hidden;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      padding: 9px 19px;
      color: black;
      &:hover {
        background: #FAFAFA;
      }
    }
    .multi-item-select-group-name {
      border-radius: 4px;
      background: #f1f4f7;
      color: #677c93;
      cursor: auto;
    }
    .multi-item-select-list-item {
      a {
        text-decoration: none;
        div + div {
          margin-top: 4px;
          font-size: 11px;
          color: #888888;
        }
        div > * {
          color: #888888;
        }
      }
    }
  }
}