.nearby-schools {
  $border-color: #dbe6eb;
  $color-toggle-button-border: #c1d2d9;
  $color-toggle-button-gradient: #f4f5f6;
  $color-toggle-button-active: #2ba3dc;
  $color-toggle-button-text: #28292a;
  margin-top: 20px;

  .title-bar {
    text-align: center;
    @include media-breakpoint-up(sm) {
      text-align: right;
    }
  }

  .title {
    font-family: 'Robotoslab-Bold';
    margin-bottom: 20px;
    font-size: 26px;

    @include media-breakpoint-up(sm) {
      float: left;
    }
  }

  .button-bar {
    button {
      cursor: pointer;
      border-radius: 2px;
      background-image: linear-gradient(to bottom, #fff, $color-toggle-button-gradient);
      border: solid 1px $color-toggle-button-border;
      padding: $spacing-small $spacing-medium;
      color: $color-toggle-button-text;
      font-size: 12px;
      text-align: center;

      &.active {
        border: solid 1px $color-toggle-button-border;
        background: $color-toggle-button-active none;
        color: #fff;
      }

      &:first-of-type {
        border-right: none;
      }

      &:last-of-type {
        border-left: none;
      }
    }
  }

  .nearby-school {
    display:block;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      display: table-cell;
      width: 33%;
      margin: auto;
    }
  }

  .nearby-school + .nearby-school {
    @include media-breakpoint-up(xs) {
      margin: 15px 0 0 0;
      border-top: 1px solid $border-color;
      padding: 15px 0 0 0;
    }
    @include media-breakpoint-up(md) {
      margin: 0 0 0 15px;
      border-left: 1px solid $border-color;
      border-top: none;
      padding: 0 0 0 15px;
    }
  }
}

.nearby-school {
  $font-color: #71787e;
  $link-color: #2ba3dc;
  color: $font-color;
  font-size: 13px;
  vertical-align: top;

  .circle-rating {
    margin: auto;
  }
  .icon-star {
    font-size: 9px;
  }

  > div {
    display: inline-block;
  }
  .rating {
    width: 50px;
    vertical-align: top;
    text-align: center;
    margin: auto;
  }
  .rating + div {
    padding-left: 15px;
    width: -moz-calc(100% - 55px);
    width: -webkit-calc(100% - 55px);
    width: calc(100% - 55px);
  }

  a {
    color: $link-color;
    font-size: 16px;
    font-family: 'opensans-bold';
  }
  .school-info {
    span + span {
      border-left: 1px solid $border-color;
      margin-left: 5px;
      padding-left: 5px;
    }
  }
}
