.person-bar-viz {
  $people-height: 50px;
  font-family: 'icon-greatscools';
  $background-gray: #dbe6eb;
  .arrow-down {
    position: relative;
    left: -7px;
    > span {
      position: absolute;
      top: -10px;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 9px solid #b2b2b2;
    }
  }
  .arrow-up {
    position: relative;
    left: -7px;
    > span {
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 9px solid #b2b2b2;
    }
  }
  .person-progress {
    position: relative;
    white-space: nowrap;
    font-size: $people-height;
    line-height: $people-height;
    display: inline-block;
    height: $people-height;
  }
  .person-progress > .background {
    color: $background-gray;
    display: inline-block;
  }
  .person-progress span {
    display: inline-block;
  }
  .person-progress > .foreground {
   position: absolute;
   top: 0;
   left: 0;
   overflow: hidden;
  }
}

.equity-test-scores {
  .person-bar-viz {
    $people-height: 40px;
    .person-progress {
      font-size: $people-height;
      line-height: $people-height;
      height: $people-height;
    }
    .state-average {
      font-family: 'opensans-regular';
      line-height: 18px;
      padding-top: 5px;
    }
  }
}

