.rating-score-item__label {
	padding: 5px 10px; // push label down to align with score/state avg
	font-size: $font-size-l3;
}

.rating-score-item__score {
	text-align: right;
	font-size: $font-size-l5;
	font-family: opensans-semibold;
	@media (min-width: 768px) and (max-width: 991px) {
		float: right;
		padding-left: 7px;
	}
  @media (min-width: 992px) {
		display: inline;
	}
}
.rating-score-item__state-average {
	text-align: right;
	font-size: $font-size-s1;
	color: #71787e;
	@media (min-width: 768px) and (max-width: 991px) {
		padding-top: 15px;
	}
	@media (min-width: 992px) {
		padding-right: 7px;
		display: inline;
	}
}

.rating-score-item__bar {
	padding: 10px 0;
}
