$light-gray: #f6f9fa;
$border-color: #dbe6eb;

.rating-container,
%rating-container {
  // padding: 0 0 20px 0;
}

.rating-container + .rating-container {
  // border-top: 1px solid $border-color;
  margin-top: $spacing-large;
}

.rating-container__title {
  text-align: center;
  @include media-breakpoint-up(sm) {
    text-align: left;
  }
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px 0;
  font-family: "opensans-semibold";
}

.rating-container__rating {
  padding-left: 10px;
  background: $light-gray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rating-container__score-item {
  padding-bottom: 5px;
  padding-top: 10px;
}
.rating-container__score-item ~ .rating-container__score-item {
  border-top: 1px solid $border-color;
}

@media (min-width: 970px) {
  .rating-container__title {
    padding-top: 0;
  }
}

.rating-container__more-items .show-more--open {
  border-top: 1px solid $border-color;
}
