.review-summary {
  @include clearfix;
  line-height: 1;

  color: #fff;
  font-family: 'RobotoSlab-Bold';

  .review-sumary__info {
    padding: 20px 30px 20px 30px;
    text-align: center;
    width: 100%;
    background-color: #08497b;
    @media (min-width: 450px) {
      float: left;
      width: 182px;
    }
  }

  .review-summary__distribution {
    padding: 20px 30px 20px 30px;
    width: 100%;
  }

  .number-of-reviews {
    border-bottom: 1px solid rgba(255, 255, 255, .17);
    padding-bottom: 5px;
    background-color: #08497b;
    .count {
      display: block;
      font-size: 62px;
    }
    .label {
      display: block;
      font-size: $font-size-l2;
    }
  }

  .n-out-of-5-stars {
    margin-top: 5px;
    font-family: 'opensans-regular';
  }

  .five-stars {
    display: block;
    margin-top: 15px;
  }
}
