section.school-list {
  $active-color: #f6f9fa;
  $hover-color: #f6f9fa;
  $border-color: #dbe6eb;
  position: relative;

  .scale {
    max-width: 62px;
    text-align: center;
  }

  ol {
    margin: 0;
    padding: 0 10px;
    overflow: scroll;
    list-style: none;
    width: 100%;
    height: inherit;

    li {
      @include clearfix;
      padding: 10px 10px;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.09);
      background-color: white;
      position: relative;
      span {
        display: inline-block;
      }
      a {
        font-size: $font-size-l2;
        font-family: 'opensans-semibold', sans-serif;
      }
      a.name {
        font-size: $font-size-l3;
      }
      &:hover {
        background-color: $hover-color;
      }
      &.active {
        background-color: $active-color;
      }
      > span:first-of-type {
        text-align: center;
        width: 55px;
        img, svg {
          width: 55%;
          padding-top: 2px;
          height: 55%;
          vertical-align: middle;
          border: 0;
        }
      }
      > span:nth-of-type(2) {
        width: calc(100% - 95px);
      }
      > span {
        vertical-align: top;
      }
      > span + span {
        margin-left: 10px;
      }
      &.ad {
        background: none;
        box-shadow: none;
        padding: '0';
        @include media-breakpoint-only(xs) {
          margin-left: '-10px';
          margin-right: '-10px';
        }
      }
    }

    li + li {
      margin-top: 7px;
    }
  }
}
