@import 'components/dropdown';
@import 'components/search-results-list';

.search-box {
  top: 0px;
  left: 0px;
  position: absolute;
  background: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include media-breakpoint-down(sm) {
    margin-left: -20px;
    width: calc(100% + 40px);
  }

  input {
    outline: none;
  }

  .search-results-list {
    z-index: 2;
    margin-top: -1px;
    @include media-breakpoint-down(sm) {
      width: 100%;
      overflow-y: scroll;
    }
  }

  .search-results-list-item {
    cursor: pointer;
  }

  .dropdown {
    font-family: 'opensans-semibold', Arial, 'Helvetica Neue', Helvetica,
      sans-serif;
    border: 1px solid #b8b8b8;
    border-radius: 3px 0px 0px 3px;
    border-width: 1px 1px 1px 1px;
    background: white;
    z-index: 2;
  }
  .selection {
    border-radius: 0px !important;
    border-width: 0px !important;
    height: 40px;
    background-image: none !important;
  }
}
