@import 'components/dropdown';
@import 'components/search-results-list';

.search-box {
  top: 0px;
  left: 0px;
  position: absolute;
  background: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include media-breakpoint-down(sm) {
    margin-left: -20px;
    width: calc(100% + 40px);
  }

  input {
    outline: none;
    color: rgb(102, 102, 102);
  }

  .search-results-list {
    z-index: 4;
    margin-top: -1px;
    text-align: left;
    @include media-breakpoint-down(sm) {
      width: 100%;
      overflow-y: scroll;
    }
  }

  .search-results-list-item,.search-results-show-all-option {
    cursor: pointer;
  }

  .dropdown {
    font-family: 'opensans-semibold', Arial, 'Helvetica Neue', Helvetica,
      sans-serif;
    border: 1px solid #b8b8b8;
    border-radius: 3px 0px 0px 3px;
    border-width: 1px 1px 1px 1px;
    background: white;
    z-index: 2;
  }
  .selection {
    border-radius: 0px !important;
    border-width: 0px !important;
    height: 40px;
    background-image: none !important;
  }

  .search_form_button {
    vertical-align: middle;
    color: white;
    background-color: #26abe2;
    border-color: #26abe2;
    border-top: #26abe2;
    border-right: #26abe2;
    border-left: #26abe2;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'opensans-bold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 8px 20px;
    font-size: 12px;
    line-height: 1.5;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-user-select: none;
    height: 46px;
    border-bottom: 0px;
  }

  .search_icon_image_white {
    cursor: pointer;
    display: inline-block;
    margin-top: 4px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-image: image_url('icons/search_icon_white.png');
  }
}

#home-page {
  .search-box {
    .search_bar_button {
      background-color: rgba(0, 0, 0, 0.65);
    }
    .search_form_field {
      height: 46px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-left: 0;
    }
  }

  .search-mode-homepage{
    // Class added to search box to allow mobile user to have more room to search
    // Overwrites CSS from search-box class
    @media (min-width: 549px){
      margin-top: -150px;
    }
    @media (max-width: 548px){
      margin-top: -185px;
    }
    z-index: 5;
    margin-left: -10px;
    width: 93%;
    // For small phone screen widths
    @media (max-width: 320px){
      width: 110%;
    }
    @media (max-width: 548px){
      .search-results-list{
        width: 130%;
      }
    }
    input{
      border: 1px solid #b8b8b8;
      font-size: 16px;
    }
    .search_bar_button{
      button{
        width: 100%;
        padding: 8px 12px;
        border-radius: 0px;
      }
      &:last-child {
        margin-left: 5px;
        button{
          background-color: #999;
          width: 100%;
        }
      }
    }
  }


  .search-results-list {
    @include media-breakpoint-down(sm) {
      border: 1px solid $form-field-border-color;
      height: auto;
    }
  }
}
