<div class="limit-width-1200 collapse mtl js-change-password-form-container">

<div class="row">

    <div class="col-sm-12">
        <h2>Manage password</h2>
        <form class="js-change-password-form" action='<%= change_password_url %>' method="post">
  <input type="hidden" name="_method" value="PUT" />
  <div class="modal-body">
    <div class="well js-change-password-form-content">
      <legend>Password change form</legend>

      <div class="form-group">

        <label class="control-label" for="password">Current password</label>
        <div class="controls">
          <input type="password" id="current_password" name="current_password" placeholder="" class="input-xlarge" style="width:100%">
        </div>

        </br>
        <label class="control-label" for="password">New password</label>
        <div class="controls">
          <input type="password" id="new_password" name="new_password" placeholder="" class="input-xlarge" style="width:100%">
        </div>
        </br>

        <label class="control-label" for="password">Confirm your new password</label>
        <div class="controls">
          <input type="password" id="confirm_password" name="confirm_password" placeholder="" class="input-xlarge" style="width:100%">
        </div>

      </div>

      <div class="js-change-password-form-error-container" style="color:red"></div>

      <div class="controls">
          <button class="btn btn-primary fr">Submit</button>
      </div>
      <br class="clearfix"></br>

    </div>
  </div>
</form>
    </div>
</div>
</div>