<div class="limit-width-1200 collapse mtl  js-change-password-form-container">

<div class="row phm">

    <div class="col-sm-12">
        <form class="js-change-password-form" action='<%= change_password_url %>' method="post">
  <input type="hidden" name="_method" value="PUT" />
  <div class="modal-body">
    <div class="well js-change-password-form-content">

      <div class="form-group">

        <br />
        <label class="control-label" for="password">New password</label>
        <div class="controls">
          <input type="password" id="new_password" name="new_password" placeholder="" class="input-xlarge" style="width:100%">
        </div>
        <br />

        <label class="control-label" for="password">Confirm your new password</label>
        <div class="controls">
          <input type="password" id="confirm_password" name="confirm_password" placeholder="" class="input-xlarge" style="width:100%">
        </div>

      </div>

      <div class="js-change-password-form-error-container" style="color:red"></div>

      <div class="controls clearfix">
          <button class="btn btn-primary fr">Submit</button>
      </div>
      </div>
  </div>
</form>
    </div>
</div>
</div>