<form accept-charset="UTF-8" action="/gsr/user/save_city_state" method="get"><div style="display:none"><input name="utf8" type="hidden" value="✓"></div>


<div class="container">
  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
    <%= render 'search/change_location', choose_state: @state_locale.present? ? @state_locale[:long].titleize : nil %>
  </div>
  <input name="userState" type="hidden"  value="">
  <div class="col-xs-5 col-sm-8 col-md-8 col-lg-8 prm mbm">
    <% if @city_locale.present?%>
    <input  type="text"
            name= "userCity"
            id="js-userCity"
            class='typeahead search-text full-width pam'
            placeholder="Enter your city"
            value= "<%= @city_locale %>">
     <% else %>
    <input
            type="text"
            name= "userCity"
            id="js-userCity"
            class='typeahead search-text full-width pam'
            placeholder="Enter your city">
     <% end %>


    <label class="dn js-mobile-placeholder js-translate-placeholder"></label>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <input class="btn btn-primary pam full-width mbl" name="commit" type="submit" value="Submit">

  </div>
</div>
</div>
</form>