<div class="container">
  <div class="hidden-xs col-sm-2 col-md-2 col-lg-2 plm">
    <%= render 'search/change_location' %>
  </div>
  <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8 prm mbm">
    <input  type="text"
            id="js-schoolResultsSearch"
            class='typeahead search-text full-width pam'
            placeholder="choose your city, yo">

    <label class="dn js-mobile-placeholder js-translate-placeholder"></label>
  </div>
</div>
</div>