<div class=" mvl">
    <div class="row limit-width-1200 ">
        <div class="col-xs-12 clearfix phm">
            <div class="fr font-size-large mam"><%= @current_user.first_name || @current_user.email if logged_in? %></div>
        </div>
    </div>
</div>