<div class="row mvl mhm">
  <div class="col-xs-12">

    <div class="tac"><%= image_tag 'account_management/school_icon.png', alt: 'Official School Profile' %></div>
    <div class="pbm tac font-size-large">Keep your school profiles up to date</div>
    <div class="tac"><a href="<%= osp_dashboard_url %>" class="ptm">
      <button class="btn btn-new" >Edit School Profile</button>
    </a></div>
  </div>
</div>
