  <div class="">
    <div class="bg-light-gray mvl js-header-slide-toggle">
      <div class="row limit-width-1200 ">
        <div class="col-xs-12 clearfix phm">
          <div class="fl font-size-large mam">
            Personalized Profile
          </div>
          <span class="fr iconx24-icons i-24-grey-down-arrow mtm"></span>
        </div>
      </div>
    </div>
    <div class="row limit-width-1200 ">
        <div class="mvl">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed sodales urna. Pellentesque auctor eleifend
          dictum. Aenean et massa eu nulla elementum feugiat. Nunc lobortis, enim vel fringilla suscipit, risus dolor
          consequat justo, sit amet consectetur mi magna ac diam. Vestibulum nec magna vel elit dictum fringilla at et leo.
        </div>
        <div>
        <div class="open-sans_sb pbl">
        School Location
        </div>
        <%= render 'shared/account_management/cityChooser' %>
        </div>
    </div>
  </div>

  <div class="">
    <div class="bg-light-gray mvl js-header-slide-toggle">
      <div class="row limit-width-1200 ">
        <div class="col-xs-12 clearfix phm">
          <div class="fl font-size-large mam">
           My School List
          </div>
          <span class="fr iconx24-icons i-24-grey-down-arrow mtm"></span>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/account_management/school_list' %>
  </div>

  <div class="">
    <div class="bg-light-gray mvl js-header-slide-toggle">
      <div class="row limit-width-1200 ">
        <div class="col-xs-12 clearfix phm">
          <div class="fl font-size-large mam">
            Subscriptions
          </div>
          <span class="fr iconx24-icons i-24-grey-down-arrow mtm"></span>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/account_management/email_settings' %>
  </div>

  <div class="">
    <div class="bg-light-gray mvl js-header-slide-toggle">
      <div class="row limit-width-1200 ">
        <div class="col-xs-12 clearfix phm">
          <div class="fl font-size-large mam">
            Change Passwords
          </div>
          <span class="fr iconx24-icons i-24-grey-down-arrow mtm"></span>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/account_management/change_password_form' %>
  </div>
