<% unique_id # Will be used as a suffix for DOM ID %>
<% descriptions # The descriptions to display %>
  
<% if descriptions.present? %>
  <div class="pll">
    <p><%= t('.about_this_data') %><a href="javascript:void(0)" class="js_toggle_parent_sib"><%= t('.learn_more_html') %></a></p>
    <div class="dn well bg-white">
      <ul id="about-this-data-<%= unique_id %>" class="list-unstyled">
        <% descriptions.each do |description| %>
          <li class="pts"><%= db_t(description) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
