<% category_placement %>

<% if category_placement.present? %>
  <% GSLogger.swallow_and_log_errors_unless_development(:school_profile, category_placement.attributes, 'Something went wrong when trying to render category placement') do %>
    <% category_placement = CategoryPlacementPresenter.new(category_placement, @page_config, self) %>
    <% category_placement_markup = category_placement.render %>

    <% if category_placement_markup.present? %>
      <%= category_placement_markup %>
      <% if category_placement.show_bottom_ads? && @school.show_ads  %>
        <div class="pvl">
          <%= render 'layouts/ad_layer', page: @ad_page_name, slot: category_placement.title.to_sym, view: :desktop  %>
          <%= render 'layouts/ad_layer', page: @ad_page_name, slot: category_placement.title.to_sym, view: :mobile  %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>