<% if review %>
  <% review = SchoolProfileReviewDecorator.decorate(review) unless review.is_a?(SchoolProfileReviewDecorator) %>
  <div class="well mvl row" style="padding:40px">
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 tac pvm prm"><%= image_tag(image_path("lib/school_principal_icon_130x130_140902.png"))%></div>
    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12  clearfix">
      <h2 class="ptn mtn"><%= t('.school_official_title') %></h2>
      <span class="open-sans_i"><%= review.comment %></span>
      <br />
      <div class="fr ptm"><%= review.created  %></div>
    </div>
  </div>
<% end %>
