<% modal_css_class = params[:modal_css_class] %>
<div class="modal join-and-login fade js-gsModal <%= modal_css_class %>" tabindex="-1" role="dialog" aria-labeledby="<%= modal_css_class %>Label" aria-hidden="true">
  <div class="gs-modal-dialog modal-dialog" >
    <% @active_tab ||= 'login' %>
    <button class="close" data-dismiss="modal" aria-label="Close">
      <span>&times;</span>
    </button>
    <div class="modal-body">
      <div class="title"><%= t('.header') %></div>
      <div class="body tab-content">
        <%= render '/signin/join_and_login_forms' %>
      </div>
    </div>
  </div>
</div>
