<% modal_css_class = params[:modal_css_class] %>
<% heading = params[:heading].presence || t('.heading') %>
<% if I18n.locale == :es && params[:subheading] == "You've signed up to receive updates" %>
  <% subheading =  t('.subheading_html', school_name: params[:school_name], default: '') %>
<% else %>
  <% subheading = params[:subheading].presence || t('.subheading_html', default: '') %>
<% end %>

<%= render layout: 'modal_layout', locals: {
  heading: heading,
  subheading: subheading,
  modal_css_class: "join-and-login #{modal_css_class}"
} do %>
  <fieldset>
    <button type="submit" class="submit"><%= t('done', scope: 'forms') %></button>
  </fieldset>
<% end %>
