.auto-narration {
  $color_gray_text: #6F777B;
  $color_negative:  #cb5c35;
  $color_neutral:   #8a720a;
  $color_positive:  #367a1e;
  $color_gray_bar:  #edf2f5;

  font-size: 16px;

  h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;

    &.positive {
      color: $color_positive;
    }
    &.neutral {
      color: $color_neutral;
    }
    &.negative {
      color: $color_negative;
    }
  }

  .emphasis {
    font-family: opensans-semibold, sans-serif;
  }

  .parent-tip {
    color: $color_gray_text;
    font-family: opensans-semibold, sans-serif;
    margin-top: 5px;
  }

  .footnote {
    color: $color_gray_text;
    margin-bottom: 0;
  }

  .side-bar {
    border-left: 5px $color_gray_bar solid;
    padding-left: 20px;
  }

  &.summary-narration {
    font-size: 14px;
    .module_feedback {
      float:none;
      display: block;
      padding: 15px 0 0;
    }
    @include media-breakpoint-up(sm) {
      .more-reveal {
        display: inline;
      }
      .more-reveal-link {
        display: none
      }
    }
  }

  .content, ul, li {
    font-size: 14px;
  }

  .speech-bubble{
    max-width: 80%;
  }
}