.auto-narration {
  $color-gray-text: #6F777B;
  $color-negative: #cb5c35;
  $color-neutral: #8a720a;
  $color-positive: #367a1e;
  $color-gray-bar: #edf2f5;

  font-size: 16px;

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;

    &.positive {
      color: $color-positive;
    }

    &.neutral {
      color: $color-neutral;
    }

    &.negative {
      color: $color-negative;
    }
  }

  .emphasis {
    font-family: opensans-semibold, sans-serif;
  }

  .parent-tip {
    color: $color-gray-text;
    font-family: opensans-semibold, sans-serif;
    margin-top: 5px;
  }

  .footnote {
    color: $color-gray-text;
    margin-bottom: 0;
  }

  .side-bar {
    border-left: 5px $color-gray-bar solid;
    padding-left: 20px;
  }

  &.summary-narration {
    font-size: 14px;

    .module_feedback {
      display: block;
      float: none;
      padding: 15px 0 0;
    }

    .distance-learning {
      padding: 35px;
    }

    @include media-breakpoint-up(sm) {
      .more-reveal {
        display: inline;
      }
      .more-reveal-link {
        display: none
      }
    }
  }

  .content, ul, li {
    font-size: 14px;
  }

  .speech-bubble{
    max-width: 80%;
  }
}