$border-color: #dbe6eb;
$gradient-off-white: #f4f5f7;
$border-radius: 3px;

.csa-state-module {
  margin-bottom: 15px;
  border: solid 1px #dbe6eb;
  padding: 5px;

  h3 {
    padding: 10px 15px 10px 15px;
    color: #333;
    font-size: 16px;
    font-family: 'opensans-semibold';
  }

  .csa-state-blurb {
    @include flexbox;
    margin-left: 20px;
    margin-bottom: 20px;

    img {
      width: 75px;
      margin-top: 5px;
      align-self: center;
    }

    p {
      margin: 0 20px;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 0;

    .csa-state-blurb {
      display: block;

      img {
        float: left;
        height: 60px;
        margin: 8px 12px 0 0;
      }

      p {
        padding: 0;
        margin-left: 0;
      }
    }
  }

  .ca-state-module-divider {
    padding: 0 15px;

    .blue-line {
      border-bottom: 1px solid $border-color;
      width: 100%;
      margin: 10px 0px;
    }
  }

  .more-school-btn {
    margin-bottom: 20px;
    @include flexbox-center;
    a {
      width: 90%;
      button {
        text-transform: uppercase;
        width: 100%;
        margin: auto;
        height: 50px;
        color: $school-color;
        font-family: 'opensans-semibold';
        font-size: 14px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(white), to($gradient-off-white));
        background-image: -o-linear-gradient(top, white, $gradient-off-white);
        background-image: linear-gradient(to bottom, white, $gradient-off-white);
        border: solid 1px $border-color;
        border-radius: $border-radius;
      }
    }
  }
}