.ethnicity-container{
  .subtitle-placement{
    padding: 10px 0 20px;
  }
  .legend-square{
    width:12px;
    height:12px;
    display:inline-block;
    margin-right: 10px;
  }
  .legend-title{
    display: inline-block;
    font-size: 12px;
  }
  .legend-separator{
    padding: 10px 0; border-bottom: 1px solid #EEEEEE;
  }
}