.module_feedback {
  float: right;
  padding-top: 5px;
  display: inline-block;
  .anchor-button {
    height: 24px;
  }
  .anchor-button + .anchor-button {
    margin-left: 5px;
  }
}

// School profiles' feedback links are wider
// and should go to the next line on mobile
@include media-breakpoint-down(xs) {
  .profile-module .module_feedback {
    float: none;
    display: block;
  }
}

