.module_feedback {
  float: right;
  padding-top: 5px;
  display: inline-block;
  .anchor-button {
    height: 24px;
  }
  .anchor-button + .anchor-button {
    margin-left: 5px;
  }
}
@include media-breakpoint-down(xs) {
  .module_feedback_desktop_divider{
    display: none;
  }
  .module_feedback {
    float: none;
    display: block;
  }
}

