.profile-module {

  .tabs-panel {
    display: none;
  }

  .tabs-panel_selected {
    display: block;
  }

  .tab-selected {
    text-decoration: none;
    color: black;
  }

  .sub-section-navigation {
    padding: 20px;
    text-align: center;

    .sub-nav-item {
      padding: 5px 10px;
      border: 1px solid #c1d2d9;
      font-size: 12px;
      font-weight: normal;
      text-decoration: none;
      background-color: #F0FAFB;
      color: #28292a;
      white-space: nowrap;
      overflow: hidden;

      &:not(:first-child) {
        margin-left: -1px;
      }

      &:last-child{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &:first-child{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }

    .sub-tab-selected {
      text-decoration: none;
      color: #fff;
      background-color: #2ba3dc;
    }
  }

  .panel {
    border: solid 1px #dbe6eb;
    padding: 15px 30px;
    margin: 10px 10px 5px 0;
    background-color: #fff;
    @include media-breakpoint-down(xs) {
      padding: 10px 10px;
    }
  }

  .tab-buttons {
    margin-top: 15px;
    .tab-container {
      display: inline-block;
      margin: 0px 0px 10px;
      .tab-title {
        font-family: opensans-semibold;
        font-size: 12px;
        padding: 4px 9px;
        line-height: 1.83;
        color: #2ba3dc;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        border-radius: 2px;

        &.tab-selected {
          background: #fff;
          color: #2e3438;
          background-color: #d2e6ee;
        }
      }
      .divider {
        border-right: 1px solid #c1d2d9;
        margin: 10px;
        font-size: 12px;
      }

    }
    .space-below {
      padding-bottom: 10px;
    }
  }


  .top-content {
    $narrative_gray_text: #71787e;
    $narrative_negative: #ff9900;
    $narrative_positive: #6aa84f;
    $narrative_bold: opensans-semibold;
    $narrative_title_font_size: 18px;
    $narrative_content_font_size: 14px;
    $narrative_link_color: #2ba3dc;
    $narrative_hr_margin: 14px;

    padding: 0px 10px;

    .title {
      font-family: $narrative_bold;
      font-size: $narrative_title_font_size;
      margin-bottom: 5px;
    }
    .parent-tip{
      font-size: $narrative_content_font_size;
      font-family: $narrative_bold;
      margin-bottom: 5px;
      color: $narrative_gray_text;

    }
    .negative {
      color: $narrative_negative;
    }
    .positive{
      color: $narrative_positive;
    }
    hr {
      color: $narrative_gray_text;
      margin-top: $narrative_hr_margin;
      margin-bottom: $narrative_hr_margin;
    }
    .narrative-content {
      font-size: $narrative_content_font_size;
      line-height: 21px;
    }
    .footnote {
      font-size: $narrative_content_font_size;
      color: $narrative_gray_text;
      line-height: 1.36;
      a {
        font-size: $narrative_content_font_size;
        color: $narrative_link_color;
      }
    }
    .emphasis {
      font-family: $narrative_bold;
    }
    .italicized {
      font-family: 'opensans-italic';
    }
  }


}
