$border-color: #dbe6eb;

.profile-section {
  .section-title {
    text-align: center;
    @include media-breakpoint-up(sm) {
      text-align: left;
    }
    font-size: 20px;
    text-transform: uppercase;
    font-family: "opensans-semibold";
    padding: 0 0 20px 0;
    @media (min-width: 970px) {
      padding-top: 0;
    }

    a {
      // innovate logo
      @include media-breakpoint-up(lg) {
        display: block;
        height: 120px;
      }
    }
    img.innovate-logo {
      &.mobile {
        @include media-breakpoint-up(sm) {
          display: none;
        }
      }
      &.desktop {
        @include media-breakpoint-only(xs) {
          display: none;
        }
      }
      @include media-breakpoint-up(xs) {
        width: 99px;
        position: absolute;
        right: 0px;
      }
      @include media-breakpoint-up(sm) {
        width: 160px;
        float: right;
        position: static;
      }
      @include media-breakpoint-up(lg) {
        width: 205px;
        display: block;
      }
    }
  }


  .xq_school_board_module_mobile_container {
    @include media-breakpoint-up(sm) {
      display: none;
    }

    margin-bottom: 30px;

    .xq_school_board_module_mobile {
      border: 1px solid $border-color;
      background-color: $gray-light-blue;
      padding: 10px;
      margin: 5px 0;
      font-size: $font-size-small;
  
      h3 {
        font-size: 18px;
        margin-bottom: 3px;
      }
  
      a {
        font-size: $font-size-small;
      }
    }

    .xq-sources-text {
      h3, div, span {
        font-family: $font-family-base-bold;
      }
    }
  }

  .profile-section-slot + .profile-section-slot {
    margin-top: $space-between-profile-modules;
  }

  .profile-module {
    background: $gray-light-blue;
    padding: 10px;
    @include media-breakpoint-only(xs) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
