.profile-module {
  $flag-color: #ff3f2b;
  $graduation-color: #155AA2;
  @include media-breakpoint-only(xs) {
    border-bottom: solid 1px #dbe6eb;
    border-top: solid 1px #dbe6eb;
    margin-left: -10px;
    margin-right: -10px;
  }

  .title > div > div {
    display: inline-block;
    .tipso_style {
      height: 16px;
      width: 16px;
      display: inline-block;
      vertical-align: sub;
    }
  }

  .tooltip {
    display: inline-block;
    vertical-align: text-top;
  }

  .tabs-panel {
    display: none;
  }

  .tabs-panel_selected {
    display: block;
  }

  .tab-selected {
    text-decoration: none;
    color: black;
  }

  .sub-section-navigation {
    padding: 20px;
    text-align: center;

    .sub-nav-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .sub-nav-item {
      padding: 5px 10px;
      border: 1px solid #c1d2d9;
      font-size: 12px;
      font-weight: normal;
      text-decoration: none;
      background-color: #F0FAFB;
      color: #28292a;
      white-space: nowrap;
      overflow: hidden;

      &:not(:first-child) {
        margin-left: -1px;
      }

      &:last-child{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &:first-child{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }

    .sub-tab-selected {
      text-decoration: none;
      color: #fff;
      background-color: $midnight-blue;
    }
  }

  .panel {
    border: solid 1px #dbe6eb;
    padding: 15px 20px;
    margin: 10px 0 5px 0;
    background-color: #fff;
    @include media-breakpoint-down(xs) {
      padding: 10px 10px;
      margin: 10px 0 5px 0;
      border-left: none;
      border-right: none;
    }
  }

  .share-your-feedback-cta {
    .anchor-button {
      height: 24px;
    }
    .actions > div {
      display: inline-block;
      margin-left: 15px;
      vertical-align: top;
    }
    .speech-bubble {
      max-width: 480px;
      vertical-align: middle;
      @include media-breakpoint-only(xs) {
        max-width: 220px;
      }
    }
  }

  .tab-buttons {
    margin-top: 15px;
    @include media-breakpoint-only(xs) {
      padding: 0px 10px;
    }
    .tab-container {
      display: inline-block;
      margin: 0px 0px 10px;
      line-height: 2.2;
      .tab-title {
        font-family: opensans-semibold;
        font-size: 12px;
        padding: 4px 9px;
        line-height: 1.83;
        color: $midnight-blue;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        border-radius: 2px;
        display: inline-block;

        &.tab-selected {
          background: #fff;
          color: #2e3438;
          background-color: #d2e6ee;
        }
      }
      .divider {
        border-right: 1px solid #c1d2d9;
        margin: 10px;
        font-size: 12px;
      }
    }
  }


  .top-content {
    $narrative_gray_text: #6F777B;
    $narrative_negative: #ff9900;
    $narrative_positive: #6aa84f;
    $narrative_bold: opensans-semibold;
    $narrative_title_font_size: 18px;
    $narrative_content_font_size: 14px;
    $narrative_link_color: #2ba3dc;
    $narrative_hr_margin: 14px;

    padding: 0px 10px;

    .title {
      font-size: $narrative_title_font_size;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .parent-tip{
      font-size: $narrative_content_font_size;
      font-family: $narrative_bold;
      margin-bottom: 5px;
      color: $narrative_gray_text;

    }
    .negative {
      color: $narrative_negative;
      .icon-flag {
        color: $flag-color;
        margin-left: 0;
        margin-right: 5px;
      }
    }
    .positive{
      color: $narrative_positive;
    }
    hr {
      color: $narrative_gray_text;
      margin-top: $narrative_hr_margin;
      margin-bottom: $narrative_hr_margin;
    }
    .narrative-content {
      font-size: $narrative_content_font_size;
      line-height: 21px;
    }
    .footnote {
      font-size: $narrative_content_font_size;
      color: $narrative_gray_text;
      line-height: 1.36;
      a {
        font-size: $narrative_content_font_size;
        color: $narrative_link_color;
      }
    }
    .emphasis {
      font-family: $narrative_bold;
    }
    .italicized {
      font-family: 'opensans-italic';
    }
  }

  .icon-graduation {
    margin-left: 2px;
    &.blue {
      color: $graduation-color;
    }
  }

  .csa-profile-module-blurb {
    display: flex;
    margin: 0 10px;
    align-items: center;

    .csa-text {
      @include media-breakpoint-down(md) {
        padding-top: 15px;
      }
    }
  }


  .icon-flag {
    margin-left: 5px;
    &.red {
      color: $flag-color;
    }
  }

  .icon-csa-badge-year {
    font-size: 32px;
    color: #155aa2;
    display: table-cell;
    padding-right: 5px;
  }

  .csa-callout {
    background-color: white;
    padding: 8px;
    margin: 5px 10px 0 0;
    display: table;
  }

  .csa-callout-text {
    display: table-cell;
    vertical-align: middle;
  }

}