.school-profile {
  .content > div {
    margin-top: 30px;
  }

  .nearby-schools {
    position: relative;
    margin: auto;
    padding: 30px 0px;
    @include media-breakpoint-up(sm) {
      padding: 30px 15px;
    }
    max-width: 1170px;
  }
  
  @include media-breakpoint-down(xs) {
    .anchor-mobile-offset {
      display: block;
      height: 50px; /*same height as header*/
      margin-top: -50px; /*same height as header*/
      visibility: hidden;
    }
  }

  .icon-user, .icon-advanced {
    font-size: 26px;
  }

  .no-data {
    color: #71787e;
  }


  .gs-rating-circle-inline {
    border-radius: 50%;
    height: 34px;
    width: 34px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    margin-left: 7px;
  }

  .sources-link {
    float: left;
    @include media-breakpoint-down(xs) {
      float: none;
    }
  }
}

