$space-between-profile-modules: $spacing-extra-large;

.school-profile {
  .static-container > .content > div,
  .profile-section {
    margin-top: $space-between-profile-modules;
  }

  .nearby-schools {
    position: relative;
    margin: auto;
    padding: 30px 0px;
    @include media-breakpoint-up(sm) {
      padding: 30px 15px;
    }
    max-width: 1170px;
  }

  @include media-breakpoint-down(xs) {
    .anchor-mobile-offset {
      display: block;
      height: 0px; /*same height as header*/
      margin-top: 0px; /*same height as header*/
      visibility: hidden;
    }
  }

  .icon-user,
  .icon-advanced {
    font-size: 26px;
  }

  .no-data {
    color: #6F777B;
    .module_feedback {
      float: none;
      display: block;
      .links {
        white-space: nowrap;
      }
    }
  }

  .no-data-alternate {
    span:last-child {
      display: inline-block;
      width: calc(100% - 60px);
      float: right;
    }
  }

  .more-reveal {
    display: none;
  }

  .gs-rating-circle-inline {
    border-radius: 50%;
    height: 34px;
    width: 34px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    margin-left: 7px;
  }
  a.noTextDecoration {
    text-decoration: none;
  }
  .sources-link {
    float: left;
    > a:hover {
      text-decoration: none;
    }
    @include media-breakpoint-down(xs) {
      float: none;
    }
  }
  .source-link > span {
    font-size: 18px;
    vertical-align: text-bottom;
  }
}

.interstitial-modal {
  p {
    padding: 10px 0 15px 0;
    font-family: opensans-semibold;
  }
  .timer {
    padding: 10px 0 0 0;
  }
  .remodal-close:after {
    content: 'x';
    font-size: 22px;
    color: #666;
  }
  .remodal-overlay {
    background: rgba(0, 0, 0, 0.85);
  }
  @include media-breakpoint-down(xs) {
    .remodal-wrapper {
      padding: 0;
    }
    .modal_info_box {
      border: 0px;
      padding: 10px 0;
      max-width: 320px;
    }
    p {
      padding: 10px 10px 15px 10px;
    }
    .timer {
      padding: 10px 10px 0 10px;
    }
  }
}
