$cta_background: #FFFFFF;
$cta_shadow: #CCCCCC;
$cta_button_border: rgba(255,255,255,0.17);
$cta_icon_color: #ffffff; // Regular GS Blue
$cta_icon_hover_color: #55b5e3; // Light GS Blue
$cta_icon_active_color: #2282b0; // Medium GS Blue

#profile-sticky-container {

  &.fixed-top {
    position: fixed;
    top: 0;
    margin-top: 0;
    z-index: 10;
  }

  &.non-fixed-top {
    position: relative;
  }

  &.align-bottom {
    position: absolute;
    bottom: 0px;
    z-index: 10;
  }

  &.blue-background {
    //opacity: 0.95;
    background-image: image_url('school_profiles/hero_bg.jpg');
    border-radius: 0 0 2px 2px;
  }

  &.dn {
    display: none;
  }

  &.desktop_dn {
    display:none;
  }

  @include media-breakpoint-down(sm) {

    &.blue-background {
      width:100%;
      border-top: solid 1px $cta_button_border;
    }

    &.mobile_dn{
      display:none;
    }

    &.desktop_dn {
      display:block;
    }
  }
}

#hero {

  .blue-background-hero {
    border-top: solid 1px $cta_button_border;
    border-bottom: solid 1px $cta_button_border;
    border-right: solid 1px $cta_button_border;
    @include media-breakpoint-down(md) {
      display: none;
    }

    .cta {
      .cta-button {
        width: 99px;
        a {
          font-size: 12px;
        }
      }
    }
  }
}

.cta {

  &.cta-container {
    height: 65px;
  }

  .cta-rating {
    float:left;
    padding: 7px 0 0 10px;
  }

  .cta-title {
    float:left;
    padding: 18px 20px 15px 10px;
    font-size: 20px;
    color: #ffffff;
    width: 45%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cta-button {
    width: 70px;
    height: 65px;
    float: right;
    text-align: center;
    padding-top: 10px;
    border-left: 1px solid $cta_button_border;
    @include media-breakpoint-down(sm) {
      &:last-child { border-left: none; }
    }

    a {
      color: white;
      font: inherit;
      font-size: $font-size-small;

      &:hover {
        text-decoration: none;
        color: $cta_icon_hover_color;
        > div:first-child {
          color: $cta_icon_hover_color;
        }
      }
    }

    .owly_size {
      width: 53px;
      height: 32px;
      margin-top: 5px;
    }
  }

  @include media-breakpoint-down(sm) {

    .cta-four-buttons{
      width: 25%;
    }

    .cta-three-buttons{
      width: 33%;
    }

    .cta-button {
      height: 50px;
      text-align: center;
      padding-top: 10px;
      margin:auto;
      background-image: image_url('school_profiles/hero_bg.jpg');

      a > div {
        vertical-align: top;
        display:inline-block;
      }

      .owly_size {
        margin-top: 0px;
      }
    }

    &.cta-container {
      width: 100%;
      height: 50px;
      position: relative;
      top: 0px;
      clear: both;
      left:0px;
      z-index : 10;
    }

    .cta-rating {
      display:none;
    }

    .cta-title {
      display:none;
    }
  }
}