.sourcing {
  h1 {
    text-align: center;
    font-size: 22px;
    font-family: RobotoSlab-Bold, sans-serif;
    margin-bottom: 40px;
  }
  > div {
    padding: 0 40px 10px;
  }

  .emphasis {
    font-family: RobotoSlab-Bold, sans-serif;
  }

  h4 {
    font-family: RobotoSlab-Bold, sans-serif;
  }
}