.subgroups {
 $gray-border-color: #e0e4e8; 
 $state-avg-color: #71787e;
  margin-top: $spacing-extra-large;
  .subgroup{
    display: inline-block;
    border-right: solid 1px $gray-border-color;

    .title {
      padding: 0 $spacing-large;
      font-family: 'opensans-semibold';
      text-align: center;
      font-size: $font-size-l2;
      min-height: $spacing-extra-large;
    }

    .state-avg {
      text-align: center;
      color: $state-avg-color;
      font-size: $new-profile-font-size-base;
    }
  }
}
