.tour-teaser {
  position: fixed;
  bottom: 50px;
  right: 10px;
  @include media-breakpoint-up(md) {
    bottom: 10px;
  }
  img {
    float: left;
  }
  button {
    @include button;
    float: left;
    border-radius: 50%;
  }
}

button.tour-cta {
  @include button;
}

.school-profile-tour-modal {
  display: inline-block;
  text-align: center;
  width: 300px;
  //height: 185px;
  padding: 30px 40px;
  position: fixed;
  background: #f6f9fa;
  right: 10px;
  bottom: 110px;
  border: 3px solid #159bd8;
  border-radius: 3px;
  box-shadow: 4px 17px 20px 0 rgba(46, 52, 56, 0.14);
  @include media-breakpoint-up(md) {
    bottom: 70px;
  }
  h3 {
    margin-top: 0px;
  }
  .tour-modal-arrow {
    position: absolute;
    width: 0; height: 0;
    border: 10px solid;
    pointer-events: none;
    border-top-color: #159bd8;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    top: 100%;
    right: 45px;
  }
  button {
    margin-bottom: 15px;
  }
  #close-school-tour {
    font-size: 11px;
    color: #1d1d1d;
    cursor: pointer;
  }

  &.hidden {
    display: none;
  }
}
