.discipline_flag {
  $button_border_color: #c1d2d9;
  $button_gradient_color: #f4f5f7;
  $flag_color: #ff3f2b;

  margin-left: 10px;
  border-radius: 2px;
  border: solid 1px $button_border_color;
  background-image: linear-gradient(to bottom, #fff, $button_gradient_color);
  padding: 2px 5px;

  span {
    color: $flag_color;
    line-height: 14px; /* Counteract annoying #toc .toc-entry a { line-height: 34px; } */
  }

  &:hover {
    text-decoration: none;
  }
}