<%
   reviews_for_topic;
   answer_summary_text = reviews_for_topic.answer_summary_text
   review_comments_text = reviews_for_topic.see_comments_text
   principal = @school_user ? @school_user.principal? : false
%>
<div class="font-size-large <%= principal ? '' : 'mxtl' %> ptxl">
  <%= answer_summary_text ? answer_summary_text : 'No one has voted for this topic yet.' %>
</div>
<% if answer_summary_text %>
    <div class="js_reviewTopicFilterLink">
      <a class="pointer" data-topic-filter="<%= reviews_for_topic.first_topic.name %>">
        <%= review_comments_text %>
      </a>
    </div>
<% end %>
