<div class="ptxl tac">
  <img src="<%= image_path('lib/sample_megaphone_100x100.png') %>" alt="No school reviews created"/>
  <div class="gray-dark font-size-large">Have a Voice!</div>
  <div class="gray-dark">Be the first to weigh in on this topic.</div>
</div>