<div class="ptxl tac">
  <span class="iconx96 i-96-megaphone"></span>
  <div class="gray-dark font-size-large">Have a Voice!</div>
  <div class="gray-dark">Select an option to weigh in on this topic.</div>
</div>