<div class="js-gs-results-snapshot">
  <div class="open-sans font-size-large mhl mtxl mbl phxl tac">
    <%= review_summary_data["summary"].html_safe %>
  </div>
  <div class="shim-20"></div>
  <div class="tac ptl">
    <%= link_to ("Go to all #{review_summary_data["comments"]} comments") %>
  </div>
</div>

