<% unless announcement.nil? %>
  <div class="row-970" style='padding-top: 10px; padding-bottom: 10px;'>
    <div class="success-block">
      <span class="mrm" style='font-weight: bold;'>ANNOUNCEMENT</span>
      <span><%= announcement[:content] %></span>
      <% if announcement[:newWindow] == 'true' %>
        <%= link_to(announcement[:link][:name], announcement[:link][:path],  target: '_blank', class: 'mls') %>
      <% else %>
        <%= link_to(announcement[:link][:name], announcement[:link][:path], class: 'mls') %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row-970" style='padding-top: 10px; padding-bottom: 10px;'>
    <div class="alert alert-success">
      <h3 class="SourceSansPro-Semibold-h3 mbm mtl">No Data Found - Key ${keyTemplateName}_announcement</h3>
    </div>
  </div>
<% end %>
