<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
      html { height: 100% }
      body { height: 500px; margin: 0; padding: 0 }
      #js-map-canvas { height: 100% }
  </style>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?client=gme-greatschoolsinc&amp;libraries=geometry&amp;sensor=false&amp;signature=qeUgzsyTsk0gcv93MnxnJ_0SGTw="></script>

  <script type="text/javascript">

      var points = [];

      points.push({name:'Bay Farm Elementary School', lat: 37.74410629272461,
          lng: -122.25144958496094, gsRating: '1', schoolType: 'private',
          state: 'CA',
          id: '2', levelCode: 'e'});

      points.push({name:'Amelia Earhart Elementary School', lat: 37.74451446533203,
          lng: -122.23810577392578, gsRating: '1', schoolType: 'public',
          state: 'CA',
          id: '4', levelCode: 'e'});

      points.push({name:'Edison Elementary School', lat: 37.76444625854492,
          lng: -122.23482513427734, gsRating: '10', schoolType: 'public',
          state: 'CA',
          id: '5', levelCode: 'e'});

      points.push({name:'Franklin Elementary School', lat: 37.769290924072266,
          lng: -122.26260375976562, gsRating: '5', schoolType: 'public',
          state: 'CA',
          id: '7', levelCode: 'e'});

      var optionalLat = optionalLat || 37.807778;
      var optionalLon = optionalLon || -122.265149;
      var centerPoint = new google.maps.LatLng(optionalLat, optionalLon);
      var bounds = new google.maps.LatLngBounds();
      var infoWindow = new google.maps.InfoWindow({
          content: 'more hello'
      });

      function initialize() {
          var myOptions = {
              center: centerPoint,
              mapTypeId:google.maps.MapTypeId.ROADMAP,
              disableDefaultUI:true,
              mapTypeControl:true,
              mapTypeControlOptions:{
                  mapTypeIds:[google.maps.MapTypeId.ROADMAP, google.maps.MapTypeId.SATELLITE]
              },
              zoomControl:true,
              zoomControlOptions:{
                  style:google.maps.ZoomControlStyle.DEFAULT
              },
              streetViewControl:true,
              panControl:true,
              infoWindow:infoWindow,

              zoom: 12
          };
          var map = new google.maps.Map(document.getElementById("js-map-canvas"),
                  myOptions);

          var position;
          for(var i = 0; i < points.length; i++){
              var point = points[i];
              position = new google.maps.LatLng(point.lat, point.lng);
              var markerOptions = new google.maps.Marker({
                  position: position,
//                  infoWindowMarkup: point.infoWindowMarkup,
                  map: map,
                  title: "Hello"

              });
              var imageUrl;
              var imageUrlPublic ='/assets/icons/140106-24x24_ratings.png';
              var imageUrlPrivate='/assets/icons/120905-ratingsx24-private-RYG.png';

//              need to add school level code
              if(point.schoolType != 'private'){

                  var pixelOffset = 240;// default to public NR

                  if(point.gsRating != "" && parseInt(point.gsRating) > 0) {
                      pixelOffset = (point.gsRating - 1) * 24;
                  }
                  imageUrl = imageUrlPublic;

              }else {
                  pixelOffset = 240;// default to private NR
                  if(point.gsRating != "" && parseInt(point.gsRating) > 0) {
                      pixelOffset = (point.gsRating - 1) * 24;
                  }
                  imageUrl = imageUrlPrivate;
              }

              markerOptions.icon = new google.maps.MarkerImage(
                  imageUrl, // url
                  new google.maps.Size(24, 24), // size
                  new google.maps.Point(pixelOffset, 0), // origin
                  new google.maps.Point(12, 12) // anchor
              );

              var marker = new google.maps.Marker(markerOptions);

              bounds.extend(position);

              google.maps.event.addListener(marker, 'click', (function (marker) {
                  return function () {
                      infoWindow.open(map, marker);
                  }
              })(marker));

          }
          if (!bounds.isEmpty()) {
              map.setCenter(bounds.getCenter(), map.fitBounds(bounds));
          }

      }
      google.maps.event.addDomListener(window, 'load', initialize);

  </script>
</head>
<body>

<div id="js-map-canvas"/>
</body>
</html>