<% unless current_user %>
  <div class="row tac well mhm">
    <h3 class='mtn'>Join our community</h3>
    <p class='pbm'>
        Sign up for weekly tips on how to support your child’s education and get updates on your child’s school.
        Coming soon - we’ll send you email alerts when there are education events in your area and important enrollment deadlines.
    </p>
    <button class="btn btn-primary js-button-link" data-link-value="/gsr/login/?tab=join">Join</button>
  </div>
<% end %>
