<% if sponsor && sponsor[:logo] %>
  <div class="row limit-width-1200 tac pbl">
    <%= image_tag(sponsor[:logo], class: 'mvl') %>
    <p class='small gray-dark mtm mbl'><%= sponsor[:description] %></p>
  </div>
<% end %>
