<% if defined?(partners) && !partners.try(:[], :resources).nil? %>
  <div class="row mvl phm">
    <h2 class='mtn'><%= partners[:heading] %></h2>
    <h6 class='mvl'><%= partners[:subheading] %></h6>

      <div class="col-xs-12 mtl">
        <% partners[:resources].each do |resource| %>
          <h4><%= resource[:heading] %></h4>
          <%= resource[:content].html_safe %>
        <% end %>
      </div>
  </div>
<% end %>
