<% if show_tabs %>
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-7 col-lg-6 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 mtl">
      <ul class='education-community-tabs'>
        <base href="<%= city_education_community_path(state, city) %>">
        <li class="<%= 'active' if tab == 'Community' %>"><a href="">Community</a></li>
        <li class="<%= 'active' if tab == 'Education' %>"><a href="education">Education</a></li>
        <li class="<%= 'active' if tab == 'Funders' %>"><a href="funders">Funders</a></li>
      </ul>
    </div>
  </div>
<% end %>
