<%= render 'nav/topnav' %>
<%= render 'nav/search_bar', state: @state, collection_id: @collection_id, collection_nickname: @collection_nickname %>

<% unless @important_events.nil? ||  @important_events.try(:[], :events).try(:empty?) %>
  <%= render 'upcoming_events', important_events: @important_events, community_page: true %>
<% end %>


<h1><%= @heading %></h1>
