@import 'resources/bootstrap/bootstrap';
@import 'variables/colors';

.admin_header {
  text-align: right;
  margin: 2% 0;
  //padding: 1%;
}

.admin_body {
  .vertical-nav {
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 32px;
    }
  }
  div {
    margin: 1%;
  }
  .api-title {
    background: $blue-darker;
    padding: 8px;
    color: white;
    border-radius: 3px;
  }
  .api_request_success {
    width: 80%;
    margin: 5% auto;
    padding: 0 10%;
    text-align: center;
    h3 {
      line-height: 30px;
      color: #2ba3dc;
      margin-bottom: 50px;
    }
    img {
      margin-bottom: 20px;
    }
  }
  .demigod-form {
    width: 75%;
    margin: auto;
    margin-top: 70px;
    label {
      width: 90px;
    }
    input[name='commit'] {
      margin-top: 30px;
    }
  }
  .content > ul {
    margin-left: 30px;
  }

  .api_account_form {
    margin-top: 30px;
    .field_with_errors {
      display: inline;
    }
    div {
      margin-bottom: 12px;
      input:not([type='submit']),
      textarea,
      select {
        border: 1px solid #bbb;
        width: 75%;
        float: right;
        padding: 5px;
        border-radius: 3px;
        background: #f3f3f3;
      }
      label:not('.api_tou') {
        line-height: 30px;
        width: 24%;
      }
      input[type='radio'],
      input[type='checkbox'] {
        width: 20px;
        float: none;
      }
    }
    .api_submit {
      text-align: center;
      margin-top: 40px;
      a {
        width: 150px;
        margin-right: 15px;
      }
    }
  }
  .api_resource_links {
    padding-left: 8px;
    a {
      display: block;
    }
  }
  .osp-edit {
    > div:first-of-type {
      margin-left: 0;
    }
    form {
      margin: 30px 0 0 30px;
    }
    label {
      width: 150px;
    }
    div {
      margin: 1.5% 1%;
    }
    input[type='text'],
    select,
    textarea {
      padding: 6px;
      border-radius: 4px;
      background: #e9e9e9;
      width: 250px;
      border: 2px solid #cfcfcf;
    }
    input[type='submit'] {
      margin-top: 40px;
    }
  }
  .api-account-links {
    margin: 30px 0 10px 0;
  }
  .api-accounts {
    margin-bottom: 40px;
    thead {
      background: #777878;
      color: white;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    width: 92%;
  }
}
