@import "resources/bootstrap/bootstrap";
@import "variables/colors";

.admin_header {
  text-align: right;
  margin: 2% 0;
  //padding: 1%;
}

.admin_body {
  div {
    margin: 1%;
  }
  .api-title {
    background: $blue-darker;
    padding: 8px;
    color: white;
    border-radius: 3px;
  }
}

.api_account_form {
  .field_with_errors { display: inline; }
  div {
    margin-bottom: 12px;
    input:not([type="submit"]), textarea, select {
      border: 1px solid #bbb;
      width: 75%;
      float: right;
      padding: 5px;
      border-radius: 3px;
      background: #F3F3F3;
    }
    label:not('.api_tou') {
      line-height: 30px;
      width: 24%;
    }
    input[type="radio"], input[type="checkbox"] {
      width: 20px;
      float: none;
    }
  }
}

