/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 */
// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "resources/normalize";
@import "gs/fonts-opensans";
@import "icons/131211-sprite-60x60";
@import "icons/130930-stars_16x16";
@import "resources/bootstrap/sass/sass-bootstrap";
@import "gs/typography";
@import "gs/navigation";
@import "gs/tables";
@import "gs/spacing";
@import "resources/galleria.classic";
@import "gs/social-buttons";


// Variable Definitions

$page-width:    800px;
$sidebar-width: 200px;
$primary-color: #eeeeee;

// Global Attributes



// Scoped Styles
.header_bg_image {background-image: url("background_header.gif");}
.contents {
  .main {
    margin: 10px;
    padding: 10px;
    background: $primary-color;
  }
}
.bg-white { background-color: #FFFFFF;}


