#district-boundaries-page {
  .diamond-rating--small {
    margin-top: 10px;
    div {
      display: inline-block;
    }
  }

  select {
    @include select;
  }
  button {
    border: 1px solid #c1d2d9;
    background-image: linear-gradient(to bottom, #ffffff, #f4f5f7);
    border-radius: 2px;
    padding: 7px 17px 7px 17px;
  }

  .district-boundaries-component {
    @include clearfix;

    .button-group {
      @include button-group;
    }

    input[type="checkbox"] {
      @include checkbox;
    }

    .district-select {
      max-width: 265px;
    }

    .toggle-bar {
      @include clearfix;
      margin-top: 10px;
      @include media-breakpoint-up(md) {
        display: none;
      }

      .toggle-button {
        float: left;
      }

      .show-map, .show-list {
        float: right;
      }

      .show-map {
        border-left: 1px solid #c1d2d9;
        margin-left: 10px;
        padding-left: 10px;
      }

      .icon {
        font-size: 18px;
        color: #c1d2d9;
        margin-right: 5px;
        &.active {
          color: #2ba3dc;
        }
      }
    }


    .filter-bar {
      padding: 10px;
      @include media-breakpoint-up(sm) {
        padding: 10px 10px 20px 10px;
      }

      .search-input {
        @include input-joined-with-button;
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
        display: inline-block;

        label {
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
        button {
          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
        input {
          @include input-with-search-icon;
          width: 175px;
          @include media-breakpoint-down(sm) {
            width: 100%;
            border-right-width: 1px;
          }
        }
      }

      .filters {
        label ~ label {
          margin-left: 10px;
        }
        display: none;
        @include media-breakpoint-up(md) {
          display: inline-block;
        }

        > div {
          @include media-breakpoint-up(sm) {
            display: inline-block;
            padding-left: 20px;
          }
        }

        > div:last-child {
          vertical-align: top;
        }

        hr {
          margin: 10px 0;
          display: block;
          @include media-breakpoint-up(md) {
            display: none;
          }
        }
      }
      .filters.open {
        display: block;
      }

      label {
        margin: 15px 0 10px 0;
        display: block;
      }
    }

    .school-list { 
      float: left;
      height: 400px;
      @include media-breakpoint-up(sm) {
        height: 580px;
      }
      padding: 0px 10px;
      &.closed {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
      h3 {
        margin-top: 0px;
      }
    }

    label {
      font-family: 'opensans-semibold';
      font-size: 14px;
    }

    .map {
      @include clearfix;
      height: 400px;
      @include media-breakpoint-up(sm) {
        height: 580px;
      }
      &.closed {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }

    ol {
      width: 320px;
      @include media-breakpoint-up(sm) {
        width: 380px;
      }
      height: 344px;
      margin: 0px;
      padding: 0px;
      color: #2e3438;
      overflow: scroll;
      list-style: none;
      li {
        @include clearfix;
        padding: 10px 0;
        border-bottom: solid 1px #dbe6eb;
      }
      .school-rating {
        float: left;
      }
      .school {
        float: left;
        width: 250px;
        padding-left: 10px;
      }
      li:hover {
        background-color: #f6f9fa;
        cursor: pointer;
      }
      li.selected {
        background-color: #f6f9fa;
      }
    }
  }

  .header {
    @include clearfix;
    background-color: #184a7d;
    color: white;
    padding: 12px 0 18px 20px;
    position: relative;
    @include media-breakpoint-up(sm){
      padding: 30px 0 30px 30px;
    }

    h1 {
      margin: 0;
      font-family: 'RobotoSlab-Bold';
      font-size: 18px;
      max-width: 170px;
      display: inline-block;
      @include media-breakpoint-up(sm){
        font-size: 26px;
        max-width: 470px;
      }
      @include media-breakpoint-up(md){
        max-width: 100%;
      }
    }

    p {
      font-family: 'opensans-regular';
      font-size: 12px;
      letter-spacing: .2px;
      @include media-breakpoint-only(xs) {
        display: none;
      }
    }
  }

  .legend-cta {
    color: white;
    display: inline-block;
    font-size: 10px;
    position: absolute;
    right: 10px;
    margin-top: 2px;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}

#district-boundaries-page ~ footer {
  @include media-breakpoint-only(xs) {
    display:none
  }
}
  
  .legend-cta {
    font-size: 12px;
  }
  .attribution {
    text-align: right;
    font-size: 10px;
  }

  ul.legend {
    padding: 15px 0px;
    display: none;
    text-align: center;
    margin: 0 auto;
    max-width: 450px;

    @include media-breakpoint-up(md) {
      display: block;
      max-width: 100%;
    }

    li {
      list-style: none;
      display: inline-block;
      margin-right: 10px;
      text-align: left;

      @include media-breakpoint-only(xs) {
        width: 110px;
        font-size: 10px;
      }
      @include media-breakpoint-up(sm) {
        width: 140px;
      }
      > span {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 0 0;
      }
    }
    li:nth-child(1) span {
      width: 21px;
      height: 21px;
      background-color: $rating10;
    }
    li:nth-child(2) span {
      @include diamond_rating(18px);
      background-color: $rating10;
      margin: 0 10px 0 0;
    }
    li:nth-child(3) span {
      @include circle_rating(21px);
      background-color: $rating10;
    }
    li:nth-child(4) span {
      @include circle_rating(21px);
      background-color: $ratingNR;
    }
    li:nth-child(5) span {
      width: 20px;
      height: 20px;
      background-color: rgba(231, 136, 24, 0.14);
      border: solid 3px #e78818;
    }
    li:nth-child(6) span {
      width: 20px;
      height: 20px;
      background-color: rgba(84, 180, 227, 0.16);
      border: solid 3px #2ba3dc;
    }
  }

  .remodal ul.legend {
    display: block;
  }
