// reset css
@import 'resources/normalize';

// bootstrap
@import 'resources/bootstrap/smaller_bootstrap';   //REVIEW

// variables, mixins, base styles
@import 'variables/variables';
@import 'mixins/*';
@import 'gs/mixins'; // deprecated   //REVIEW
@import 'gs/form';
@import 'base/spacing';
@import 'base/typography';

@import 'components/five-star-rating';
@import 'components/gs-rating-with-label';
@import 'components/circle-rating';
@import 'components/circle-rating-with-label';
@import 'components/diamond-rating';   //REVIEW
@import 'components/square-rating';
@import 'components/rating-score-item';
@import 'components/info-circle';

@import 'components/school-list';
@import 'components/info-window';

// TODO: clean this up
@import 'gs/bring-back-bootstrap'; // depends on responsive-utilities mixins

// fonts
@import 'fonts/fonts-opensans';
@import 'fonts/fonts-opensans-semibold';
@import 'fonts/fonts-robotoslab-light';
@import 'fonts/fonts-robotoslab-bold';

// more components
@import 'gs/objects/spinny_wheel.css.scss';
@import 'school_profiles/_students_container.scss';
@import 'school_profiles/speech_bubbles';

// footer-specific
@import 'gs/objects/footer';
@import 'sprites/footer_icons_16x16';

@import 'gs/ratings';    // REVIEW - this is in application.scss
@import 'fonts/gs-icon-font';

// third party libraries
@import 'resources/tipso'; // used on school profiles
@import 'resources/remodal'; // used on profiles / used by modals
@import 'gs/modal_tooltip'; // used on profiles / used by modals
@import 'resources/remodal-default-theme'; // used on profiles / used by modals

// community page stylesheets
@import 'pages/community/communities';
@import 'pages/community/district_page';

// needed for newsletter modals to be styled correctly
// ! Deprecated since these are already import in commmunity_post_load.
// @import 'components/join-form';
// @import 'gs/objects/modal_layout';

.back-to-top {
  display: none;
}
