@import "variables/variables";
@import "gs_v2/variables";
@import "mixins/*";
@import "gs/mixins";
@import "resources/bootstrap/bootstrap";
// @import "gs/twitter-typeahead";
// @import "gs/tooltip";
// @import "gs/objects/scaling_image_layout";
// @import "gs/objects/spinny_wheel";
// @import "base/spacing";
// @import "gs/navigation";
// @import "base/deprecated_typography";
@import "gs/objects/search_area_layout";
@import "gs/objects/search_page";
// @import "gs/objects/home_page";
@import "header_new";
// @import "gs/objects/footer";
@import "gs/objects/home_footer";
// @import "sprites/footer_icons_16x16";
@import "libs/home/banner";
// @import "libs/home/highlights";
@import "components/carousel";
@import "components/buttons";


// @import "fonts/fonts-opensans"; // regular + italic
// @import "fonts/fonts-robotoslab-light";
// @import "fonts/gs-icon-font";
// @import "sprites/icons_24x24";

section {
  width: 100%;
  background-color: $primary-background;
  padding: 2em;
  min-height: 543px;
  max-width: 1440px;
  margin: 0 auto;
  @include media-breakpoint-down(sm){
    padding: 1em;
  }


  h2, p {
    text-align: center;
  }

  h2 {
    font-size: 28px;
    font-family: 'opensans-semibold';
  }

  h3 {
    font-size: 28px;
    font-family: 'opensans-regular';
    margin: 0 0 10px 0;
  }

  p {
    font-size: 18px;
  }

  .module-row{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1em;
    font-size: 40px;
    @include media-breakpoint-down(sm){
      flex-direction: column-reverse;
      padding: 0.5em;
    }

    > div:first-child{
      position: relative;
      flex-grow: 1;
      padding: 0 20px 20px 20px;
      min-width: 25%;
      max-width: 25%;

      p {
        text-align: left;
      }
      @include media-breakpoint-down(sm){
        max-width: 100%;
        min-height: 200px;
      }
      @media (max-width:422px){
        text-align: center;
        padding: 0;
        p {
          text-align: inherit;
        }
      }
    }

    // ::carousel
    .carousel-container{
      flex-grow: 3;
    }

  }
  .carousel-buttons{
    text-align: center;
    > svg:first-child{
      margin-right: 20px;
    }
    @media (max-width:422px){
      width: 90vw;
    }
  }
}