/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 */
// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// reset css
@import "resources/normalize";

// bootstrap
@import "resources/bootstrap/smaller_bootstrap";


// variables, mixins, base styles
@import "variables/variables";
@import "mixins/*";
@import "gs/mixins"; // deprecated
@import "gs/form";
@import "base/spacing";
@import "base/typography";

// TODO: clean this up
@import "gs/bring-back-bootstrap"; // depends on responsive-utilities mixins


// fonts
@import "fonts/fonts-opensans-regular";
@import "fonts/fonts-opensans-semibold";
@import "fonts/fonts-robotoslab-bold";


// icons / sprites
@import "fonts/gs-icon-font";
@import "sprites/avatars_33x33";
@import "sprites/avatars_65x65";


// components
@import 'components/show-more';
@import 'components/five-star-rating';
@import 'components/badge-and-content';
@import 'components/ad-slot';
@import 'components/gs-rating-with-label';
@import 'components/person-bar-viz';
@import 'components/static-right-rail-container';
@import "components/breadcrumbs";
@import "components/rating-container";
@import "components/circle-rating";
@import "components/circle-rating-with-label";
@import "components/diamond-rating";
@import "components/square-rating";
@import "components/rating-score-item";
@import "components/bar-graph-display";
@import "components/five-stars";
@import "components/review-list";
@import "components/review";
@import "components/review-summary";
@import "components/report-review";
@import "components/five-star-question-cta";
@import "components/join-form";
@import "components/nearby-schools";
@import "components/homes-and-rentals";
@import "components/neighborhood";
@import "components/school-user-modal";
@import "components/info-circle";
@import "components/module-header";
@import "components/ratio-viz";
@import "components/back-to-top";
@import "components/info-window";
@import "components/school-list";
@import "components/anchor-button";
@import 'components/rating-with-bar';
// more components
@import "gs/objects/spinny_wheel.css.scss";
@import "gs/objects/modal_layout";
@import "pages/districts-cities-list";
@import 'gs/modal_tooltip';


// footer-specific
@import "gs/objects/footer";
@import "sprites/footer_icons_16x16";

// page specific
@import "pages/interstitial";
@import "pages/page-not-found";

// school profile specific
@import 'school_profiles/profile_section';
@import 'school_profiles/profile_module';
@import 'school_profiles/module_feedback';
@import 'school_profiles/hero.scss';
@import 'school_profiles/toc.scss';
@import 'school_profiles/school_profile_sticky_cta';
@import 'school_profiles/school_profile_tutorial';
@import 'school_profiles/review_form';
@import 'school_profiles/students_container';
@import 'school_profiles/subgroups';
@import 'school_profiles/teachers_staff';
@import "school_profiles/school_profile";
@import 'gs/equity';
@import 'school_profiles/advanced_courses';
@import 'school_profiles/toc_private';
@import 'school_profiles/auto_narration';
@import 'school_profiles/sourcing';
@import 'school_profiles/speech_bubbles';
@import 'school_profiles/info_text_and_circle';
@import 'school_profiles/historical_ratings';
@import 'school_profiles/tour_button';
@import 'gs/osp-school-info';

@import 'pages/district-boundaries/district_boundaries_page';

// third party libraries
@import 'resources/tipso'; // used on school profiles
@import 'resources/remodal'; // used on profiles / used by modals
@import 'resources/remodal-default-theme'; // used on profiles / used by modals
@import 'resources/introjs';
