/*
 * This is a manifest file that'll be compiled into print.css, which will include all the files
 * listed below.
 */

@import "resources/bootstrap/bootstrap/variables";
@import "resources/bootstrap/bootstrap/mixins/grid-framework";
@import "resources/bootstrap/bootstrap/mixins/responsive-visibility";
@import "gs/print/*";
$border-color: #dbe6eb;
@import "variables/variables";
@import "gs_v2/variables";
@import "gs_v2/typography";
@import "resources/bootstrap-grid/mixins/*";
@import "mixins/*";
@import "gs/mixins/*";
@import "gs_v2/*";
@import "components/*";
@import "pages/search/search_page";

@media print {
  #search-page {
    * {
      font-family: $font-family-sans-serif;
    }
    a {
      text-decoration: none;
    }
    .ad-column {
      display: none;
    }
    .menu-bar {
      display: none;
    }
    .list-map-ad {
      .pagination-container,
      .closed {
        display: none;
      }
      .list-column {
        float: right !important;
        width: 100%;
      }
      .right-column {
        // padding-top: 330px;
        float: left !important;
        width: 100%;
        .right-column-fixed {
          top: 75px !important;
          clear: both;
          page-break-inside: avoid;
          position: relative;
        }
      }
    }
    .circle-rating--small {
      color: #000000;
      color-adjust: exact; // Overrides user settings for printing background colors
      -webkit-print-color-adjust: exact;
      .rating-circle-small {
        font-size: 11px;
      }
    }
    .scale {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .info-circle {
      display: none;
    }
    .print-only-page-break {
      display: block;
      height: 10px;
      page-break-after: always;
      width: 100%;
      clear: both;
    }
  }
  #compare-schools {
    .compare-schools-pinned-header {
      margin-top: -11px;
      left: 3px;
    }
    .label {
      border: none;
    }
  }
  .homes-for-sale,
  .ad,
  .back-to-top,
  .js-featured,
  .footer,
  .header_un,
  .sponsored-school-result-ad {
    display: none;
  }
  .print-logo {
    width:100%;
    display: block;
    margin:auto;
    .logo {
      text-align: center;
      float:none;
      padding-top:10px;
    }
  }
}
