#search-page {
  // $list-and-map-height: 650px;
  // overrides reused styles for list
  .school-list ol {
    overflow: visible;
  }

  .fixed-y-layer {
    position: fixed;
    width: 100%;
    // height: 100%;
    left: 0px;
    right: 0px;
    top: 215px;
    bottom: 250px;
    overflow: hidden;

    .fixed-y-centering {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 1170px;
      margin: auto;
    }
  }

  .map {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .map-fit {
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
  }

  .right-column {
    position: absolute;
    right: 0px;
    width: 570px;
    height: 100%;

    // .fixed-y {
    //   position: fixed;
    //   width: 680px;
    // }

    .map-column {
      position: absolute;
      right: 180px;
      height: 100%;
      width: 100%;
    }

    .ad-column {
      position: absolute;
      width: 160px;
      right: 0px;
    }
  }

  .list-map-ad {
    // .map-container,
    // .school-list {
    //   .spinny-wheel-container {
    //     overflow: hidden;
    //   }
    //   @include clearfix;
    //   // height: $list-and-map-height;
    //   .spinny-wheel {
    //     background-color: rgba(200, 200, 200, 0.5) !important;
    //   }
    // }

    .school-list {
      min-height: 600px;
      // float: left;
      // height: $list-and-map-height;
      width: 100%;
      // width: 50%;
      @include media-breakpoint-up(md) {
        width: 50%;
        max-width: 465px;
      }
    }

    .closed {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    // .map {
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   z-index: 2;
    // }

    // > .school-list,
    // > .map-container {
    //   // List and map can be hidden completely by tab on mobile. Other selectors have unwanted global styles
    //   &.closed {
    //     @include media-breakpoint-down(sm) {
    //       display: none;
    //     }
    //   }
    // }
  }
}
