 #search-page {
  $map-column-min-height: 615px;
  $xs-list-width: 100%;
  $md-list-width: 370px;
  $lg-list-width: 450px;
  $charcoal-gray: #92aeb9;
  $hightlighted: #ffe57c;
  $off-black: #0d0d0d;
  $small-font: 11px;

  .school-list ol {
    overflow: visible;
  }

  .school-list, .school-table {
    img, svg {
      width: 55%;
      height: 55%;
      vertical-align: middle;
      border: 0;
    }
    .sponsored-school-result-ad{
      height: 107px;
      margin-top: 7px;
      border: $hightlighted solid 5px;
      div:first-child {
        text-transform: uppercase;
        color: $off-black;
        font-size: $small-font;
        .sponsor-ad{
          margin-left: 15px;
        }
        span + span {
          margin-left: 7px;
        }
      }

      .tac{
        text-align: left;
      }

    }

    .percentage-population {
      color: $charcoal-gray;
      font-size: 12px;
      font-family: "opensans-regular";
      padding-top: 10px;
      span {
        font-family: "opensans-semibold";
      }
    }
  }

  .print-only-page-break {
    display: none;
  }

  .map {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .map-fit {
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
  }

  .right-column {
    right: 0px;
    height: 100%;
    float: left;
    position: relative;

    @include media-breakpoint-up(md) {
      width: calc(100% - #{$md-list-width + 10px + $page-side-padding});
    }
    @include media-breakpoint-up(lg) {
      width: calc(100% - #{$lg-list-width + 10px + $page-side-padding});
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    &.closed {
      display: none;
    }

    .right-column-fixed {
      position: fixed;
      @include media-breakpoint-up(md) {
        width: calc(100% - #{$md-list-width + 10px + $page-side-padding});
      }
      @include media-breakpoint-up(lg) {
        width: calc(100% - #{$lg-list-width + 10px + $page-side-padding});
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
      @include media-breakpoint-down(sm) {
        position: initial;
      }
    }

    .map-column {
      @include clearfix;
      position: relative;
      height: 100%;
      min-height: $map-column-min-height;
      @include media-breakpoint-up(sm) {
        margin-right: 170px;
      }
      @include media-breakpoint-up(lg) {
        min-height: $map-column-min-height;
      }
      @include media-breakpoint-down(sm) {
        min-height: calc(100vh - 240px);
      }
    }

    .ad-column {
      position: relative;
      float: right;
      width: 160px;
      height: $map-column-min-height;
      @include media-breakpoint-only(xs) {
        display: none;
      }
    }
  }

  .list-map-ad {
    .list-column {
      min-height: $map-column-min-height;
      float: left;
      @include media-breakpoint-up(md) {
        width: $md-list-width;
      }
      @include media-breakpoint-up(lg) {
        width: $lg-list-width;
      }
      @include media-breakpoint-down(sm) {
        width: $xs-list-width;
      }
      &.closed {
        display: none;
      }
    }

    .school-list-enter {
      opacity: 0.1;
      background-color: #e0e3e3;
    }
    .school-list-enter-active {
      opacity: 1;
      transition: all 200ms ease-out;
      background-color: #fff;
    }
    .school-list-exit {
      opacity: 1;
      background-color: #fff;
    }
    .school-list-exit-active {
      background-color: #e0e3e3;
      opacity: 0.1;
      transition: all 200ms ease-out;
    }
  }
}
