#search-page {
  $list-and-map-height: 650px;

  .school-list { 
    float: left;
    height: $list-and-map-height;
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 50%;
      max-width: 465px;
    }
  }

  .map, .school-list {
    .spinny-wheel-container {
      overflow: hidden;
    }
    @include clearfix;
    height: $list-and-map-height;
    .spinny-wheel {
      background-color: rgba(200,200,200,.5) !important;
    }
  }


  .school-list, .map {
    // List and map can be hidden completely by tab on mobile. Other selectors have unwanted global styles
    &.closed {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}
