$page-side-padding: 15px;
$search-primary-blue-on-white: #1dace5;
$charcoal-gray: #2E3438;
$border-color: #dbe6eb;
$subtle-gray: #647981;

@import 'list-and-map';
@import 'components/dropdown';
@import 'components/search-autosuggest';
@import 'components/five-stars';

.featured {
  display: none; // TODO: dont put this here
}

body {
  background-color: #f6f9fa;
}

#search-page {
  a {
    color: $search-primary-blue-on-white;
  }
  margin-left: auto;
  margin-right: auto;
  @include media-breakpoint-only(xs) {
    // handle the case that the top search bar currently overlaps 10px of content on the top of each page
    margin-top: 10px;
  }

  .saved-schools{
    font-family: 'opensans-semibold';
  }

  .search-body {
    .divider {
      color: rgb(187, 192, 202);
      padding: 0 5px;
    }

    position: relative;
    margin: auto;

    padding: 130px 0 0 0;

    @include media-breakpoint-down(xs) {
      padding: 0;
    }

    @include clearfix;

    select {
      @include select;
      background-color: white;
    }
    .pagination-container {
      clear: both;
      display: flex;
      align-items: center;
      padding: 20px 0 15px 0;
      @include media-breakpoint-down(sm) {
        justify-content: center;
      }
      @include media-breakpoint-down(xs) {
        background: white;
      }
      @include media-breakpoint-up(sm) {
        .anchor-button {
          min-width: 40px;
          padding: 0;
        }
      }
    }

    .button-group {
      @include button-group;

      > a {
        color: $text-color;
        font-weight: bold;
        > div > span {
          line-height: $form-field-medium-height - 4px;
        }
        &.disabled {
          color: $text-disabled-color;
        }
      }
    }

    h3 {
      font-size: $font-size-l2;
      padding: 0 10px;
    }

    .diamond-rating--small {
      margin-top: 10px;
      div {
        display: inline-block;
      }
    }

    button {
      border: 1px solid #c1d2d9;
      background-image: linear-gradient(to bottom, #ffffff, #f4f5f7);
      border-radius: 2px;
      padding: 7px 17px 7px 17px;
      &.active {
        background-image: linear-gradient(to bottom, #647981, #647981);
        color: #fff;
      }
    }

    .icon-house {
      color: $search-primary-blue-on-white;
      padding-top: 5px;
      font-size: 14px;
    }

    .ad-bar {
      width: 160px;
      height: 600px;
    }

    .map-legend {
      position: absolute;
      bottom: 30px;
      z-index: 9999;
      display: inline-block;
      background-color: white;
      opacity: 0.7;
      width: 145px;
      height: 40px;
      font-size: 16px;
      vertical-align: center;
      padding: 8px;
      left: 15px;
      border-radius: 2px;
      font-family: 'opensans-semibold', sans-serif;
      padding-left: 18px;
      cursor: pointer;
      -webkit-transition: width 0.1s, height 0.5s; /* For Safari 3.1 to 6.0 */
      transition: width 0.1s, height 0.5s;
      span {
        margin-left: 10px;
        display: inline-block;
        font-size: 13px;
      }
    }

    .legend-open {
      width: 220px;
      height: 120px;
      span {
        float: right;
        margin-right: 5px;
        transform: rotate(90deg);
      }
    }

    .list-map-ad {
      @include media-breakpoint-up(sm) {
        padding: 0px $page-side-padding;
      }
    }

    .menu-bar {
      .menu-item {
        margin-top: 10px;
        display: inline-block;
        cursor: pointer;
        // Hide select dropdown on IE10+ browsers
        select::-ms-expand {
          display: none;
        }
        > * + * {
          margin-left: 5px;
        }

        //.menu-item + .menu-item {
        @include media-breakpoint-up(xs) {
          margin-right: 15px;
        }
        @include media-breakpoint-up(md) {
          margin-right: 20px;
        }
      }
      .sort-dropdown-table-view {
        float: right;
      }
    }

    .subheader {
      padding: 5px 15px 10px 15px;
      * + * {
        margin-top: 5px;
      }

      //Overrides css for buttongroup for this set of buttons
      .table-view-filter{
        .button-group{
          button{
            color: #2ba3dc;
            border: none;
            background: none;
            font-family: "opensans-semibold";
            border-right: solid 2px $border-color;
            height: 30px;
            &.active{
              background-color: $border-color;
              color: $charcoal-gray;
            }
            &:last-child{
              border: none;
            }
          }
        }
      }

    }

    .pagination-summary {
      font-size: $font-size-l3;
      font-family: 'opensans-semibold';
      a{
        font-size: $font-size-l3;
        font-family: 'opensans-semibold';
      }
    }

    .csa-badge-sm {
      width: 25px;
    }

    .csa-badge-md {
      width: 36px;
    }

    .csa-winner-popover-container {
      position: relative;
      display: inline-block;
      margin: 5px 0;
    }

    .csa-winner {
      color: $subtle-gray;
    }

    .csa-winner-header {
      margin: 0 8px;
    }

    .csa-award-count {
      font-family: $font-family-base-bold;
    }

    .csa-winner-popover {
      display: none;
      position: absolute;
      left: 10px;
      background-color: #FFFFFF;
      box-shadow: 0 1px 1px rgba(0,0,0,0.4);
      border: 1px solid rgba(0,0,0,0.3);
      width: 235px;
      z-index: 4;
    }

    .csa-winner-popover:before, .csa-winner-popover:after {
      position: absolute;
      display: block;
      height: 0;
      width: 0;
      content: "";
      left: 30px;
    }

    .csa-winner-popover:before {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 6px solid rgba(0,0,0,0.3);
      margin-left: -5px;
      top: -6px;
      z-index: 4;
    }

    .csa-winner-popover:after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 5px solid #FFFFFF;
      margin-left: -3px;
      top: -5px;
      z-index: 5;
    }

    .csa-winner-popover-container:hover {
      .csa-winner-popover {
        display: block;
      }
    }

    .csa-winner-popover-content {
      margin: 15px;

      > div {
        display: flex;
        margin: 10px 0;
      }
    }

    .csa-winner-popover-header {
      font-family: $font-family-base-bold;
      font-size: $font-size-base;
      color: $color-dark-gray-text;
    }

    .csa-winner-popover-text {
      padding-left: 10px;
      display: flex;
      flex-direction: column;
    }

    .csa-winner-popover-state-link {
      font-family: $font-family-italic;
    }

    .school-list ol {
      padding: 0 10px 0 0;
      @include media-breakpoint-only(xs) {
        padding: 0;
      }
    }

    .menu-bar.filters {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      background-color: #fff;
      box-shadow: 0px 1px 1px #dddddd;
      border-top: 1px solid #ebedee;
      padding: 10px 15px 10px 15px;
      z-index: 1;
      .title {
        bottom: 0;
        margin-left: 15px;
        margin-right: 15px;

        span{
          font-size: 15px;
          font-family: 'opensans-semibold';
        }
      }
    }

    .menu-bar.mobile-filters {
      background-color: #e0e7eb;
      padding: 10px 15px;
    }

    .list-map-toggle {
      > div {
        @include flexbox;
        margin-right: 25px;
      }
      @include media-breakpoint-up(lg) {
        float: right;
      }
    }

    .checkbox-group {
      input[type='checkbox'] {
        @include checkbox(28px, white);
      }
    }

    .entity-type-dropdown {
      .checkbox-group {
        > span {
          display: block;
        }
      }
    }

    .filter-panel {
      position: relative;
      padding: 1px 10px 10px 10px;
      margin: 5px;
      background-color: #e0e7eb;
      border: 1px solid #cdd8dd;
      border-radius: $form-field-border-radius;

      .menu-item {
        display: block;
        margin-top: 15px;
        .label {
          display: block;
          margin-bottom: 5px;
        }
      }

      button {
        padding: 0px 12px;
        max-width: 290px;
        font-size: $font-size-s1;
      }

      .icon-close {
        font-size: 14px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }

      select,
      .checkbox-group,
      .dropdown {
        margin-left: 0px !important;
      }

      .menu-item > .checkbox-group {
        display: inline-block;
        > span {
          display: block;
          @include media-breakpoint-up(sm) {
            display: inline-block;
          }
        }
      }
    }

    .loading-overlay {
      position: absolute;
      width: 100%;
      z-index: 1;
      > .loader {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 50%;
        left: 50%;
        margin: -30px 0 0 -30px;
        border: 1px solid #c1d2d9;
        border-radius: 3px;
        background-image: image-url('search/owl-loader.gif');
        background-repeat: no-repeat;
        background-color: white;
        background-position: center;
      }
    }

    .no-results {
      @include media-breakpoint-up(sm) {
        margin: 15px;
      }

      .body {
        padding: 20px;
        font-size: $font-size-l3;
        @include media-breakpoint-only(xs) {
          flex-wrap: wrap;
        }
        display: flex;
        max-width: 991px;
        background-color: white;
        @include media-breakpoint-up(sm) {
          margin: 30px auto;
          border: 1px solid #c1d2d9;
          border-radius: $form-field-border-radius;
        }
        img {
          margin: 0 auto 20px auto;
          @include media-breakpoint-up(sm) {
            margin: 0 20px 20px 0;
          }
          width: 242px;
          height: 172px;
        }
        .heading {
          font-family: RobotoSlab-Light;
          font-size: $font-size-l4;
          a {
            font-size: 19px;
            font-family: 'opensans-semibold';
          }
        }
        .search-term {
          font-family: RobotoSlab-Bold;
          font-size: $font-size-l4;
        }
        hr {
          color: #dbe6eb;
        }
        p {
          font-family: opensans-bold;
          font-size: $font-size-l3;
        }
      }
    }

    .assigned {
      padding-top: 28px;
      > div:first-of-type {
        height: 19px;
        line-height: 18px;
        width: 100%;
        background: #176997;
        position: absolute;
        top: 0;
        left: 0;
        font-family: 'opensans-bold', Helvetica, Arial;
        color: white;
        font-size: $font-size-l2;
        padding-left: 10px;
        div {
          display: inline-block;
          margin-left: 6px;
        }
      }
    }
  }

  .icon-star {
    font-size: 11px;
  }
  .icon-heart,
  .icon-heart-outline {
    float: right;
    width: auto;
    color: #1dace5;
    font-size: 17px;
    &:hover {
      cursor: pointer;
    }
  }
}


.breadcrumbs {
  .divider {
    font-size: $font-size-s3;
  }
}

.loading {
  opacity: 0.2;
  filter: blur(4px);
  background-color: lightgray;
}

.scale {
  margin-top: 5px;
  font-size: $font-size-s2;
  color: #999;
}

.school-table {
  @include media-breakpoint-down(sm){
    overflow-x: auto;
  }
  z-index: 0;
  width: 100%;
  background-color: white;
  position: relative;

  table {
    table-layout: fixed;
    width: 991px;
    margin-bottom: 15px;

    @include media-breakpoint-up(lg) {
      width: 100%;
    }
    @include media-breakpoint-up(md){
      thead tr:nth-child(1) th {
        position: -webkit-sticky;
        position: sticky;
        //offset height of navbar and menu-bar
        top: 117.5px;
        z-index: 1;
        box-shadow: 1px 1px 1px -1px #c1d2d9;
      }
      // remove sticky options from IE10+ since no support for sticky and some
      // issues occur when trying to position fix the table headers
      @media all and (-ms-high-contrast: none){
        thead tr:nth-child(1) th  {
          position: relative;
          top: 0px;
          z-index: 0;
        }
      }
    }

    td {
      position: relative;
    }

    td,
    th {
      border: 1px solid $form-field-border-color;
      padding: 10px 15px;
    }

    th {
      color: $gray-darker;
      font-weight: normal;
      text-align: left;
      background-color: #f1fafd;
      text-align: center;
      word-wrap: break-word;
      overflow-wrap: break-word;

      div { margin-bottom: 5px;}

      .footer-note{
        font-family: 'opensans-semibold';
        font-size: 12px;
        margin: 0 auto;
      }
    }
    th.school {
      width: 320px;
      text-align: left;
    }

    th.sortable {
      cursor: pointer;
      transition: all 0.1s;
    }

    th.sortable:hover {
      background-color: #d2eff9;
      transition: 0.5s ease;
    }

    th.active-sort {
      background-color: #d2eff9;
      font-family: 'opensans-semibold', sans-serif;
    }

    td.standard-cell {
      text-align: center;
    }

    td.highlighted-cell {
      text-align: center;
      background-color: #e9f7fc;
    }

    td.school {
      $active-color: #f6f9fa;
      $hover-color: #f6f9fa;
      $border-color: #dbe6eb;

      @include clearfix;
      span {
        display: inline-block;
      }
      a {
        font-size: $font-size-l2;
        font-family: 'opensans-semibold', sans-serif;
      }
      a.name {
        font-size: $font-size-l3;
      }
      &:hover {
        background-color: $hover-color;
        transition: 0.5s ease;
      }
      &.active {
        background-color: $active-color;
      }
      > span:first-of-type {
        text-align: center;
        width: 55px;
      }
      > span:last-of-type {
        width: calc(100% - 100px);
      }
      > span {
        vertical-align: top;
      }
      > span + span {
        margin-left: 15px;
      }
      > div {
        top: 10px;
        right: 10px;
        position: absolute;
      }
      &.assigned .icon-heart,
      &.assigned .icon-heart-outline {
        top: 20px;
      }
    }

    .low-income-percentages{
      @include flexbox-center;
    }
  }
}

.rating-help-container {
  $circle-radius: 25px;
  $font-size: 15px;
  $font-size-after-bp: 13px;
  $circle-border: 2px solid #ffffff;
  margin-top: 45px;
  text-align: left;
  position: absolute;
  top: 0;
  right: -10px;
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: $form-field-border-radius;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.09);
  cursor: default;
  .circle-nr {
    width: $circle-radius;
    height: $circle-radius;
    border-radius: 50%;
    border: $circle-border;
    float: left;
    margin-right: 5px;
    margin-top: -3px;
  }
  .rating-scale {
    @include flexbox;
    .help-circle {
      text-align: center;
      color: white;
      width: $circle-radius;
      height: $circle-radius;
      font-size: $font-size;
      border-radius: 50%;
      border: $circle-border;
      margin-left: -7px;
    }
  }
  .ratings-scale-container {
    @include flex-justify-space-between;
    max-width: 300px;
    .block-container {
      .rating-scale {
        justify-content: center;
      }
      .word-scale {
        text-align: center;
        font-size: $font-size;
      }
    }
  }
  h4 {
    font-size: 19px;
  }
  a {
    color: $search-primary-blue-on-white;
  }
  .btn-close {
    float: right;
    margin-top: 12px;
    margin-right: 10px;
    cursor: pointer;
  }
  @include media-breakpoint-down(sm) {
    /* Resetting the modal when it reaches the breakpoint */
    height: auto;
    width: 90vw;
    z-index: 6;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .ratings-scale-container {
      .block-container {
        .word-scale {
          font-size: $font-size-after-bp;
        }
      }
    }
    p,
    div {
      font-size: $font-size-after-bp;
    }
  }
}

.bold {
  font-weight: bold;
}

.help-overlay {
  @include media-breakpoint-down(sm) {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.ollie-help-icon {
  display: inline-block;
  margin-left: 15px;
  position: relative;
  @include media-breakpoint-down(sm) {
    float: right;
    margin-left: 0;
    margin-top: 10px;
  }

  svg {
    vertical-align: middle;
    border: 0;
  }
}
.header_un{
  position: fixed;
  z-index: 2;
}
