<div> <%= image_tag 'icons/blue-check-circle.svg' %> <span>Directory</span></div>
<div> <%= image_tag 'icons/blue-check-circle.svg' %> <span>GreatSchools Rating</span></div>
<div> <%= image_tag demo_icon(plan) %> Demographics</div>
<div> <%= image_tag subratings_icon(plan) %> Greatschools Subratings</div>