@import "mixins/breakpoints";
$font_color: #F0F0F0;
#home-page {
  .hero-container {
    width: 100%;
    background: #1B314C;

    .width-constraint {
      max-width: 1170px;
      margin: auto;

      .module-container {

        display: flex;
        flex-direction: row;

        > div {
          margin: 0px 15px 30px;
          width: 100%;
        }
        h1 {
          color: $font_color;
          font-size: 28px;
        }
        .search-module {
          width: 48%;

          h1 {
            color: $font_color;
            font-size: 28px;
          }
          img{
            width:100%;
            border-top-left-radius: 50px;
            border-bottom-right-radius: 50px;
          }
          .search-container{
            position: relative;
            margin-bottom: 65px;
          }
        }

        .parent-module {
          h1 {
            padding-top: 10px;
            width: 100%;
            font-size: 32px;
          }
          h2{
            font-family: opensans-semibold;
            font-size: 16px;
            text-transform: uppercase;
            color: $font_color;
            padding-bottom: 10px;
          }
          padding: 20px;
          background-color: rgba(26, 157, 209, 1);
          background-image: url('home/hero-vectors-laptop.svg');
          background-repeat: no-repeat;
          //background-position: bottom right;
          background-size:  456px 289px;
          background-position: bottom center;
          width: 48%;
          a {
            //margin: 15px;
            font-size: 16px;
            //height: 20px;
            border: 1px solid $midnight_blue;
            color: $font_color;
            padding: 3px 10px;
            border-radius: 8px;
            background-color: $midnight_blue;
          }
          .column-container {
            display: flex;
            flex-direction: row;

            .columns {
              a {
                margin-right: 15px;
                //height: 20px;
                border: 1px solid $font_color;
                color: $font_color;
                padding: 3px 10px;
                border-radius: 8px;
                background-color: rgba(26, 157, 209, 0.8);
              }
            }
          }
        }
        @include media-breakpoint-only(md) {
          .parent-module {
            h1{
              padding-top: 10px;
              margin-top: 11px;
              //width: 90%;
            }
          }
        }
        @include media-breakpoint-down(sm) {
          .parent-module {
            h1{
              padding-top: 0px;
              margin-top: 0px;
              //width: 100%;
              font-size: 26px;
            }
            //width: 325.85px;
            //height: 205.44px;
            background-size:  326px 205px;
            background-position: bottom right;

            //padding-right: 20px;
          }
        }

        @include media-breakpoint-only(xs) {
          .search-module {
            width: 95%;
          }
          .parent-module {
           padding-bottom: 120px;
            text-align: center;
            background-size:  282px 194px;
            background-position: bottom center;
            background-image: url('home/hero-vectors-mobile-tablet.svg');
            h1{
              display: none;
            }
            width: 95%;
            .column-container {
              flex-direction: column;
              text-align: center;
              .columns {
                float: none;
              }
            }
          }
          flex-direction: column;
        }
      }

    }
  }
}