.recent-reports-section {
  min-height: 543px;
  @include media-breakpoint-up(xs) {
    min-height: 800px;
  }

  @include media-breakpoint-down(sm) {
    padding: 1em;
  }

  .module-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: 40px;
    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
      padding: 0.5em;
    }

    > div:first-child {
      position: relative;
      flex-grow: 1;
      padding: 0 20px 20px 0px;
      min-width: 25%;
      max-width: 25%;

      p {
        text-align: left;
      }
      @include media-breakpoint-down(sm) {
        max-width: 100%;
        min-height: 200px;
      }
      @media (max-width:422px) {
        text-align: center;
        padding: 0;
        p {
          text-align: inherit;
        }
      }
    }

    // ::carousel
    .carousel-container {
      flex-grow: 3;
    }

  }
  .carousel-buttons {
    text-align: center;
    > svg:first-child {
      margin-right: 20px;
    }
    @include media-breakpoint-down(xs) {
      width: 80%;
    }
  }
}