<div class="row ptl">
  <div class="col-xs-12">
    <%= form_tag admin_generate_reset_password_link_path, method: 'get', role: 'form', class: 'form-inline' do %>
        <legend>Find a user by email</legend>
        <div class="form-group">
          <div class="controls">
            <input type="text" id="email" name="email" placeholder="Email">
          </div>
        </div>
        <button type="submit" class="btn btn-primary" id="submit" style="margin-left: 40px">Search</button>

        <% if @reset_password_link.present? %>
            <div class="col-xs-12 mal">
              <%= @reset_password_link %>
            </div>
        <% end %>
    <% end %>
  </div>
</div>