<div class="row ptl mll">
  <div class="col-xs-12 ">
    <%= form_tag admin_generate_reset_password_link_path, method: 'get', role: 'form', class: 'form-inline' do %>
        <legend>Find a user by email</legend>
        <div class="form-group col-xs-9 col-sm-3 col-md-3 col-lg-3">
          <div class="controls">
            <input type="text" id="email" name="email" placeholder="Email" class="form-control">
          </div>
        </div>
        <button type="submit" class="btn btn-primary" id="submit" style="margin-left: 40px">Search</button>

        <% if @reset_password_link.present? %>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4>Reset password link</h4>
            </div>
            <div class="col-xs-12">
              <%= @reset_password_link %> <br />
            </div>
        <% end %>
    <% end %>
  </div>
</div>