<div class="developer-nav">
  <%= link_to root_url do %>
    <%= image_tag(image_path('nav/greatschools_logo.svg', alt: '')) %>
  <% end %>
  <div class="developer-nav-links-container">
    <span>
      <a class="developer-nav-links" href="#">
        Developer Resources
      </a>
    </span>
    <span>
      <a class="developer-nav-links" href="#">
        Contact Us
      </a>
    </span>
  </div>
</div>