<div style="margin: 25px 0;">
  <button data-id="approved" class="submit-osp-membership btn">Approve</button>
  <button data-id="rejected" class="submit-osp-membership btn">Reject</button>
  <button data-id="disabled" class="submit-osp-membership btn">Deactivate</button>
  <button data-id="osp-notes" class="submit-osp-membership btn">Update</button>
  <div style="float: right;">
    <button class="btn" style="background: #D1EFFA;">User email matches contact email</button>
    <button class="btn" style="background: #EB6550;">User requesting multi-access</button>
    <button class="btn" style="background: #ABF293;">School has active memberships</button>
    <button class="btn" style="background: #F1D472;">User has Provisional access</button>
  </div>
</div>