<div class="container-fluid">
  <div class="row tac">
    <div class="open-sans font-size-large">
      <div class="open-sans_sb dib">
        <%= t('.school_administrators') %>
      </div>
      <div class="gray-darker open-sans dib">
        <%= t('.callout_html') %>
      </div>
      <div class="dib">
        <div class="mhm mvs btn btn-primary"><%= t('.button') %></div>
      </div>
    </div>
  </div>
</div>
