<% motto %>
<div class="container-fluid">
  <div class="row tac">
    <div class="open-sans_sb mvm uc gray-darker"><%= t('.title') %></div>
    <div class="best-known-for open-sans_i">
      "<%= motto.first %>"
    </div>
  </div>
</div>
