<%
  # A data_display_collection is the first-order grouping described in the
  # group comparison data reader.
%>

<div class=" data-viz js-dataDisplayCollection <%=show_hide_collection%> js-<%=@data_display_collection.original_data_type %>">
  <div class="pvm">
    <%= render partial: "deprecated_school_profile/data_viz/#{@data_display_collection.partial}/legend" %>
  </div>
  <div class='row'>
    <% @data_display_collection.displays.each_with_index do | data_display, i| %>
      <% show_hide_chart = i > 0 ? 'dn' : '' %>
      <%= render partial: 'deprecated_school_profile/data_viz/data_display',
                  locals: { data_display: data_display, show_hide_chart: show_hide_chart } %>
    <% end %>
  </div>
</div>
