<div id="subscription-plan" >
  <div class="api-text-field subscription">
    <%= format_plan(user.subscription&.plan) %>
  </div>
  <div class="api-registration-select-container dn">
    <%= select :plan, :placeholder, options_for_select(Api::Plan.all.map {|plan| [format_plan(plan), plan.id]}, user.subscription.plan_id), {}, class: "api-registration-select"  %>
  </div>
</div>

<script>
  const dropdown = document.querySelector('.api-registration-select-container');

  document.querySelector('.api-text-field.subscription').addEventListener('click', (e)=> {
    e.target.classList.add('dn');
    dropdown.classList.remove('dn');
  })

  dropdown.addEventListener('change', (e)=> {
    
    $.ajax({
      type: 'POST',
      url: '/api/plan_update',
      data: {
        subscription_id: <%= user.subscription.id %>,
        plan_id: e.target.value
      }
    })

    e.target.innerHTML = "<option>Processing...</option>";
    e.target.disabled = true;
  })
</script>