<div class="new-api-account-form">
  <h3 class="api-form-header">Complete</h3>
  <div>
    We are working on reviewing your information.
    You will be billed pending approval.
    One of our Business Development team members will be reaching
    out to you within 5-10 business days at bob@bobsbuildings.net.
  </div>
</div>
