<% content_for :head do %><title>GreatSchools.org Public API Registration & Developer Hub</title>
<% end %>
<div class="api_request_success">
  <%= image_tag 'school_profiles/brown-owl.svg', alt: '' %>
  <h3>
    <b><p>Success! Your API request has been submitted. You will receive an email with more information shortly. Thank you!</b>
  </h3>
  <%= link_to 'Review our API Technical Overview while you wait!', 'https://www.greatschools.org/api/docs/technical-overview/' %>
</div>