<nav class="navbar navbar-default navbar-fixed-top affix-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div style="float: left; padding:6px 0 0 6px"><%= image_tag "gs_logo_placeholder.png" %></div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#home">Home</a></li>
            <li><a href="#find-a-school">Find A School</a></li>
            <li><a href="#review-a-school">Review A School</a></li>
            <li><a href="#back-to-school">Back To School</a></li>
        </ul>
        <!--<li><a href="#peace">Peace</a></li>-->
        <!--<li><a href="#love">Love</a></li>-->
        <!---->
        <!--<li><a href="#">Link</a></li>-->
        <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
        <!--<ul class="dropdown-menu">-->
        <!--<li><a href="#">Action</a></li>-->
        <!--<li><a href="#">Another action</a></li>-->
        <!--<li><a href="#">Something else here</a></li>-->
        <!--<li><a href="#">Separated link</a></li>-->
        <!--<li><a href="#">One more separated link</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--</ul>-->
        <!--<form class="navbar-form navbar-left" role="search">-->
        <!--<div class="form-group">-->
        <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
        <!--</form>-->
        <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a href="#">Link</a></li>-->
        <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
        <!--<ul class="dropdown-menu">-->
        <!--<li><a href="#">Action</a></li>-->
        <!--<li><a href="#">Another action</a></li>-->
        <!--<li><a href="#">Something else here</a></li>-->
        <!--<li><a href="#">Separated link</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--</ul>-->
    </div><!-- /.navbar-collapse -->
</nav>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 " style="text-align: center"><h1>Achievement Preparatory Academy PCS</h1></div>

</div>
<div class="row" style="padding-bottom: 20px; padding-top: 20px">
    <div class="col-xs-0 col-sm-2 col-md-3 "></div>
    <div class="col-xs-12 col-sm-8 col-md-6 " style="text-align: center">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">GreatSchools rating</div>
            <div class="col-xs-4 col-sm-4 col-md-4 ">PCSB rating</div>
            <div class="col-xs-4 col-sm-4 col-md-4 ">18 reviews</div>
        </div>
    </div>
    <div class="col-xs-0 col-sm-2 col-md-3 "></div>
</div>
<div id="navigation3">
    <nav class="nav" style="background-color: #000000; color: #FFFFFF; padding-top: 10px; padding-bottom: 10px; text-align: center">
        <ul style="margin: 0px; padding: 0px ">
            <li><a href="../navigation/navtest1">Overview</a></li>
            <li><a href="../navigation/navtest2">Quality</a></li>
            <li><a href="../navigation/navtest3">Offerings</a></li>
            <li><a href="../navigation/navtest4">Reviews</a></li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12  col-lg-10">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 ">
                <div id="contents">
                    <div id="main">
                        1 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 ">
                <div id="contents">
                    <div id="main">
                        2 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 ">
                <div id="contents">
                    <div id="main">
                        3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 ">
                <div id="contents">
                    <div id="main">
                        4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 ">
                <div id="contents">
                    <div id="main">
                        5 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
        <div id="contents">
            <div id="main">
                6 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
    </div>
</div>