<div class="row btn-block">
    <div class="col-xs-12 col-sm-12 col-md-2 ">
        <div id="mobile-header">
            <a id="responsive-menu-button" href="#sidr-main"><%= image_tag "nav_hamburger.png" %></a>
        </div>
        <div style="float: left; padding:6px 0 0 6px"><%= image_tag "gs_logo_placeholder.png" %></div>
    </div>

    <div class="col-xs-6 col-sm-10 col-md-10" style="padding: 12px 0 0 40px">
        <div id="navigation">
            <nav class="nav">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#find-a-school">Find A School</a></li>
                    <li><a href="#review-a-school">Review A School</a></li>
                    <li><a href="#back-to-school">Back To School</a></li>
                    <li><a href="#peace">Peace</a></li>
                    <li><a href="#love">Love</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 " style="text-align: center"><h1>Achievement Preparatory Academy PCS</h1></div>

</div>
<div class="row" style="padding:0px 20px 20px 20px">
    <div class="col-xs-0 col-sm-2 col-md-3 "></div>
    <div class="col-xs-12 col-sm-8 col-md-6 " style="text-align: center">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">GreatSchools rating</div>
            <div class="col-xs-4 col-sm-4 col-md-4 ">PCSB rating</div>
            <div class="col-xs-4 col-sm-4 col-md-4 ">18 reviews</div>
        </div>
    </div>
    <div class="col-xs-0 col-sm-2 col-md-3 "></div>
</div>
<div id="navigation3">
    <nav class="nav" style="background-color: #000000; color: #FFFFFF; padding-top: 10px; padding-bottom: 10px; text-align: center">
        <ul style="margin: 0px; padding: 0px ">
            <li><a href="../navigation/navtest1">Overview</a></li>
            <li><a href="../navigation/navtest2">Quality</a></li>
            <li><a href="../navigation/navtest3">Offerings</a></li>
            <li><a href="../navigation/navtest4">Reviews</a></li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12  col-lg-10">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 ">
                <div id="contents">
                    <div id="main">
                        1 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 ">
                <div id="contents">
                    <div id="main">
                        2 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 ">
                <div id="contents">
                    <div id="main">
                        3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 ">
                <div id="contents">
                    <div id="main">
                        4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 ">
                <div id="contents">
                    <div id="main">
                        5 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
        <div id="contents">
            <div id="main">
                6 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
    </div>
</div>