<div id="navigation2" class="affix">
    <nav class="nav">
        <ul style="margin-bottom: 0px">
            <li><a href="#overview">Programs & resources</a></li>
            <li><a href="#quality">Extracurriculars</a></li>
        </ul>
    </nav>
</div>