<div class="summary">
  <div class="row">
    <div class="col-xs-12 pbm">
      <%= t(".#{@t_scope}.description_above_fold") %>
      <span class="hidden-xs-inline js-readMoreText">
        <%= t(".#{@t_scope}.description_below_fold") %>
      </span>
      <a class="visible-xs pointer js-readMoreLink">
        <%= t(".read_more") %>
      </a>
    </div>
  </div>
</div>
