<%= render 'shared/section_header', category_placement: category_placement %>
<div class='gs-bootstrap'>
  <div class='container-fluid'>
    <div class='row'>
      <% more_than_one_promo = data.size > 1 %>
      <% data.each do |collection| %>
        <div class='col-xs-12 <%= 'col-sm-6' if more_than_one_promo %>'>
          <%= render 'deprecated_school_profile/community_spotlight_promo', collection: collection %>
        </div>
      <% end %>
    </div>
  </div>
</div>
