<div class="tac pal"><span class="open-sans_sb">Need help choosing a school?</span>
    <%= link_to "We can help &raquo;".html_safe, osp_register_url(city: @school.city,school_id: @school.id.to_s,state: @school.state) %>
</div>