<div class="pvm bg-dark-blue" style="background-color: dodgerblue">
  <div class="row ma limit-width-1200">
    <div class="row pbl ptl">
      <form name="prototypeSearchForm" class="js-prototypeSearchForm mbl" action="/search/search.page" method="get">
        <!-- Todo: make a class -->
        <div class="col-xs-12 col-sm-6 pam">
        <input  type="text"
                name="locationSearchString"
                value="Enter School, City, or District"
                id="js-prototypeSearch"
                class='typeahead search-text full-width pam'
                onfocus="GS.textSwitch(this, '', 'Enter School, City, or District');"
                onblur="GS.textSwitch(this, 'Enter School, City, or District', '');"
                placeholder="ex. Dover High School">
        </div>

        <div class='col-xs-6 col-sm-2 col-md-2 col-lg-2 pam'>
          <select class="form-control input-lg" id="js-prototypeSearchDistanceFilter" name="distance">
            <option value=""selected>--Distance--</option>
            <% @filter_and_sort_display_map['distance'].each do |distance, display_name| %>
                <option value=<%=distance%><%if @params_hash.include?('distance') && @params_hash['distance'] == distance%> selected<%end%>><%=display_name%></option>
            <% end %>
          </select>
        </div>

        <div class='col-xs-6 col-sm-2 col-md-2 col-lg-2 pam'>
          <select class="form-control input-lg" id="js-prototypeSearchGradeLevelFilter" name="grades">
            <option value=""selected>--Select a Grade--</option>
            <% @filter_and_sort_display_map['grades'].each do |grade, display_name| %>
		            <option value=<%=grade%><%if @params_hash.include?('grades') && @params_hash['grades'] == grade%> selected<%end%>><%=display_name%></option>
            <% end %>
          </select>
        </div>

        <div class="col-xs-12 col-sm-2 pam">
          <button type='submit' class="btn btn-lg btn-primary pull-right">Search</button>
        </div>   
      </form>
    </div>

    <div class="row pbl plm prm" style="color:#f5f5f5;">
      <div class="col-sm-3 col-md-2 col-lg-2 hidden-xs" style="font-weight:bold;">Nearby Cities:</div>
      <div class="col-sm-3 col-md-2 col-lg-2 hidden-xs">City 1</div>
      <div class="col-sm-3 col-md-2 col-lg-2 hidden-xs">City 2</div>
      <div class="col-sm-3 col-md-2 col-lg-2 hidden-xs">City 3</div>
      <div class="col-md-2 col-lg-2 hidden-xs hidden-sm">City 4</div>
      <div class="col-md-2 col-lg-2 hidden-xs hidden-sm">City 5</div>
    </div>
    <div class="row pbl plm prm" style="color:#f5f5f5;">
      <div class="col-sm-12 col-md-6 hidden-xs"><span style="font-weight:bold;">Additional Information:</span> How enrollment works in Delaware</div>
      <div class="col-sm-12 col-md-6 hidden-xs">Apply now</div>
    </div>

  </div>
</div>
