<div class="pvm" style='background-color: #005878;'>
  <div class="limit_width_1200">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mha" style='float: none;'>
        <h4 class='pull-left mtm mbn mrl' style='color: #fff;'>Find a school in <%= collection_nickname %></h4>
        <form method='get' class='search-bar js-findByNameForm' action="/search/search.page">
          <input value="1" name="search_type" type="hidden">
          <input value="<%= state[:short] %>" id="js-state" name="state" type="hidden">
          <input value="<%= collection_id %>" id="js-collectionId" name="collectionId" type="hidden">
            <input  type="text"
                    name="q"
                    value="School name (e.g. Niles Elementary School)"
                    class="search-text mlm"
                    id="js-findByNameBox"
                    onfocus="GS.textSwitch(this, '', 'School name (e.g. Niles Elementary School)');"
                    onblur="GS.textSwitch(this, 'School name (e.g. Niles Elementary School)', '');"
                    placeholder="School name (e.g. Niles Elementary School)"
                    style='height: 39px;'>
            <div class="pa">
              <button type='submit' class='iconx24 i-24-search-lens' style='cursor: pointer; border: none;'></button>
            </div>
            <a class="small mll js-clear-local-cookies-link" style='color: #fff; white-space: nowrap' href="/">Not in <%= collection_nickname %>?</a>
        </form>
      </div>
    </div>
  </div>
</div>
