<div class="row ptm">
    <form name="schoolResultsSearchForm" class="js-schoolResultsSearchForm" action="/thescoop" method="post">
        <div class="col-xs-12 plm prm mbm">
            <input  type="text"
                    name="locationSearchString"
                    id="js-schoolResultsSearch"
                    class='typeahead search-text full-width pam'
                    placeholder="Enter school name">
            <label class="dn js-translate-placeholder">Enter school name</label>
        </div>
    </form>
</div>
