<div class="row invert-colors js-shortFooter <%= @gs_bootstrap %>">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tac pam">
    <div class="limit-width-1200 open-sans">
      <div class="clearfix ptl">
        <%= render 'shared/google_translate_selector' %>
      </div>
      <hr />
      <%= render 'shared/gs_address_and_copyright' %>
    </div>
  </div>
</div>
<div class="gs_ad_slot visible-lg visible-md" id="adCustom_Welcome_Ad" data-ad-size="[1, 1]" style="width: 0px" data-dfp="Custom_Welcome_Ad"></div>
