<%= stylesheet_link_tag    'header', media: 'all', 'data-turbolinks-track' => true %>
<div id="header_top_navigation_wp" style="display:none">
  <%= render 'nav/topnav_universal_html' %>
</div>
<%= javascript_include_tag 'header', 'data-turbolinks-track' => true %>