<style>
   .un .clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  .un div.dn {
    display: none;
  }

  .un .visible-xs {
    display: none !important;
  }

  .un {
    font-family: "opensans-bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: table;
    margin: auto;
    max-width: 1200px;
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
  }

  .un .dt {
    display: table;
  }

  .un .tr {
    display: table-row;
  }

  .un .tc {
    display: table-cell;
  }

  .un .logo {
    /*background-color: #00FF00;*/
    padding: 10px;
    display: table-cell;
  }

   .un .logo_size {
     width: 112px;
     height: 47px;
   }

  .un .search_bar {
    width: 100%;
    /*background-color: #0000FF;*/
    padding: 2px 20px;
    vertical-align: middle;
  }

  .un .navigation {
    display: table-cell;
    /*background-color: #FF0000;*/
    padding: 0px 20px;
    vertical-align: middle;
  }

  .un .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }

  .un .menu_hide_mobile {
    display: block;
  }

  .un .search_hide_mobile {
    display: table-cell;
  }

  .un ul.menu li {
    margin: 0px;
    display: inline;
  }

  .un ul.menu li.dn {
    display: none;
  }

  .un ul.menu li.featured_visible_mobile {
    display: none;
  }

  .un ul.menu li a {
    text-decoration: none;
  }

  .un ul.featured li a {
    font-size: 12px;
    padding-top: 14px;
    color: #26abe2;
    padding-right: 20px;
  }

  .un ul.featured li a:hover {
    color: #666666;
  }

  .un ul.featured {
    margin-left: 162px;
    padding-bottom: 30px;
    padding-top: 5px;
  }

  .un ul.featured .title {
    padding-left: 10px;
    font-size: 12px;
    padding-top: 17px;
    padding-right: 20px;
  }

  .un .search_form_field {
    height: 46px;
    font: normal 14px/20px 'opensans-regular', Arial, Helvetica, sans-serif;
    color: #666;
    padding-left: 8px;
    vertical-align: middle;
    border: 1px solid #b8b8b8;
    border-left: none;
  }

  .un .search_form_button {
    height: 44px;
    vertical-align: middle;
    color: white;
    background-color: #26abe2;
    border-color: #26abe2;;
    border-bottom-width: 3px;
    border-top: #26abe2;;
    border-right: #26abe2;;
    border-left: #26abe2;;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    font-family: "opensans-bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 8px 20px;
    font-size: 12px;
    line-height: 1.5;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-user-select: none;
  }

  .un .toggle, [id^=drop] {
    display: none;
  }

  .un .header {
    width: 100%;
    background-color: #FFFFFF;
  }

  /* menu */

  .un .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  /* menu icon */

  .un .header .menu-icon {
    cursor: pointer;
    /*display: inline-block;*/
    /*float: right;*/
    padding: 0px;
    vertical-align: middle;
    position: absolute;
    user-select: none;
    height: 20px;
    width: 20px;
    top: 12px;
  }

  .un .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: absolute;
    transition: background .2s ease-out;
    width: 18px;
    top: 10px;
  }

  .un .header .menu-icon .navicon:before,
  .un .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .un .header .menu-icon .navicon:before {
    top: 5px;
  }

  .un .header .menu-icon .navicon:after {
    top: -5px;
  }

  /* menu btn */

  .un .header .menu-btn {
    display: none;
  }

  .un .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .un .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .un .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .un .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .un .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .un .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  .un .search_bar_size {
    width: 100%;
  }

  .un .search_icon {
    display: none;
  }

   .un nav {
    margin: 0;
    padding: 0;
    /*background-color: #FFFFFF;*/
  }

   .un nav:after {
    content: "";
    /*display: table;*/
    clear: both;
  }

   .un nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    width: 450px;

  }

   .un nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
    /*background-color: #FFFFFF;*/
  }

   .un nav a {
    display: block;
    padding: 0px 20px;
    color: #000;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
  }

   .un nav a:hover {
    background-color: #EEEEEE;
  }

  li > label {
    margin-bottom: 0px;
  }

   .un li > a:after {
    content: ' \25BC';
    font-size: 8px;
    color: #666;
    vertical-align: middle;
  }
   .un li > a:hover:after {
    color: #167ba5;
  }

   .un li li > a:after {
    content: ' \203A';
    font-size: 24px;
    float: right;
    color: #CCCCDD;
  }

   .un li.open li > a:hover:after {
    font-size: 24px;
    float: right;
    color: #167ba5;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

   .un nav > ul > li > a {
    padding: 5px 20px;
  }

   .un li > label:after {
    content: ' \203A';
    font-size: 24px;
    float: right;
    color: #CCCCDD;
  }


  .un label.open:after {
    font-size: 24px;
    float: right;
    <%# color: #167ba5; %>
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }


   .un li > a:only-child:after {
    content: '';
  }

  .un .featured span {
    padding: 3px 6px;
    background-color: #fb960f;
    border-radius: 3px;
    color: white;
  }

   .un nav ul li ul li:hover {
    background: #FFFFFF;
  }

   .un nav ul ul {
    display: none;
    position: absolute;
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
    width: 150px;
     z-index: 5;
    /*border-bottom: none;*/
  }

   .un nav ul ul a {
    padding: 5px 10px;
  }

   .un nav ul li:hover > ul {
    display: inherit;
  }

   .un nav ul ul li {
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
    border-bottom: 1px solid #0000DD;
  }

   .un nav ul ul ul {
    position: absolute;
    /*background-color: #FFFFFF;*/
    top: -39px;
    left: 148px;
    width: 180px;
  }

   .un nav ul ul ul li:hover {
    background-color: #0000FF;
    /*position: relative;*/
    /*top: -60px;*/
    /*left: 135px;*/
  }

  .un .search_bar_size {
    display: table-cell;
  }

  .un .search_bar_button {
    display: table-cell;
    vertical-align: middle;
  }

  .un .mobile-toggle-button {
    display: inline-block;
    width: 50%;
    height: 46px;
    border: solid #b8b8b8;
    border-width: 1px 1px 0px 0px;
    background-color: white;
    color: darkgrey;
    padding-top: 10px;
    border-top-right-radius: 4px;
  }

  .un .mobile-toggle-button:first-of-type {
    border-left: 1px solid grey;
    border-top-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 0;
  }

  .un .mobile-toggle-button:last-of-type {
    border-bottom-right-radius: 0px;
  }

  .un .mobile-toggle-button.active {
    background-color: #1e77a7;
    color: white;
  }

  .un .desktop-search-toggle {
    vertical-align: middle;
    padding: 0 10px;
    position: relative;
    border-right: 1px solid #b8b8b8;
    border-left: 1px solid #b8b8b8;
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    min-width: 100px;
    cursor: pointer;
  }

  .un .desktop-search-toggle a {
    text-decoration: none;
    color: #000;
  }

  .un .desktop-search-toggle a:hover {
    text-decoration: none;
    color: #000;
  }

  .un .desktop-search-toggle:hover .desktop-search-menu{
    display: inherit;
    border-top: 0px;
    }

  .un .desktop-search-toggle:hover {
    border-bottom-left-radius: 0;
    border-bottom: none;
  }

  .un .desktop-toggle-search-arrow {
    font-size: 8px;
    position: absolute;
    right: 10px;
    top: 17px;
  }

  .un .desktop-search-menu  {
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 1000;
    float: left;
    min-width: 100px;
    padding: 9px 0;
    margin: 0 0;
    height: 40px;
    font-size: 1rem;
    color: #000;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #b8b8b8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .un .desktop-search-menu:hover {
    background-color: #eee;
  }

  .un .dropdown-item {
    text-decoration: none; 
    display: block;
    width: 100%;
    padding: 0 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
  }

  /* Media Queries
  --------------------------------------------- */

  @media all and (max-width: 767px) {

    .un {
      display: block;
    }

    .un .logo_size {
      width: 56px;
      height: 24px;
    }

    .un .tr {
      display: block;
    }

    .un .tc {
      display: block;
    }

    .un .menu_hide_mobile {
      display: none;
    }

    .un .menu_layout_mobile {
      padding-left: 10px;
      width: 30px;
      height: 5px;
      text-align: left;
      vertical-align: middle;
      display: table-cell
    }
    .un .search_hide_mobile {
      display: none;
    }

    .un .navigation {
      /*float:left;*/
      padding: 0px;
      width: 100%;
    }

    .un .search_icon {
      display: table-cell;
    }

    .un nav {
      margin: 0;
      /*clear:both;*/
    }

    .un .toggle + a {
      display: none;
    }

    .un .toggle {
      display: block;
      background-color: #FFFFFF;
      padding: 5px 20px;
      color: #000;
      font-size: 14px;
      line-height: 28px;
      text-decoration: none;
      <%# border: none; %>
      width: 100%;
    }

    .un nav .toggle:hover {
      background-color: #EEEEEE;
      color: #167ba5;
    }

    .un nav .toggle:hover:after {
      color: #167ba5;
    }

    .un [id^=drop]:checked + ul {
      display: block;
    }

    .un nav ul {
      width: 100%;
    }

    .un nav ul li {
      display: block;
      width: 100%;
      font: 14px "opensans-regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
      position: relative;
      border-top: 1px solid #EEEEEE;
    }
    .un nav ul li:last-of-type {
      border-bottom: 1px solid #EEEEEE;
    }

    .un nav ul ul .toggle,
     nav ul ul a {
      padding: 5px 20px 5px 40px;
      width: 100%;
    }

    .un nav ul ul ul a {
      background-color: #FFFFFF;
      padding: 0 60px;
    }

    .un nav ul ul ul a:hover {
      background-color: #fff;
    }

    .un nav ul li ul li .toggle,
    .un nav ul ul a {
      background-color: #FFFFFF;
      position: relative;
    }

    .un nav ul ul {
      float: none;
      top: 0px;
      border: none;
      color: #ffffff;
      position: relative;
      width: 100%;
      z-index: 1;
    }

    .un nav ul ul li:hover > ul,
    .un nav ul li:hover > ul {
      display: none;
    }

    .un nav ul ul li {
      display: block;
      width: 100%;
      position: relative;
    }

    .un nav ul ul ul li {
      /*position: static;*/
      position: relative;

    }

    .un nav ul ul ul {
      position: relative;
      top: 0px;
      left: 0px;
      width: 100%;
    }
  }

  @media (min-width: 48em) {
    .un .header .menu-icon {
      display: none;
    }
  }

  @media (max-width: 767px) {
    .un .visible-xs {
      display: block !important;
    }

    .un .hidden-xs {
      display: none !important;
    }

    /*.search_bar{width:auto; margin-bottom: 10px}*/
    .un .search_form_field {
      /*width:80%;*/

    }

    .un .header {
      position: fixed;
      background: #ffffff;
      z-index: 4;
      border-bottom: solid 1px #EEEEEE;
    }

    .un .search_bar {
      width: auto;
      padding-bottom: 10px;
    }

    .un ul.menu li.featured_visible_mobile {
      display: inline;
    }

    .un .logo {
      width: 100%;
      text-align: center;
      padding-left: 30px;
    }

    .un .search_form_field {
      border: 1px solid #b8b8b8;
      border-top-left-radius: 0px;
      border-top-top-radius: 0px;
      border-bottom-left-radius: 4px;
    }

    .un .search_form_button {
      border-top-right-radius: 0px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .un .hidden-sm {
      display: none !important;
    }
    .un nav ul {
      width: 240px;
    }
    .un nav > ul > li > ul {
      margin-left:-25px;
      width: 145px;
    }
    .un nav > ul ul ul {
      width: 145px;
      left: 143px;
    }

    .un .search_form_field {
      /*width:200px;*/

    }
  }

  @media (min-width: 768px) {
    .un .mobile-toggle-button {
      display: none;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .un .hidden-md {
      display: none !important;
    }

    .un .search_form_field {
      /*width:300px;*/

    }
  }

  @media (min-width: 1200px) {
    .un .hidden-lg {
      display: none !important;
    }
  }

  .un .search_icon_image {
    cursor: pointer;
    display: inline-block;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAnNwAAJzcBVAXW8gAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAHwSURBVEiJrdSxalRREAbgbzeboCSkUImNCViFDSSgKJhGbexVhDyAIBb6AIKt6BNYSKo0NoKIdcBWU0REdE1lEZCwqxKIcYVktTjnsmf33ru7YP5q5t45/8z5Z85U5DGBK7iIOUxjHzvYxDp+FpzLodLnn8MdnBxw5g9e4NUw8rHEvob7mOyL2cN4UkgNSziNd4PIa0nFt1GNfhNraGAXx3AWK1iIMZfxHc8HVT6Bh0nFb/EIXwUJ4AAtvIn2Yvw+j41YQA5VXNXVuImn+F16V17GArLz18sCq7iQ+GtDiDOsohPt83p710M+l/iNEYgJMnyL9nHMlJFPR3tPiXYl2E7sqTLy/WhPClMxKk4ldmlDd6JdEcZtFNQwG+1skgrJNxN/ZUTym8IIwwfd5ubI13XneQE3hhDX+2JelwWOoR0zL8Vvi8IEfUqSEqS4hbu6o9cRHlahLOniuic86QwdYdy2hebN6kqRoo3H+FxUeYaNWN18TFoRxvQMTvTFdvQusmXhjfTcoP9lfYxJpmK148m/A7zHM0GKZd3FlyX4IqwQ5Pd5f+KZmGg3VpVORR0P9L6NNp4I/SreCRF/hVf7A7+in6IlSFF0gy00B5GPgpYgxaWCBI3/JSdovCV/g/pRkJclODwq8ixBQ2j0IVb/Af8qaEu81sm3AAAAAElFTkSuQmCC);
  }

  .un .search_icon_image_white {
    cursor: pointer;
    display: inline-block;
    margin-top: 4px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAGbSURBVDiNrdPPKwRxGMfxz3dDLeIqchAHxc1hD0qJXJWLvwD/AKf9H7i5uLk5UA5KEi6ShJtcuMjPQmxYZN4OO7t999mZ3Sk+t2fmeV49M98ZKSLAKLAMXAJ5IADugG1gBkhHzYWzAioudgE71M41MJ4IBjLAUwLUT7YqDHTHoB/AAbAL3Mbg09XgvQhwFmgqDgRB4IAx4Nz0vgNdFTCFg7LoYJXDaQWOzcxSFLxsmubiUG+4B/jyZnJAg4UvzGM11oJDYMUsNODDKUkdXv+pc+49CSxp39S+o5Skeq9+S4hKUt7UZU+akvTg1X1BELiEcK+pH8oqCr+pn5FaIpAGrryZAGgJ75UOb8bAZ8WmKvC8mdn07pXgNHBjGo+A7phNF6jMiIVdWExIWjXOt6R1FU4/H77TSUltpu9L0pBz7rAI222yEZskzQuQKXsVBp+i8JMkyWcUHgmHeCewGDba/AAbwHCI2J4SHvvNAnWS+iW1S2qWdC/pxDmX83oykrYk+V/Rq6SxODdxYjZ//jMcg6/9C+zhj8A60PQLjXJp3pMHoJgAAAAASUVORK5CYII=);
  }



</style>
<div class="un">
  <div class="header">
    <div class="un clearfix">
      <div class="tr">
        <div class="menu_layout_mobile">
          <input class="menu-btn" type="checkbox" id="drop"/>
          <label class="menu-icon toggle" for="drop"><span class="navicon"></span></label>
        </div>
        <div class="logo">
          <img class="logo_size" src="data:image/png;base64,
          iVBORw0KGgoAAAANSUhEUgAAAHAAAAAvCAYAAAA7OE5pAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1
          +/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAABRRSURBVHic7Vt5eFTl9X7vvZNZMpNZMtn3fSEsAkYCESEsoohRFsFCRcWF1uJScSlqFaQFq5SqYBVBLVqtpYhKBFoQJMoelrIkBEIWkpB1Mmsmme3e2z8mmcyde2cyCenz/PzV93nyPJlvv9+53znvOd+5BMuyLPqB0+nE+fKLuHSlGgajCQaDES6ahlKhgEIhR4RWi7zcbGSkpYAkyf6G+wlDCFGgyrr6BmzbsRMnz5yF3W7vd7BQmQyF42/CvLtmISY6asgW+WNFu64DjU3NvPLkxHiEazQDGsvoYNBsdcHBsFCJKcTJKYhJAoTQCTSZLdjyl7/ih6PHEcQB5YEiSUyZPBEPLV4ImVQ64P7/X1CyZy+2bP2UV/7ELx/G1EkTgx7nH7VWvHXeBNpLFuESCuvHa/knsKbuKtasewvtuo5BLhugGQb7DpTiQkUlnv/1MqQmJw16rP91dNMsNpZzhQcAejuNPQ1dXAFWVF7GyjVvwO5wDMnk1q4uyENDh2Ss/1U0Wl1w0MJaMFct7hNgW7sOa9e/HVB4ISIRsjLTEanVgmZomEwW1NXXw2zpFGz7wvInERUZMQSP8b8LvZ0RLBeRBCZES/sE+PqbG2E2WwQbh8pkmD+nGLdOncw7UQzLovJSFXaU7ELZqX97yn+1dAlyszOFF2UwgGG4bxVFUdCoVZ7fDocD5ysq0aE3ID01GempKX4fkmEYXLxchbY2HYwmE2RSKTQaNdJTUxChDffbLxC6u2241twCq9WKbpsNFEVBIZcjMkLb75h6gxEMw8Bq7RKs7+y0Qteh55Sp1SqIKIrX1uIQFuDYCAnCQgi3AL8/fAxV1bWCDWNjorFyxTN+WSVJEBiWk4VhOVk4c+4C3nxnE6YVTULRxEK/D7hs+QuwdnEfLjJCiy0b1wNwG//tX5XAaDIDAB598D5BARqMJny+/SscOnYcnZ1Wwbky09Nw58xbMalwvN/19OLylWocPnYCR0+cQmtbu992kRFaTBiXj+KZMwSF+exLq3gC8saHn/wNH37yN07ZH9esQkZaCq+txSkswKI4GYAeN+LTbV8INlKGKfC73/4m6Ld49Mjh2LhuLcLCFEG1F8LWz7Zhx85d/bbbX/oD3v/oE9hsgd2bquoarN/wHr498D2e+/UyhCnkgu2eeXEVqqprglpju64DX+/6J/bsO4ClSxZj2uTgGeVA0WXjn2KKIDAp1s3uyctXqtHS2ibY+dEH7xuwCroe4R07cSoo4f3jyxK8/e6WfoXnjXPlFXhp9Wuw+DmpGempQY/VC4fDgQ3vbUHp4aMD7hssLA4Xr2yUVgy12B0wIY+fPC3YMSE+DjePH/dfW5gvGIbBx59v67fdsROn8Ne/bx/UHHVX6/HO5g8F6woL8gc1JgD8efNHsAgQuaGAnpHxyqbE9ZWJLl6qEuw4YdyNIAhCsI5lWRiMpqAXIZNKIZMFdug79IZ+x+nq7saG9z8QrMvLzcadt9+KpIR46A1GnDzzb5Ts3gua4dqQo8dP4uTps7hxzCif/jlQq5QwmsygKAopSYmIj42BXCEH7aLR1t6OyqorgqfeZrNjz7cHMH92MQAgLSUZ2nAN9AajoD8dEx0FlTKMUyaVSASfy9cGEgSBSbFeAtQbjIIdc7KEGSQAGE1mPPjLJ/3W+2JO8Uzcv3BB0O0BN/NNTkpAUkI8MtPTAAAlu/cKkpUZ04rw2MMPeH7Hx8ViRF4uxowaiZVr14HxEWLJnn/xBEgSBBYvnA+xWIwxo0YI+q9miwXvffAxDh87was7deasR4AvPvtUzzzCkZj5c4qDjsSYfVjoCI0YEdK+eLNfAXpTel8MJrw2EEwvugVLFi9EqIyrPvaX/sBrGx0ViYfvXyQ4zqgReZgxdTL27DvAKT97oQJ6g4EXj+xvU5VhYXjqV4+iuraOxxuqa+oC9h0szD4nsCiOuyck6UdNuly030H9qdahwEOLF2LZ0od4wrvW3CJI7W8pHA9xSIjf8SbdPIFXxrIs/JmOXjAMA12HHlXVNT3+oJsNikNCMGr4MF57p8vFc42GAhYH97BMjuOaIpFarUJ3i43XUW/o3yYNNRIT4jDrtumCdfUNjYLl1TW1eHfLVr9j0jSfxQHumG9hwU2cMl2HHiV79uLwsRPQ6w08+6lQyDEiLxfd3fz9AtzO/1CHDr1tYK5GjBgZ19kXhWvUaG5p5XUsv3gJBfljBQclCQJqlZJXTtMMLJ2DZ2PzZ9/l9z6x16n3xemz5wc1l9nct06GZfHB1k+xZ98B0LR/zdPZacXR4yf91g+1aaFZoNtFgwABFlz22QtRbnYmyi9e4lUcPXESDyxaAEogvKNSKbF10wZeecO1JixbvmLQC05NTvRb50tErhdd3d2e/zd/9Al2790/pOMPBew0CxDu5yYA5Efwmaoof8wN2P7VN7yKdl0H9h4oxe3Tp/y31wnAbVejA1wCq1XCpIokyUHZZJnUvRm1V+t5JKd33HH5Y1A4Lh8RWi1ctAt6gxEXKy/jaNkpGAfgRg0WoSIC4RIR9DYaSgmJbDXf1ouyMjMQGaEV9Fc++uvnGJadieQk/ydjqKBSKQOSkdiYaMHyeXfPwqL5cwc97yE/l9aP3L8IM2dM45VPKhyP9LQUbNwkHBAYanw+NRa1FieyVGLBepIkCCy8Z45gpd1ux0urXxNUsULoCBDA7Q8hooDZHUhLSUK4Rs0rP1B6CE6ns9/x/dm2xmv8lAeJWIwZ04r8jtXWrut3vkBwuYSJlRAUIgIjNGJI/KQakQAw+ZZCpPi5NTdbOvHiq2vxp42bcPlKNe9tdTqdqKi8jDXr3sLKteuCXthgMHFCAa9M16HH+o2b/BIIhmWx7cudeOzp3wgKyyaQ60OQhF+17HK5cLxMOPzoC8oPIauo5LoweoMBDp97WBcLlDbbsL3Win81dsPo51pJBLhZ5YqnH8czL64SZJEsy+LgoSM4eOgIFAo5oiIiIBaHoF3XAb3B+F937Hsx7+5Z2HeglENAAODI8TI88dxLmFM8E+mpKVCrlDCZLSivqMSuvfs9LsjzL6/GiuVPYPiwHE/fiHB+sN5ms+Orb/ZgTvEdnHKjyYT3PvgYV/24NL6Qy4VdioM/HEZrWxu04eFo1+lwpboW7731hufym2aBJaVtqDL1aRaVmMRnU6IR7nMUPXorJjoKzz+9DKv/8KeAGWidnVa/d29CkEolyMvN6b9hEFCGheGRB36Ot97dzKurb2jEm++8H7B/p9WKlWvewG+efsITShs9agS+Pfg9r+3Wz7bhyPEy5GZngSAINLe04uz58gGlmyQmxPutCxRI+PZaF0d4AGByMCg3ODAxhuvIc8Q5YlguXl/92yFLCcxIS8Wbr63GjaNH9d84SEyZdDPunXf3oPvHx8UiKzPN83tCQT5G5vEjKwBQVV2Lnbv/ha93/RMnTp3xCC9Y1puSnDSolJJLJmGbrhTzVTKvJCUpEevXrMIdt01HSABWGAhxsTF46leP4o3fv+KXPV4PfjZvNpY//ssBpywW5I/F715eAWVY300ASRB49qnHEBmhDWqMvNxs3CHAToVAEgQe/Pm9A3Zz7AJJTFophWwVXx7UypUrV/oWisUhGHvDSEwrmgiKImG1dsHkJ1+mF8owBcaPy8eCuXdh6ZLFSEtO8rvwL77exWOO8tBQFM+cEXAObyQnJeDWqZNBEASamlv9qn2KJDEiLxePPnAfFsy9CxIxn45LJBJMnzIJISEhqKm9CqcAS4zQhmPRgrlYumQxqqprcKGiktemeOYMXigtMSEeWRlpqG+4BqOJ7zuqlErcefutuHHMKE/QREwS2N/UjV45ykQkXrhBgwwlX4CCib1C0HXoUV1bB5PJDKPJDIZhoNGooFGpERERjtQAAvOF2WKB76wkSfpNdwgG1bV1qK2rh8lsht3hgEatRrhGjdzsTM6J6w92uwONTU1oam6B0WSGSqlEQnws0lKSOW2E2KsyTBFwD67WN6BN1wGD0QS1SomoyAgkxMcJJjPRLAtXD/EMIQmQfoYNWoA/4f8mfvoS5UeOnwT4I8dPAvyRw28AssNG46rZCRvNIlkZgthQkV9D6o2rFidqzU44aBZRoSJkq8WQibgdrU4WVldfaEgrpUB5NaFZ9/y9kItIyEOEJzfaGVw02GG001CKKeRoxNBK+aQg0HrrzE7YXCwiZRTytBJIKOG5DHYGzp6McopA0PM4GBYNFhearE5opRSSw8R+n2eg4AnwQocd60534GQrN1wVQhEojA3FkzeEI1PNp+Kn22x49UQ7rhi5kQqZiMTtKQosH6OFqscR/bDCgE3n+278d9+VhKSwPorcYHFi1s56z+9fjAzHspHc/JWWLhq/L2tHaWMXGC8eRhAECmJkeOmmCCSH+fdjj7V0Y02ZDjUm7nolFIkFWUo8fkM4ZD6CfLK0Bafb3PsSFSrCgTnJCAQ7zeKDciP+ctGILp/clli5CEvyNLgnQwnRdehBTtdqkxNL9jXxhAcATprFwUYr5u5qxPfXuLkfr5/qwP37mnjCA4BuF4MdV8yY/U0DGjqDj8IHws7aThSX1OO7BitHeIA7bnu0uQtzvmnEZ5f4t/gMC7x8rB0Pf9vEEx4A2GkGH1804u6SBlzoCD5xWAgvH2vHn8/pecIDgGarC78/0Y4l3zZd1xwcAf7pTAe6vFTbcK0U42JkUEv6VMXoKClujutzVndUW/DxRX5AO8RH37Z1ubC7LnAwIBhU6O145Wgbb1OUYq46s9MM1p7UoayVm7+yudyAHVe4gqVIAqEh3GNwrdOJp39ohdU5OC/rrM6OXbV9z6uWUJgYL0e6SgyqZ29IgsCyUYP7+KYXHBV6Ttf3sDnhEnx+e18w9rvGLmy9aMRrhVEeW9jWTeP1U313YyRB4LGRGizMVkEqItxq9Xg7dDYaK8dFYmbK4NPuAcDFACsOt3nsEADMTlfiqdHh0EopdNhovP1vPb7oERDLsnjhSBt2FidCRhGoNDjw7rk+1S0TkXhurBZ3poVBShGo0Nvx8rF2VOrdJ6+p04k/nNLh1YLIAa/Vey8B4LXCKM+L395N4/0LBqglFG6Kvr4vmDkCVEko6HvIwyWDAyuOtGFKohzjomUoSghFUQI3TLSr1oJOr3uqRTkq/GJEn60qiJHh09sSYLTTSBUIA/WivMMOXXcfaWnpEla1R1u6UO2l9m6OC8Xq8X2bq5VSWFUQCb2NxneN7huTZqsTpY1duC1Zjr9fNsHlJfxnxmpxT2ZfctawcAm2TI3DrJ31MNrd6ympteD5sREDJh0qCVcjrCnTYX6WCgUxMuRoxHgxf2i+m+QIcHJ8KGp7NohlWZTUWFBSYwFJEMjTSjAnPQyzM5ToJZW+NmJuBj9kpZGQ0Pi7Tu7Bs4f4WXFCOKvjzrcgSzhPZmGOyiNA9zptuC1ZjnNe/UNIAnPT+Zl1aombdP3tkjtu6aRZXDLYMSZqYCflpmgZQkWkxyTVW5xY16OttFIRJiWE4qE8dUCiFQw4O/vUaC3uSOULgWFZnNfZsOp4O+bvbvTkKvp+fBgdGjgt4nphtnPTIqJDhWl8vJy7jt51mh19/cOllF/2F6/gbqq/b/QCISaUwtuTYxAu4Gp02FzYccWM4pIGfF1zfbyA8wgUAfyhMAo7ZiVica4amWp+Gttlgx1/PO1OgNL4LK7Wzz1Wf5CKSMi8/qR+dtbX7xJivQBQ47OOiJ5kWO/NbOumed8d9KLaZ9wIWfB+pTcKYmTYNzsZKwsiUZQgh9yHKNEMi5XH2jnmY6Dg7dSZdhsy1WI8N1aLL2cloHReCl7Ij4TYyyc63eY20L5qZXM5P5u7yujAxxdNCMTldtyRgLJ7Uz1/22cmCLbLj+Ymtm4uN/LuzhgW2HSBu45xMTJef5Zl8c45fhJWQ6cLu+v60kpUEgo5GuEvh/pDSxcNvY3GvAwlNkyOwZH5qdh6azxnHU6GxVmdcKZ3MODompLaTqw43IqccAmWjQzHqEgptFIKd6Yp8P4FA3TdbnLR+ybNTFFg03kD2npIx3cNVjxe2oKF2SooQkiUtXZj8wUjLA4aBxqtWDshCrHywavZ0VFS5EfLUNbjp9aaHPjZP6/h8VHhyFCLcdXswKbzBpz32pAbo2WeDVuUrcL2K2YP8fq00gSLg8G8DCU0Ugpn2m1480wH7HTfyXxkuAZCgRkHzeJEq/DGZ2vEEBEEfnGgCQ0WFxbnqjArNQwpyhCMjXK7ZmVevrbvyRwIPNdJp9tseGh/E5w+b7RGSsHsYEB7sbcHh6mxfIz7BvtwczeW7g/OGZ2TocSrBZHYcFYfMBJTZ/YfiWm2ujB7VwOH/fqDQkxixx2JiPN6aXbWWPDCEeEvkn2RHy3Dh9Pj0Cu/xXubPJGYQNgwORZ/v2zCoSZuwENMEZBSJMcWS0UkDs5NhmKQQvT0ilOEYHQkn2kZbDRHeNkaCR7zcj4LY2V4ZVwkzxH2xfQkBV666fqpc6xchHeLYpGsFE507UWKUox3i2I5wgOA4rQwPH9jBGT9xK+mJsrxx1uiMZiIJUkAkxPkPFvuoFmO8ABg9fjIQQsP8M5KC6Xw4bQ4HG/pxhfVFpS1dqO9RzVSJIF4uQhzMpRYmK3ixQjvyVRiYnwo1p/W4+A1qydKQpEEboiU4t5MJW73cuLlISQivRgr5RO1oUiCUy/3CYaPjpTiy1kJeP+CESU1Flzr7CMt8YoQFKeF4ZHhaoj9RN/vy1FhSqIcb53R4/smq+c0kwSB4VoJHsxTY3oiPztALeGu2x8kFIF7s5SYkazAtioTShu7UKG3e3xQpZjCmCgplo7QYIR2cPa1FwFv5G00i04HA43PbUEg9N4ksCwQKaOCusG4XpgdDEwOBioxKZi5FQgMC+htNOwMiwgp5fcm4nrBAjDZGVAkEHYdJ84X/wEEiPTVMW2QUAAAAABJRU5ErkJggg==" title="GreatSchools Logo" alt="Data URI image">

        </div>
        <div class='search_icon' style="text-align:right; padding-right:10px; margin-top:10px;  vertical-align: middle;">
          <span class="search_icon_image"></span>
        </div>
        <div class="search_bar search_hide_mobile dn">
          <div class="dt">
            <div class="mobile-toggle-button active font-size-medium tac tav js-choose-school-search">
              Schools
            </div><!-- nospace --></%!--><div id="" class="mobile-toggle-button font-size-medium tac tav js-choose-content-search">
              Parenting Topics
            </div>
            <div class="search_hide_mobile desktop-search-toggle js-desktop-search-toggle">
              <a class="js-desktop-search-toggle-link js-school-search"> Schools </a>
              <span class="desktop-toggle-search-arrow">&#x25bc;</span>
              <div class="desktop-search-menu js-desktop-search-menu">
                <a class="dropdown-item js-desktop-search-dropdown-item">Parenting</a>
              </div>
            </div>
            <form name="schoolResultsSearchForm" class="js-nav-school-search-from js-schoolResultsSearchForm" style="width: 100%; margin-bottom:0;" action="http://www.greatschools.org/search/search.page" method="get">
              <div class="search_bar_size js-nav-search-bar">
                <span class="js-nav-school-search-input">
                  <input type="text"
                         name="locationSearchString"
                         value=""
                         data-prev-search=""
                         class='js-nav-school-search-input typeahead full-width pam search_form_field'
                         style="width:100%; border-top-right-radius: 0px; border-bottom-right-radius: 0px;"
                         placeholder="City, zip, address or school">
                </span>
                <label class="dn js-mobile-placeholder js-translate-placeholder"></label>
              </div><div class="search_bar_button">
                <button type='submit' class="search_form_button pull-right btn btn-lg btn-primary" style="height: 46px; border-top-left-radius: 0px; border-bottom-left-radius: 0px;">
                  <span class="search_icon_image_white"></span></button>
              </div>
            </form>
            <form name="contentResultsSearchForm" class="js-nav-content-search-form dn" style="width: 100%; margin-bottom:0;" action="/gk/" method="get">
              <div class="search_bar_size js-nav-search-bar">
                <span class="js-nav-content-search-input">
                  <input type="text"
                         name="s"
                         value=""
                         data-prev-search=""
                         class='js-nav-content-search-input full-width search-text pam search_form_field'
                         style="width:100% border-top-right-radius: 0px; border-bottom-right-radius: 0px;"
                         placeholder="Search for parenting info">
                </span>
                <label class="dn js-mobile-placeholder js-translate-placeholder"></label>
              </div><div class="search_bar_button">
                <button type='submit' class="search_form_button pull-right btn btn-lg btn-primary" style="height: 46px; border-top-left-radius: 0px; border-bottom-left-radius: 0px;">
                  <span class="search_icon_image_white"></span></button>
              </div>
            </form>
          </div>
        </div>
        <div class="navigation tc">
          <nav class="tc">
            <ul class="menu menu_hide_mobile">

              <li class="">
                <!-- First Tier Drop Down -->
                <label for="drop-1" class="toggle">Parenting <span style="font-size:10px;"></span></label>
                <a href="#">Parenting <span style="font-size:10px;"></span></a>
                <input type="checkbox" id="drop-1"/>
                <ul>
                  <li>
                    <label for="drop-2" class="toggle">Raising kids </label>
                    <a href="#">Raising kids </a>
                    <input type="checkbox" id="drop-2"/>
                    <ul>
                      <li><a href="/gk/category/dilemmas/">Parenting dilemmas</a></li>
                      <li><a href="/gk/emotional-smarts/">Emotional smarts</a></li>
                      <li><a href="/gk/category/health/">Health &amp; development</a></li>
                    </ul>
                  </li>

                  <li>
                    <label for="drop-3" class="toggle">Smart strategies </label>
                    <a href="#">Smart strategies </a>
                    <input type="checkbox" id="drop-3"/>
                    <ul>
                      <li><a href="/gk/category/early-learning/">Early learning</a></li>
                      <li><a href="/gk/category/school-life/">School life</a></li>
                      <li><a href="/gk/category/find-a-school-skills/">Finding the right school</a></li>
                      <li><a href="/gk/category/education-trends/">Education trends</a></li>
                      <li><a href="/gk/road-to-college/">Road to college</a></li>
                    </ul>
                  </li>
                  <li>
                    <label for="drop-4" class="toggle">Academics </label>
                    <a href="#">Academics </a>
                    <input type="checkbox" id="drop-4"/>
                    <ul>
                      <li><a href="/gk/category/academics/reading-2/">Reading</a></li>
                      <li><a href="/gk/category/academics/math-2/">Math</a></li>
                      <li><a href="/gk/category/academics/writing-2/">Writing</a></li>
                      <li><a href="/gk/category/academics/science/">Science</a></li>
                      <li><a href="/gk/category/academics/arts/">Arts</a></li>
                      <li><a href="/gk/category/academics/stem/">STEM</a></li>
                      <li><a href="/gk/category/academics/social-studies/">Social studies</a></li>
                      <li><a href="/gk/milestones/">Milestones</a></li>
                      <li><a href="/gk/common-core-test-guide/">State Test Guide</a></li>
                    </ul>
                  </li>

                  <li>
                    <label for="drop-5" class="toggle">Learning issues </label>
                    <a href="#">Learning issues </a>
                    <input type="checkbox" id="drop-5"/>
                    <ul>
                      <li><a href="/gk/category/learning-disabilities/">Learning disabilities</a></li>
                      <li><a href="/gk/category/gifted/">Gifted</a></li>
                      <li><a href="/gk/category/attention-disorders/">Attention disorders</a></li>
                      <li><a href="/gk/category/reading-disorders/">Reading disorders</a></li>
                      <li><a href="/gk/category/special-needs/">Special needs</a></li>
                    </ul>
                  </li>
                  <li><a href="/gk/book-lists/">Book lists</a></li>
                  <li><a href="/gk/worksheets/?category=reading-2">Worksheets</a></li>
                </ul>
              </li>
              <li class="">
                <a class="js-donate-link hidden-sm" href="https://greatschools.networkforgood.com/" target="_blank" style="color: #659714;">Donate</a>
              </li>
              <li class=""><a class="hidden-sm jsChangeLanguageLink" href="#">En Espanol</a></li>
              <li class="account_nav_out"><a href="/gsr/login/">Sign in</a></li>
              <li class="account_nav_in dn">
                <label for="drop-7" class="toggle">My Account </label>
                <a href="#">My Account </a>
                <input type="checkbox" id="drop-7"/>
                <ul>
                  <li><a href="/account/">Account Settings</a></li>
                  <li><a href="/logout/">Sign Out</a></li>
                </ul>
              </li>
              <li class="featured_visible_mobile featured">
                <label for="drop-6" class="toggle"><span>Featured</span> </label>
                <a href="#">Featured </a>
                <input type="checkbox" id="drop-6"/>
                <ul>
                  <li><a href="/gk/back-to-school/">Back to school</a></li>
                  <li><a href="/gk/book-lists/">Great reads</a></li>
                  <li><a href="/gk/emotional-smarts/">Emotional smarts</a></li>
                  <li><a class="hidden-sm" href="/gk/worksheets/">Worksheets</a></li>
                </ul>
              </li>
            </ul>
          </nav>
      </div>
      <div class="tc js-nav-extra-table-cell" style="width:100%;"></div>
      </div>
    </div>

  </div>
  <div class="js-featured un dn" style="">
    <div class="tc" style="text-align:left; width:1200px">
      <ul class="featured menu hidden-xs" style="">
        <li class="title"><span>FEATURED</span></li>
        <li><a style="">Back to school</a></li>
        <li><a href="/gk/milestones/">High School Milestones</a></li>
        <li><a href="/gk/book-lists/">Summer Booklists</a></li>
        <li><a class="hidden-sm" href="/gk/worksheets/?category=reading-2">Worksheets</a></li>
        <li><a class="hidden-sm" href="/gk/common-core-test-guide/">State Test Guide</a></li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">

  function hasClass(el, className) {
    if (el.classList)
      return el.classList.contains(className)
    else
      return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'))
  }

  function addClass(el, className) {
    if (el.classList)
      el.classList.add(className)
    else if (!hasClass(el, className)) el.className += " " + className
  }

  function removeClass(el, className) {
    if (el.classList)
      el.classList.remove(className)
    else if (hasClass(el, className)) {
      var reg = new RegExp('(\\s|^)' + className + '(\\s|$)')
      el.className = el.className.replace(reg, ' ')
    }
  }
  function toggleClass(el, className) {
    if (el.classList) {
      el.classList.toggle(className);
    }
  }
  function toggleSearch(evt) {
    console.log('here');
    var menu = document.getElementsByClassName('search_bar');
    var arrayLength = menu.length;
    for (var i = 0; i < arrayLength; i++) {
      console.log('loop ' + i);
      if (hasClass(menu[i], 'search_hide_mobile')) {
        console.log('if remove class');
        removeClass(menu[i], 'search_hide_mobile')
      }
      else {
        console.log('if add class');
        addClass(menu[i], 'search_hide_mobile')
      }
    }
  }
  ;
  function toggleNav(evt) {
    console.log('here');
    var menu = document.getElementsByClassName('menu');
    var arrayLength = menu.length;
    for (var i = 0; i < arrayLength; i++) {
      console.log('loop ' + i);
      if (hasClass(menu[i], 'menu_hide_mobile')) {
        console.log('if remove class');
        removeClass(menu[i], 'menu_hide_mobile')
      }
      else {
        console.log('if add class');
        addClass(menu[i], 'menu_hide_mobile')
      }
    }
  }
  ;

  function toggleDesktopSearchMenu(evt) {
    var desktopSearchMenu = document.getElementsByClassName('js-desktop-search-menu')[0];
      if (hasClass(desktopSearchMenu, 'dn')) {
        removeClass(desktopSearchMenu, 'dn');
      } else {
        addClass(desktopSearchMenu, 'dn');
      }
  }
  ;

  function toggleDesktopSearchBar(evt) {
    var toggleLink = document.getElementsByClassName('js-desktop-search-toggle-link')[0];
    var dropdownItem = document.getElementsByClassName('js-desktop-search-dropdown-item')[0];
    var schoolSearchText = 'Schools';
    var contentText = 'Parenting';
    var schoolSearchForm = document.getElementsByClassName('js-nav-school-search-from')[0];
    var contentSearchForm = document.getElementsByClassName('js-nav-content-search-form')[0];

    if (hasClass(toggleLink, 'js-school-search')) {
      removeClass(toggleLink, 'js-school-search');
      addClass(toggleLink, 'js-content-search');
      toggleLink.innerHTML = contentText;
      dropdownItem.innerHTML = schoolSearchText;
      removeClass(contentSearchForm, 'dn');
      addClass(schoolSearchForm, 'dn');
    } else {
      removeClass(toggleLink, 'js-content-search');
      addClass(toggleLink, 'js-school-search');
      toggleLink.innerHTML = schoolSearchText;
      dropdownItem.innerHTML = contentText;
      removeClass(schoolSearchForm, 'dn');
      addClass(contentSearchForm, 'dn');
    }
  }
  ;

  var desktopSearchToggle = document.getElementsByClassName("js-desktop-search-toggle");
  desktopSearchToggle[0].addEventListener("click", toggleDesktopSearchMenu, false);

  var desktopSearchDropdownItem = document.getElementsByClassName("js-desktop-search-dropdown-item");
  desktopSearchDropdownItem[0].addEventListener("click", toggleDesktopSearchBar, false);

  var mobileNavMenu = document.getElementsByClassName("menu-btn");
  mobileNavMenu[0].addEventListener("click", toggleNav, false);
  var mobileNavSearch = document.getElementsByClassName("search_icon_image");
  mobileNavSearch[0].addEventListener("click", toggleSearch, false);

  (function() {
    menuItems = document.querySelectorAll('nav > ul li label');
    numberOfItems = menuItems.length;
    for(var i = 0; i < numberOfItems; i++) {
      menuItems[i].onclick = function(e) {
        var item = e.target;
        toggleClass(item, 'open');
      }
    }
  })();

  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
  }

  var isSignedIn = function () {
    return readCookie('community_www') != null || readCookie('community_dev') != null;
  };

  (function() {
    if (isSignedIn()) {
      var accountNavSignedIn = document.getElementsByClassName('account_nav_in')[0];
      var accountNavSignedOut = document.getElementsByClassName('account_nav_out')[0];
      removeClass(accountNavSignedIn, 'dn');
      addClass(accountNavSignedOut, 'dn');
    }

  })();

  (function () {
    var chooseSchoolSearchButton = document.getElementsByClassName('js-choose-school-search')[0];
    var chooseContentSearchButton = document.getElementsByClassName('js-choose-content-search')[0];
    var searchForm = document.getElementsByClassName('js-schoolResultsSearchForm')[0];
    var schoolSearchForm = document.getElementsByClassName('js-nav-school-search-from')[0];
    var contentSearchForm = document.getElementsByClassName('js-nav-content-search-form')[0];

    chooseSchoolSearchButton.onclick = function(e) {
      removeClass(chooseSchoolSearchButton, 'active');
      removeClass(chooseContentSearchButton, 'active');
      addClass(chooseSchoolSearchButton, 'active');
      removeClass(schoolSearchForm, 'dn');
      addClass(contentSearchForm, 'dn');
    };
    chooseContentSearchButton.onclick = function(e) {
      removeClass(chooseSchoolSearchButton, 'active');
      removeClass(chooseContentSearchButton, 'active');
      addClass(chooseContentSearchButton, 'active');
      removeClass(contentSearchForm, 'dn');
      addClass(schoolSearchForm, 'dn');
    };
  })();

  (function() {
    var searchBar = document.querySelector('.un .search_bar');
    var featuredSection = document.querySelector('.js-featured');
    var pathsWithoutNavSearch = ['/'];
    var i = pathsWithoutNavSearch.length;
    var matchesAnyPaths = false;
    var changeLanguageLink = document.querySelector('.un .jsChangeLanguageLink');
    var donateLink = document.querySelector('.un .js-donate-link');
    var jsNavExtraTableCell = document.querySelector('.un .js-nav-extra-table-cell');
    var navMenu = document.querySelector('.un nav ul.menu');
    while(i--) {
      if (pathsWithoutNavSearch[i] == window.location.pathname) {
        matchesAnyPaths = true;
      }
    }
    if(matchesAnyPaths == false) {
      removeClass(searchBar, 'dn');
      removeClass(featuredSection, 'dn');
    } else {
      removeClass(changeLanguageLink, 'hidden-sm');
      removeClass(donateLink, 'hidden-sm');
      addClass(jsNavExtraTableCell, 'hidden-sm');
      navMenu.style.width = '400px';
    }
  })();

  var getQueryParam = function(key, uri) {
      var href = uri ? uri : window.location.href;
      var reg = new RegExp( '[?&]' + key + '=([^&#]*)', 'i' );
      var string = reg.exec(href);
      return string ? string[1] : null;
  };

  // Add / Update a key-value pair in the URL query parameters
  function updateUrlParameter(uri, key, value) {
    // remove the hash part before operating on the uri
    var i = uri.indexOf('#');
    var hash = i === -1 ? ''  : uri.substr(i);
    uri = i === -1 ? uri : uri.substr(0, i);

    var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
    var separator = uri.indexOf('?') !== -1 ? "&" : "?";

    if (!value) {
      // remove key-value pair if value is empty
      uri = uri.replace(new RegExp("([&]?)" + key + "=.*?(&|$)", "i"), '');
      if (uri.slice(-1) === '?') {
        uri = uri.slice(0, -1);
      }
    } else if (uri.match(re)) {
      uri = uri.replace(re, '$1' + key + "=" + value + '$2');
    } else {
      uri = uri + separator + key + "=" + value;
    }
    return uri + hash;
  }

  var initLanguageLinkListener = function() {
    var changeLanguageLink = document.querySelector('.jsChangeLanguageLink');
    var lang = getQueryParam('lang');
    if(lang == null || lang == 'en') {
      changeLanguageLink.innerHTML = 'En Espanol';
    } else {
      changeLanguageLink.innerHTML = 'In English';
    }

    changeLanguageLink.onclick = function(e) {
      var lang = getQueryParam('lang');
      if(lang == null || lang == 'en') {
        changeLanguageLink.href = updateUrlParameter(window.location.href, 'lang', 'es');
      } else {
        changeLanguageLink.href = updateUrlParameter(window.location.href, 'lang', '');
      }
      window.open(full_uri, '_self');
    }
  };
  initLanguageLinkListener();


</script>
