<div class="">
  <div class="header_un">
    <div class="un clearfix">
      <div class="tr">
        <div class="menu_layout_mobile">
          <input class="menu-btn" type="checkbox" id="drop"/>
          <label class="menu-icon toggle" for="drop"><span class="navicon"></span></label>
        </div>
        <%= render 'nav/header/logo_image' %>
        <div class="buffer"></div>
        <%= render 'nav/header/navigation_home_new' %>
      </div>
    </div>
  </div>
</div>
<div class="nav-padding"></div>
