<div class="row">
    <div class="col-xs-6 col-sm-2 col-md-2 ">
        <div id="mobile-header">
            <a id="responsive-menu-button" href="#sidr-main"><%= image_tag "nav_hamburger.png" %></a>
        </div>
        <div style="float: left; padding:6px 0 0 6px"><%= image_tag "gs_logo_placeholder.png" %></div>
    </div>

    <div class="col-xs-6 col-sm-10 col-md-10" style="padding: 12px 0 0 40px">
        <div id="navigation">
            <nav class="nav">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#find-a-school">Find A School</a></li>
                    <li><a href="#review-a-school">Review A School</a></li>
                    <li><a href="#back-to-school">Back To School</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>