.gs_section {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}
.gs_section .description{
  text-align:center;
  margin: auto;
  clear: both;
  margin-bottom: 20px;
}
.gs_section .description .module{
  display:inline-block;
  padding:0 10px;
}