<h3 class="uc"><%= t('.title') %></h3> 
<hr class="gray-stoke mts">
<% reviews.each do |review| %>
  <%= render 'school_profile/overview/review_module', review: review %>
<% end %>
<%= link_to('See all reviews', school_reviews_url(@school, 
                                                  anchor:'js_reviewsListHeader'
                                                 )) if @school_reviews.having_comments.count > @max_number_of_reviews_on_overview
 %>
