<% school_reviews %>
<% if school_reviews.number_of_active_reviews > 0 %>
  <span itemscope="" itemprop="aggregateRating" itemtype="http://schema.org/AggregateRating">
    <meta itemprop="ratingValue" content="<%= school_reviews.average_5_star_rating %>">
    <meta itemprop="bestRating" content="5">
    <meta itemprop="reviewCount" content="<%= school_reviews.number_of_active_reviews %>">
    <meta itemprop="ratingCount" content="<%= school_reviews.number_of_5_star_ratings %>">
  </span>
<% end %>
