@font-face {
  font-family: 'opensans-italic';
  src:  local('opensans-italic'),
  asset-url('opensans-italic-webfont.woff') format('woff'),
  asset-url('opensans-italic-webfont.ttf')  format('truetype'),
  asset-url('opensans-italic-webfont.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

.open-sans_i {
  font-family: 'opensans-italic';
  font-weight: 400;
  font-style: normal;
}