@font-face {
  font-family: 'RobotoSlab-Bold';
  src:  url('Roboto-Slab-700.eot');
  src:  local('?'),
  asset-url('Roboto-Slab-700.woff') format('woff'),
  asset-url('Roboto-Slab-700.ttf')  format('truetype'),
  asset-url('Roboto-Slab-700.svg#Roboto-Slab-700') format('svg');
  font-weight: 400;
  font-style: normal;
}
