@font-face {
  font-family: 'RobotoSlab-Bold';
  src:  local('RobotoSlab-Bold'),
  asset-url('Roboto-Slab-700.woff') format('woff'),
  asset-url('Roboto-Slab-700.ttf')  format('truetype'),
  asset-url('Roboto-Slab-700.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
