@font-face {
  font-family: 'opensans-semibold';
  src:  local('opensans-semibold'),
  asset-url('Open-Sans-600.woff') format('woff'),
  asset-url('Open-Sans-600.ttf')  format('truetype'),
  asset-url('Open-Sans-600.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  // font-display: fallback;
}

.open-sans_semibold {
  font-family: 'opensans-semibold';
  font-weight: 400;
  font-style: normal;
}
