@font-face {
  font-family: 'opensans-condensed-bold';
  src:  local('opensans-condensed-bold'),
  asset-url('OpenSans-CondBold-webfont.woff') format('woff'),
  asset-url('OpenSans-CondBold-webfont.ttf')  format('truetype'),
  asset-url('OpenSans-CondBold-webfont.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

.open-sans_cb {
  font-family: 'opensans-condensed-bold';
  font-weight: 400;
  font-style: normal;
}
