@font-face {
  font-family: 'opensans-regular';
  src:  local('opensans-regular'),
  asset-url('opensans-regular-webfont.woff') format('woff'),
  asset-url('opensans-regular-webfont.ttf')  format('truetype'),
  asset-url('opensans-regular-webfont.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

.open-sans {
  font-family: 'opensans-regular';
  font-weight: 400;
  font-style: normal;
}
