<html>
<head>
  <title>School Search Widget</title>
  <%= include_gon %>
  <%= javascript_include_tag 'widget_map', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'widget', media: 'all', 'data-turbolinks-track' => true %>
 </head>
<body style="margin: 0; padding: 0;">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQ5ZSQD"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<%= content_for?(:content) ? yield(:content) : yield %>
</body>
</html>