<% #conditional multi select display config example %>

<% #display_text_and_value_map  ex) {"public transportation" => "public"} or {"before care" => "before"]} %>
<% #display_question_label       ex) 'Do you have before and/or after care on site?' %>
<% #preexisting_esp_values       ex) ['before', 'after'] #pre-existing value for response key %>
<% #display_options              ex) { 'text_label' => 'General' } %>
<% #response_key                 ex) 'before_after_care' %>

<% display_question_label     = display_question.displayed_label %>
<% display_text_and_value_map = display_question.displayed_answers %>
<% display_options            = display_question.display_options %>
<% input_value                = display_options['input_value'] || 'none' %>
<% q_id                       = display_question.osp_question_id %>
<% preexisting_esp_values %>
<% response_key  %>

<div class="row js-disableTriggerAndTargetParent mbl pbl">
  <div class="col-xs-12">
    <h3 class="mbl">
      <span class="mrl">
        <%= display_question_label %>
      </span>
      <div class="mtm">
        <% is_none_active = preexisting_esp_values.include?(input_value) || preexisting_esp_values.include?('None') ? true : false  %>
        <%= render partial: 'shared/form_elements/checkbox_square', locals: {
                key: "#{q_id}-#{response_key}[]",
                value: input_value,
                button_classes: 'js-disableTriggerElement mb2',
                text: display_options['text_label'] || 'None',
                active: is_none_active
        } %>
      </div>
    </h3>
  </div>

  <div class="col-xs-12">
    <% display_text_and_value_map.each_pair do |text, value| %>
      <% is_active = preexisting_esp_values.include?(value) ? true : nil %>
      <%= render partial: 'shared/form_elements/checkbox_button', locals: {
              key: "#{q_id}-#{response_key}[]",
              text: text,
              value: value,
              active: is_active,
              button_classes: 'btn-checkbox js-disableTarget'
      } %>
    <% end %>
  </div>
</div>
