<% display_question_label = display_question.displayed_label %>

<div class="col-xs-12">
  <h3 class="mbl">
      <span class="mrl">
        <%= display_question_label %>
      </span>
  </h3>
</div>

<textarea class="form-control" rows="3" name="<%=response_key%>" value="<%=preexisting_esp_values[0]%>"><%=preexisting_esp_values[0]%></textarea>