<% #multi select display config example %>

<% #display_text_and_value__map  ie) {"public transportation" => "public"} or {"before care" => "before"]} %>
<% #display_question_label       ie) 'Do you have before and/or after care on site?' %>
<% #preexisting_esp_values       ie) ['before', 'after'] #pre-existing value for response key %>

<div class="row js-ospQuestionAndAnswers">
  <div class="col-xs-12">
    <h3 class="mbs">
      <span class="mrl">
        <%= display_question_label %>
      </span>
      <div class="dib">
        <span class="">
          <%= render partial: 'shared/form_elements/checkbox_trigger', locals: {
            button_classes: 'btn-toggle js-disableTriggerElement mb2',
            data_attr: "data-target-parent=.js-ospQuestionAndAnswers",
            text: 'None'
          } %>
        </span>
      </div>
    </h3>
  </div>

  <div class="col-xs-12">
    <% display_text_and_value_map.each_pair do |text, value| %>
      <% [*value].each do |val| %>
        <% button_active = preexisting_esp_values.include?(val) ? true : nil %>
        <%= render partial: 'shared/form_elements/checkbox_button', locals: {key: "#{response_key}[]", text: text, value: val, active: button_active} %>
      <% end %>
    <% end %>
  </div>
</div>
