<div class="fr pt45 prl hidden-xs col-lg-2 col-md-2 col-sm-2 clearfix">
  <ul>
    <li>Quick Link</li>
    <li>Quick Link</li>
    <li>Quick Link</li>
    <li>Quick Link</li>
    <li>Quick Link</li>
    <li>Quick Link</li>
    <li>Quick Link</li>
    <li>Quick Link</li>
  </ul>
  <div class="ptm">
    <button class="btn btn-default">Save and go to school profile</button>
  </div>
</div>