<!-- multi select display config example

display_question_answers_map ie) {"transportation" => "public"} or {"before_after_care" => ["before", "after"]}
display_question_label       ie) 'Do you have before and/or after care on site?'
preexisting_esp_values       ie) ['before', 'after']

-->
<div class="clearfix">
  <div class="col-xs-12">
    <h3 class="mbs">
      <%= display_question_label %>
    </h3>
  </div>

  <% display_question_answers_map.each_pair do |key, value| %>
    <% [*value].each do |val| %>
      <% button_active = preexisting_esp_values.include?(val) ? true : nil %>
      <%= render partial: 'shared/checkbox_button', locals: {key: "#{key}[]", value: val, active: button_active} %>
    <% end %>
  <% end %>
</div>
