<% #this should contain a container instead of mhm %>
<div class="mhm js-ospQuestionsContainer" xmlns="http://www.w3.org/1999/html">
  <% questions_display_config.each do |display_question| %>
      <% if  display_question.osp_question_group_id.present? && display_question.order_in_group == 1 %>
          <div class="pt45 pbl clearfix">
            <%= render partial: 'osp/osp_group_display' , :locals => {group_info: display_question.osp_question_group} %>
          </div>
      <% end %>

      <% begin %>
          <%= render partial: "osp/#{display_question.question_type}", :locals => {
                  display_question:           display_question,
                  preexisting_esp_values:     @osp_data.values_for(display_question.question_response_key, display_question.osp_question_id),
                  response_key:               display_question.question_response_key
          } %>
      <% rescue => error %>
          <% Rails.logger.warn "Error rendering Osp Question Partial. Error: \n #{error}" %>
      <% end %>
  <% end %>
</div>
