<div class="pvm bg-light-gray clearfix">
  <div class="clearfix prl">
    <button class="btn btn-primary fr js-button-link" data-link-value="<%= my_account_url %>">
      dashboard
    </button>
  <h1 class="tac gray-header"> <%= @school.name %></h1>

  </div>
</div>