<div class="pull-left hidden-xs mrm">
  <%= image_tag (image_path(group_info.image_path)) %>
</div>
<div>
  <h2 class="mtn"><%= group_info.heading %></h2>
  <p class="mbm">
    <%= group_info.sub_text %>
  </p>
</div>
