<div class="osp-confirmation-body-module">
  <div class="container">
    <div class="row">
      <div class="padding-lg">
        <h2><%= title_text%></h2>
      </div>
    </div>
    <div class="row">
      <h4><%= body_text %></h4>
    </div>
  </div>
</div>