<div class="hidden-xs fr pt45 prl col-sm-2">
  <div class=" vdl pll">
    <button class="btn btn-default js-button-link"  data-link-value="<%= school_path(@school)%>" data-link-use-new-window='true'>
      Go to school profile
    </button>
  </div>
</div>

<div class="visible-xs tac col-xs-12">
    <%= link_to 'Go to school profile', school_path(@school), target: '_blank' %>
    <div class="hdp"></div>
</div>

