<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h3>
I am a group  heading : <%= group_info.heading %> , imagePath : <%= group_info.image_path %> , subText: <%= group_info.sub_text%>
      </h3>
    </div>