<div class="osp-header-module">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Sign up and verify your schools profile!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h4>WE WILL VERIFY YOUR PROFILE WITHIN A DAY OR TWO, THEN PUBLISH YOUR UPDATES</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 padding-lg">
        <%= link_to 'What is an Official School Profile?', osp_landing_path %>

      </div>
    </div>
  </div>
</div>