<div class="">
  <div class="fl pbm hidden-xs col-lg-2 col-md-2 col-sm-3">
    <%= image_tag (image_path('osp/camera.png')) %>
    <br/>
    <%= group_info.image_path %>
  </div>
  <div class="fl col-lg-8 col-md-8 col-sm-7 mhl">
    <h2 class="mtn"><%= group_info.heading %></h2>

    <p class="mbm">
      <%= group_info.sub_text %>
    </p>
  </div>
</div>