<div class="row mbl">
  <div class="col-xs-12">
    <h3 class="mbl">
      <span class="mrl"> Photo Uploads </span>
    </h3>
    <p>*You upload up to 10 photos. Max size per photo is 2mb</p>
  </div>

  <div class="col-xs-12">
    <div class="dropzone" id='photo_uploader' style="border: 2px dashed #4788be;"></div>
    <div class="btn btn-md btn-toggle mvl js-dropzoneTrigger">Select Photos</div>
    <p>*Your photos are stored safely. You can trust us. Really.</p>
  </div>

  <%= javascript_include_tag("dropzone.min.js") %>
  <%= stylesheet_link_tag("dropzone.css") %>
</div>

