<div class="row mbl">
  <div class="col-xs-12">
    <h3 class="mbl">
      <span class="mrl"> Photo Uploads </span>
    </h3>
    <p>Upload up to 10 photos. Maximum file size is 2MB.</p>
  </div>

  <div class="col-xs-12">
    <div class="dropzone" id='photo_uploader' style="border: 2px dashed #4788be;"></div>
    <div class="btn btn-md btn-toggle mvl js-dropzoneTrigger">Select Photos</div>
    <p>Please do not upload photos of children without a parent's permission. GreatSchools reserves the right to remove any media content from the site at any time.</p>
  </div>

  <%= javascript_include_tag("dropzone.min.js") %>
  <%= stylesheet_link_tag("dropzone.css") %>
</div>

