<% #multi select display config example %>

<% #display_text_and_value_map  ex) {"public transportation" => "public"} or {"before care" => "before"]} %>
<% #display_question_label       ex) 'Do you have before and/or after care on site?' %>
<% #preexisting_esp_values       ex) ['before', 'after'] #pre-existing value for response key %>
<% #response_key                 ex) 'before_after_care' %>

<% display_question_label     = display_question.displayed_label %>
<% display_text_and_value_map = display_question.displayed_answers %>
<% response_key  %>
<% preexisting_esp_values %>
<% active_value = [*preexisting_esp_values].first %>

<div class="row">
  <div class="col-xs-12">
    <h3 class="mbl">
      <span class="mrl">
        <%= display_question_label %>
      </span>
    </h3>
  </div>

  <div class="col-xs-12">
    <div class="maxw-400">
      <%= render 'shared/form_elements/responsive_radio',
        text_value_pair: display_text_and_value_map,
        key: response_key,
        active_value: active_value
      %>
    </div>
  </div>
</div>