
<div class="limit-width-1200">
  <div class="row">
    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
         <h1  class="tac band-primary">I may become landing page</h1>
     </div>
    </div>
  </div>
</div>

<%= render 'shared/home_footer'%>