<div class="osp-resgiter-page">
  <div class="osp-school-picker-module">
  <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <% #autocomplete     %>

      <h1> Create a school account - claim your school's profile!</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
        <%= render partial: 'osp/school_picker', locals: {linkClass: 'search-link-grey'} %>
       </div>
  </div>
  </div>
  </div>
  </div>
</div>
<%= render 'nav/short_footer' %>
<!--<%= render 'shared/home_footer' %>-->
