<div>
  <%= render partial: 'osp/osp_header' %>
  <%= render partial: 'osp/osp_nav', locals: {page: 4} %>
</div>
<div class="limit-width-1200">
  <%= render partial: 'osp/osp_form', locals: {page: 4} %>
</div>

<%= render 'shared/state_footer', state: @state, cities: @cities %>